Repository arturo-lang/arturo, changes with the labels that .github/labeler.yml gives for each.
All labels: 3rd-party, ast, bundler, bytecode, ci, command line, documentation, error handling, evaluator, execution, freebsd, helpers, installer, library, → Arithmetic, → Bitwise, → Collections, → Colors, → Comparison, → Converters, → Core, → Crypto, → Databases, → Dates, → Exceptions, → Files, → Io, → Iterators, → Logic, → Net, → Numbers, → Paths, → Quantities, → Reflection, → Sets, → Sockets, → Statistics, → Strings, → System, → Types, → Ui, netbsd, openbsd, package manager, parser, repl, rosetta code, ui, unit-test, values, vm, workflows

.github/labeler.yml:

3rd-party:
  - src/extras/**

ast:
  - src/vm/ast.nim

bundler:
  - src/vm/bundle/generator.nim
  - src/vm/bundle/resources.nim

bytecode:
  - src/vm/bytecode.nim
  - src/vm/opcodes.nim

ci:
  - .github/workflows/freebsd.yml
  - .github/workflows/linux.yml
  - .github/workflows/macos.yml
  - .github/workflows/netbsd.yml
  - .github/workflows/openbsd.yml
  - .github/workflows/web.yml
  - .github/workflows/windows.yml

command line:
  - src/arturo.nim

documentation:
  - examples/projecteuler/*
  - examples/rosetta/*
  - docs/**

error handling: 
  - src/vm/errors.nim

evaluator:
  - src/vm/eval.nim
 
execution:
  - src/vm/exec.nim

freebsd:
  - .github/workflows/freebsd.yml

helpers:
  - src/helpers/*
  
installer:
  - build.nims
  - src/scripts/update.art

library:
  - src/library/**

"→ Arithmetic":
  - src/library/Arithmetic.nim
"→ Bitwise":
  - src/library/Bitwise.nim
"→ Collections":
  - src/library/Collections.nim
"→ Colors":
  - src/library/Colors.nim
"→ Comparison":
  - src/library/Comparison.nim
"→ Converters":
  - src/library/Converters.nim
"→ Core":
  - src/library/Core.nim
"→ Crypto":
  - src/library/Crypto.nim
"→ Databases":
  - src/library/Databases.nim
"→ Dates":
  - src/library/Dates.nim
"→ Exceptions":
  - src/library/Exceptions.nim
"→ Files":
  - src/library/Files.nim
"→ Io":
  - src/library/Io.nim
"→ Iterators":
  - src/library/Iterators.nim
"→ Logic":
  - src/library/Logic.nim
"→ Net":
  - src/library/Net.nim
"→ Numbers":
  - src/library/Numbers.nim
"→ Paths":
  - src/library/Paths.nim
"→ Quantities":
  - src/library/Quantities.nim
"→ Reflection":
  - src/library/Reflection.nim
"→ Sets":
  - src/library/Sets.nim
"→ Sockets":
  - src/library/Sockets.nim
"→ Statistics":
  - src/library/Statistics.nim
"→ Strings":
  - src/library/Strings.nim
"→ System":
  - src/library/System.nim
"→ Types":
  - src/library/Types.nim
"→ Ui":
  - src/library/Ui.nim

netbsd:
  - .github/workflows/netbsd.yml

openbsd:
  - .github/workflows/openbsd.yml

package manager:
  - src/vm/packager.nim

parser:
  - src/vm/parse.nim

repl:
  - src/scripts/console.art
  - src/helpers/repl.nim
  - src/extras/linenoise.nim

rosetta code:
  - examples/rosetta/*

ui:
  - src/extras/libclipboard/*
  - src/extras/menubar/*
  - src/extras/pfd/*
  - src/extras/webview/*
  - src/extras/window/*
  - src/extras/libclipboard.nim
  - src/extras/menubar.nim
  - src/extras/pfd.nim
  - src/extras/webview.nim
  - src/extras/window.nim
  - src/helpers/clipboard.nim
  - src/helpers/dialogs.nim
  - src/helpers/webviews.js
  - src/helpers/webviews.nim
  - src/helpers/windows.nim
  - src/library/Ui.nim

unit-test:
  - tests/errors/**
  - tests/unittests/**
  - tests/web/*

values:
  - src/vm/values/*
  - src/vm/values/custom/**

vm:
  - src/vm/*

workflows:
  - .github/workflows/*

[Strings] fold `template` into `bindAttrs` in `render`
  src/library/Strings.nim
Labels: library, → Strings

[Net] fold `as` into `bindAttrs` in `download`
  src/library/Net.nim
Labels: library, → Net

[Crypto] use `bindAttrs` for `string` flag in `hash`
  src/library/Crypto.nim
Labels: library, → Crypto

[Exceptions] fold `as` into `bindAttrs` in `throw`
  src/library/Exceptions.nim
Labels: library, → Exceptions

[Collections] fold `with` into `bindAttrs` in `dictionary`
  src/library/Collections.nim
Labels: library, → Collections

[Core] fold `with` into `bindAttrs` in `module`
  src/library/Core.nim
Labels: library, → Core

[Io] fold `history`/`complete`/`hint` into `bindAttrs` in `input`
  src/library/Io.nim
Labels: library, → Io

[Collections] convert `split` to use dispatch macro
  src/library/Collections.nim
Labels: library, → Collections

[Collections] convert `sort` to use dispatch macro
  src/library/Collections.nim
Labels: library, → Collections

[Collections] convert `remove` to use dispatch macro
  src/library/Collections.nim
Labels: library, → Collections

[Collections] convert `contains?` to use dispatch macro
  src/library/Collections.nim
Labels: library, → Collections

[Collections] consolidate `in?` body via helper procs
  src/library/Collections.nim
Labels: library, → Collections

[Collections] convert `key?` to use dispatch macro
  src/library/Collections.nim
Labels: library, → Collections

[Collections] convert `get` to use dispatch macro
  src/library/Collections.nim
Labels: library, → Collections

[Collections] convert `set` to use dispatch macro
  src/library/Collections.nim
Labels: library, → Collections

[Iterators] fix `collect.after` returning trailing element when predicate never matches; only set stoppedAt on match
  src/library/Iterators.nim
Labels: library, → Iterators

Revert "[Iterators] fix `collect.after` returning trailing element when predicate never matches; only set stoppedAt on match"
  src/library/Iterators.nim
Labels: library, → Iterators

[Iterators] fix `collect.after` returning trailing element when predicate never matches; only set stoppedAt on match
  src/library/Iterators.nim
Labels: library, → Iterators

[tests] fix iter capture-source test: `++` is no-op on Integer; use `inc 'n` to actually count loop iterations
  tests/unittests/lib.iterators.art
Labels: unit-test

[tests] add unit tests for `arrange`
  tests/unitt/lib/iterators/arrange.test.art
Labels: none

[tests] add unit tests for `chunk`
  tests/unitt/lib/iterators/chunk.test.art
Labels: none

[tests] add unit tests for `cluster`
  tests/unitt/lib/iterators/cluster.test.art
Labels: none

[tests] add unit tests for `collect`
  tests/unitt/lib/iterators/collect.test.art
Labels: none

[tests] add unit tests for `enumerate`
  tests/unitt/lib/iterators/enumerate.test.art
Labels: none

[tests] add unit tests for `every?`
  tests/unitt/lib/iterators/every.test.art
Labels: none

[tests] add unit tests for `filter`
  tests/unitt/lib/iterators/filter.test.art
Labels: none

[tests] add unit tests for `gather`
  tests/unitt/lib/iterators/gather.test.art
Labels: none

[tests] add unit tests for `loop`
  tests/unitt/lib/iterators/loop.test.art
Labels: none

[tests] add unit tests for `map`
  tests/unitt/lib/iterators/map.test.art
Labels: none

[tests] add unit tests for `maximum`
  tests/unitt/lib/iterators/maximum.test.art
Labels: none

[tests] add unit tests for `minimum`
  tests/unitt/lib/iterators/minimum.test.art
Labels: none

[tests] add unit tests for `select`
  tests/unitt/lib/iterators/select.test.art
Labels: none

[tests] add unit tests for `some?`
  tests/unitt/lib/iterators/some.test.art
Labels: none

[tests] fix cluster.value test: literal `true`/`false` parses as Word; build expected with `@[...]` so they're Logical
  tests/unitt/lib/iterators/cluster.test.art
Labels: none

[tests] fix chunk.value test: same Word-vs-Logical issue as cluster.value; build expected with `@[...]`
  tests/unitt/lib/iterators/chunk.test.art
Labels: none

[tests] fix map always-true test: `@[true true true]` so they parse as Logical, not Word
  tests/unitt/lib/iterators/map.test.art
Labels: none

[tests] fix filter expected outputs: filter DROPS matches; .with-index keeps elements at even indices, strings test keeps everything not longer-than-3
  tests/unitt/lib/iterators/filter.test.art
Labels: none

[tests] fix every? multi-param test: pairs (1,2)(3,4)(5,6) all sum to odd → every? returns true
  tests/unitt/lib/iterators/every.test.art
Labels: none

[Files] hoist `try:` outside `dispatch` in `permissions`
  src/library/Files.nim
Labels: library, → Files

[Io] use `default(ValueDict)` for `hint` default in `input`
  src/library/Io.nim
Labels: library, → Io
