Repository arturo-lang/arturo, changes with the labels that .github/labeler.yml gives for each.
All labels: 3rd-party, ast, bundler, bytecode, ci, command line, documentation, error handling, evaluator, execution, freebsd, helpers, installer, library, → Arithmetic, → Bitwise, → Collections, → Colors, → Comparison, → Converters, → Core, → Crypto, → Databases, → Dates, → Exceptions, → Files, → Io, → Iterators, → Logic, → Net, → Numbers, → Paths, → Quantities, → Reflection, → Sets, → Sockets, → Statistics, → Strings, → System, → Types, → Ui, netbsd, openbsd, package manager, parser, repl, rosetta code, ui, unit-test, values, vm, workflows

.github/labeler.yml:

3rd-party:
  - src/extras/**

ast:
  - src/vm/ast.nim

bundler:
  - src/vm/bundle/generator.nim
  - src/vm/bundle/resources.nim

bytecode:
  - src/vm/bytecode.nim
  - src/vm/opcodes.nim

ci:
  - .github/workflows/freebsd.yml
  - .github/workflows/linux.yml
  - .github/workflows/macos.yml
  - .github/workflows/netbsd.yml
  - .github/workflows/openbsd.yml
  - .github/workflows/web.yml
  - .github/workflows/windows.yml

command line:
  - src/arturo.nim

documentation:
  - examples/projecteuler/*
  - examples/rosetta/*
  - docs/**

error handling: 
  - src/vm/errors.nim

evaluator:
  - src/vm/eval.nim
 
execution:
  - src/vm/exec.nim

freebsd:
  - .github/workflows/freebsd.yml

helpers:
  - src/helpers/*
  
installer:
  - build.nims
  - src/scripts/update.art

library:
  - src/library/**

"→ Arithmetic":
  - src/library/Arithmetic.nim
"→ Bitwise":
  - src/library/Bitwise.nim
"→ Collections":
  - src/library/Collections.nim
"→ Colors":
  - src/library/Colors.nim
"→ Comparison":
  - src/library/Comparison.nim
"→ Converters":
  - src/library/Converters.nim
"→ Core":
  - src/library/Core.nim
"→ Crypto":
  - src/library/Crypto.nim
"→ Databases":
  - src/library/Databases.nim
"→ Dates":
  - src/library/Dates.nim
"→ Exceptions":
  - src/library/Exceptions.nim
"→ Files":
  - src/library/Files.nim
"→ Io":
  - src/library/Io.nim
"→ Iterators":
  - src/library/Iterators.nim
"→ Logic":
  - src/library/Logic.nim
"→ Net":
  - src/library/Net.nim
"→ Numbers":
  - src/library/Numbers.nim
"→ Paths":
  - src/library/Paths.nim
"→ Quantities":
  - src/library/Quantities.nim
"→ Reflection":
  - src/library/Reflection.nim
"→ Sets":
  - src/library/Sets.nim
"→ Sockets":
  - src/library/Sockets.nim
"→ Statistics":
  - src/library/Statistics.nim
"→ Strings":
  - src/library/Strings.nim
"→ System":
  - src/library/System.nim
"→ Types":
  - src/library/Types.nim
"→ Ui":
  - src/library/Ui.nim

netbsd:
  - .github/workflows/netbsd.yml

openbsd:
  - .github/workflows/openbsd.yml

package manager:
  - src/vm/packager.nim

parser:
  - src/vm/parse.nim

repl:
  - src/scripts/console.art
  - src/helpers/repl.nim
  - src/extras/linenoise.nim

rosetta code:
  - examples/rosetta/*

ui:
  - src/extras/libclipboard/*
  - src/extras/menubar/*
  - src/extras/pfd/*
  - src/extras/webview/*
  - src/extras/window/*
  - src/extras/libclipboard.nim
  - src/extras/menubar.nim
  - src/extras/pfd.nim
  - src/extras/webview.nim
  - src/extras/window.nim
  - src/helpers/clipboard.nim
  - src/helpers/dialogs.nim
  - src/helpers/webviews.js
  - src/helpers/webviews.nim
  - src/helpers/windows.nim
  - src/library/Ui.nim

unit-test:
  - tests/errors/**
  - tests/unittests/**
  - tests/web/*

values:
  - src/vm/values/*
  - src/vm/values/custom/**

vm:
  - src/vm/*

workflows:
  - .github/workflows/*

[Tasks] add `failed?` predicate for tasks that ended in failure
  src/library/Tasks.nim
Labels: library

[Tasks] mark `wait.first` callback gcsafe (fixes build)
  src/library/Tasks.nim
Labels: library

updated .gitignore
  .gitignore
Labels: none

[System] convert `pause` to use dispatch macro
  src/library/System.nim
Labels: library, → System

[vm] add Date and Unit to dispatch macros' kind table
  src/vm/lib.nim
Labels: vm

[Quantities] convert `property` to use dispatch macro
  src/library/Quantities.nim
Labels: library, → Quantities

[Quantities] convert `conforms?` to use 2-axis dispatch macro
  src/library/Quantities.nim
Labels: library, → Quantities

[Dates] convert `leap?` to use dispatch macro
  src/library/Dates.nim
Labels: library, → Dates

[Dates] convert `after` to use dispatchWithLiteral
  src/library/Dates.nim
Labels: library, → Dates

[Dates] convert `before` to use dispatchWithLiteral
  src/library/Dates.nim
Labels: library, → Dates

[Io] convert `goto` to use dispatch macro
  src/library/Io.nim
Labels: library, → Io

[Io] convert `input` non-repl path to use dispatch macro
  src/library/Io.nim
Labels: library, → Io

[Io] convert `print` to use dispatch macro
  src/library/Io.nim
Labels: library, → Io

[Io] convert `prints` to use dispatch macro
  src/library/Io.nim
Labels: library, → Io

[Io] use plain binding name in print/prints dispatch (Nim rejects `_b`)
  src/library/Io.nim
Labels: library, → Io

[notes] update conversion table + roadmap (post-G1)
  DISPATCH_NOTES.md
Labels: none

[Crypto] convert `encode` to use dispatchWithLiteral with encoder closure
  src/library/Crypto.nim
Labels: library, → Crypto

[Crypto] convert `digest` to use dispatchWithLiteral with on-attr
  src/library/Crypto.nim
Labels: library, → Crypto

[Paths] convert `extract` to use dispatch macro with on-attr ladder
  src/library/Paths.nim
Labels: library, → Paths

[Paths] convert `normalize` to use bindAttrs and dispatchWithLiteral
  src/library/Paths.nim
Labels: library, → Paths

[Numbers] convert `processTrigonometric` template to use dispatch macro
  src/library/Numbers.nim
Labels: library, → Numbers

[Numbers] convert `digits` to use dispatch macro
  src/library/Numbers.nim
Labels: library, → Numbers

[Numbers] convert `random` to use dispatch macro
  src/library/Numbers.nim
Labels: library, → Numbers

[Tasks] add `.timeout` to bare `wait` (Integer ms or :quantity)
  src/library/Tasks.nim
Labels: library

[Tasks] add `.timeout` to `wait.all` (per-task shrinking budget; pending slots become `:error`)
  src/library/Tasks.nim
Labels: library

[Tasks] add `.timeout` to `wait.first` (composes with `.cancel`)
  src/library/Tasks.nim
Labels: library

[Tasks] rename `done?` to `finished?` (frees `done` for success-only sense)
  src/library/Tasks.nim
Labels: library

[values] add `VEvent` type (name carries identity)
  src/vm/values/custom/vevent.nim
Labels: values

[values] add `Event` ValueKind + `evt` variant field
  src/vm/values/types.nim
Labels: values

[values] add `newEvent`, `hash`, `\$` for VEvent + copy/hash branches
  src/vm/values/value.nim
Labels: values

[values] add print/dump branches for `:event`
  src/vm/values/printable.nim
Labels: values

[helpers] cover `Event` in case statements (jsonobject + conversion)
  src/helpers/conversion.nim
  src/helpers/jsonobject.nim
Labels: helpers

[Events] add empty module skeleton (WEB-gated, mirrors `Tasks`)
  src/library/Events.nim
Labels: library

[vm] register `Events` library module
  src/vm/vm.nim
Labels: vm

[values] import `vevent` in `value.nim` (fixes build)
  src/vm/values/value.nim
Labels: values

moved overloads to custom type file
  src/vm/values/custom/vevent.nim
  src/vm/values/value.nim
Labels: values

added missing import
  src/vm/values/custom/vevent.nim
Labels: values

moved constructor & overloads to custom type file
  src/vm/values/custom/vtask.nim
  src/vm/values/value.nim
Labels: values

added section headers
  src/vm/values/custom/vtask.nim
Labels: values

added missing import
  src/vm/values/custom/vtask.nim
Labels: values
