Repository arturo-lang/arturo, changes with the labels that .github/labeler.yml gives for each.
All labels: 3rd-party, ast, bundler, bytecode, ci, command line, documentation, error handling, evaluator, execution, freebsd, helpers, installer, library, → Arithmetic, → Bitwise, → Collections, → Colors, → Comparison, → Converters, → Core, → Crypto, → Databases, → Dates, → Exceptions, → Files, → Io, → Iterators, → Logic, → Net, → Numbers, → Paths, → Quantities, → Reflection, → Sets, → Sockets, → Statistics, → Strings, → System, → Types, → Ui, netbsd, openbsd, package manager, parser, repl, rosetta code, ui, unit-test, values, vm, workflows

.github/labeler.yml:

3rd-party:
  - src/extras/**

ast:
  - src/vm/ast.nim

bundler:
  - src/vm/bundle/generator.nim
  - src/vm/bundle/resources.nim

bytecode:
  - src/vm/bytecode.nim
  - src/vm/opcodes.nim

ci:
  - .github/workflows/freebsd.yml
  - .github/workflows/linux.yml
  - .github/workflows/macos.yml
  - .github/workflows/netbsd.yml
  - .github/workflows/openbsd.yml
  - .github/workflows/web.yml
  - .github/workflows/windows.yml

command line:
  - src/arturo.nim

documentation:
  - examples/projecteuler/*
  - examples/rosetta/*
  - docs/**

error handling: 
  - src/vm/errors.nim

evaluator:
  - src/vm/eval.nim
 
execution:
  - src/vm/exec.nim

freebsd:
  - .github/workflows/freebsd.yml

helpers:
  - src/helpers/*
  
installer:
  - build.nims
  - src/scripts/update.art

library:
  - src/library/**

"→ Arithmetic":
  - src/library/Arithmetic.nim
"→ Bitwise":
  - src/library/Bitwise.nim
"→ Collections":
  - src/library/Collections.nim
"→ Colors":
  - src/library/Colors.nim
"→ Comparison":
  - src/library/Comparison.nim
"→ Converters":
  - src/library/Converters.nim
"→ Core":
  - src/library/Core.nim
"→ Crypto":
  - src/library/Crypto.nim
"→ Databases":
  - src/library/Databases.nim
"→ Dates":
  - src/library/Dates.nim
"→ Exceptions":
  - src/library/Exceptions.nim
"→ Files":
  - src/library/Files.nim
"→ Io":
  - src/library/Io.nim
"→ Iterators":
  - src/library/Iterators.nim
"→ Logic":
  - src/library/Logic.nim
"→ Net":
  - src/library/Net.nim
"→ Numbers":
  - src/library/Numbers.nim
"→ Paths":
  - src/library/Paths.nim
"→ Quantities":
  - src/library/Quantities.nim
"→ Reflection":
  - src/library/Reflection.nim
"→ Sets":
  - src/library/Sets.nim
"→ Sockets":
  - src/library/Sockets.nim
"→ Statistics":
  - src/library/Statistics.nim
"→ Strings":
  - src/library/Strings.nim
"→ System":
  - src/library/System.nim
"→ Types":
  - src/library/Types.nim
"→ Ui":
  - src/library/Ui.nim

netbsd:
  - .github/workflows/netbsd.yml

openbsd:
  - .github/workflows/openbsd.yml

package manager:
  - src/vm/packager.nim

parser:
  - src/vm/parse.nim

repl:
  - src/scripts/console.art
  - src/helpers/repl.nim
  - src/extras/linenoise.nim

rosetta code:
  - examples/rosetta/*

ui:
  - src/extras/libclipboard/*
  - src/extras/menubar/*
  - src/extras/pfd/*
  - src/extras/webview/*
  - src/extras/window/*
  - src/extras/libclipboard.nim
  - src/extras/menubar.nim
  - src/extras/pfd.nim
  - src/extras/webview.nim
  - src/extras/window.nim
  - src/helpers/clipboard.nim
  - src/helpers/dialogs.nim
  - src/helpers/webviews.js
  - src/helpers/webviews.nim
  - src/helpers/windows.nim
  - src/library/Ui.nim

unit-test:
  - tests/errors/**
  - tests/unittests/**
  - tests/web/*

values:
  - src/vm/values/*
  - src/vm/values/custom/**

vm:
  - src/vm/*

workflows:
  - .github/workflows/*

[Types] convert `quantity?` to use dispatch macro
  src/library/Types.nim
Labels: library, → Types

[Types] convert `rational?` to use dispatch macro
  src/library/Types.nim
Labels: library, → Types

[Types] convert `type` to use dispatch macro
  src/library/Types.nim
Labels: library, → Types

[Types] use `_` binding in `type` Object clause
  src/library/Types.nim
Labels: library, → Types

[vm] add more kinds to dispatch macros' kind table
  src/vm/lib.nim
Labels: vm

[Types] convert `attribute?` to use dispatch macro
  src/library/Types.nim
Labels: library, → Types

[Types] convert `attributeLabel?` to use dispatch macro
  src/library/Types.nim
Labels: library, → Types

[Types] convert `error?` to use dispatch macro
  src/library/Types.nim
Labels: library, → Types

[Types] convert `errorKind?` to use dispatch macro
  src/library/Types.nim
Labels: library, → Types

[Types] convert `inline?` to use dispatch macro
  src/library/Types.nim
Labels: library, → Types

[Types] convert `label?` to use dispatch macro
  src/library/Types.nim
Labels: library, → Types

[Types] convert `literal?` to use dispatch macro
  src/library/Types.nim
Labels: library, → Types

[Types] convert `method?` to use dispatch macro
  src/library/Types.nim
Labels: library, → Types

[Types] convert `path?` to use dispatch macro
  src/library/Types.nim
Labels: library, → Types

[Types] convert `pathLabel?` to use dispatch macro
  src/library/Types.nim
Labels: library, → Types

[Types] convert `pathLiteral?` to use dispatch macro
  src/library/Types.nim
Labels: library, → Types

[Types] convert `socket?` to use dispatch macro
  src/library/Types.nim
Labels: library, → Types

[Types] convert `store?` to use dispatch macro
  src/library/Types.nim
Labels: library, → Types

[Types] convert `symbol?` to use dispatch macro
  src/library/Types.nim
Labels: library, → Types

[Types] convert `version?` to use dispatch macro
  src/library/Types.nim
Labels: library, → Types

[Types] convert `word?` to use dispatch macro
  src/library/Types.nim
Labels: library, → Types

[Types] convert `function?` to use dispatch macro
  src/library/Types.nim
Labels: library, → Types

[vm] add Type and Null to dispatch macros' kind table
  src/vm/lib.nim
Labels: vm

[Types] convert `null?` to use dispatch macro
  src/library/Types.nim
Labels: library, → Types

[Types] convert `type?` to use dispatch macro
  src/library/Types.nim
Labels: library, → Types

[Types] convert `database?` to use dispatch macro
  src/library/Types.nim
  src/vm/lib.nim
Labels: library, → Types, vm

[notes] update conversion table with Types module sweep
  DISPATCH_NOTES.md
Labels: none

[Types] use `on big:` ladder in `integer?`
  src/library/Types.nim
Labels: library, → Types

[Types] use `on big:` ladder in `quantity?`
  src/library/Types.nim
Labels: library, → Types

[Types] use `on big:` ladder in `rational?`
  src/library/Types.nim
Labels: library, → Types

[Types] use `on builtin:` ladder in `function?`
  src/library/Types.nim
Labels: library, → Types

[VM] skip binding emit on `_` wildcard in dispatch macros
  src/vm/lib.nim
Labels: vm

[vm] add Module to dispatch macros' kind table
  src/vm/lib.nim
Labels: vm

[Reflection] convert `methods` to use dispatch macro
  src/library/Reflection.nim
Labels: library, → Reflection

[notes] add full per-module dispatch-conversion audit
  DISPATCH_NOTES.md
Labels: none

[Numbers] convert `ceil` to use dispatch macro
  src/library/Numbers.nim
Labels: library, → Numbers

[Numbers] convert `floor` to use dispatch macro
  src/library/Numbers.nim
Labels: library, → Numbers

[Numbers] convert `gamma` to use dispatch macro
  src/library/Numbers.nim
Labels: library, → Numbers

[Numbers] convert `hypot` to use dispatch macro
  src/library/Numbers.nim
Labels: library, → Numbers

[Numbers] convert `log` to use dispatch macro
  src/library/Numbers.nim
Labels: library, → Numbers
