Repository arturo-lang/arturo, changes with the labels that .github/labeler.yml gives for each.
All labels: 3rd-party, ast, bundler, bytecode, ci, command line, documentation, error handling, evaluator, execution, freebsd, helpers, installer, library, → Arithmetic, → Bitwise, → Collections, → Colors, → Comparison, → Converters, → Core, → Crypto, → Databases, → Dates, → Exceptions, → Files, → Io, → Iterators, → Logic, → Net, → Numbers, → Paths, → Quantities, → Reflection, → Sets, → Sockets, → Statistics, → Strings, → System, → Types, → Ui, netbsd, openbsd, package manager, parser, repl, rosetta code, ui, unit-test, values, vm, workflows

[Net] route `request.async` through subprocess - identical behavior to sync `request`
  src/helpers/parallelism.nim
Labels: helpers

[values] route `Task` dump through `dumpPrimitive` so the `:task` type-suffix shows up
  src/vm/values/printable.nim
Labels: values

[Files] add `.async` attribute to `read` (subprocess-backed)
  src/library/Files.nim
Labels: library, → Files

[values] add `newTask` constructor + copy/hash branches
  src/vm/values/value.nim
Labels: values

minor updates
  src/helpers/parallelism.nim
  src/library/Net.nim
Labels: helpers, library, → Net

[vm] register the new `Tasks` library module
  src/vm/vm.nim
Labels: vm

[Core] add `runInChildProcess` helper - subprocess-backed `Future[Value]`
  src/library/Core.nim
Labels: library, → Core

[Core] add `do.async` for subprocess-backed task evaluation
  src/library/Core.nim
Labels: library, → Core

[Core] use `codify` for source-faithful block serialization in `do.async`
  src/library/Core.nim
Labels: library, → Core

[Tasks] document the precise concurrency guarantees of `runBlockAsync`
  src/library/Tasks.nim
Labels: library

[Tasks] make `task` genuinely pending via dispatcher-deferred execution
  src/library/Tasks.nim
Labels: library

[Files] add `.async` attribute to `write` (subprocess-backed)
  src/library/Files.nim
Labels: library, → Files

update comment
  src/helpers/parallelism.nim
Labels: helpers

[helpers/parallelism] add in-process async download helper
  src/helpers/parallelism.nim
Labels: helpers

[helpers/parallelism] give async http client an explicit ssl context
  src/helpers/parallelism.nim
Labels: helpers

[Net] switch `download.async` to in-process async
  src/library/Net.nim
Labels: library, → Net

[helpers/parallelism] add in-process async file write primitive
  src/helpers/parallelism.nim
Labels: helpers

[Files] switch `write.async` to in-process async (text/json/binary)
  src/library/Files.nim
Labels: library, → Files

[helpers/parallelism] add in-process async file read primitive
  src/helpers/parallelism.nim
Labels: helpers

[Files] switch local-file `read.async` to in-process async
  src/library/Files.nim
Labels: library, → Files

[helpers/parallelism] return values instead of pushing to the stack
  src/helpers/parallelism.nim
  src/library/Core.nim
  src/library/Files.nim
  src/library/Net.nim
Labels: helpers, library, → Core, → Files, → Net

[helpers/jsonobject] add placeholder implementation for Task values (Web mode)
  .claude/settings.local.json
  TASKS_NOTES.md
  src/helpers/jsonobject.nim
  testasync.art
Labels: helpers

[Tasks] gate the whole module on non-WEB builds
  src/library/Tasks.nim
Labels: library

[values] add `cancelHandle` hook to VTask for in-process cancellation
  .claude/settings.local.json
  src/library/Tasks.nim
  src/vm/values/types.nim
Labels: library, values

[helpers/parallelism] make `cancel` actually abort `download.async`
  src/helpers/parallelism.nim
Labels: helpers

[helpers/parallelism] make `cancel` actually abort `write.async`
  src/helpers/parallelism.nim
Labels: helpers

[helpers/parallelism] make `cancel` actually abort `read.async`
  src/helpers/parallelism.nim
Labels: helpers

[Net] extract `httpResponseToValue` helper from sync `request`
  src/library/Net.nim
Labels: library, → Net

[helpers/parallelism] add in-process async HTTP request primitive
  src/helpers/parallelism.nim
Labels: helpers

[Net] switch `request.async` to in-process async
  src/library/Net.nim
Labels: library, → Net

[helpers/net] move `httpResponseToValue` out of Net.nim into a shared helper
  src/helpers/net.nim
  src/helpers/parallelism.nim
  src/library/Net.nim
Labels: helpers, library, → Net

[helpers/parallelism] add in-process async HTTP server primitive
  src/helpers/parallelism.nim
Labels: helpers

cleanup
  .claude/settings.local.json
  .gitignore
Labels: none

another minor edit
  .gitignore
  TASKS_NOTES.md
Labels: none

minor edit
  src/library/Net.nim
Labels: library, → Net

[Collections] use dispatch macro for `squeeze`
  src/library/Collections.nim
Labels: library, → Collections

[Strings] use dispatch macro for `capitalize`
  src/library/Strings.nim
Labels: library, → Strings

[vm] add dispatch macro for kind+mode builtin bodies
  src/vm/lib.nim
Labels: vm

[Strings] use dispatch macro for `upper`/`lower`
  src/library/Strings.nim
Labels: library, → Strings

[vm] copy AST nodes when reusing dispatch body across branches
  src/vm/lib.nim
Labels: vm

.github/labeler.yml:

3rd-party:
  - src/extras/**

ast:
  - src/vm/ast.nim

bundler:
  - src/vm/bundle/generator.nim
  - src/vm/bundle/resources.nim

bytecode:
  - src/vm/bytecode.nim
  - src/vm/opcodes.nim

ci:
  - .github/workflows/freebsd.yml
  - .github/workflows/linux.yml
  - .github/workflows/macos.yml
  - .github/workflows/netbsd.yml
  - .github/workflows/openbsd.yml
  - .github/workflows/web.yml
  - .github/workflows/windows.yml

command line:
  - src/arturo.nim

documentation:
  - examples/projecteuler/*
  - examples/rosetta/*
  - docs/**

error handling: 
  - src/vm/errors.nim

evaluator:
  - src/vm/eval.nim
 
execution:
  - src/vm/exec.nim

freebsd:
  - .github/workflows/freebsd.yml

helpers:
  - src/helpers/*
  
installer:
  - build.nims
  - src/scripts/update.art

library:
  - src/library/**

"→ Arithmetic":
  - src/library/Arithmetic.nim
"→ Bitwise":
  - src/library/Bitwise.nim
"→ Collections":
  - src/library/Collections.nim
"→ Colors":
  - src/library/Colors.nim
"→ Comparison":
  - src/library/Comparison.nim
"→ Converters":
  - src/library/Converters.nim
"→ Core":
  - src/library/Core.nim
"→ Crypto":
  - src/library/Crypto.nim
"→ Databases":
  - src/library/Databases.nim
"→ Dates":
  - src/library/Dates.nim
"→ Exceptions":
  - src/library/Exceptions.nim
"→ Files":
  - src/library/Files.nim
"→ Io":
  - src/library/Io.nim
"→ Iterators":
  - src/library/Iterators.nim
"→ Logic":
  - src/library/Logic.nim
"→ Net":
  - src/library/Net.nim
"→ Numbers":
  - src/library/Numbers.nim
"→ Paths":
  - src/library/Paths.nim
"→ Quantities":
  - src/library/Quantities.nim
"→ Reflection":
  - src/library/Reflection.nim
"→ Sets":
  - src/library/Sets.nim
"→ Sockets":
  - src/library/Sockets.nim
"→ Statistics":
  - src/library/Statistics.nim
"→ Strings":
  - src/library/Strings.nim
"→ System":
  - src/library/System.nim
"→ Types":
  - src/library/Types.nim
"→ Ui":
  - src/library/Ui.nim

netbsd:
  - .github/workflows/netbsd.yml

openbsd:
  - .github/workflows/openbsd.yml

package manager:
  - src/vm/packager.nim

parser:
  - src/vm/parse.nim

repl:
  - src/scripts/console.art
  - src/helpers/repl.nim
  - src/extras/linenoise.nim

rosetta code:
  - examples/rosetta/*

ui:
  - src/extras/libclipboard/*
  - src/extras/menubar/*
  - src/extras/pfd/*
  - src/extras/webview/*
  - src/extras/window/*
  - src/extras/libclipboard.nim
  - src/extras/menubar.nim
  - src/extras/pfd.nim
  - src/extras/webview.nim
  - src/extras/window.nim
  - src/helpers/clipboard.nim
  - src/helpers/dialogs.nim
  - src/helpers/webviews.js
  - src/helpers/webviews.nim
  - src/helpers/windows.nim
  - src/library/Ui.nim

unit-test:
  - tests/errors/**
  - tests/unittests/**
  - tests/web/*

values:
  - src/vm/values/*
  - src/vm/values/custom/**

vm:
  - src/vm/*

workflows:
  - .github/workflows/*
