Repository arturo-lang/arturo, changes with the labels that .github/labeler.yml gives for each.
All labels: 3rd-party, ast, bundler, bytecode, ci, command line, documentation, error handling, evaluator, execution, freebsd, helpers, installer, library, → Arithmetic, → Bitwise, → Collections, → Colors, → Comparison, → Converters, → Core, → Crypto, → Databases, → Dates, → Exceptions, → Files, → Io, → Iterators, → Logic, → Net, → Numbers, → Paths, → Quantities, → Reflection, → Sets, → Sockets, → Statistics, → Strings, → System, → Types, → Ui, netbsd, openbsd, package manager, parser, repl, rosetta code, ui, unit-test, values, vm, workflows

Update build to 3387
  version/build
Labels: none

Update build to 3387
  version/build
Labels: none

Helpers/conversion: added placeholder implementation for Path/PathLabel/PathLiteral values
  src/helpers/conversion.nim
Labels: helpers

Helpers/conversion: added placeholder implementation for Path/PathLabel/PathLiteral values
  src/helpers/conversion.nim
Labels: helpers

added proper implementation
  src/helpers/conversion.nim
Labels: helpers

added proper implementation
  src/helpers/conversion.nim
Labels: helpers

Update build to 3388
  version/build
Labels: none

Update build to 3388
  version/build
Labels: none

version bump
  version/version
Labels: none

version bump
  version/version
Labels: none

Update build to 3389
  version/build
Labels: none

Update build to 3389
  version/build
Labels: none

[Collections\range] examples are already here
  src/library/Collections.nim
Labels: library, → Collections

[Collections\range] examples are already here
  src/library/Collections.nim
Labels: library, → Collections

[Collections\take] polish function description
  src/library/Collections.nim
Labels: library, → Collections

[Collections\take] polish function description
  src/library/Collections.nim
Labels: library, → Collections

[Numbers\random] polished function description
  src/library/Numbers.nim
Labels: library, → Numbers

[Numbers\random] polished function description
  src/library/Numbers.nim
Labels: library, → Numbers

Update build to 3390
  version/build
Labels: none

Update build to 3390
  version/build
Labels: none

slightly polish (already out-of-date and wildly incomplete) unit-test
  tests/unittests/parser.art
Labels: unit-test

slightly polish (already out-of-date and wildly incomplete) unit-test
  tests/unittests/parser.art
Labels: unit-test

added basic test
  tests/unittests/parser.art
Labels: unit-test

added basic test
  tests/unittests/parser.art
Labels: unit-test

added initial code to differentiate between `_` and `_something` (the former should produce a Symbol value)
  src/vm/parse.nim
Labels: parser, vm

added initial code to differentiate between `_` and `_something` (the former should produce a Symbol value)
  src/vm/parse.nim
Labels: parser, vm

move code to top, to properly handle Label values too
  src/vm/parse.nim
Labels: parser, vm

move code to top, to properly handle Label values too
  src/vm/parse.nim
Labels: parser, vm

add more test cases to account for labels
  tests/unittests/parser.art
Labels: unit-test

add more test cases to account for labels
  tests/unittests/parser.art
Labels: unit-test

fixed unit-test
  tests/unittests/parser.art
Labels: unit-test

fixed unit-test
  tests/unittests/parser.art
Labels: unit-test

added proper expected output
  tests/unittests/parser.res
Labels: unit-test

added proper expected output
  tests/unittests/parser.res
Labels: unit-test

Update build to 3391
  version/build
Labels: none

Update build to 3391
  version/build
Labels: none

[Core\any] alias to `_`
  src/library/Core.nim
Labels: library, → Core

[Core\any] alias to `_`
  src/library/Core.nim
Labels: library, → Core

removed TODO
  src/library/Core.nim
Labels: library, → Core

removed TODO
  src/library/Core.nim
Labels: library, → Core

.github/labeler.yml:

3rd-party:
  - src/extras/**

ast:
  - src/vm/ast.nim

bundler:
  - src/vm/bundle/generator.nim
  - src/vm/bundle/resources.nim

bytecode:
  - src/vm/bytecode.nim
  - src/vm/opcodes.nim

ci:
  - .github/workflows/freebsd.yml
  - .github/workflows/linux.yml
  - .github/workflows/macos.yml
  - .github/workflows/netbsd.yml
  - .github/workflows/openbsd.yml
  - .github/workflows/web.yml
  - .github/workflows/windows.yml

command line:
  - src/arturo.nim

documentation:
  - examples/projecteuler/*
  - examples/rosetta/*
  - docs/**

error handling: 
  - src/vm/errors.nim

evaluator:
  - src/vm/eval.nim
 
execution:
  - src/vm/exec.nim

freebsd:
  - .github/workflows/freebsd.yml

helpers:
  - src/helpers/*
  
installer:
  - build.nims
  - src/scripts/update.art

library:
  - src/library/**

"→ Arithmetic":
  - src/library/Arithmetic.nim
"→ Bitwise":
  - src/library/Bitwise.nim
"→ Collections":
  - src/library/Collections.nim
"→ Colors":
  - src/library/Colors.nim
"→ Comparison":
  - src/library/Comparison.nim
"→ Converters":
  - src/library/Converters.nim
"→ Core":
  - src/library/Core.nim
"→ Crypto":
  - src/library/Crypto.nim
"→ Databases":
  - src/library/Databases.nim
"→ Dates":
  - src/library/Dates.nim
"→ Exceptions":
  - src/library/Exceptions.nim
"→ Files":
  - src/library/Files.nim
"→ Io":
  - src/library/Io.nim
"→ Iterators":
  - src/library/Iterators.nim
"→ Logic":
  - src/library/Logic.nim
"→ Net":
  - src/library/Net.nim
"→ Numbers":
  - src/library/Numbers.nim
"→ Paths":
  - src/library/Paths.nim
"→ Quantities":
  - src/library/Quantities.nim
"→ Reflection":
  - src/library/Reflection.nim
"→ Sets":
  - src/library/Sets.nim
"→ Sockets":
  - src/library/Sockets.nim
"→ Statistics":
  - src/library/Statistics.nim
"→ Strings":
  - src/library/Strings.nim
"→ System":
  - src/library/System.nim
"→ Types":
  - src/library/Types.nim
"→ Ui":
  - src/library/Ui.nim

netbsd:
  - .github/workflows/netbsd.yml

openbsd:
  - .github/workflows/openbsd.yml

package manager:
  - src/vm/packager.nim

parser:
  - src/vm/parse.nim

repl:
  - src/scripts/console.art
  - src/helpers/repl.nim
  - src/extras/linenoise.nim

rosetta code:
  - examples/rosetta/*

ui:
  - src/extras/libclipboard/*
  - src/extras/menubar/*
  - src/extras/pfd/*
  - src/extras/webview/*
  - src/extras/window/*
  - src/extras/libclipboard.nim
  - src/extras/menubar.nim
  - src/extras/pfd.nim
  - src/extras/webview.nim
  - src/extras/window.nim
  - src/helpers/clipboard.nim
  - src/helpers/dialogs.nim
  - src/helpers/webviews.js
  - src/helpers/webviews.nim
  - src/helpers/windows.nim
  - src/library/Ui.nim

unit-test:
  - tests/errors/**
  - tests/unittests/**
  - tests/web/*

values:
  - src/vm/values/*
  - src/vm/values/custom/**

vm:
  - src/vm/*

workflows:
  - .github/workflows/*
