Repository arturo-lang/arturo, changes with the labels that .github/labeler.yml gives for each.
All labels: 3rd-party, ast, bundler, bytecode, ci, command line, documentation, error handling, evaluator, execution, freebsd, helpers, installer, library, → Arithmetic, → Bitwise, → Collections, → Colors, → Comparison, → Converters, → Core, → Crypto, → Databases, → Dates, → Exceptions, → Files, → Io, → Iterators, → Logic, → Net, → Numbers, → Paths, → Quantities, → Reflection, → Sets, → Sockets, → Statistics, → Strings, → System, → Types, → Ui, netbsd, openbsd, package manager, parser, repl, rosetta code, ui, unit-test, values, vm, workflows

.github/labeler.yml:

3rd-party:
  - src/extras/**

ast:
  - src/vm/ast.nim

bundler:
  - src/vm/bundle/generator.nim
  - src/vm/bundle/resources.nim

bytecode:
  - src/vm/bytecode.nim
  - src/vm/opcodes.nim

ci:
  - .github/workflows/freebsd.yml
  - .github/workflows/linux.yml
  - .github/workflows/macos.yml
  - .github/workflows/netbsd.yml
  - .github/workflows/openbsd.yml
  - .github/workflows/web.yml
  - .github/workflows/windows.yml

command line:
  - src/arturo.nim

documentation:
  - examples/projecteuler/*
  - examples/rosetta/*
  - docs/**

error handling: 
  - src/vm/errors.nim

evaluator:
  - src/vm/eval.nim
 
execution:
  - src/vm/exec.nim

freebsd:
  - .github/workflows/freebsd.yml

helpers:
  - src/helpers/*
  
installer:
  - build.nims
  - src/scripts/update.art

library:
  - src/library/**

"→ Arithmetic":
  - src/library/Arithmetic.nim
"→ Bitwise":
  - src/library/Bitwise.nim
"→ Collections":
  - src/library/Collections.nim
"→ Colors":
  - src/library/Colors.nim
"→ Comparison":
  - src/library/Comparison.nim
"→ Converters":
  - src/library/Converters.nim
"→ Core":
  - src/library/Core.nim
"→ Crypto":
  - src/library/Crypto.nim
"→ Databases":
  - src/library/Databases.nim
"→ Dates":
  - src/library/Dates.nim
"→ Exceptions":
  - src/library/Exceptions.nim
"→ Files":
  - src/library/Files.nim
"→ Io":
  - src/library/Io.nim
"→ Iterators":
  - src/library/Iterators.nim
"→ Logic":
  - src/library/Logic.nim
"→ Net":
  - src/library/Net.nim
"→ Numbers":
  - src/library/Numbers.nim
"→ Paths":
  - src/library/Paths.nim
"→ Quantities":
  - src/library/Quantities.nim
"→ Reflection":
  - src/library/Reflection.nim
"→ Sets":
  - src/library/Sets.nim
"→ Sockets":
  - src/library/Sockets.nim
"→ Statistics":
  - src/library/Statistics.nim
"→ Strings":
  - src/library/Strings.nim
"→ System":
  - src/library/System.nim
"→ Types":
  - src/library/Types.nim
"→ Ui":
  - src/library/Ui.nim

netbsd:
  - .github/workflows/netbsd.yml

openbsd:
  - .github/workflows/openbsd.yml

package manager:
  - src/vm/packager.nim

parser:
  - src/vm/parse.nim

repl:
  - src/scripts/console.art
  - src/helpers/repl.nim
  - src/extras/linenoise.nim

rosetta code:
  - examples/rosetta/*

ui:
  - src/extras/libclipboard/*
  - src/extras/menubar/*
  - src/extras/pfd/*
  - src/extras/webview/*
  - src/extras/window/*
  - src/extras/libclipboard.nim
  - src/extras/menubar.nim
  - src/extras/pfd.nim
  - src/extras/webview.nim
  - src/extras/window.nim
  - src/helpers/clipboard.nim
  - src/helpers/dialogs.nim
  - src/helpers/webviews.js
  - src/helpers/webviews.nim
  - src/helpers/windows.nim
  - src/library/Ui.nim

unit-test:
  - tests/errors/**
  - tests/unittests/**
  - tests/web/*

values:
  - src/vm/values/*
  - src/vm/values/custom/**

vm:
  - src/vm/*

workflows:
  - .github/workflows/*

[Collections] convert `shuffle` to use dispatchWithLiteral
  src/library/Collections.nim
Labels: library, → Collections

[Sets] convert `disjoint?` to use dispatch macro
  src/library/Sets.nim
Labels: library, → Sets

[vm] silence unreachable-code warning in `dispatchFieldAndCtor`
  src/vm/lib.nim
Labels: vm

[Strings] convert `numeric?` to use dispatchValue macro
  src/library/Strings.nim
Labels: library, → Strings

[Strings] convert `levenshtein` to use dispatchValue macro
  src/library/Strings.nim
Labels: library, → Strings

[Collections] convert `slice` to use dispatchWithLiteral
  src/library/Collections.nim
Labels: library, → Collections

[vm] add Quantity to dispatch macros' kind table
  src/vm/lib.nim
Labels: vm

[Collections] convert `zero?` to use dispatch macro
  src/library/Collections.nim
Labels: library, → Collections

[Strings] convert `whitespace?` to use dispatchValue macro
  src/library/Strings.nim
Labels: library, → Strings

[Sets] convert `intersect?` to use dispatch macro
  src/library/Sets.nim
Labels: library, → Sets

[Colors] convert `grayscale` to use dispatchWithLiteral
  src/library/Colors.nim
Labels: library, → Colors

[Collections] convert `reverse` to use bindAttrs and dispatchWithLiteral
  src/library/Collections.nim
Labels: library, → Collections

[Collections] convert `empty` to use dispatchWithLiteral
  src/library/Collections.nim
Labels: library, → Collections

[Strings] convert `lower?` to use dispatchValue macro
  src/library/Strings.nim
Labels: library, → Strings

[Collections] convert `unique` to use dispatchWithLiteral
  src/library/Collections.nim
Labels: library, → Collections

[Strings] convert `strip` to use dispatch macro
  src/library/Strings.nim
Labels: library, → Strings

[vm] extend dispatch macros with `_` fallback/wildcard and 3-axis support
  src/vm/lib.nim
Labels: vm

[Collections] convert `prepend` to use 2-axis dispatchWithLiteral
  src/library/Collections.nim
Labels: library, → Collections

[Collections] convert `extend` to use 2-axis dispatchWithLiteral
  src/library/Collections.nim
Labels: library, → Collections

[Collections] convert `values` to use dispatch macro
  src/library/Collections.nim
Labels: library, → Collections

[Strings] convert `pad` to use bindAttrs and on-attr dispatch
  src/library/Strings.nim
Labels: library, → Strings

[Colors] convert `darken` to use dispatchWithLiteral
  src/library/Colors.nim
Labels: library, → Colors

[Collections] convert `size` to use dispatch macro
  src/library/Collections.nim
Labels: library, → Collections

[vm] add Rational to dispatch macros' kind table
  src/vm/lib.nim
Labels: vm

[Collections] convert `keys` to use dispatch macro
  src/library/Collections.nim
Labels: library, → Collections

[Collections] convert `index` to use dispatch macro
  src/library/Collections.nim
Labels: library, → Collections

[Colors] convert `invert` to use dispatchWithLiteral
  src/library/Colors.nim
Labels: library, → Colors

[Strings] convert `suffix?` to use dispatchValue macro
  src/library/Strings.nim
Labels: library, → Strings

[Strings] convert `translate` to use dispatch macro
  src/library/Strings.nim
Labels: library, → Strings

[Collections] convert `sample` to use dispatch macro
  src/library/Collections.nim
Labels: library, → Collections

[vm] add dispatchValue macro for value-mode-only kind dispatch
  src/vm/lib.nim
Labels: vm

[vm] extend dispatch macro with 2-axis pairs and per-mode bodies
  src/vm/lib.nim
Labels: vm

[Collections] use dispatch macro for `chop`/`drop`
  src/library/Collections.nim
Labels: library, → Collections

[Collections] use 2-axis dispatch macro for `append`'s String/Char/Binary cases
  src/library/Collections.nim
Labels: library, → Collections

[Strings] convert `upper?` to use dispatchValue macro
  src/library/Strings.nim
Labels: library, → Strings

update
  DISPATCH_NOTES.md
Labels: none

[Strings] convert `indent` to use dispatch macro
  src/library/Strings.nim
Labels: library, → Strings

[vm] add Color to dispatch macros' kind table
  src/vm/lib.nim
Labels: vm

[Numbers] convert `denominator` to use dispatch macro
  src/library/Numbers.nim
Labels: library, → Numbers

[Numbers] convert `sum` to use dispatch macro
  src/library/Numbers.nim
Labels: library, → Numbers
