Repository arturo-lang/arturo, changes with the labels that .github/labeler.yml gives for each.
All labels: 3rd-party, ast, bundler, bytecode, ci, command line, documentation, error handling, evaluator, execution, freebsd, helpers, installer, library, → Arithmetic, → Bitwise, → Collections, → Colors, → Comparison, → Converters, → Core, → Crypto, → Databases, → Dates, → Exceptions, → Files, → Io, → Iterators, → Logic, → Net, → Numbers, → Paths, → Quantities, → Reflection, → Sets, → Sockets, → Statistics, → Strings, → System, → Types, → Ui, netbsd, openbsd, package manager, parser, repl, rosetta code, ui, unit-test, values, vm, workflows

moved definition to `configMimalloc`
  config.nims
Labels: none

re-organize
  config.nims
Labels: none

removed duplicate `cincludes` key
  config.nims
Labels: none

moved `--threads` option to `configThreads`
  config.nims
Labels: none

re-organized code
  config.nims
Labels: none

add `-lm` as a universal flag
  config.nims
Labels: none

and remove it from here
  build.nims
Labels: installer

create distinct `configMath` helper
  config.nims
Labels: none

and call it
  config.nims
Labels: none

revert changes (probable regression)
  config.nims
Labels: none

move Windows-related config options to main config script
  build.nims
  config.nims
Labels: installer

move macOS-specific config option to main config script too
  .config/buildmode.nims
  config.nims
Labels: none

move platform-specific flags together
  config.nims
Labels: none

minor re-organization
  config.nims
Labels: none

minor re-organization
  config.nims
Labels: none

Bump revision to 23 [skip ci]
  version/revision
Labels: none

re-enable bignum tests (and let's hope it worked...)
  tools/nimtester.art
Labels: none

disable bignums again :/
  tools/nimtester.art
Labels: none

[Helpers/clipboard] added basic tests
  src/helpers/clipboard.nim
Labels: helpers, ui

revert changes & add placeholder sections
  src/helpers/arrays.nim
  src/helpers/benchmark.nim
  src/helpers/bignums.nim
  src/helpers/charsets.nim
  src/helpers/clipboard.nim
  src/helpers/combinatorics.nim
  src/helpers/conversion.nim
  src/helpers/csv.nim
  src/helpers/database.nim
  src/helpers/datasource.nim
  src/helpers/dialogs.nim
  src/helpers/dictionaries.nim
  src/helpers/ffi.nim
  src/helpers/helper.nim
  src/helpers/html.nim
  src/helpers/intrinsics.nim
  src/helpers/io.nim
  src/helpers/js.nim
  src/helpers/jsonobject.nim
  src/helpers/markdown.nim
  src/helpers/maths.nim
  src/helpers/objects.nim
  src/helpers/path.nim
  src/helpers/ranges.nim
  src/helpers/repl.nim
  src/helpers/servers.nim
  src/helpers/sets.nim
  src/helpers/statistics.nim
  src/helpers/stores.nim
  src/helpers/strings.nim
  src/helpers/system.nim
  src/helpers/terminal.nim
  src/helpers/toml.nim
  src/helpers/unisort.nim
  src/helpers/url.nim
  src/helpers/webviews.nim
  src/helpers/windows.nim
  src/helpers/xml.nim
Labels: helpers, repl, ui

don't use value directly, if it's a "callable" one (see: Function or Method)
  src/vm/values/value.nim
Labels: values

temporarily disable freebsd workflows
  .github/workflows/ci.yml
Labels: workflows

added TODO
  .github/workflows/ci.yml
Labels: workflows

Bump revision to 32 [skip ci]
  version/revision
Labels: none

restore
  .github/workflows/ci.yml
Labels: workflows

remove TODO
  .github/workflows/ci.yml
Labels: workflows

Bump revision to 33 [skip ci]
  version/revision
Labels: none

[vm] add scope-frame plumbing for non-inline function calls
  src/vm/globals.nim
Labels: vm

[vm] hook SetSym/UnsetSym into the scope-frame undo log
  src/vm/globals.nim
Labels: vm

[vm] use scope frames in execFunction/execMethod instead of full Syms clone
  src/vm/exec.nim
Labels: execution, vm

[vm] cap scope-frame pool at 64 entries
  src/vm/globals.nim
Labels: vm

update rosetta example path
  tools/tester.art
Labels: none

[ci] update clone path for examples repo (to coincide with tester.art)
  .github/workflows/ci.yml
Labels: workflows

Bump revision to 34 [skip ci]
  version/revision
Labels: none

[vm] add `arithmeticFastpathA`/`arithmeticFastpathB` templates for integer fast paths
  src/vm/values/operators.nim
Labels: values

[vm] route `opAdd` through the integer fast path
  src/vm/exec.nim
Labels: execution, vm

[vm] route `opSub` through the integer fast path
  src/vm/exec.nim
Labels: execution, vm

[vm] route `opMul` through the integer fast path
  src/vm/exec.nim
Labels: execution, vm

[vm] route `opDiv` through the integer fast path
  src/vm/exec.nim
Labels: execution, vm

[vm] route `opFdiv` through the integer fast path
  src/vm/exec.nim
Labels: execution, vm

.github/labeler.yml:

3rd-party:
  - src/extras/**

ast:
  - src/vm/ast.nim

bundler:
  - src/vm/bundle/generator.nim
  - src/vm/bundle/resources.nim

bytecode:
  - src/vm/bytecode.nim
  - src/vm/opcodes.nim

ci:
  - .github/workflows/freebsd.yml
  - .github/workflows/linux.yml
  - .github/workflows/macos.yml
  - .github/workflows/netbsd.yml
  - .github/workflows/openbsd.yml
  - .github/workflows/web.yml
  - .github/workflows/windows.yml

command line:
  - src/arturo.nim

documentation:
  - examples/projecteuler/*
  - examples/rosetta/*
  - docs/**

error handling: 
  - src/vm/errors.nim

evaluator:
  - src/vm/eval.nim
 
execution:
  - src/vm/exec.nim

freebsd:
  - .github/workflows/freebsd.yml

helpers:
  - src/helpers/*
  
installer:
  - build.nims
  - src/scripts/update.art

library:
  - src/library/**

"→ Arithmetic":
  - src/library/Arithmetic.nim
"→ Bitwise":
  - src/library/Bitwise.nim
"→ Collections":
  - src/library/Collections.nim
"→ Colors":
  - src/library/Colors.nim
"→ Comparison":
  - src/library/Comparison.nim
"→ Converters":
  - src/library/Converters.nim
"→ Core":
  - src/library/Core.nim
"→ Crypto":
  - src/library/Crypto.nim
"→ Databases":
  - src/library/Databases.nim
"→ Dates":
  - src/library/Dates.nim
"→ Exceptions":
  - src/library/Exceptions.nim
"→ Files":
  - src/library/Files.nim
"→ Io":
  - src/library/Io.nim
"→ Iterators":
  - src/library/Iterators.nim
"→ Logic":
  - src/library/Logic.nim
"→ Net":
  - src/library/Net.nim
"→ Numbers":
  - src/library/Numbers.nim
"→ Paths":
  - src/library/Paths.nim
"→ Quantities":
  - src/library/Quantities.nim
"→ Reflection":
  - src/library/Reflection.nim
"→ Sets":
  - src/library/Sets.nim
"→ Sockets":
  - src/library/Sockets.nim
"→ Statistics":
  - src/library/Statistics.nim
"→ Strings":
  - src/library/Strings.nim
"→ System":
  - src/library/System.nim
"→ Types":
  - src/library/Types.nim
"→ Ui":
  - src/library/Ui.nim

netbsd:
  - .github/workflows/netbsd.yml

openbsd:
  - .github/workflows/openbsd.yml

package manager:
  - src/vm/packager.nim

parser:
  - src/vm/parse.nim

repl:
  - src/scripts/console.art
  - src/helpers/repl.nim
  - src/extras/linenoise.nim

rosetta code:
  - examples/rosetta/*

ui:
  - src/extras/libclipboard/*
  - src/extras/menubar/*
  - src/extras/pfd/*
  - src/extras/webview/*
  - src/extras/window/*
  - src/extras/libclipboard.nim
  - src/extras/menubar.nim
  - src/extras/pfd.nim
  - src/extras/webview.nim
  - src/extras/window.nim
  - src/helpers/clipboard.nim
  - src/helpers/dialogs.nim
  - src/helpers/webviews.js
  - src/helpers/webviews.nim
  - src/helpers/windows.nim
  - src/library/Ui.nim

unit-test:
  - tests/errors/**
  - tests/unittests/**
  - tests/web/*

values:
  - src/vm/values/*
  - src/vm/values/custom/**

vm:
  - src/vm/*

workflows:
  - .github/workflows/*
