Repository arturo-lang/arturo, changes with the labels that .github/labeler.yml gives for each.
All labels: 3rd-party, ast, bundler, bytecode, ci, command line, documentation, error handling, evaluator, execution, freebsd, helpers, installer, library, → Arithmetic, → Bitwise, → Collections, → Colors, → Comparison, → Converters, → Core, → Crypto, → Databases, → Dates, → Exceptions, → Files, → Io, → Iterators, → Logic, → Net, → Numbers, → Paths, → Quantities, → Reflection, → Sets, → Sockets, → Statistics, → Strings, → System, → Types, → Ui, netbsd, openbsd, package manager, parser, repl, rosetta code, ui, unit-test, values, vm, workflows

trigger rebuild
  .github/workflows/ci.yml
Labels: workflows

trigger rebuild
  .github/workflows/ci.yml
Labels: workflows

trigger rebuild
  .github/workflows/ci.yml
Labels: workflows

trigger rebuild
  .github/workflows/ci.yml
Labels: workflows

trigger rebuild
  .github/workflows/ci.yml
Labels: workflows

trigger rebuild
  .github/workflows/ci.yml
Labels: workflows

minor housekeeping
  .github/workflows/ci.yml
Labels: workflows

minor housekeeping
  .github/workflows/ci.yml
Labels: workflows

clean up the matrix
  .github/workflows/ci.yml
Labels: workflows

clean up the matrix
  .github/workflows/ci.yml
Labels: workflows

trigger rebuild
  .github/workflows/ci.yml
Labels: workflows

trigger rebuild
  .github/workflows/ci.yml
Labels: workflows

add static pcre library for Linux
  src/extras/pcre/deps/linux/libpcre.a
Labels: 3rd-party

add static pcre library for Linux
  src/extras/pcre/deps/linux/libpcre.a
Labels: 3rd-party

added linker flags
  src/vm/values/custom/vregex.nim
Labels: values

added linker flags
  src/vm/values/custom/vregex.nim
Labels: values

comment this out and let's see how it goes...
  config.nims
Labels: none

comment this out and let's see how it goes...
  config.nims
Labels: none

organize in subfolders
  src/extras/pcre/deps/linux/amd64/libpcre.a
Labels: 3rd-party

organize in subfolders
  src/extras/pcre/deps/linux/amd64/libpcre.a
Labels: 3rd-party

added arm64 version
  src/extras/pcre/deps/linux/arm64/libpcre.a
Labels: 3rd-party

added arm64 version
  src/extras/pcre/deps/linux/arm64/libpcre.a
Labels: 3rd-party

replace existing static library (fresh build)
  src/extras/pcre/deps/linux/amd64/libpcre.a
Labels: 3rd-party

replace existing static library (fresh build)
  src/extras/pcre/deps/linux/amd64/libpcre.a
Labels: 3rd-party

update linker instructions
  src/vm/values/custom/vregex.nim
Labels: values

update linker instructions
  src/vm/values/custom/vregex.nim
Labels: values

re-organize libraries
  src/extras/pcre/deps/macos/amd64/libpcre.a
  src/extras/pcre/deps/macos/arm64/libpcre.a
Labels: 3rd-party

re-organize libraries
  src/extras/pcre/deps/macos/amd64/libpcre.a
  src/extras/pcre/deps/macos/arm64/libpcre.a
Labels: 3rd-party

cleanup library paths for linker
  src/vm/values/custom/vregex.nim
Labels: values

cleanup library paths for linker
  src/vm/values/custom/vregex.nim
Labels: values

complete remove this - we don't really need it ;-)
  config.nims
Labels: none

complete remove this - we don't really need it ;-)
  config.nims
Labels: none

restore pcre-related config
  config.nims
Labels: none

restore pcre-related config
  config.nims
Labels: none

added freebsd static library for PCRE
  src/extras/pcre/deps/freebsd/libpcre.a
  src/vm/values/custom/vregex.nim
Labels: 3rd-party, values

added freebsd static library for PCRE
  src/extras/pcre/deps/freebsd/libpcre.a
  src/vm/values/custom/vregex.nim
Labels: 3rd-party, values

the only thing we have to do is treat macos/Mx differently - arm64 builds for Linux will be normal native builds, not cross-compilation
  .config/arch.nims
Labels: none

the only thing we have to do is treat macos/Mx differently - arm64 builds for Linux will be normal native builds, not cross-compilation
  .config/arch.nims
Labels: none

re-organize static libraries
  src/extras/openssl/deps/macos/amd64/libssl.a
  src/extras/openssl/deps/macos/arm64/libssl.a
Labels: 3rd-party

re-organize static libraries
  src/extras/openssl/deps/macos/amd64/libssl.a
  src/extras/openssl/deps/macos/arm64/libssl.a
Labels: 3rd-party

.github/labeler.yml:

3rd-party:
  - src/extras/**

ast:
  - src/vm/ast.nim

bundler:
  - src/vm/bundle/generator.nim
  - src/vm/bundle/resources.nim

bytecode:
  - src/vm/bytecode.nim
  - src/vm/opcodes.nim

ci:
  - .github/workflows/freebsd.yml
  - .github/workflows/linux.yml
  - .github/workflows/macos.yml
  - .github/workflows/netbsd.yml
  - .github/workflows/openbsd.yml
  - .github/workflows/web.yml
  - .github/workflows/windows.yml

command line:
  - src/arturo.nim

documentation:
  - examples/projecteuler/*
  - examples/rosetta/*
  - docs/**

error handling: 
  - src/vm/errors.nim

evaluator:
  - src/vm/eval.nim
 
execution:
  - src/vm/exec.nim

freebsd:
  - .github/workflows/freebsd.yml

helpers:
  - src/helpers/*
  
installer:
  - build.nims
  - src/scripts/update.art

library:
  - src/library/**

"→ Arithmetic":
  - src/library/Arithmetic.nim
"→ Bitwise":
  - src/library/Bitwise.nim
"→ Collections":
  - src/library/Collections.nim
"→ Colors":
  - src/library/Colors.nim
"→ Comparison":
  - src/library/Comparison.nim
"→ Converters":
  - src/library/Converters.nim
"→ Core":
  - src/library/Core.nim
"→ Crypto":
  - src/library/Crypto.nim
"→ Databases":
  - src/library/Databases.nim
"→ Dates":
  - src/library/Dates.nim
"→ Exceptions":
  - src/library/Exceptions.nim
"→ Files":
  - src/library/Files.nim
"→ Io":
  - src/library/Io.nim
"→ Iterators":
  - src/library/Iterators.nim
"→ Logic":
  - src/library/Logic.nim
"→ Net":
  - src/library/Net.nim
"→ Numbers":
  - src/library/Numbers.nim
"→ Paths":
  - src/library/Paths.nim
"→ Quantities":
  - src/library/Quantities.nim
"→ Reflection":
  - src/library/Reflection.nim
"→ Sets":
  - src/library/Sets.nim
"→ Sockets":
  - src/library/Sockets.nim
"→ Statistics":
  - src/library/Statistics.nim
"→ Strings":
  - src/library/Strings.nim
"→ System":
  - src/library/System.nim
"→ Types":
  - src/library/Types.nim
"→ Ui":
  - src/library/Ui.nim

netbsd:
  - .github/workflows/netbsd.yml

openbsd:
  - .github/workflows/openbsd.yml

package manager:
  - src/vm/packager.nim

parser:
  - src/vm/parse.nim

repl:
  - src/scripts/console.art
  - src/helpers/repl.nim
  - src/extras/linenoise.nim

rosetta code:
  - examples/rosetta/*

ui:
  - src/extras/libclipboard/*
  - src/extras/menubar/*
  - src/extras/pfd/*
  - src/extras/webview/*
  - src/extras/window/*
  - src/extras/libclipboard.nim
  - src/extras/menubar.nim
  - src/extras/pfd.nim
  - src/extras/webview.nim
  - src/extras/window.nim
  - src/helpers/clipboard.nim
  - src/helpers/dialogs.nim
  - src/helpers/webviews.js
  - src/helpers/webviews.nim
  - src/helpers/windows.nim
  - src/library/Ui.nim

unit-test:
  - tests/errors/**
  - tests/unittests/**
  - tests/web/*

values:
  - src/vm/values/*
  - src/vm/values/custom/**

vm:
  - src/vm/*

workflows:
  - .github/workflows/*
