Repository arturo-lang/arturo, changes with the labels that .github/labeler.yml gives for each.
All labels: 3rd-party, ast, bundler, bytecode, ci, command line, documentation, error handling, evaluator, execution, freebsd, helpers, installer, library, → Arithmetic, → Bitwise, → Collections, → Colors, → Comparison, → Converters, → Core, → Crypto, → Databases, → Dates, → Exceptions, → Files, → Io, → Iterators, → Logic, → Net, → Numbers, → Paths, → Quantities, → Reflection, → Sets, → Sockets, → Statistics, → Strings, → System, → Types, → Ui, netbsd, openbsd, package manager, parser, repl, rosetta code, ui, unit-test, values, vm, workflows

.github/labeler.yml:

3rd-party:
  - src/extras/**

ast:
  - src/vm/ast.nim

bundler:
  - src/vm/bundle/generator.nim
  - src/vm/bundle/resources.nim

bytecode:
  - src/vm/bytecode.nim
  - src/vm/opcodes.nim

ci:
  - .github/workflows/freebsd.yml
  - .github/workflows/linux.yml
  - .github/workflows/macos.yml
  - .github/workflows/netbsd.yml
  - .github/workflows/openbsd.yml
  - .github/workflows/web.yml
  - .github/workflows/windows.yml

command line:
  - src/arturo.nim

documentation:
  - examples/projecteuler/*
  - examples/rosetta/*
  - docs/**

error handling: 
  - src/vm/errors.nim

evaluator:
  - src/vm/eval.nim
 
execution:
  - src/vm/exec.nim

freebsd:
  - .github/workflows/freebsd.yml

helpers:
  - src/helpers/*
  
installer:
  - build.nims
  - src/scripts/update.art

library:
  - src/library/**

"→ Arithmetic":
  - src/library/Arithmetic.nim
"→ Bitwise":
  - src/library/Bitwise.nim
"→ Collections":
  - src/library/Collections.nim
"→ Colors":
  - src/library/Colors.nim
"→ Comparison":
  - src/library/Comparison.nim
"→ Converters":
  - src/library/Converters.nim
"→ Core":
  - src/library/Core.nim
"→ Crypto":
  - src/library/Crypto.nim
"→ Databases":
  - src/library/Databases.nim
"→ Dates":
  - src/library/Dates.nim
"→ Exceptions":
  - src/library/Exceptions.nim
"→ Files":
  - src/library/Files.nim
"→ Io":
  - src/library/Io.nim
"→ Iterators":
  - src/library/Iterators.nim
"→ Logic":
  - src/library/Logic.nim
"→ Net":
  - src/library/Net.nim
"→ Numbers":
  - src/library/Numbers.nim
"→ Paths":
  - src/library/Paths.nim
"→ Quantities":
  - src/library/Quantities.nim
"→ Reflection":
  - src/library/Reflection.nim
"→ Sets":
  - src/library/Sets.nim
"→ Sockets":
  - src/library/Sockets.nim
"→ Statistics":
  - src/library/Statistics.nim
"→ Strings":
  - src/library/Strings.nim
"→ System":
  - src/library/System.nim
"→ Types":
  - src/library/Types.nim
"→ Ui":
  - src/library/Ui.nim

netbsd:
  - .github/workflows/netbsd.yml

openbsd:
  - .github/workflows/openbsd.yml

package manager:
  - src/vm/packager.nim

parser:
  - src/vm/parse.nim

repl:
  - src/scripts/console.art
  - src/helpers/repl.nim
  - src/extras/linenoise.nim

rosetta code:
  - examples/rosetta/*

ui:
  - src/extras/libclipboard/*
  - src/extras/menubar/*
  - src/extras/pfd/*
  - src/extras/webview/*
  - src/extras/window/*
  - src/extras/libclipboard.nim
  - src/extras/menubar.nim
  - src/extras/pfd.nim
  - src/extras/webview.nim
  - src/extras/window.nim
  - src/helpers/clipboard.nim
  - src/helpers/dialogs.nim
  - src/helpers/webviews.js
  - src/helpers/webviews.nim
  - src/helpers/windows.nim
  - src/library/Ui.nim

unit-test:
  - tests/errors/**
  - tests/unittests/**
  - tests/web/*

values:
  - src/vm/values/*
  - src/vm/values/custom/**

vm:
  - src/vm/*

workflows:
  - .github/workflows/*

minor fix (replaced `from.hex` with proper hexadecimal literal)
  tests/unittests/lib.collections.art
Labels: unit-test

minor edit
  tests/unitt/lib/collections/dictionary.test.art
Labels: none

Strings\numeric?: fixed implementation (use real parsing, so as to make sure that it recognizes all numbers as supported by Arturo itself)
  src/library/Strings.nim
Labels: library, → Strings

Strings\numeric?: fixed implementation (use real parsing, so as to make sure that it recognizes all numbers as supported by Arturo itself)
  src/library/Strings.nim
Labels: library, → Strings

[Strings\numeric?] added documentation example
  src/library/Strings.nim
Labels: library, → Strings

[Strings\numeric?] added documentation example
  src/library/Strings.nim
Labels: library, → Strings

try to solve issue with Web builds
  src/library/Strings.nim
Labels: library, → Strings

try to solve issue with Web builds
  src/library/Strings.nim
Labels: library, → Strings

updated RC example
  examples/rosetta/determine if a string is numeric.art
  examples/rosetta/determine if a string is numeric.res
Labels: documentation, rosetta code

updated RC example
  examples/rosetta/determine if a string is numeric.art
  examples/rosetta/determine if a string is numeric.res
Labels: documentation, rosetta code

added support for natural numbers
  src/library/Strings.nim
Labels: library, → Strings

added support for natural numbers
  src/library/Strings.nim
Labels: library, → Strings

re-updated RC example
  examples/rosetta/determine if a string is numeric.art
  examples/rosetta/determine if a string is numeric.res
Labels: documentation, rosetta code

re-updated RC example
  examples/rosetta/determine if a string is numeric.art
  examples/rosetta/determine if a string is numeric.res
Labels: documentation, rosetta code

Update build
  version/build
Labels: none

Update build
  version/build
Labels: none

Update build
  version/build
Labels: none

Update build
  version/build
Labels: none

added RC solution for "Numbers k whose divisor sum is equal to the divisor sum of k + 1"
  examples/rosetta/numbers k whose divisor is equal to the divisor sum of k + 1.art
  examples/rosetta/numbers k whose divisor is equal to the divisor sum of k + 1.res
Labels: documentation, rosetta code

added RC solution for "Numbers k whose divisor sum is equal to the divisor sum of k + 1"
  examples/rosetta/numbers k whose divisor is equal to the divisor sum of k + 1.art
  examples/rosetta/numbers k whose divisor is equal to the divisor sum of k + 1.res
Labels: documentation, rosetta code

Update build
  version/build
Labels: none

Update build
  version/build
Labels: none

added RC solution
  examples/rosetta/dice game probabilities.art
Labels: documentation, rosetta code

added RC solution
  examples/rosetta/dice game probabilities.art
Labels: documentation, rosetta code

added RC solution
  examples/rosetta/arithmetic derivative.art
  examples/rosetta/arithmetic derivative.res
Labels: documentation, rosetta code

added RC solution
  examples/rosetta/arithmetic derivative.art
  examples/rosetta/arithmetic derivative.res
Labels: documentation, rosetta code

Update build
  version/build
Labels: none

Update build
  version/build
Labels: none

exclude test from MINI builds
  tools/tester.art
Labels: none

exclude test from MINI builds
  tools/tester.art
Labels: none

added RC solution
  examples/rosetta/entropy - narcissist.art
Labels: documentation, rosetta code

added RC solution
  examples/rosetta/entropy - narcissist.art
Labels: documentation, rosetta code

added expected result
  examples/rosetta/entropy - narcissist.res
Labels: documentation, rosetta code

added expected result
  examples/rosetta/entropy - narcissist.res
Labels: documentation, rosetta code

Update build
  version/build
Labels: none

Update build
  version/build
Labels: none

remove unit-test
  examples/rosetta/entropy - narcissist.res
Labels: documentation, rosetta code

remove unit-test
  examples/rosetta/entropy - narcissist.res
Labels: documentation, rosetta code

Update build
  version/build
Labels: none

Update build
  version/build
Labels: none
