Repository arturo-lang/arturo, changes with the labels that .github/labeler.yml gives for each.
All labels: 3rd-party, ast, bundler, bytecode, ci, command line, documentation, error handling, evaluator, execution, freebsd, helpers, installer, library, → Arithmetic, → Bitwise, → Collections, → Colors, → Comparison, → Converters, → Core, → Crypto, → Databases, → Dates, → Exceptions, → Files, → Io, → Iterators, → Logic, → Net, → Numbers, → Paths, → Quantities, → Reflection, → Sets, → Sockets, → Statistics, → Strings, → System, → Types, → Ui, netbsd, openbsd, package manager, parser, repl, rosetta code, ui, unit-test, values, vm, workflows

added 404 page
  docs/website/theme/404.html
Labels: documentation

add proper routes for static generator
  docs/website/pages/error/404.art
  docs/website/theme/settings.art
Labels: documentation

add proper routes for static generator
  docs/website/pages/error/404.art
  docs/website/theme/settings.art
Labels: documentation

add proper error redirections
  docs/website/config/nginx.conf
Labels: documentation

add proper error redirections
  docs/website/config/nginx.conf
Labels: documentation

fix minor regression
  docs/website/backend/exec.php
Labels: documentation

fix minor regression
  docs/website/backend/exec.php
Labels: documentation

remove weird constraints for mobile mode
  docs/website/theme/resources/styles/playground/toolbar.scss
Labels: documentation

remove weird constraints for mobile mode
  docs/website/theme/resources/styles/playground/toolbar.scss
Labels: documentation

misc. fixes
  docs/website/theme/resources/scripts/playground.js
Labels: documentation

misc. fixes
  docs/website/theme/resources/scripts/playground.js
Labels: documentation

re-(re-, re-,...)styled toast notifications
  docs/website/theme/resources/styles/playground/modals.scss
Labels: documentation

re-(re-, re-,...)styled toast notifications
  docs/website/theme/resources/styles/playground/modals.scss
Labels: documentation

attempt to fix issues with terminal sizing on mobile
  docs/website/theme/resources/styles/playground/terminal.scss
Labels: documentation

attempt to fix issues with terminal sizing on mobile
  docs/website/theme/resources/styles/playground/terminal.scss
Labels: documentation

revert changes
  docs/website/theme/resources/styles/playground/terminal.scss
Labels: documentation

revert changes
  docs/website/theme/resources/styles/playground/terminal.scss
Labels: documentation

minor fixes
  docs/website/theme/resources/scripts/playground.js
Labels: documentation

minor fixes
  docs/website/theme/resources/scripts/playground.js
Labels: documentation

fix subtitles within function pages
  docs/website/theme/function.html
Labels: documentation

fix subtitles within function pages
  docs/website/theme/function.html
Labels: documentation

show toasts when toggling layout params
  docs/website/theme/resources/scripts/playground.js
Labels: documentation

show toasts when toggling layout params
  docs/website/theme/resources/scripts/playground.js
Labels: documentation

try to catch timeout if time running more than 10s
  docs/website/theme/resources/scripts/playground.js
Labels: documentation

try to catch timeout if time running more than 10s
  docs/website/theme/resources/scripts/playground.js
Labels: documentation

fixed syntax
  docs/website/pages/documentation/language.art
Labels: documentation

another minor fix
  docs/website/pages/documentation/language.art
Labels: documentation

attempt to fix unresolvable search terms (e.g. `kinematicViscosity?`)
  tools/indexgen.art
Labels: none

experiment: generate PDF "tutorial" from AI-targetted markdown
  .github/workflows/update.yml
Labels: workflows

correctly specify input/output formats
  .github/workflows/update.yml
Labels: workflows

use `gfm` instead
  .github/workflows/update.yml
Labels: workflows

clean emoji's before processing
  .github/workflows/update.yml
Labels: workflows

be a bit more relaxed re: "acceptable" example names
  docs/website/backend/example.php
  docs/website/backend/exec.php
Labels: documentation

refactor & attempt to solve escaping issues when passing the command to the jail
  docs/website/backend/exec.php
Labels: documentation

added separate helper "run" script
  docs/website/backend/run.sh
Labels: documentation

and update main backend to use our new `run.sh`
  docs/website/backend/exec.php
Labels: documentation

let's fix extra newlines within the output
  docs/website/backend/exec.php
Labels: documentation

add some fancy animation to our "At a glance" navigation items
  docs/website/theme/resources/styles/main/cards.scss
Labels: documentation

minor tweak
  docs/website/theme/components/navbar.html
Labels: documentation

let's try moving the whole thing to `/latest`
  .github/workflows/update.yml
  docs/website/config/nginx.conf
Labels: documentation, workflows

.github/labeler.yml:

3rd-party:
  - src/extras/**

ast:
  - src/vm/ast.nim

bundler:
  - src/vm/bundle/generator.nim
  - src/vm/bundle/resources.nim

bytecode:
  - src/vm/bytecode.nim
  - src/vm/opcodes.nim

ci:
  - .github/workflows/freebsd.yml
  - .github/workflows/linux.yml
  - .github/workflows/macos.yml
  - .github/workflows/netbsd.yml
  - .github/workflows/openbsd.yml
  - .github/workflows/web.yml
  - .github/workflows/windows.yml

command line:
  - src/arturo.nim

documentation:
  - examples/projecteuler/*
  - examples/rosetta/*
  - docs/**

error handling: 
  - src/vm/errors.nim

evaluator:
  - src/vm/eval.nim
 
execution:
  - src/vm/exec.nim

freebsd:
  - .github/workflows/freebsd.yml

helpers:
  - src/helpers/*
  
installer:
  - build.nims
  - src/scripts/update.art

library:
  - src/library/**

"→ Arithmetic":
  - src/library/Arithmetic.nim
"→ Bitwise":
  - src/library/Bitwise.nim
"→ Collections":
  - src/library/Collections.nim
"→ Colors":
  - src/library/Colors.nim
"→ Comparison":
  - src/library/Comparison.nim
"→ Converters":
  - src/library/Converters.nim
"→ Core":
  - src/library/Core.nim
"→ Crypto":
  - src/library/Crypto.nim
"→ Databases":
  - src/library/Databases.nim
"→ Dates":
  - src/library/Dates.nim
"→ Exceptions":
  - src/library/Exceptions.nim
"→ Files":
  - src/library/Files.nim
"→ Io":
  - src/library/Io.nim
"→ Iterators":
  - src/library/Iterators.nim
"→ Logic":
  - src/library/Logic.nim
"→ Net":
  - src/library/Net.nim
"→ Numbers":
  - src/library/Numbers.nim
"→ Paths":
  - src/library/Paths.nim
"→ Quantities":
  - src/library/Quantities.nim
"→ Reflection":
  - src/library/Reflection.nim
"→ Sets":
  - src/library/Sets.nim
"→ Sockets":
  - src/library/Sockets.nim
"→ Statistics":
  - src/library/Statistics.nim
"→ Strings":
  - src/library/Strings.nim
"→ System":
  - src/library/System.nim
"→ Types":
  - src/library/Types.nim
"→ Ui":
  - src/library/Ui.nim

netbsd:
  - .github/workflows/netbsd.yml

openbsd:
  - .github/workflows/openbsd.yml

package manager:
  - src/vm/packager.nim

parser:
  - src/vm/parse.nim

repl:
  - src/scripts/console.art
  - src/helpers/repl.nim
  - src/extras/linenoise.nim

rosetta code:
  - examples/rosetta/*

ui:
  - src/extras/libclipboard/*
  - src/extras/menubar/*
  - src/extras/pfd/*
  - src/extras/webview/*
  - src/extras/window/*
  - src/extras/libclipboard.nim
  - src/extras/menubar.nim
  - src/extras/pfd.nim
  - src/extras/webview.nim
  - src/extras/window.nim
  - src/helpers/clipboard.nim
  - src/helpers/dialogs.nim
  - src/helpers/webviews.js
  - src/helpers/webviews.nim
  - src/helpers/windows.nim
  - src/library/Ui.nim

unit-test:
  - tests/errors/**
  - tests/unittests/**
  - tests/web/*

values:
  - src/vm/values/*
  - src/vm/values/custom/**

vm:
  - src/vm/*

workflows:
  - .github/workflows/*
