Repository arturo-lang/arturo, changes with the labels that .github/labeler.yml gives for each.
All labels: 3rd-party, ast, bundler, bytecode, ci, command line, documentation, error handling, evaluator, execution, freebsd, helpers, installer, library, → Arithmetic, → Bitwise, → Collections, → Colors, → Comparison, → Converters, → Core, → Crypto, → Databases, → Dates, → Exceptions, → Files, → Io, → Iterators, → Logic, → Net, → Numbers, → Paths, → Quantities, → Reflection, → Sets, → Sockets, → Statistics, → Strings, → System, → Types, → Ui, netbsd, openbsd, package manager, parser, repl, rosetta code, ui, unit-test, values, vm, workflows

.github/labeler.yml:

3rd-party:
  - src/extras/**

ast:
  - src/vm/ast.nim

bundler:
  - src/vm/bundle/generator.nim
  - src/vm/bundle/resources.nim

bytecode:
  - src/vm/bytecode.nim
  - src/vm/opcodes.nim

ci:
  - .github/workflows/freebsd.yml
  - .github/workflows/linux.yml
  - .github/workflows/macos.yml
  - .github/workflows/netbsd.yml
  - .github/workflows/openbsd.yml
  - .github/workflows/web.yml
  - .github/workflows/windows.yml

command line:
  - src/arturo.nim

documentation:
  - examples/projecteuler/*
  - examples/rosetta/*
  - docs/**

error handling: 
  - src/vm/errors.nim

evaluator:
  - src/vm/eval.nim
 
execution:
  - src/vm/exec.nim

freebsd:
  - .github/workflows/freebsd.yml

helpers:
  - src/helpers/*
  
installer:
  - build.nims
  - src/scripts/update.art

library:
  - src/library/**

"→ Arithmetic":
  - src/library/Arithmetic.nim
"→ Bitwise":
  - src/library/Bitwise.nim
"→ Collections":
  - src/library/Collections.nim
"→ Colors":
  - src/library/Colors.nim
"→ Comparison":
  - src/library/Comparison.nim
"→ Converters":
  - src/library/Converters.nim
"→ Core":
  - src/library/Core.nim
"→ Crypto":
  - src/library/Crypto.nim
"→ Databases":
  - src/library/Databases.nim
"→ Dates":
  - src/library/Dates.nim
"→ Exceptions":
  - src/library/Exceptions.nim
"→ Files":
  - src/library/Files.nim
"→ Io":
  - src/library/Io.nim
"→ Iterators":
  - src/library/Iterators.nim
"→ Logic":
  - src/library/Logic.nim
"→ Net":
  - src/library/Net.nim
"→ Numbers":
  - src/library/Numbers.nim
"→ Paths":
  - src/library/Paths.nim
"→ Quantities":
  - src/library/Quantities.nim
"→ Reflection":
  - src/library/Reflection.nim
"→ Sets":
  - src/library/Sets.nim
"→ Sockets":
  - src/library/Sockets.nim
"→ Statistics":
  - src/library/Statistics.nim
"→ Strings":
  - src/library/Strings.nim
"→ System":
  - src/library/System.nim
"→ Types":
  - src/library/Types.nim
"→ Ui":
  - src/library/Ui.nim

netbsd:
  - .github/workflows/netbsd.yml

openbsd:
  - .github/workflows/openbsd.yml

package manager:
  - src/vm/packager.nim

parser:
  - src/vm/parse.nim

repl:
  - src/scripts/console.art
  - src/helpers/repl.nim
  - src/extras/linenoise.nim

rosetta code:
  - examples/rosetta/*

ui:
  - src/extras/libclipboard/*
  - src/extras/menubar/*
  - src/extras/pfd/*
  - src/extras/webview/*
  - src/extras/window/*
  - src/extras/libclipboard.nim
  - src/extras/menubar.nim
  - src/extras/pfd.nim
  - src/extras/webview.nim
  - src/extras/window.nim
  - src/helpers/clipboard.nim
  - src/helpers/dialogs.nim
  - src/helpers/webviews.js
  - src/helpers/webviews.nim
  - src/helpers/windows.nim
  - src/library/Ui.nim

unit-test:
  - tests/errors/**
  - tests/unittests/**
  - tests/web/*

values:
  - src/vm/values/*
  - src/vm/values/custom/**

vm:
  - src/vm/*

workflows:
  - .github/workflows/*

[Numbers] convert `powmod` to use dispatch macro
  src/library/Numbers.nim
Labels: library, → Numbers

[Numbers] convert `round` to use dispatch macro
  src/library/Numbers.nim
Labels: library, → Numbers

[Numbers] convert `even?` to use dispatch macro
  src/library/Numbers.nim
Labels: library, → Numbers

[Numbers] convert `odd?` to use dispatch macro
  src/library/Numbers.nim
Labels: library, → Numbers

[Core] convert `discard` to use dispatch macro
  src/library/Core.nim
Labels: library, → Core

[Core] convert `dup` to use dispatch macro
  src/library/Core.nim
Labels: library, → Core

Revert "[Core] convert `dup` to use dispatch macro"
  src/library/Core.nim
Labels: library, → Core

Revert "[Core] convert `discard` to use dispatch macro"
  src/library/Core.nim
Labels: library, → Core

[Types] convert `constructor` to use dispatch macro
  src/library/Types.nim
Labels: library, → Types

[Types] convert `sortable` to use dispatch macro
  src/library/Types.nim
Labels: library, → Types

[Types] convert `defined?` to use dispatch macro
  src/library/Types.nim
Labels: library, → Types

[Strings] convert `alphabet` to use dispatch macro
  src/library/Strings.nim
Labels: library, → Strings

[Paths] convert `absolute` to use dispatch macro
  src/library/Paths.nim
Labels: library, → Paths

[Paths] convert `list` to use dispatch macro
  src/library/Paths.nim
Labels: library, → Paths

[Paths] convert `relative` to use dispatch macro
  src/library/Paths.nim
Labels: library, → Paths

[Paths] convert `absolute?` to use dispatch macro
  src/library/Paths.nim
Labels: library, → Paths

[System] convert `execute` to use dispatch macro
  src/library/System.nim
Labels: library, → System

[System] convert `panic` to use dispatch macro
  src/library/System.nim
Labels: library, → System

[System] convert `terminate` to use dispatch macro
  src/library/System.nim
Labels: library, → System

[Io] convert `color` to use dispatch macro
  src/library/Io.nim
Labels: library, → Io

[Io] convert `cursor` to use dispatch macro
  src/library/Io.nim
Labels: library, → Io

[Io] use Value-aware `isTrue` in `cursor` dispatch arm
  src/library/Io.nim
Labels: library, → Io

[Files] convert `copy` to use dispatch macro
  src/library/Files.nim
Labels: library, → Files

[Files] convert `delete` to use dispatch macro
  src/library/Files.nim
Labels: library, → Files

[Files] convert `move` to use dispatch macro
  src/library/Files.nim
Labels: library, → Files

[Files] convert `permissions` to use dispatch macro
  src/library/Files.nim
Labels: library, → Files

[Files] convert `read` to use dispatch macro
  src/library/Files.nim
Labels: library, → Files

[Files] convert `rename` to use dispatch macro
  src/library/Files.nim
Labels: library, → Files

[Files] convert `symlink` to use dispatch macro
  src/library/Files.nim
Labels: library, → Files

[Files] convert `timestamp` to use dispatch macro
  src/library/Files.nim
Labels: library, → Files

[Files] convert `unzip` to use dispatch macro
  src/library/Files.nim
Labels: library, → Files

[Files] convert `volume` to use dispatch macro
  src/library/Files.nim
Labels: library, → Files

[Files] convert `zip` to use dispatch macro
  src/library/Files.nim
Labels: library, → Files

[Files] convert `directory?` to use dispatch macro
  src/library/Files.nim
Labels: library, → Files

[Files] convert `exists?` to use dispatch macro
  src/library/Files.nim
Labels: library, → Files

[Files] convert `file?` to use dispatch macro
  src/library/Files.nim
Labels: library, → Files

[Files] convert `hidden?` to use dispatch macro
  src/library/Files.nim
Labels: library, → Files

[Files] convert `symlink?` to use dispatch macro
  src/library/Files.nim
Labels: library, → Files

[Sockets] convert `accept` to use dispatch macro
  src/library/Sockets.nim
Labels: library, → Sockets

[Sockets] convert `connect` to use dispatch macro
  src/library/Sockets.nim
Labels: library, → Sockets
