Repository arturo-lang/arturo, changes with the labels that .github/labeler.yml gives for each.
All labels: 3rd-party, ast, bundler, bytecode, ci, command line, documentation, error handling, evaluator, execution, freebsd, helpers, installer, library, → Arithmetic, → Bitwise, → Collections, → Colors, → Comparison, → Converters, → Core, → Crypto, → Databases, → Dates, → Exceptions, → Files, → Io, → Iterators, → Logic, → Net, → Numbers, → Paths, → Quantities, → Reflection, → Sets, → Sockets, → Statistics, → Strings, → System, → Types, → Ui, netbsd, openbsd, package manager, parser, repl, rosetta code, ui, unit-test, values, vm, workflows

.github/labeler.yml:

3rd-party:
  - src/extras/**

ast:
  - src/vm/ast.nim

bundler:
  - src/vm/bundle/generator.nim
  - src/vm/bundle/resources.nim

bytecode:
  - src/vm/bytecode.nim
  - src/vm/opcodes.nim

ci:
  - .github/workflows/freebsd.yml
  - .github/workflows/linux.yml
  - .github/workflows/macos.yml
  - .github/workflows/netbsd.yml
  - .github/workflows/openbsd.yml
  - .github/workflows/web.yml
  - .github/workflows/windows.yml

command line:
  - src/arturo.nim

documentation:
  - examples/projecteuler/*
  - examples/rosetta/*
  - docs/**

error handling: 
  - src/vm/errors.nim

evaluator:
  - src/vm/eval.nim
 
execution:
  - src/vm/exec.nim

freebsd:
  - .github/workflows/freebsd.yml

helpers:
  - src/helpers/*
  
installer:
  - build.nims
  - src/scripts/update.art

library:
  - src/library/**

"→ Arithmetic":
  - src/library/Arithmetic.nim
"→ Bitwise":
  - src/library/Bitwise.nim
"→ Collections":
  - src/library/Collections.nim
"→ Colors":
  - src/library/Colors.nim
"→ Comparison":
  - src/library/Comparison.nim
"→ Converters":
  - src/library/Converters.nim
"→ Core":
  - src/library/Core.nim
"→ Crypto":
  - src/library/Crypto.nim
"→ Databases":
  - src/library/Databases.nim
"→ Dates":
  - src/library/Dates.nim
"→ Exceptions":
  - src/library/Exceptions.nim
"→ Files":
  - src/library/Files.nim
"→ Io":
  - src/library/Io.nim
"→ Iterators":
  - src/library/Iterators.nim
"→ Logic":
  - src/library/Logic.nim
"→ Net":
  - src/library/Net.nim
"→ Numbers":
  - src/library/Numbers.nim
"→ Paths":
  - src/library/Paths.nim
"→ Quantities":
  - src/library/Quantities.nim
"→ Reflection":
  - src/library/Reflection.nim
"→ Sets":
  - src/library/Sets.nim
"→ Sockets":
  - src/library/Sockets.nim
"→ Statistics":
  - src/library/Statistics.nim
"→ Strings":
  - src/library/Strings.nim
"→ System":
  - src/library/System.nim
"→ Types":
  - src/library/Types.nim
"→ Ui":
  - src/library/Ui.nim

netbsd:
  - .github/workflows/netbsd.yml

openbsd:
  - .github/workflows/openbsd.yml

package manager:
  - src/vm/packager.nim

parser:
  - src/vm/parse.nim

repl:
  - src/scripts/console.art
  - src/helpers/repl.nim
  - src/extras/linenoise.nim

rosetta code:
  - examples/rosetta/*

ui:
  - src/extras/libclipboard/*
  - src/extras/menubar/*
  - src/extras/pfd/*
  - src/extras/webview/*
  - src/extras/window/*
  - src/extras/libclipboard.nim
  - src/extras/menubar.nim
  - src/extras/pfd.nim
  - src/extras/webview.nim
  - src/extras/window.nim
  - src/helpers/clipboard.nim
  - src/helpers/dialogs.nim
  - src/helpers/webviews.js
  - src/helpers/webviews.nim
  - src/helpers/windows.nim
  - src/library/Ui.nim

unit-test:
  - tests/errors/**
  - tests/unittests/**
  - tests/web/*

values:
  - src/vm/values/*
  - src/vm/values/custom/**

vm:
  - src/vm/*

workflows:
  - .github/workflows/*

[tests/web] add `functions` smoke test
  tests/web/functions.art
  tests/web/functions.res
Labels: unit-test

Bump revision to 40 [skip ci]
  version/revision
Labels: none

[values/vsocket,Sockets] migrate `VSocket` to `AsyncSocket` — all builtins rewritten via `waitFor` (sync semantics preserved); prep for fiber-yield + `.async` work
  src/library/Sockets.nim
  src/vm/values/custom/vsocket.nim
Labels: library, → Sockets, values

[Sockets] sync `accept` yields cooperatively on fiber — route through `coopWait` so server loops in `do.async` don't starve siblings
  src/library/Sockets.nim
Labels: library, → Sockets

[Sockets] sync `send` / `send?` yield cooperatively on fiber — same `coopWait` routing as `accept`
  src/library/Sockets.nim
Labels: library, → Sockets

[helpers/parallelism] add `spawnAsyncReceive` — in-process async `recvLine` with `withTimeout` race; cancel closes socket to abort
  src/helpers/parallelism.nim
Labels: helpers

[Sockets] sync `receive` yields cooperatively on fiber + add `.async` — read-with-deadline via `wait.timeout`, cancellable mid-recv
  src/library/Sockets.nim
Labels: library, → Sockets

[helpers/parallelism] add `spawnAsyncConnect` — in-process async TCP handshake; cancel closes socket to abort in-flight connect
  src/helpers/parallelism.nim
Labels: helpers

[Sockets] sync `connect` yields cooperatively on fiber + add `.async` — parallel multi-host connect, timeoutable handshake
  src/library/Sockets.nim
Labels: library, → Sockets

[helpers/parallelism] move `import asyncnet` out of `when defined(ssl)` — needed for socket helpers under MINI builds without ssl
  src/helpers/parallelism.nim
Labels: helpers

[helpers/maths] drop unused `helpers/intrinsics` import — silences UnusedImport warning
  src/helpers/maths.nim
Labels: helpers

[helpers/parallelism] drop unused `var line` in `tailEventChannel` — silences XDeclaredButNotUsed hint
  src/helpers/parallelism.nim
Labels: helpers

[helpers/parallelism] widen `cast(gcsafe)` in `tailEventChannel` over `SP`/`stack.pop` — silences GcUnsafe2 from `async` macro
  src/helpers/parallelism.nim
Labels: helpers

[Iterators] mark `preevaled` with `{.used.}` in `prepareIteration` — template injected at sites that don't read it; silences XDeclaredButNotUsed hint
  src/library/Iterators.nim
Labels: library, → Iterators

[values/value] switch `copyValue` tail to `else: discard` — defensive: lets future kinds (e.g. `:channel`) land without forcing a branch here first
  src/vm/values/value.nim
Labels: values

[values/value] switch `hash` tail to `else: discard` — same defensive pattern as `copyValue`
  src/vm/values/value.nim
Labels: values

[values/printable] switch `$` tail to `else: discard` — defensive, same pattern as value.nim
  src/vm/values/printable.nim
Labels: values

[values/printable] switch `dump` tail to `else: discard` — defensive
  src/vm/values/printable.nim
Labels: values

[values/vchannel] new file — bare `VChannel` ref with `name` field; scaffolding for the `:channel` type
  src/vm/values/custom/vchannel.nim
Labels: values

[values/types] add `Channel` to `ValueKind` + `chn` variant field + `vchannel` import — Nothing/Any shift to 43/44
  src/vm/values/types.nim
Labels: values

Revert "[values/printable] switch `$` tail to `else: discard` — defensive, same pattern as value.nim"
  src/vm/values/printable.nim
Labels: values

Revert "[values/value] switch `copyValue` tail to `else: discard` — defensive: lets future kinds (e.g. `:channel`) land without forcing a branch here first"
  src/vm/values/value.nim
Labels: values

Revert "[values/printable] switch `dump` tail to `else: discard` — defensive"
  src/vm/values/printable.nim
Labels: values

Revert "[values/value] switch `hash` tail to `else: discard` — same defensive pattern as `copyValue`"
  src/vm/values/value.nim
Labels: values

[values/value] add `of Channel` branch in `copyValue` — channel is reference-shared on copy (like `:event`)
  src/vm/values/value.nim
Labels: values

[values/vchannel] add `hash` overload — keyed on the channel's symbolic name
  src/vm/values/custom/vchannel.nim
Labels: values

[values/value] add `of Channel` branch in `hash` — fold the `VChannel.hash` (keyed on name)
  src/vm/values/value.nim
Labels: values

[values/vchannel] add `$` overload — `<channel:name>` format mirroring `:event`
  src/vm/values/custom/vchannel.nim
Labels: values

[values/printable] add `of Channel` branch in `$` — `<channel>(name)` format mirroring `:event`
  src/vm/values/printable.nim
Labels: values

[values/printable] add `of Channel` branch in `dump` — `dumpPrimitive` on channel name, mirroring `:event`
  src/vm/values/printable.nim
Labels: values

[helpers/jsonobject] add `Channel` to discard lists in `generateJsonNode` and WEB `generateJsObject` — not serializable as JSON
  src/helpers/jsonobject.nim
Labels: helpers

[values/vchannel] add `capacity` field — `0` unbuffered, `-1` unbounded, `N > 0` bounded
  src/vm/values/custom/vchannel.nim
Labels: values

[helpers/conversion] add `Channel` to no-convert list in `convertedValueToType` — channels can't be converted to other types
  src/helpers/conversion.nim
Labels: helpers

[Channels] new file — empty module skeleton; builtins land in subsequent commits
  src/library/Channels.nim
Labels: library

[vm] register `Channels` module in `libraryModule` list
  src/vm/vm.nim
Labels: vm

[Channels] add `channel` builtin — constructor with name + `.bounded:` / `.unbounded` attrs; defaults to unbuffered (Go style)
  src/library/Channels.nim
Labels: library

[Channels] import `asyncdispatch` and `deques` — needed for `Future` / `initDeque` in channel constructor
  src/library/Channels.nim
Labels: library

[helpers/parallelism] add `chanSend` — hand-directly-to-receiver / buffer / park-on-full, single-threaded so no locks
  src/helpers/parallelism.nim
Labels: helpers

[helpers/parallelism] add `chanReceive` — pop-from-buffer / take-from-parked-sender / park-on-empty; closed empty resolves to `:null`
  src/helpers/parallelism.nim
Labels: helpers

[helpers/parallelism] add `chanClose` — wake parked receivers with `:null`, fail parked senders; buffered items stay drainable
  src/helpers/parallelism.nim
Labels: helpers
