Repository arturo-lang/arturo, changes with the labels that .github/labeler.yml gives for each.
All labels: 3rd-party, ast, bundler, bytecode, ci, command line, documentation, error handling, evaluator, execution, freebsd, helpers, installer, library, → Arithmetic, → Bitwise, → Collections, → Colors, → Comparison, → Converters, → Core, → Crypto, → Databases, → Dates, → Exceptions, → Files, → Io, → Iterators, → Logic, → Net, → Numbers, → Paths, → Quantities, → Reflection, → Sets, → Sockets, → Statistics, → Strings, → System, → Types, → Ui, netbsd, openbsd, package manager, parser, repl, rosetta code, ui, unit-test, values, vm, workflows

.github/labeler.yml:

3rd-party:
  - src/extras/**

ast:
  - src/vm/ast.nim

bundler:
  - src/vm/bundle/generator.nim
  - src/vm/bundle/resources.nim

bytecode:
  - src/vm/bytecode.nim
  - src/vm/opcodes.nim

ci:
  - .github/workflows/freebsd.yml
  - .github/workflows/linux.yml
  - .github/workflows/macos.yml
  - .github/workflows/netbsd.yml
  - .github/workflows/openbsd.yml
  - .github/workflows/web.yml
  - .github/workflows/windows.yml

command line:
  - src/arturo.nim

documentation:
  - examples/projecteuler/*
  - examples/rosetta/*
  - docs/**

error handling: 
  - src/vm/errors.nim

evaluator:
  - src/vm/eval.nim
 
execution:
  - src/vm/exec.nim

freebsd:
  - .github/workflows/freebsd.yml

helpers:
  - src/helpers/*
  
installer:
  - build.nims
  - src/scripts/update.art

library:
  - src/library/**

"→ Arithmetic":
  - src/library/Arithmetic.nim
"→ Bitwise":
  - src/library/Bitwise.nim
"→ Collections":
  - src/library/Collections.nim
"→ Colors":
  - src/library/Colors.nim
"→ Comparison":
  - src/library/Comparison.nim
"→ Converters":
  - src/library/Converters.nim
"→ Core":
  - src/library/Core.nim
"→ Crypto":
  - src/library/Crypto.nim
"→ Databases":
  - src/library/Databases.nim
"→ Dates":
  - src/library/Dates.nim
"→ Exceptions":
  - src/library/Exceptions.nim
"→ Files":
  - src/library/Files.nim
"→ Io":
  - src/library/Io.nim
"→ Iterators":
  - src/library/Iterators.nim
"→ Logic":
  - src/library/Logic.nim
"→ Net":
  - src/library/Net.nim
"→ Numbers":
  - src/library/Numbers.nim
"→ Paths":
  - src/library/Paths.nim
"→ Quantities":
  - src/library/Quantities.nim
"→ Reflection":
  - src/library/Reflection.nim
"→ Sets":
  - src/library/Sets.nim
"→ Sockets":
  - src/library/Sockets.nim
"→ Statistics":
  - src/library/Statistics.nim
"→ Strings":
  - src/library/Strings.nim
"→ System":
  - src/library/System.nim
"→ Types":
  - src/library/Types.nim
"→ Ui":
  - src/library/Ui.nim

netbsd:
  - .github/workflows/netbsd.yml

openbsd:
  - .github/workflows/openbsd.yml

package manager:
  - src/vm/packager.nim

parser:
  - src/vm/parse.nim

repl:
  - src/scripts/console.art
  - src/helpers/repl.nim
  - src/extras/linenoise.nim

rosetta code:
  - examples/rosetta/*

ui:
  - src/extras/libclipboard/*
  - src/extras/menubar/*
  - src/extras/pfd/*
  - src/extras/webview/*
  - src/extras/window/*
  - src/extras/libclipboard.nim
  - src/extras/menubar.nim
  - src/extras/pfd.nim
  - src/extras/webview.nim
  - src/extras/window.nim
  - src/helpers/clipboard.nim
  - src/helpers/dialogs.nim
  - src/helpers/webviews.js
  - src/helpers/webviews.nim
  - src/helpers/windows.nim
  - src/library/Ui.nim

unit-test:
  - tests/errors/**
  - tests/unittests/**
  - tests/web/*

values:
  - src/vm/values/*
  - src/vm/values/custom/**

vm:
  - src/vm/*

workflows:
  - .github/workflows/*

the main fix
  docs/website/theme/resources/styles/main.scss
Labels: documentation

the main fix
  docs/website/theme/resources/styles/main.scss
Labels: documentation

trigger rebuild
  .github/workflows/release.yml
Labels: workflows

trigger rebuild
  .github/workflows/release.yml
Labels: workflows

updated workflow
  .github/workflows/release.yml
Labels: workflows

updated workflow
  .github/workflows/release.yml
Labels: workflows

Update build to 3412
  version/build
Labels: none

Update build to 3412
  version/build
Labels: none

Update build to 3413
  version/build
Labels: none

Update build to 3413
  version/build
Labels: none

fixed script
  .github/workflows/update.yml
Labels: workflows

fixed script
  .github/workflows/update.yml
Labels: workflows

fixed syntax
  .github/workflows/update.yml
Labels: workflows

fixed syntax
  .github/workflows/update.yml
Labels: workflows

use `.times:`!
  .github/workflows/update.yml
Labels: workflows

use `.times:`!
  .github/workflows/update.yml
Labels: workflows

debugging
  .github/workflows/update.yml
Labels: workflows

debugging
  .github/workflows/update.yml
Labels: workflows

geez we wanted the precise one that wasn't there... lol
  .github/workflows/update.yml
Labels: workflows

geez we wanted the precise one that wasn't there... lol
  .github/workflows/update.yml
Labels: workflows

minor fix
  docs/website/theme/components/head.html
Labels: documentation

minor fix
  docs/website/theme/components/head.html
Labels: documentation

lighten up the build a bit (lol!)
  .github/workflows/update.yml
Labels: workflows

lighten up the build a bit (lol!)
  .github/workflows/update.yml
Labels: workflows

no compilation = no artifacts, so we *do* have to `do: compile`
  .github/workflows/update.yml
Labels: workflows

no compilation = no artifacts, so we *do* have to `do: compile`
  .github/workflows/update.yml
Labels: workflows

added some debugging
  .github/workflows/update.yml
Labels: workflows

added some debugging
  .github/workflows/update.yml
Labels: workflows

try removing `tmpdocs` if there
  .github/workflows/update.yml
Labels: workflows

try removing `tmpdocs` if there
  .github/workflows/update.yml
Labels: workflows

fix command
  .github/workflows/update.yml
Labels: workflows

fix command
  .github/workflows/update.yml
Labels: workflows

various fixes
  .github/workflows/update.yml
Labels: workflows

various fixes
  .github/workflows/update.yml
Labels: workflows

split code into different script
  .github/workflows/update.yml
  tools/binarygen.art
Labels: workflows

split code into different script
  .github/workflows/update.yml
  tools/binarygen.art
Labels: workflows

code cleanup + removed checksum-related tasks
  .github/workflows/update.yml
Labels: workflows

code cleanup + removed checksum-related tasks
  .github/workflows/update.yml
Labels: workflows

sort by arch (`amd64` before `arm64`) + cleanup
  tools/binarygen.art
Labels: none

sort by arch (`amd64` before `arm64`) + cleanup
  tools/binarygen.art
Labels: none
