Repository arturo-lang/arturo, changes with the labels that .github/labeler.yml gives for each.
All labels: 3rd-party, ast, bundler, bytecode, ci, command line, documentation, error handling, evaluator, execution, freebsd, helpers, installer, library, → Arithmetic, → Bitwise, → Collections, → Colors, → Comparison, → Converters, → Core, → Crypto, → Databases, → Dates, → Exceptions, → Files, → Io, → Iterators, → Logic, → Net, → Numbers, → Paths, → Quantities, → Reflection, → Sets, → Sockets, → Statistics, → Strings, → System, → Types, → Ui, netbsd, openbsd, package manager, parser, repl, rosetta code, ui, unit-test, values, vm, workflows

also process `#` references (with relative paths)
  src/vm/bundle/generator.nim
Labels: bundler

recursively analyze files on `do` and `read` (if they are Arturo sources)
  src/vm/bundle/generator.nim
Labels: bundler

process `array` relative calls
  src/vm/bundle/generator.nim
Labels: bundler

also process `@` references (with relative paths)
  src/vm/bundle/generator.nim
Labels: bundler

minor refactoring
  src/vm/bundle/generator.nim
Labels: bundler

we don't really need to add the symbol again
  src/vm/bundle/generator.nim
Labels: bundler

clean up leftovers
  cli
Labels: none

add no-op to avoid errors
  .github/workflows/ci.yml
Labels: workflows

Bump revision to 13 [skip ci]
  version/revision
Labels: none

Bump revision to 14 [skip ci]
  version/revision
Labels: none

[Collections\dictionary] added BUNDLE support
  src/library/Collections.nim
Labels: library, → Collections

[Collections\array] added BUNDLE support
  src/library/Collections.nim
Labels: library, → Collections

[Core\parse] added BUNDLE support
  src/library/Core.nim
Labels: library, → Core

added missing import for BUNDLE mode
  src/library/Collections.nim
Labels: library, → Collections

Bump revision to 15 [skip ci]
  version/revision
Labels: none

`export` silently injects `do`
  src/vm/bundle/generator.nim
Labels: bundler

`is` injects `function` (via `injectingSuper`)
  src/vm/bundle/generator.nim
Labels: bundler

`sortable` injects various built-in's via `generatedCompare`
  src/vm/bundle/generator.nim
Labels: bundler

added TODO
  src/vm/bundle/generator.nim
Labels: bundler

Bump revision to 16 [skip ci]
  version/revision
Labels: none

Uncomment unitt
  .github/workflows/ci.yml
Labels: workflows

[Tests] Use new config.art file
  config.art
  unitt.toml
Labels: none

[Collections\contains?] temporarily remove tests that segfaults
  tests/unitt/lib/collections/contains-.test.art
Labels: none

[Collections\contains?] Add issue
  tests/unitt/lib/collections/contains-.test.art
Labels: none

[ci] Debug environment to find errors
  .github/workflows/ci.yml
Labels: workflows

[ci] fix packages path
  .github/workflows/ci.yml
Labels: workflows

[ci] Debug Current Working Directory for FreeBSD
  .github/workflows/ci.yml
Labels: workflows

[ci] Fix Windows path formatting
  .github/workflows/ci.yml
Labels: workflows

[ci] Fix debugging statement
  .github/workflows/ci.yml
Labels: workflows

[Tests] Change binary to default one.
  config.art
Labels: none

[CI] Verify if tests segfaults on Windows
  tests/unitt/lib/collections/contains-.test.art
Labels: none

[CI] Disable problematic tests again
  tests/unitt/lib/collections/contains-.test.art
Labels: none

[ci] Remove debugging on error
  .github/workflows/ci.yml
Labels: workflows

[ci] Add current directory debugging
  .github/workflows/ci.yml
Labels: workflows

[Tests] fix tests for FreeBSD
  tests/unitt/lib/collections/set.test.art
Labels: none

Minor cleanup
  .github/workflows/ci.yml
Labels: workflows

Bump revision to 17 [skip ci]
  version/revision
Labels: none

update db_connector code
  src/extras/db_connector/db_postgres.nim
  src/extras/db_connector/db_sqlite.nim
  src/extras/db_connector/sqlite3.nim
Labels: 3rd-party

update smtp sources
  src/extras/smtp.nim
Labels: 3rd-party

`send` has be renamed to `emit`
  src/library/Net.nim
Labels: library, → Net

.github/labeler.yml:

3rd-party:
  - src/extras/**

ast:
  - src/vm/ast.nim

bundler:
  - src/vm/bundle/generator.nim
  - src/vm/bundle/resources.nim

bytecode:
  - src/vm/bytecode.nim
  - src/vm/opcodes.nim

ci:
  - .github/workflows/freebsd.yml
  - .github/workflows/linux.yml
  - .github/workflows/macos.yml
  - .github/workflows/netbsd.yml
  - .github/workflows/openbsd.yml
  - .github/workflows/web.yml
  - .github/workflows/windows.yml

command line:
  - src/arturo.nim

documentation:
  - examples/projecteuler/*
  - examples/rosetta/*
  - docs/**

error handling: 
  - src/vm/errors.nim

evaluator:
  - src/vm/eval.nim
 
execution:
  - src/vm/exec.nim

freebsd:
  - .github/workflows/freebsd.yml

helpers:
  - src/helpers/*
  
installer:
  - build.nims
  - src/scripts/update.art

library:
  - src/library/**

"→ Arithmetic":
  - src/library/Arithmetic.nim
"→ Bitwise":
  - src/library/Bitwise.nim
"→ Collections":
  - src/library/Collections.nim
"→ Colors":
  - src/library/Colors.nim
"→ Comparison":
  - src/library/Comparison.nim
"→ Converters":
  - src/library/Converters.nim
"→ Core":
  - src/library/Core.nim
"→ Crypto":
  - src/library/Crypto.nim
"→ Databases":
  - src/library/Databases.nim
"→ Dates":
  - src/library/Dates.nim
"→ Exceptions":
  - src/library/Exceptions.nim
"→ Files":
  - src/library/Files.nim
"→ Io":
  - src/library/Io.nim
"→ Iterators":
  - src/library/Iterators.nim
"→ Logic":
  - src/library/Logic.nim
"→ Net":
  - src/library/Net.nim
"→ Numbers":
  - src/library/Numbers.nim
"→ Paths":
  - src/library/Paths.nim
"→ Quantities":
  - src/library/Quantities.nim
"→ Reflection":
  - src/library/Reflection.nim
"→ Sets":
  - src/library/Sets.nim
"→ Sockets":
  - src/library/Sockets.nim
"→ Statistics":
  - src/library/Statistics.nim
"→ Strings":
  - src/library/Strings.nim
"→ System":
  - src/library/System.nim
"→ Types":
  - src/library/Types.nim
"→ Ui":
  - src/library/Ui.nim

netbsd:
  - .github/workflows/netbsd.yml

openbsd:
  - .github/workflows/openbsd.yml

package manager:
  - src/vm/packager.nim

parser:
  - src/vm/parse.nim

repl:
  - src/scripts/console.art
  - src/helpers/repl.nim
  - src/extras/linenoise.nim

rosetta code:
  - examples/rosetta/*

ui:
  - src/extras/libclipboard/*
  - src/extras/menubar/*
  - src/extras/pfd/*
  - src/extras/webview/*
  - src/extras/window/*
  - src/extras/libclipboard.nim
  - src/extras/menubar.nim
  - src/extras/pfd.nim
  - src/extras/webview.nim
  - src/extras/window.nim
  - src/helpers/clipboard.nim
  - src/helpers/dialogs.nim
  - src/helpers/webviews.js
  - src/helpers/webviews.nim
  - src/helpers/windows.nim
  - src/library/Ui.nim

unit-test:
  - tests/errors/**
  - tests/unittests/**
  - tests/web/*

values:
  - src/vm/values/*
  - src/vm/values/custom/**

vm:
  - src/vm/*

workflows:
  - .github/workflows/*
