Repository arturo-lang/arturo, changes with the labels that .github/labeler.yml gives for each.
All labels: 3rd-party, ast, bundler, bytecode, ci, command line, documentation, error handling, evaluator, execution, freebsd, helpers, installer, library, → Arithmetic, → Bitwise, → Collections, → Colors, → Comparison, → Converters, → Core, → Crypto, → Databases, → Dates, → Exceptions, → Files, → Io, → Iterators, → Logic, → Net, → Numbers, → Paths, → Quantities, → Reflection, → Sets, → Sockets, → Statistics, → Strings, → System, → Types, → Ui, netbsd, openbsd, package manager, parser, repl, rosetta code, ui, unit-test, values, vm, workflows

.github/labeler.yml:

3rd-party:
  - src/extras/**

ast:
  - src/vm/ast.nim

bundler:
  - src/vm/bundle/generator.nim
  - src/vm/bundle/resources.nim

bytecode:
  - src/vm/bytecode.nim
  - src/vm/opcodes.nim

ci:
  - .github/workflows/freebsd.yml
  - .github/workflows/linux.yml
  - .github/workflows/macos.yml
  - .github/workflows/netbsd.yml
  - .github/workflows/openbsd.yml
  - .github/workflows/web.yml
  - .github/workflows/windows.yml

command line:
  - src/arturo.nim

documentation:
  - examples/projecteuler/*
  - examples/rosetta/*
  - docs/**

error handling: 
  - src/vm/errors.nim

evaluator:
  - src/vm/eval.nim
 
execution:
  - src/vm/exec.nim

freebsd:
  - .github/workflows/freebsd.yml

helpers:
  - src/helpers/*
  
installer:
  - build.nims
  - src/scripts/update.art

library:
  - src/library/**

"→ Arithmetic":
  - src/library/Arithmetic.nim
"→ Bitwise":
  - src/library/Bitwise.nim
"→ Collections":
  - src/library/Collections.nim
"→ Colors":
  - src/library/Colors.nim
"→ Comparison":
  - src/library/Comparison.nim
"→ Converters":
  - src/library/Converters.nim
"→ Core":
  - src/library/Core.nim
"→ Crypto":
  - src/library/Crypto.nim
"→ Databases":
  - src/library/Databases.nim
"→ Dates":
  - src/library/Dates.nim
"→ Exceptions":
  - src/library/Exceptions.nim
"→ Files":
  - src/library/Files.nim
"→ Io":
  - src/library/Io.nim
"→ Iterators":
  - src/library/Iterators.nim
"→ Logic":
  - src/library/Logic.nim
"→ Net":
  - src/library/Net.nim
"→ Numbers":
  - src/library/Numbers.nim
"→ Paths":
  - src/library/Paths.nim
"→ Quantities":
  - src/library/Quantities.nim
"→ Reflection":
  - src/library/Reflection.nim
"→ Sets":
  - src/library/Sets.nim
"→ Sockets":
  - src/library/Sockets.nim
"→ Statistics":
  - src/library/Statistics.nim
"→ Strings":
  - src/library/Strings.nim
"→ System":
  - src/library/System.nim
"→ Types":
  - src/library/Types.nim
"→ Ui":
  - src/library/Ui.nim

netbsd:
  - .github/workflows/netbsd.yml

openbsd:
  - .github/workflows/openbsd.yml

package manager:
  - src/vm/packager.nim

parser:
  - src/vm/parse.nim

repl:
  - src/scripts/console.art
  - src/helpers/repl.nim
  - src/extras/linenoise.nim

rosetta code:
  - examples/rosetta/*

ui:
  - src/extras/libclipboard/*
  - src/extras/menubar/*
  - src/extras/pfd/*
  - src/extras/webview/*
  - src/extras/window/*
  - src/extras/libclipboard.nim
  - src/extras/menubar.nim
  - src/extras/pfd.nim
  - src/extras/webview.nim
  - src/extras/window.nim
  - src/helpers/clipboard.nim
  - src/helpers/dialogs.nim
  - src/helpers/webviews.js
  - src/helpers/webviews.nim
  - src/helpers/windows.nim
  - src/library/Ui.nim

unit-test:
  - tests/errors/**
  - tests/unittests/**
  - tests/web/*

values:
  - src/vm/values/*
  - src/vm/values/custom/**

vm:
  - src/vm/*

workflows:
  - .github/workflows/*

[Dates] convert `past?` to use dispatch macro
  src/library/Dates.nim
Labels: library, → Dates

[Dates] convert `today?` to use dispatch macro
  src/library/Dates.nim
Labels: library, → Dates

[Quantities] convert `specify` y-kind branches to use dispatch macro
  src/library/Quantities.nim
Labels: library, → Quantities

[Quantities] revert `specify` conversion (dispatch macro doesn't accept x-wildcard at clause head)
  src/library/Quantities.nim
Labels: library, → Quantities

[Core] convert `parse` to use dispatch macro
  src/library/Core.nim
Labels: library, → Core

[Core] convert `alias` symbol-extraction cascade to use dispatch macro
  src/library/Core.nim
Labels: library, → Core

[Core] convert `module` definitions cascade to use dispatch macro
  src/library/Core.nim
Labels: library, → Core

[vm] add SymbolLiteral to dispatch macros' kind table
  src/vm/lib.nim
Labels: vm

[Reflection] convert `info` to use dispatch macro with SymbolLiteral clause
  src/library/Reflection.nim
Labels: library, → Reflection

[Bitwise] convert `shl` to use dispatchWithLiteral fallback
  src/library/Bitwise.nim
Labels: library, → Bitwise

[notes] update conversion table with round-3/round-4 work + SymbolLiteral kind
  DISPATCH_NOTES.md
Labels: none

trigger rebuild
  README.md
Labels: none

[values/printable] use 4-space INDENT constant in dump
  src/vm/values/printable.nim
Labels: values

[values/printable] drop spurious indent between key and value in dump
  src/vm/values/printable.nim
Labels: values

[values/printable] tighten key column to one space before colon
  src/vm/values/printable.nim
Labels: values

[values/printable] suppress blank line in empty blocks/paths
  src/vm/values/printable.nim
Labels: values

[values/printable] add compact mode to dump
  src/vm/values/printable.nim
Labels: values

[reflection] add .compact attribute to inspect
  src/library/Reflection.nim
Labels: library, → Reflection

removed TODO comment
  src/vm/values/printable.nim
Labels: values

[values/printable] use INDENT in codify too
  src/vm/values/printable.nim
Labels: values

[values/printable] collapse small containers to one line in compact mode
  src/vm/values/printable.nim
Labels: values

[values/printable] add indexed mode to dump for blocks
  src/vm/values/printable.nim
Labels: values

[reflection] add .index attribute to inspect
  src/library/Reflection.nim
Labels: library, → Reflection

[tests] regen .res files for new inspect formatting
  tests/unittests/cmdline.res
  tests/unittests/lib.files.res
  tests/unittests/parser.res
  tests/unittests/temp/copy-filled-dir/dest/A/file.txt
  tests/unittests/temp/copy-filled-dir/dest/B/file.txt
  tests/unittests/temp/copy-filled-dir/dest/C/file.txt
  tests/unittests/temp/copy-filled-dir/input/A/file.txt
  tests/unittests/temp/copy-filled-dir/input/B/file.txt
  tests/unittests/temp/copy-filled-dir/input/C/file.txt
  tests/unittests/temp/copy/copied.txt
  tests/unittests/temp/copy/file.txt
  tests/unittests/temp/move-filled-dir/dest/A/file.txt
  tests/unittests/temp/move-filled-dir/dest/B/file.txt
  tests/unittests/temp/move-filled-dir/dest/C/file.txt
  tests/unittests/temp/move/dest/file.txt
  tests/unittests/temp/read-bin/test.bin
  tests/unittests/temp/read-csv-delimiter/test.csv
  tests/unittests/temp/read-csv-headers/test.csv
  tests/unittests/temp/read-csv/test.csv
  tests/unittests/temp/read-html/test.html
  tests/unittests/temp/read-ini/test.ini
  tests/unittests/temp/read-json/test.json
  tests/unittests/temp/read-lines/test.txt
  tests/unittests/temp/read-md/test.md
  tests/unittests/temp/read-toml/test.toml
  tests/unittests/temp/read-xml/test.xml
  tests/unittests/temp/read/test.txt
  tests/unittests/temp/rename-dir/renamed/file.txt
  tests/unittests/temp/rename/renamed.txt
  tests/unittests/temp/timestamp/file.txt
  tests/unittests/temp/zip-unzip-readme/dest.zip
Labels: unit-test

[tests] drop accidental temp/ artifacts
  tests/unittests/temp/copy-filled-dir/dest/A/file.txt
  tests/unittests/temp/copy-filled-dir/dest/B/file.txt
  tests/unittests/temp/copy-filled-dir/dest/C/file.txt
  tests/unittests/temp/copy-filled-dir/input/A/file.txt
  tests/unittests/temp/copy-filled-dir/input/B/file.txt
  tests/unittests/temp/copy-filled-dir/input/C/file.txt
  tests/unittests/temp/copy/copied.txt
  tests/unittests/temp/copy/file.txt
  tests/unittests/temp/move-filled-dir/dest/A/file.txt
  tests/unittests/temp/move-filled-dir/dest/B/file.txt
  tests/unittests/temp/move-filled-dir/dest/C/file.txt
  tests/unittests/temp/move/dest/file.txt
  tests/unittests/temp/read-bin/test.bin
  tests/unittests/temp/read-csv-delimiter/test.csv
  tests/unittests/temp/read-csv-headers/test.csv
  tests/unittests/temp/read-csv/test.csv
  tests/unittests/temp/read-html/test.html
  tests/unittests/temp/read-ini/test.ini
  tests/unittests/temp/read-json/test.json
  tests/unittests/temp/read-lines/test.txt
  tests/unittests/temp/read-md/test.md
  tests/unittests/temp/read-toml/test.toml
  tests/unittests/temp/read-xml/test.xml
  tests/unittests/temp/read/test.txt
  tests/unittests/temp/rename-dir/renamed/file.txt
  tests/unittests/temp/rename/renamed.txt
  tests/unittests/temp/timestamp/file.txt
  tests/unittests/temp/zip-unzip-readme/dest.zip
Labels: unit-test

[ci] temporarily pull examples from regen-inspect-res branch
  .github/workflows/ci.yml
Labels: workflows

[tests] fix lib.files.res error path to match tester invocation
  tests/unittests/lib.files.res
Labels: unit-test

[ci] revert temporary examples branch override
  .github/workflows/ci.yml
Labels: workflows

[tests] regen lib.files.res from arturo root cwd
  tests/unittests/lib.files.res
Labels: unit-test

Bump revision to 37 [skip ci]
  version/revision
Labels: none

[helpers/parallelism] add `readUrlAsyncStr` for async URL fetch
  src/helpers/parallelism.nim
Labels: helpers

[helpers/parallelism] add `spawnAsyncReadUrl` for in-process URL reads
  src/helpers/parallelism.nim
Labels: helpers

[Files] route URL leg of `read.async` through in-process `AsyncHttpClient`
  src/library/Files.nim
Labels: library, → Files

[Files] refresh `read.async` description — in-process now, not subprocess
  src/library/Files.nim
Labels: library, → Files

[helpers/parallelism] add `cooperativePause` — yields when dispatcher has work
  src/helpers/parallelism.nim
Labels: helpers

[System] route `pause` through `cooperativePause` — no more freezing async work
  src/library/System.nim
Labels: library, → System

[extras/smtp] expose `sock` field for cancellation hooks
  src/extras/smtp.nim
Labels: 3rd-party

[helpers/parallelism] add `spawnAsyncMail` for in-process SMTP send
  src/helpers/parallelism.nim
Labels: helpers

[Net] add `.async` attribute to `mail`
  src/library/Net.nim
Labels: library, → Net

[extras/minicoro] vendor minicoro.h v0.2.0 — single-header coroutine primitive
  src/extras/minicoro/minicoro.h
Labels: 3rd-party
