Repository arturo-lang/arturo, changes with the labels that .github/labeler.yml gives for each.
All labels: 3rd-party, ast, bundler, bytecode, ci, command line, documentation, error handling, evaluator, execution, freebsd, helpers, installer, library, → Arithmetic, → Bitwise, → Collections, → Colors, → Comparison, → Converters, → Core, → Crypto, → Databases, → Dates, → Exceptions, → Files, → Io, → Iterators, → Logic, → Net, → Numbers, → Paths, → Quantities, → Reflection, → Sets, → Sockets, → Statistics, → Strings, → System, → Types, → Ui, netbsd, openbsd, package manager, parser, repl, rosetta code, ui, unit-test, values, vm, workflows

check if there is [skip tests] in commit message (lol)
  .github/workflows/ci.yml
Labels: workflows

let's see if it worked [skip tests]
  .github/workflows/ci.yml
Labels: workflows

debugging
  .github/workflows/ci.yml
Labels: workflows

more debugging
  .github/workflows/ci.yml
Labels: workflows

added case for PR commits
  .github/workflows/ci.yml
Labels: workflows

remove debugging output [skip tests]
  .github/workflows/ci.yml
Labels: workflows

and more debugging [skip tests]
  .github/workflows/ci.yml
Labels: workflows

remove debugging
  .github/workflows/ci.yml
Labels: workflows

updated implementation
  .github/workflows/ci.yml
Labels: workflows

trigger rebuild [skip tests]
  .github/workflows/ci.yml
Labels: workflows

trigger rebuild
  .github/workflows/ci.yml
Labels: workflows

Bump revision to 2 [skip ci]
  version/revision
Labels: none

Bump revision to 3 [skip ci]
  version/revision
Labels: none

Bump revision to 4 [skip ci]
  version/revision
Labels: none

Bump revision to 5 [skip ci]
  version/revision
Labels: none

Bump revision to 6 [skip ci]
  version/revision
Labels: none

Bump revision to 7 [skip ci]
  version/revision
Labels: none

Bump revision to 8 [skip ci]
  version/revision
Labels: none

[Dates\after] migrate tests to unitt
  tests/unitt/lib/dates/after.test.art
Labels: none

[Dates\before] migrate tests to unitt
  tests/unitt/lib/dates/before.test.art
Labels: none

[Dates\<predicates>] Implement unitt tests
  tests/unitt/lib/dates/predicates.test.art
Labels: none

[Dates\now] Implement unitt tests
  tests/unitt/lib/dates/now.test.art
Labels: none

Format file
  tests/unitt/lib/dates/predicates.test.art
Labels: none

Remove old tests
  tests/unittests/lib.dates.art
  tests/unittests/lib.dates.res
Labels: unit-test

added extra option for constants
  tools/getbuiltins.art
Labels: none

Bump revision to 9 [skip ci]
  version/revision
Labels: none

minor edit
  src/library/Net.nim
Labels: library, → Net

no need to force stringify the body here
  src/helpers/servers.nim
Labels: helpers

try to handle binary body values
  src/library/Net.nim
Labels: library, → Net

Bump revision to 10 [skip ci]
  version/revision
Labels: none

add `to` if `define` is present
  src/vm/bundle/generator.nim
Labels: bundler

`add` may be AST-transformed to `inc`
  src/vm/bundle/generator.nim
Labels: bundler

`sub` may be AST-transformed to `dec`
  cli
  src/vm/bundle/generator.nim
Labels: bundler

distributive transformations may transform `inc` to `mul` as well
  src/vm/bundle/generator.nim
Labels: bundler

minor re-organization
  src/vm/bundle/generator.nim
Labels: bundler

Bump revision to 11 [skip ci]
  version/revision
Labels: none

temporarily disable unitt-based tests
  .github/workflows/ci.yml
Labels: workflows

Bump revision to 12 [skip ci]
  version/revision
Labels: none

process `do` relative calls
  src/vm/bundle/generator.nim
Labels: bundler

process `dictionary` relative calls
  src/vm/bundle/generator.nim
Labels: bundler

.github/labeler.yml:

3rd-party:
  - src/extras/**

ast:
  - src/vm/ast.nim

bundler:
  - src/vm/bundle/generator.nim
  - src/vm/bundle/resources.nim

bytecode:
  - src/vm/bytecode.nim
  - src/vm/opcodes.nim

ci:
  - .github/workflows/freebsd.yml
  - .github/workflows/linux.yml
  - .github/workflows/macos.yml
  - .github/workflows/netbsd.yml
  - .github/workflows/openbsd.yml
  - .github/workflows/web.yml
  - .github/workflows/windows.yml

command line:
  - src/arturo.nim

documentation:
  - examples/projecteuler/*
  - examples/rosetta/*
  - docs/**

error handling: 
  - src/vm/errors.nim

evaluator:
  - src/vm/eval.nim
 
execution:
  - src/vm/exec.nim

freebsd:
  - .github/workflows/freebsd.yml

helpers:
  - src/helpers/*
  
installer:
  - build.nims
  - src/scripts/update.art

library:
  - src/library/**

"→ Arithmetic":
  - src/library/Arithmetic.nim
"→ Bitwise":
  - src/library/Bitwise.nim
"→ Collections":
  - src/library/Collections.nim
"→ Colors":
  - src/library/Colors.nim
"→ Comparison":
  - src/library/Comparison.nim
"→ Converters":
  - src/library/Converters.nim
"→ Core":
  - src/library/Core.nim
"→ Crypto":
  - src/library/Crypto.nim
"→ Databases":
  - src/library/Databases.nim
"→ Dates":
  - src/library/Dates.nim
"→ Exceptions":
  - src/library/Exceptions.nim
"→ Files":
  - src/library/Files.nim
"→ Io":
  - src/library/Io.nim
"→ Iterators":
  - src/library/Iterators.nim
"→ Logic":
  - src/library/Logic.nim
"→ Net":
  - src/library/Net.nim
"→ Numbers":
  - src/library/Numbers.nim
"→ Paths":
  - src/library/Paths.nim
"→ Quantities":
  - src/library/Quantities.nim
"→ Reflection":
  - src/library/Reflection.nim
"→ Sets":
  - src/library/Sets.nim
"→ Sockets":
  - src/library/Sockets.nim
"→ Statistics":
  - src/library/Statistics.nim
"→ Strings":
  - src/library/Strings.nim
"→ System":
  - src/library/System.nim
"→ Types":
  - src/library/Types.nim
"→ Ui":
  - src/library/Ui.nim

netbsd:
  - .github/workflows/netbsd.yml

openbsd:
  - .github/workflows/openbsd.yml

package manager:
  - src/vm/packager.nim

parser:
  - src/vm/parse.nim

repl:
  - src/scripts/console.art
  - src/helpers/repl.nim
  - src/extras/linenoise.nim

rosetta code:
  - examples/rosetta/*

ui:
  - src/extras/libclipboard/*
  - src/extras/menubar/*
  - src/extras/pfd/*
  - src/extras/webview/*
  - src/extras/window/*
  - src/extras/libclipboard.nim
  - src/extras/menubar.nim
  - src/extras/pfd.nim
  - src/extras/webview.nim
  - src/extras/window.nim
  - src/helpers/clipboard.nim
  - src/helpers/dialogs.nim
  - src/helpers/webviews.js
  - src/helpers/webviews.nim
  - src/helpers/windows.nim
  - src/library/Ui.nim

unit-test:
  - tests/errors/**
  - tests/unittests/**
  - tests/web/*

values:
  - src/vm/values/*
  - src/vm/values/custom/**

vm:
  - src/vm/*

workflows:
  - .github/workflows/*
