Repository arturo-lang/arturo, changes with the labels that .github/labeler.yml gives for each.
All labels: 3rd-party, ast, bundler, bytecode, ci, command line, documentation, error handling, evaluator, execution, freebsd, helpers, installer, library, → Arithmetic, → Bitwise, → Collections, → Colors, → Comparison, → Converters, → Core, → Crypto, → Databases, → Dates, → Exceptions, → Files, → Io, → Iterators, → Logic, → Net, → Numbers, → Paths, → Quantities, → Reflection, → Sets, → Sockets, → Statistics, → Strings, → System, → Types, → Ui, netbsd, openbsd, package manager, parser, repl, rosetta code, ui, unit-test, values, vm, workflows

.github/labeler.yml:

3rd-party:
  - src/extras/**

ast:
  - src/vm/ast.nim

bundler:
  - src/vm/bundle/generator.nim
  - src/vm/bundle/resources.nim

bytecode:
  - src/vm/bytecode.nim
  - src/vm/opcodes.nim

ci:
  - .github/workflows/freebsd.yml
  - .github/workflows/linux.yml
  - .github/workflows/macos.yml
  - .github/workflows/netbsd.yml
  - .github/workflows/openbsd.yml
  - .github/workflows/web.yml
  - .github/workflows/windows.yml

command line:
  - src/arturo.nim

documentation:
  - examples/projecteuler/*
  - examples/rosetta/*
  - docs/**

error handling: 
  - src/vm/errors.nim

evaluator:
  - src/vm/eval.nim
 
execution:
  - src/vm/exec.nim

freebsd:
  - .github/workflows/freebsd.yml

helpers:
  - src/helpers/*
  
installer:
  - build.nims
  - src/scripts/update.art

library:
  - src/library/**

"→ Arithmetic":
  - src/library/Arithmetic.nim
"→ Bitwise":
  - src/library/Bitwise.nim
"→ Collections":
  - src/library/Collections.nim
"→ Colors":
  - src/library/Colors.nim
"→ Comparison":
  - src/library/Comparison.nim
"→ Converters":
  - src/library/Converters.nim
"→ Core":
  - src/library/Core.nim
"→ Crypto":
  - src/library/Crypto.nim
"→ Databases":
  - src/library/Databases.nim
"→ Dates":
  - src/library/Dates.nim
"→ Exceptions":
  - src/library/Exceptions.nim
"→ Files":
  - src/library/Files.nim
"→ Io":
  - src/library/Io.nim
"→ Iterators":
  - src/library/Iterators.nim
"→ Logic":
  - src/library/Logic.nim
"→ Net":
  - src/library/Net.nim
"→ Numbers":
  - src/library/Numbers.nim
"→ Paths":
  - src/library/Paths.nim
"→ Quantities":
  - src/library/Quantities.nim
"→ Reflection":
  - src/library/Reflection.nim
"→ Sets":
  - src/library/Sets.nim
"→ Sockets":
  - src/library/Sockets.nim
"→ Statistics":
  - src/library/Statistics.nim
"→ Strings":
  - src/library/Strings.nim
"→ System":
  - src/library/System.nim
"→ Types":
  - src/library/Types.nim
"→ Ui":
  - src/library/Ui.nim

netbsd:
  - .github/workflows/netbsd.yml

openbsd:
  - .github/workflows/openbsd.yml

package manager:
  - src/vm/packager.nim

parser:
  - src/vm/parse.nim

repl:
  - src/scripts/console.art
  - src/helpers/repl.nim
  - src/extras/linenoise.nim

rosetta code:
  - examples/rosetta/*

ui:
  - src/extras/libclipboard/*
  - src/extras/menubar/*
  - src/extras/pfd/*
  - src/extras/webview/*
  - src/extras/window/*
  - src/extras/libclipboard.nim
  - src/extras/menubar.nim
  - src/extras/pfd.nim
  - src/extras/webview.nim
  - src/extras/window.nim
  - src/helpers/clipboard.nim
  - src/helpers/dialogs.nim
  - src/helpers/webviews.js
  - src/helpers/webviews.nim
  - src/helpers/windows.nim
  - src/library/Ui.nim

unit-test:
  - tests/errors/**
  - tests/unittests/**
  - tests/web/*

values:
  - src/vm/values/*
  - src/vm/values/custom/**

vm:
  - src/vm/*

workflows:
  - .github/workflows/*

Prefer placeholder over value for Issue Form
  .github/ISSUE_TEMPLATE/bug-report.yaml
Labels: none

Remove default values and use placeholder only
  .github/ISSUE_TEMPLATE/feature-request.yaml
Labels: none

This should not render markdown
  .github/ISSUE_TEMPLATE/feature-request.yaml
Labels: none

Enhance placeholder
  .github/ISSUE_TEMPLATE/feature-request.yaml
Labels: none

Remove headers from placeholders
  .github/ISSUE_TEMPLATE/feature-request.yaml
Labels: none

Remove headers from placeholders
  .github/ISSUE_TEMPLATE/bug-report.yaml
Labels: none

Fix numering
  .github/ISSUE_TEMPLATE/bug-report.yaml
Labels: none

Bump build to 3453 [skip ci]
  version/build
Labels: none

Fix attr example
  src/library/Reflection.nim
Labels: library, → Reflection

Bump build to 3454 [skip ci]
  version/build
Labels: none

added previous (stable) version
  version/previous
Labels: none

also bump version
  version/version
Labels: none

rename file to `revision` (since it's technically not a build number)
  version/revision
Labels: none

updated Bump workflow to handle new version/revision file
  .github/workflows/bump.yml
Labels: workflows

updated REPL script
  src/scripts/console.art
Labels: repl

also changed file names
  src/vm/version.nim
Labels: vm

also cleaned up build script
  build.nims
Labels: installer

minor fix
  src/vm/env.nim
Labels: vm

general cleanup + redefined version components in one place
  src/vm/version.nim
Labels: vm

we shouldn't need this anymore...
  src/vm/env.nim
Labels: vm

let's remove pcre info too (since it's not an external dependency anymore...)
  src/vm/env.nim
Labels: vm

fix indentation
  src/vm/version.nim
Labels: vm

minor fix (we now have `ArturoVersionText` instead!)
  src/arturo.nim
Labels: command line

add codename placeholder file
  version/codename
Labels: none

also add codename info to the version
  src/vm/version.nim
Labels: vm

better put it to `ArturoVersionText` instead
  src/vm/version.nim
Labels: vm

add codename field to `sys` dictionary
  src/vm/env.nim
Labels: vm

also convert `\os` to a Literal
  src/vm/env.nim
Labels: vm

update references to `sys\os`
  src/scripts/update.art
  tests/unittests/lib.collections.art
  tests/unittests/lib.files.art
  tests/unittests/lib.system.art
  tools/tester.art
  tools/unitt-tester.art
Labels: installer, unit-test

clean up headers as well
  src/scripts/console.art
Labels: repl

remove unnecessary import
  src/vm/env.nim
Labels: vm

minor fix
  src/scripts/console.art
Labels: repl

another minor fix
  src/scripts/console.art
Labels: repl

add more indentation
  src/scripts/console.art
Labels: repl

another minor fix
  src/scripts/console.art
Labels: repl

[Core\sys] update documentation example
  src/library/System.nim
Labels: library, → System

Bump revision to 3455 [skip ci]
  version/revision
Labels: none

trigger rebuild
  build.nims
Labels: installer

[Paths\list] Use glob pattern as default
  src/library/Paths.nim
Labels: library, → Paths

[Paths\list] Use walk pattern
  src/library/Paths.nim
Labels: library, → Paths
