Repository arturo-lang/arturo, changes with the labels that .github/labeler.yml gives for each.
All labels: 3rd-party, ast, bundler, bytecode, ci, command line, documentation, error handling, evaluator, execution, freebsd, helpers, installer, library, → Arithmetic, → Bitwise, → Collections, → Colors, → Comparison, → Converters, → Core, → Crypto, → Databases, → Dates, → Exceptions, → Files, → Io, → Iterators, → Logic, → Net, → Numbers, → Paths, → Quantities, → Reflection, → Sets, → Sockets, → Statistics, → Strings, → System, → Types, → Ui, netbsd, openbsd, package manager, parser, repl, rosetta code, ui, unit-test, values, vm, workflows

updated static libraries
  src/deps/openssl/linux/amd64/libssl.a
  src/deps/openssl/windows/amd64/libssl.a
Labels: none

updated static libraries
  src/deps/openssl/linux/amd64/libssl.a
  src/deps/openssl/windows/amd64/libssl.a
Labels: none

reinstate file
  .github/workflows/ci.yml
Labels: workflows

reinstate file
  .github/workflows/ci.yml
Labels: workflows

added `crypt32` dependency for Windows
  src/library/Net.nim
Labels: library, → Net

added `crypt32` dependency for Windows
  src/library/Net.nim
Labels: library, → Net

let's go for it...
  .github/workflows/ci.yml
Labels: workflows

let's go for it...
  .github/workflows/ci.yml
Labels: workflows

don't run any tests for now...
  .github/workflows/ci.yml
Labels: workflows

don't run any tests for now...
  .github/workflows/ci.yml
Labels: workflows

minor fix
  .github/workflows/ci.yml
Labels: workflows

minor fix
  .github/workflows/ci.yml
Labels: workflows

set "default" expected webkit2gtk to 4.1
  config.nims
Labels: none

set "default" expected webkit2gtk to 4.1
  config.nims
Labels: none

added static files for legacy Ubuntu versions (22.04 and older)
  src/deps/openssl/linux/amd64/legacy/libssl.a
  src/deps/openssl/linux/arm64/legacy/libssl.a
Labels: none

added static files for legacy Ubuntu versions (22.04 and older)
  src/deps/openssl/linux/amd64/legacy/libssl.a
  src/deps/openssl/linux/arm64/legacy/libssl.a
Labels: none

defined new `LEGACYUNIX` directive + adjust linker paths accordingly
  config.nims
  src/library/Net.nim
Labels: library, → Net

defined new `LEGACYUNIX` directive + adjust linker paths accordingly
  config.nims
  src/library/Net.nim
Labels: library, → Net

remove extra debugging steps
  .github/workflows/ci.yml
Labels: workflows

remove extra debugging steps
  .github/workflows/ci.yml
Labels: workflows

also add static-linking for OpenSSL3 + FreeBSD builds
  config.nims
  src/deps/openssl/freebsd/amd64/libssl.a
  src/library/Net.nim
Labels: library, → Net

also add static-linking for OpenSSL3 + FreeBSD builds
  config.nims
  src/deps/openssl/freebsd/amd64/libssl.a
  src/library/Net.nim
Labels: library, → Net

reinstate target action
  .github/workflows/ci.yml
Labels: workflows

reinstate target action
  .github/workflows/ci.yml
Labels: workflows

trigger rebuild
  .github/workflows/ci.yml
Labels: workflows

trigger rebuild
  .github/workflows/ci.yml
Labels: workflows

remove path from library search paths
  src/extras/gmp.nim
Labels: 3rd-party

remove path from library search paths
  src/extras/gmp.nim
Labels: 3rd-party

experimenting...
  .config/buildmode.nims
  src/extras/gmp.nim
Labels: 3rd-party

experimenting...
  .config/buildmode.nims
  src/extras/gmp.nim
Labels: 3rd-party

more experiments...
  .config/buildmode.nims
Labels: none

more experiments...
  .config/buildmode.nims
Labels: none

change static-linking for macOS
  src/library/Net.nim
Labels: library, → Net

change static-linking for macOS
  src/library/Net.nim
Labels: library, → Net

fix linker paths for macOS & re-organize code
  src/vm/values/custom/vregex.nim
Labels: values

fix linker paths for macOS & re-organize code
  src/vm/values/custom/vregex.nim
Labels: values

minor cleanup
  src/vm/values/custom/vregex.nim
Labels: values

minor cleanup
  src/vm/values/custom/vregex.nim
Labels: values

set defaults
  .github/workflows/ci.yml
Labels: workflows

set defaults
  .github/workflows/ci.yml
Labels: workflows

.github/labeler.yml:

3rd-party:
  - src/extras/**

ast:
  - src/vm/ast.nim

bundler:
  - src/vm/bundle/generator.nim
  - src/vm/bundle/resources.nim

bytecode:
  - src/vm/bytecode.nim
  - src/vm/opcodes.nim

ci:
  - .github/workflows/freebsd.yml
  - .github/workflows/linux.yml
  - .github/workflows/macos.yml
  - .github/workflows/netbsd.yml
  - .github/workflows/openbsd.yml
  - .github/workflows/web.yml
  - .github/workflows/windows.yml

command line:
  - src/arturo.nim

documentation:
  - examples/projecteuler/*
  - examples/rosetta/*
  - docs/**

error handling: 
  - src/vm/errors.nim

evaluator:
  - src/vm/eval.nim
 
execution:
  - src/vm/exec.nim

freebsd:
  - .github/workflows/freebsd.yml

helpers:
  - src/helpers/*
  
installer:
  - build.nims
  - src/scripts/update.art

library:
  - src/library/**

"→ Arithmetic":
  - src/library/Arithmetic.nim
"→ Bitwise":
  - src/library/Bitwise.nim
"→ Collections":
  - src/library/Collections.nim
"→ Colors":
  - src/library/Colors.nim
"→ Comparison":
  - src/library/Comparison.nim
"→ Converters":
  - src/library/Converters.nim
"→ Core":
  - src/library/Core.nim
"→ Crypto":
  - src/library/Crypto.nim
"→ Databases":
  - src/library/Databases.nim
"→ Dates":
  - src/library/Dates.nim
"→ Exceptions":
  - src/library/Exceptions.nim
"→ Files":
  - src/library/Files.nim
"→ Io":
  - src/library/Io.nim
"→ Iterators":
  - src/library/Iterators.nim
"→ Logic":
  - src/library/Logic.nim
"→ Net":
  - src/library/Net.nim
"→ Numbers":
  - src/library/Numbers.nim
"→ Paths":
  - src/library/Paths.nim
"→ Quantities":
  - src/library/Quantities.nim
"→ Reflection":
  - src/library/Reflection.nim
"→ Sets":
  - src/library/Sets.nim
"→ Sockets":
  - src/library/Sockets.nim
"→ Statistics":
  - src/library/Statistics.nim
"→ Strings":
  - src/library/Strings.nim
"→ System":
  - src/library/System.nim
"→ Types":
  - src/library/Types.nim
"→ Ui":
  - src/library/Ui.nim

netbsd:
  - .github/workflows/netbsd.yml

openbsd:
  - .github/workflows/openbsd.yml

package manager:
  - src/vm/packager.nim

parser:
  - src/vm/parse.nim

repl:
  - src/scripts/console.art
  - src/helpers/repl.nim
  - src/extras/linenoise.nim

rosetta code:
  - examples/rosetta/*

ui:
  - src/extras/libclipboard/*
  - src/extras/menubar/*
  - src/extras/pfd/*
  - src/extras/webview/*
  - src/extras/window/*
  - src/extras/libclipboard.nim
  - src/extras/menubar.nim
  - src/extras/pfd.nim
  - src/extras/webview.nim
  - src/extras/window.nim
  - src/helpers/clipboard.nim
  - src/helpers/dialogs.nim
  - src/helpers/webviews.js
  - src/helpers/webviews.nim
  - src/helpers/windows.nim
  - src/library/Ui.nim

unit-test:
  - tests/errors/**
  - tests/unittests/**
  - tests/web/*

values:
  - src/vm/values/*
  - src/vm/values/custom/**

vm:
  - src/vm/*

workflows:
  - .github/workflows/*
