Repository arturo-lang/arturo, changes with the labels that .github/labeler.yml gives for each.
All labels: 3rd-party, ast, bundler, bytecode, ci, command line, documentation, error handling, evaluator, execution, freebsd, helpers, installer, library, → Arithmetic, → Bitwise, → Collections, → Colors, → Comparison, → Converters, → Core, → Crypto, → Databases, → Dates, → Exceptions, → Files, → Io, → Iterators, → Logic, → Net, → Numbers, → Paths, → Quantities, → Reflection, → Sets, → Sockets, → Statistics, → Strings, → System, → Types, → Ui, netbsd, openbsd, package manager, parser, repl, rosetta code, ui, unit-test, values, vm, workflows

.github/labeler.yml:

3rd-party:
  - src/extras/**

ast:
  - src/vm/ast.nim

bundler:
  - src/vm/bundle/generator.nim
  - src/vm/bundle/resources.nim

bytecode:
  - src/vm/bytecode.nim
  - src/vm/opcodes.nim

ci:
  - .github/workflows/freebsd.yml
  - .github/workflows/linux.yml
  - .github/workflows/macos.yml
  - .github/workflows/netbsd.yml
  - .github/workflows/openbsd.yml
  - .github/workflows/web.yml
  - .github/workflows/windows.yml

command line:
  - src/arturo.nim

documentation:
  - examples/projecteuler/*
  - examples/rosetta/*
  - docs/**

error handling: 
  - src/vm/errors.nim

evaluator:
  - src/vm/eval.nim
 
execution:
  - src/vm/exec.nim

freebsd:
  - .github/workflows/freebsd.yml

helpers:
  - src/helpers/*
  
installer:
  - build.nims
  - src/scripts/update.art

library:
  - src/library/**

"→ Arithmetic":
  - src/library/Arithmetic.nim
"→ Bitwise":
  - src/library/Bitwise.nim
"→ Collections":
  - src/library/Collections.nim
"→ Colors":
  - src/library/Colors.nim
"→ Comparison":
  - src/library/Comparison.nim
"→ Converters":
  - src/library/Converters.nim
"→ Core":
  - src/library/Core.nim
"→ Crypto":
  - src/library/Crypto.nim
"→ Databases":
  - src/library/Databases.nim
"→ Dates":
  - src/library/Dates.nim
"→ Exceptions":
  - src/library/Exceptions.nim
"→ Files":
  - src/library/Files.nim
"→ Io":
  - src/library/Io.nim
"→ Iterators":
  - src/library/Iterators.nim
"→ Logic":
  - src/library/Logic.nim
"→ Net":
  - src/library/Net.nim
"→ Numbers":
  - src/library/Numbers.nim
"→ Paths":
  - src/library/Paths.nim
"→ Quantities":
  - src/library/Quantities.nim
"→ Reflection":
  - src/library/Reflection.nim
"→ Sets":
  - src/library/Sets.nim
"→ Sockets":
  - src/library/Sockets.nim
"→ Statistics":
  - src/library/Statistics.nim
"→ Strings":
  - src/library/Strings.nim
"→ System":
  - src/library/System.nim
"→ Types":
  - src/library/Types.nim
"→ Ui":
  - src/library/Ui.nim

netbsd:
  - .github/workflows/netbsd.yml

openbsd:
  - .github/workflows/openbsd.yml

package manager:
  - src/vm/packager.nim

parser:
  - src/vm/parse.nim

repl:
  - src/scripts/console.art
  - src/helpers/repl.nim
  - src/extras/linenoise.nim

rosetta code:
  - examples/rosetta/*

ui:
  - src/extras/libclipboard/*
  - src/extras/menubar/*
  - src/extras/pfd/*
  - src/extras/webview/*
  - src/extras/window/*
  - src/extras/libclipboard.nim
  - src/extras/menubar.nim
  - src/extras/pfd.nim
  - src/extras/webview.nim
  - src/extras/window.nim
  - src/helpers/clipboard.nim
  - src/helpers/dialogs.nim
  - src/helpers/webviews.js
  - src/helpers/webviews.nim
  - src/helpers/windows.nim
  - src/library/Ui.nim

unit-test:
  - tests/errors/**
  - tests/unittests/**
  - tests/web/*

values:
  - src/vm/values/*
  - src/vm/values/custom/**

vm:
  - src/vm/*

workflows:
  - .github/workflows/*

added solution
  examples/rosetta/element-wise operations.art
Labels: documentation, rosetta code

added solution
  examples/rosetta/element-wise operations.art
Labels: documentation, rosetta code

also added expected output
  examples/rosetta/element-wise operations.res
Labels: documentation, rosetta code

also added expected output
  examples/rosetta/element-wise operations.res
Labels: documentation, rosetta code

Update build
  version/build
Labels: none

Update build
  version/build
Labels: none

actually removed Converters module
  src/library/Converters.nim
Labels: library, → Converters

actually removed Converters module
  src/library/Converters.nim
Labels: library, → Converters

remove it from here too
  src/vm/vm.nim
Labels: vm

remove it from here too
  src/vm/vm.nim
Labels: vm

Update build
  version/build
Labels: none

Update build
  version/build
Labels: none

also removed from documentation
  docs/website/pages/documentation/library/converters/_index.art
Labels: documentation

also removed from documentation
  docs/website/pages/documentation/library/converters/_index.art
Labels: documentation

Update build
  version/build
Labels: none

Update build
  version/build
Labels: none

added solution
  examples/rosetta/munching squares.art
Labels: documentation, rosetta code

added solution
  examples/rosetta/munching squares.art
Labels: documentation, rosetta code

Update build
  version/build
Labels: none

Update build
  version/build
Labels: none

fix site generator (replace references to `as.code...` with our newly-introduced `express`)
  tools/sitegen.art
Labels: none

fix site generator (replace references to `as.code...` with our newly-introduced `express`)
  tools/sitegen.art
Labels: none

Update build
  version/build
Labels: none

Update build
  version/build
Labels: none

distinguish between `long` & `long long` based on current plaform
  src/helpers/intrinsics.nim
Labels: helpers

distinguish between `long` & `long long` based on current plaform
  src/helpers/intrinsics.nim
Labels: helpers

fixed minor typo (geez!)
  src/helpers/intrinsics.nim
Labels: helpers

fixed minor typo (geez!)
  src/helpers/intrinsics.nim
Labels: helpers

minor edit
  README.md
Labels: none

minor edit
  README.md
Labels: none

another minor edit (to trigger a CI run)
  README.md
Labels: none

another minor edit (to trigger a CI run)
  README.md
Labels: none

Update build
  version/build
Labels: none

Update build
  version/build
Labels: none

fixed to take into account webkit2gtk-4.1
  src/extras/menus.nim
Labels: 3rd-party

fixed to take into account webkit2gtk-4.1
  src/extras/menus.nim
Labels: 3rd-party

Update build
  version/build
Labels: none

Update build
  version/build
Labels: none

try checking if `pkg-config` exists first; if not, default to `webkit2gtk-4.0`
  config.nims
Labels: none

try checking if `pkg-config` exists first; if not, default to `webkit2gtk-4.0`
  config.nims
Labels: none
