Repository arturo-lang/arturo, changes with the labels that .github/labeler.yml gives for each.
All labels: 3rd-party, ast, bundler, bytecode, ci, command line, documentation, error handling, evaluator, execution, freebsd, helpers, installer, library, → Arithmetic, → Bitwise, → Collections, → Colors, → Comparison, → Converters, → Core, → Crypto, → Databases, → Dates, → Exceptions, → Files, → Io, → Iterators, → Logic, → Net, → Numbers, → Paths, → Quantities, → Reflection, → Sets, → Sockets, → Statistics, → Strings, → System, → Types, → Ui, netbsd, openbsd, package manager, parser, repl, rosetta code, ui, unit-test, values, vm, workflows

Update build to 3392
  version/build
Labels: none

Update build to 3392
  version/build
Labels: none

minor edit
  README.md
Labels: none

minor edit
  README.md
Labels: none

added ETH & SOL addresses
  README.md
Labels: none

added ETH & SOL addresses
  README.md
Labels: none

removed older links
  README.md
Labels: none

removed older links
  README.md
Labels: none

removed QR Code (quite some visual clutter)
  README.md
Labels: none

removed QR Code (quite some visual clutter)
  README.md
Labels: none

more cleanup
  README.md
Labels: none

more cleanup
  README.md
Labels: none

Update build to 3393
  version/build
Labels: none

Update build to 3393
  version/build
Labels: none

trigger CI
  src/extras/mimalloc/include/mimalloc.h
Labels: 3rd-party

trigger CI
  src/extras/mimalloc/include/mimalloc.h
Labels: 3rd-party

updated headers
  src/extras/mimalloc/include/mimalloc-stats.h
  src/extras/mimalloc/include/mimalloc.h
  src/extras/mimalloc/include/mimalloc/atomic.h
  src/extras/mimalloc/include/mimalloc/bits.h
  src/extras/mimalloc/include/mimalloc/internal.h
  src/extras/mimalloc/include/mimalloc/prim.h
  src/extras/mimalloc/include/mimalloc/track.h
  src/extras/mimalloc/include/mimalloc/types.h
Labels: 3rd-party

updated headers
  src/extras/mimalloc/include/mimalloc-stats.h
  src/extras/mimalloc/include/mimalloc.h
  src/extras/mimalloc/include/mimalloc/atomic.h
  src/extras/mimalloc/include/mimalloc/bits.h
  src/extras/mimalloc/include/mimalloc/internal.h
  src/extras/mimalloc/include/mimalloc/prim.h
  src/extras/mimalloc/include/mimalloc/track.h
  src/extras/mimalloc/include/mimalloc/types.h
Labels: 3rd-party

updated main sources
  src/extras/mimalloc/src/alloc-aligned.c
  src/extras/mimalloc/src/alloc.c
  src/extras/mimalloc/src/arena-meta.c
  src/extras/mimalloc/src/arena.c
  src/extras/mimalloc/src/bitmap.c
  src/extras/mimalloc/src/bitmap.h
  src/extras/mimalloc/src/free.c
  src/extras/mimalloc/src/heap.c
  src/extras/mimalloc/src/init.c
  src/extras/mimalloc/src/libc.c
  src/extras/mimalloc/src/options.c
  src/extras/mimalloc/src/os.c
  src/extras/mimalloc/src/page-map.c
  src/extras/mimalloc/src/page-queue.c
  src/extras/mimalloc/src/page.c
  src/extras/mimalloc/src/prim/emscripten/prim.c
  src/extras/mimalloc/src/prim/osx/alloc-override-zone.c
  src/extras/mimalloc/src/prim/unix/prim.c
  src/extras/mimalloc/src/prim/wasi/prim.c
  src/extras/mimalloc/src/prim/windows/prim.c
  src/extras/mimalloc/src/random.c
  src/extras/mimalloc/src/static.c
  src/extras/mimalloc/src/stats.c
Labels: 3rd-party

updated main sources
  src/extras/mimalloc/src/alloc-aligned.c
  src/extras/mimalloc/src/alloc.c
  src/extras/mimalloc/src/arena-meta.c
  src/extras/mimalloc/src/arena.c
  src/extras/mimalloc/src/bitmap.c
  src/extras/mimalloc/src/bitmap.h
  src/extras/mimalloc/src/free.c
  src/extras/mimalloc/src/heap.c
  src/extras/mimalloc/src/init.c
  src/extras/mimalloc/src/libc.c
  src/extras/mimalloc/src/options.c
  src/extras/mimalloc/src/os.c
  src/extras/mimalloc/src/page-map.c
  src/extras/mimalloc/src/page-queue.c
  src/extras/mimalloc/src/page.c
  src/extras/mimalloc/src/prim/emscripten/prim.c
  src/extras/mimalloc/src/prim/osx/alloc-override-zone.c
  src/extras/mimalloc/src/prim/unix/prim.c
  src/extras/mimalloc/src/prim/wasi/prim.c
  src/extras/mimalloc/src/prim/windows/prim.c
  src/extras/mimalloc/src/random.c
  src/extras/mimalloc/src/static.c
  src/extras/mimalloc/src/stats.c
Labels: 3rd-party

also updated license
  src/extras/mimalloc/LICENSE
Labels: 3rd-party

also updated license
  src/extras/mimalloc/LICENSE
Labels: 3rd-party

reset Mimalloc version @ 2.2.4
  src/extras/mimalloc/LICENSE
  src/extras/mimalloc/include/mimalloc-stats.h
  src/extras/mimalloc/include/mimalloc.h
  src/extras/mimalloc/include/mimalloc/atomic.h
  src/extras/mimalloc/include/mimalloc/bits.h
  src/extras/mimalloc/include/mimalloc/internal.h
  src/extras/mimalloc/include/mimalloc/prim.h
  src/extras/mimalloc/include/mimalloc/track.h
  src/extras/mimalloc/include/mimalloc/types.h
  src/extras/mimalloc/src/alloc-aligned.c
  src/extras/mimalloc/src/alloc-override.c
  src/extras/mimalloc/src/alloc.c
  src/extras/mimalloc/src/arena-meta.c
  src/extras/mimalloc/src/arena.c
  src/extras/mimalloc/src/bitmap.c
  src/extras/mimalloc/src/bitmap.h
  src/extras/mimalloc/src/free.c
  src/extras/mimalloc/src/heap.c
  src/extras/mimalloc/src/init.c
  src/extras/mimalloc/src/libc.c
  src/extras/mimalloc/src/options.c
  src/extras/mimalloc/src/os.c
  src/extras/mimalloc/src/page-map.c
  src/extras/mimalloc/src/page-queue.c
  src/extras/mimalloc/src/page.c
  src/extras/mimalloc/src/prim/emscripten/prim.c
  src/extras/mimalloc/src/prim/osx/alloc-override-zone.c
  src/extras/mimalloc/src/prim/prim.c
  src/extras/mimalloc/src/prim/unix/prim.c
  src/extras/mimalloc/src/prim/wasi/prim.c
  src/extras/mimalloc/src/prim/windows/prim.c
  src/extras/mimalloc/src/random.c
  src/extras/mimalloc/src/segment-map.c
  src/extras/mimalloc/src/segment.c
  src/extras/mimalloc/src/static.c
  src/extras/mimalloc/src/stats.c
Labels: 3rd-party

reset Mimalloc version @ 2.2.4
  src/extras/mimalloc/LICENSE
  src/extras/mimalloc/include/mimalloc-stats.h
  src/extras/mimalloc/include/mimalloc.h
  src/extras/mimalloc/include/mimalloc/atomic.h
  src/extras/mimalloc/include/mimalloc/bits.h
  src/extras/mimalloc/include/mimalloc/internal.h
  src/extras/mimalloc/include/mimalloc/prim.h
  src/extras/mimalloc/include/mimalloc/track.h
  src/extras/mimalloc/include/mimalloc/types.h
  src/extras/mimalloc/src/alloc-aligned.c
  src/extras/mimalloc/src/alloc-override.c
  src/extras/mimalloc/src/alloc.c
  src/extras/mimalloc/src/arena-meta.c
  src/extras/mimalloc/src/arena.c
  src/extras/mimalloc/src/bitmap.c
  src/extras/mimalloc/src/bitmap.h
  src/extras/mimalloc/src/free.c
  src/extras/mimalloc/src/heap.c
  src/extras/mimalloc/src/init.c
  src/extras/mimalloc/src/libc.c
  src/extras/mimalloc/src/options.c
  src/extras/mimalloc/src/os.c
  src/extras/mimalloc/src/page-map.c
  src/extras/mimalloc/src/page-queue.c
  src/extras/mimalloc/src/page.c
  src/extras/mimalloc/src/prim/emscripten/prim.c
  src/extras/mimalloc/src/prim/osx/alloc-override-zone.c
  src/extras/mimalloc/src/prim/prim.c
  src/extras/mimalloc/src/prim/unix/prim.c
  src/extras/mimalloc/src/prim/wasi/prim.c
  src/extras/mimalloc/src/prim/windows/prim.c
  src/extras/mimalloc/src/random.c
  src/extras/mimalloc/src/segment-map.c
  src/extras/mimalloc/src/segment.c
  src/extras/mimalloc/src/static.c
  src/extras/mimalloc/src/stats.c
Labels: 3rd-party

Update build to 3394
  version/build
Labels: none

Update build to 3394
  version/build
Labels: none

trigger rebuild
  README.md
Labels: none

trigger rebuild
  README.md
Labels: none

trigger build
  config.nims
Labels: none

trigger build
  config.nims
Labels: none

added debugging script for local doc generation
  tools/gendocslocal.sh
Labels: none

added debugging script for local doc generation
  tools/gendocslocal.sh
Labels: none

update .gitignore
  .gitignore
Labels: none

update .gitignore
  .gitignore
Labels: none

trigger rebuild
  build.nims
Labels: installer

trigger rebuild
  build.nims
Labels: installer

minor fix
  tools/gendocslocal.sh
Labels: none

minor fix
  tools/gendocslocal.sh
Labels: none

add script to generate doc search index
  tools/indexgen.art
Labels: none

add script to generate doc search index
  tools/indexgen.art
Labels: none

.github/labeler.yml:

3rd-party:
  - src/extras/**

ast:
  - src/vm/ast.nim

bundler:
  - src/vm/bundle/generator.nim
  - src/vm/bundle/resources.nim

bytecode:
  - src/vm/bytecode.nim
  - src/vm/opcodes.nim

ci:
  - .github/workflows/freebsd.yml
  - .github/workflows/linux.yml
  - .github/workflows/macos.yml
  - .github/workflows/netbsd.yml
  - .github/workflows/openbsd.yml
  - .github/workflows/web.yml
  - .github/workflows/windows.yml

command line:
  - src/arturo.nim

documentation:
  - examples/projecteuler/*
  - examples/rosetta/*
  - docs/**

error handling: 
  - src/vm/errors.nim

evaluator:
  - src/vm/eval.nim
 
execution:
  - src/vm/exec.nim

freebsd:
  - .github/workflows/freebsd.yml

helpers:
  - src/helpers/*
  
installer:
  - build.nims
  - src/scripts/update.art

library:
  - src/library/**

"→ Arithmetic":
  - src/library/Arithmetic.nim
"→ Bitwise":
  - src/library/Bitwise.nim
"→ Collections":
  - src/library/Collections.nim
"→ Colors":
  - src/library/Colors.nim
"→ Comparison":
  - src/library/Comparison.nim
"→ Converters":
  - src/library/Converters.nim
"→ Core":
  - src/library/Core.nim
"→ Crypto":
  - src/library/Crypto.nim
"→ Databases":
  - src/library/Databases.nim
"→ Dates":
  - src/library/Dates.nim
"→ Exceptions":
  - src/library/Exceptions.nim
"→ Files":
  - src/library/Files.nim
"→ Io":
  - src/library/Io.nim
"→ Iterators":
  - src/library/Iterators.nim
"→ Logic":
  - src/library/Logic.nim
"→ Net":
  - src/library/Net.nim
"→ Numbers":
  - src/library/Numbers.nim
"→ Paths":
  - src/library/Paths.nim
"→ Quantities":
  - src/library/Quantities.nim
"→ Reflection":
  - src/library/Reflection.nim
"→ Sets":
  - src/library/Sets.nim
"→ Sockets":
  - src/library/Sockets.nim
"→ Statistics":
  - src/library/Statistics.nim
"→ Strings":
  - src/library/Strings.nim
"→ System":
  - src/library/System.nim
"→ Types":
  - src/library/Types.nim
"→ Ui":
  - src/library/Ui.nim

netbsd:
  - .github/workflows/netbsd.yml

openbsd:
  - .github/workflows/openbsd.yml

package manager:
  - src/vm/packager.nim

parser:
  - src/vm/parse.nim

repl:
  - src/scripts/console.art
  - src/helpers/repl.nim
  - src/extras/linenoise.nim

rosetta code:
  - examples/rosetta/*

ui:
  - src/extras/libclipboard/*
  - src/extras/menubar/*
  - src/extras/pfd/*
  - src/extras/webview/*
  - src/extras/window/*
  - src/extras/libclipboard.nim
  - src/extras/menubar.nim
  - src/extras/pfd.nim
  - src/extras/webview.nim
  - src/extras/window.nim
  - src/helpers/clipboard.nim
  - src/helpers/dialogs.nim
  - src/helpers/webviews.js
  - src/helpers/webviews.nim
  - src/helpers/windows.nim
  - src/library/Ui.nim

unit-test:
  - tests/errors/**
  - tests/unittests/**
  - tests/web/*

values:
  - src/vm/values/*
  - src/vm/values/custom/**

vm:
  - src/vm/*

workflows:
  - .github/workflows/*
