Repository arturo-lang/arturo, changes with the labels that .github/labeler.yml gives for each.
All labels: 3rd-party, ast, bundler, bytecode, ci, command line, documentation, error handling, evaluator, execution, freebsd, helpers, installer, library, → Arithmetic, → Bitwise, → Collections, → Colors, → Comparison, → Converters, → Core, → Crypto, → Databases, → Dates, → Exceptions, → Files, → Io, → Iterators, → Logic, → Net, → Numbers, → Paths, → Quantities, → Reflection, → Sets, → Sockets, → Statistics, → Strings, → System, → Types, → Ui, netbsd, openbsd, package manager, parser, repl, rosetta code, ui, unit-test, values, vm, workflows

use `setup-macports` instead + general cleanup
  .github/workflows/testinstaller.yml
Labels: workflows

restructure & add missing dependency
  .github/workflows/testinstaller.yml
Labels: workflows

minor edit
  .github/workflows/testinstaller.yml
Labels: workflows

updated curl installer hint
  docs/website/theme/index.html
Labels: documentation

cleaned up Getting Started section too
  docs/website/pages/documentation/getting started.art
Labels: documentation

removed `nowrap` from symbol (you have to do it in a different way)
  docs/website/theme/docpage.html
Labels: documentation

update `h5` subheader handling
  docs/website/theme/settings.art
Labels: documentation

add proper tips/notes (no `💡` needed)
  docs/website/pages/documentation/language.art
Labels: documentation

remove justify alignment
  docs/website/pages/documentation/library/_index.art
Labels: documentation

updated Nginx configuration
  docs/website/config/nginx.conf
Labels: documentation

make workflow manually-triggered only
  .github/workflows/update.yml
Labels: workflows

trigger rebuild
  .github/workflows/update.yml
Labels: workflows

minor edit
  tools/findrosettatosolve.art
Labels: none

fix tester script so that it successfully panics if the tests aren't where they are meant to be...
  tools/tester.art
Labels: none

minor fix
  tools/tester.art
Labels: none

fix path
  tools/tester.art
Labels: none

added new step to checkout our new /examples repo
  .github/workflows/ci.yml
Labels: workflows

minor edit
  .github/workflows/ci.yml
Labels: workflows

remove test-installer workflow
  .github/workflows/testinstaller.yml
Labels: workflows

remove website-related tools
  tools/binarygen.art
  tools/indexgen.art
  tools/preprocessjs.art
  tools/sitegen.art
Labels: none

not needed either...
  tools/genaiguide.art
Labels: none

remove update workflow altogether
  .github/workflows/update.yml
Labels: workflows

update readme copyright year
  README.md
Labels: none

also update license
  LICENSE
Labels: none

more adjustments
  .config/utils/ui.nims
  src/extras/menus.nim
  src/extras/menus/menus.cc
  src/extras/window/window.cc
Labels: 3rd-party, ui

[Strings\join] Test .with attribute
  tests/unitt/lib/strings/join.test.art
Labels: none

[Strings\join] Implement .words attribute option
  src/library/Strings.nim
Labels: library, → Strings

[Strings\join] Add example
  src/library/Strings.nim
Labels: library, → Strings

[Strings\join] Test .lines attribute
  tests/unitt/lib/strings/join.test.art
Labels: none

[Strings\join] Implement .lines attribute option
  src/library/Strings.nim
Labels: library, → Strings

[Strings\join] Add example for .lines attributes
  src/library/Strings.nim
Labels: library, → Strings

`--define:DOCGEN` for full builds
  .config/buildmode.nims
Labels: none

clone @arturo-lang/examples directly in the test task
  .github/workflows/ci.yml
Labels: workflows

test failures within the freebsd vm
  .github/workflows/ci.yml
  tools/tester.art
Labels: workflows

remove test
  .github/workflows/ci.yml
  tools/tester.art
Labels: workflows

we need this
  tools/tester.art
Labels: none

make sure errors are propagated, even when with the VM
  .github/workflows/ci.yml
  tools/tester.art
Labels: workflows

temporarily disable `lib.collections` unit-tests for FreeBSD
  tools/tester.art
Labels: none

added TODO
  tools/tester.art
Labels: none

added TODO
  tools/tester.art
Labels: none

.github/labeler.yml:

3rd-party:
  - src/extras/**

ast:
  - src/vm/ast.nim

bundler:
  - src/vm/bundle/generator.nim
  - src/vm/bundle/resources.nim

bytecode:
  - src/vm/bytecode.nim
  - src/vm/opcodes.nim

ci:
  - .github/workflows/freebsd.yml
  - .github/workflows/linux.yml
  - .github/workflows/macos.yml
  - .github/workflows/netbsd.yml
  - .github/workflows/openbsd.yml
  - .github/workflows/web.yml
  - .github/workflows/windows.yml

command line:
  - src/arturo.nim

documentation:
  - examples/projecteuler/*
  - examples/rosetta/*
  - docs/**

error handling: 
  - src/vm/errors.nim

evaluator:
  - src/vm/eval.nim
 
execution:
  - src/vm/exec.nim

freebsd:
  - .github/workflows/freebsd.yml

helpers:
  - src/helpers/*
  
installer:
  - build.nims
  - src/scripts/update.art

library:
  - src/library/**

"→ Arithmetic":
  - src/library/Arithmetic.nim
"→ Bitwise":
  - src/library/Bitwise.nim
"→ Collections":
  - src/library/Collections.nim
"→ Colors":
  - src/library/Colors.nim
"→ Comparison":
  - src/library/Comparison.nim
"→ Converters":
  - src/library/Converters.nim
"→ Core":
  - src/library/Core.nim
"→ Crypto":
  - src/library/Crypto.nim
"→ Databases":
  - src/library/Databases.nim
"→ Dates":
  - src/library/Dates.nim
"→ Exceptions":
  - src/library/Exceptions.nim
"→ Files":
  - src/library/Files.nim
"→ Io":
  - src/library/Io.nim
"→ Iterators":
  - src/library/Iterators.nim
"→ Logic":
  - src/library/Logic.nim
"→ Net":
  - src/library/Net.nim
"→ Numbers":
  - src/library/Numbers.nim
"→ Paths":
  - src/library/Paths.nim
"→ Quantities":
  - src/library/Quantities.nim
"→ Reflection":
  - src/library/Reflection.nim
"→ Sets":
  - src/library/Sets.nim
"→ Sockets":
  - src/library/Sockets.nim
"→ Statistics":
  - src/library/Statistics.nim
"→ Strings":
  - src/library/Strings.nim
"→ System":
  - src/library/System.nim
"→ Types":
  - src/library/Types.nim
"→ Ui":
  - src/library/Ui.nim

netbsd:
  - .github/workflows/netbsd.yml

openbsd:
  - .github/workflows/openbsd.yml

package manager:
  - src/vm/packager.nim

parser:
  - src/vm/parse.nim

repl:
  - src/scripts/console.art
  - src/helpers/repl.nim
  - src/extras/linenoise.nim

rosetta code:
  - examples/rosetta/*

ui:
  - src/extras/libclipboard/*
  - src/extras/menubar/*
  - src/extras/pfd/*
  - src/extras/webview/*
  - src/extras/window/*
  - src/extras/libclipboard.nim
  - src/extras/menubar.nim
  - src/extras/pfd.nim
  - src/extras/webview.nim
  - src/extras/window.nim
  - src/helpers/clipboard.nim
  - src/helpers/dialogs.nim
  - src/helpers/webviews.js
  - src/helpers/webviews.nim
  - src/helpers/windows.nim
  - src/library/Ui.nim

unit-test:
  - tests/errors/**
  - tests/unittests/**
  - tests/web/*

values:
  - src/vm/values/*
  - src/vm/values/custom/**

vm:
  - src/vm/*

workflows:
  - .github/workflows/*
