Repository arturo-lang/arturo, changes with the labels that .github/labeler.yml gives for each.
All labels: 3rd-party, ast, bundler, bytecode, ci, command line, documentation, error handling, evaluator, execution, freebsd, helpers, installer, library, → Arithmetic, → Bitwise, → Collections, → Colors, → Comparison, → Converters, → Core, → Crypto, → Databases, → Dates, → Exceptions, → Files, → Io, → Iterators, → Logic, → Net, → Numbers, → Paths, → Quantities, → Reflection, → Sets, → Sockets, → Statistics, → Strings, → System, → Types, → Ui, netbsd, openbsd, package manager, parser, repl, rosetta code, ui, unit-test, values, vm, workflows

.github/labeler.yml:

3rd-party:
  - src/extras/**

ast:
  - src/vm/ast.nim

bundler:
  - src/vm/bundle/generator.nim
  - src/vm/bundle/resources.nim

bytecode:
  - src/vm/bytecode.nim
  - src/vm/opcodes.nim

ci:
  - .github/workflows/freebsd.yml
  - .github/workflows/linux.yml
  - .github/workflows/macos.yml
  - .github/workflows/netbsd.yml
  - .github/workflows/openbsd.yml
  - .github/workflows/web.yml
  - .github/workflows/windows.yml

command line:
  - src/arturo.nim

documentation:
  - examples/projecteuler/*
  - examples/rosetta/*
  - docs/**

error handling: 
  - src/vm/errors.nim

evaluator:
  - src/vm/eval.nim
 
execution:
  - src/vm/exec.nim

freebsd:
  - .github/workflows/freebsd.yml

helpers:
  - src/helpers/*
  
installer:
  - build.nims
  - src/scripts/update.art

library:
  - src/library/**

"→ Arithmetic":
  - src/library/Arithmetic.nim
"→ Bitwise":
  - src/library/Bitwise.nim
"→ Collections":
  - src/library/Collections.nim
"→ Colors":
  - src/library/Colors.nim
"→ Comparison":
  - src/library/Comparison.nim
"→ Converters":
  - src/library/Converters.nim
"→ Core":
  - src/library/Core.nim
"→ Crypto":
  - src/library/Crypto.nim
"→ Databases":
  - src/library/Databases.nim
"→ Dates":
  - src/library/Dates.nim
"→ Exceptions":
  - src/library/Exceptions.nim
"→ Files":
  - src/library/Files.nim
"→ Io":
  - src/library/Io.nim
"→ Iterators":
  - src/library/Iterators.nim
"→ Logic":
  - src/library/Logic.nim
"→ Net":
  - src/library/Net.nim
"→ Numbers":
  - src/library/Numbers.nim
"→ Paths":
  - src/library/Paths.nim
"→ Quantities":
  - src/library/Quantities.nim
"→ Reflection":
  - src/library/Reflection.nim
"→ Sets":
  - src/library/Sets.nim
"→ Sockets":
  - src/library/Sockets.nim
"→ Statistics":
  - src/library/Statistics.nim
"→ Strings":
  - src/library/Strings.nim
"→ System":
  - src/library/System.nim
"→ Types":
  - src/library/Types.nim
"→ Ui":
  - src/library/Ui.nim

netbsd:
  - .github/workflows/netbsd.yml

openbsd:
  - .github/workflows/openbsd.yml

package manager:
  - src/vm/packager.nim

parser:
  - src/vm/parse.nim

repl:
  - src/scripts/console.art
  - src/helpers/repl.nim
  - src/extras/linenoise.nim

rosetta code:
  - examples/rosetta/*

ui:
  - src/extras/libclipboard/*
  - src/extras/menubar/*
  - src/extras/pfd/*
  - src/extras/webview/*
  - src/extras/window/*
  - src/extras/libclipboard.nim
  - src/extras/menubar.nim
  - src/extras/pfd.nim
  - src/extras/webview.nim
  - src/extras/window.nim
  - src/helpers/clipboard.nim
  - src/helpers/dialogs.nim
  - src/helpers/webviews.js
  - src/helpers/webviews.nim
  - src/helpers/windows.nim
  - src/library/Ui.nim

unit-test:
  - tests/errors/**
  - tests/unittests/**
  - tests/web/*

values:
  - src/vm/values/*
  - src/vm/values/custom/**

vm:
  - src/vm/*

workflows:
  - .github/workflows/*

[Events] parent `emit` broadcasts to live children's inbound channels
  src/library/Events.nim
Labels: library

[Events] launch async inbound tail for parent→child events on child startup
  src/library/Events.nim
Labels: library

[Events] keep built-in events local — don't ship over cross-process channel
  src/library/Events.nim
Labels: library

[Events] add `shuttingDown` flag so inbound tail exits cleanly during BeforeExit drain
  src/library/Events.nim
Labels: library

[helpers/parallelism] import `streams` for async shell output capture
  src/helpers/parallelism.nim
Labels: helpers

[helpers/parallelism] add `runShellInChildProcess` for async shell exec
  src/helpers/parallelism.nim
Labels: helpers

[helpers/parallelism] add `spawnShellAsTask` factory
  src/helpers/parallelism.nim
Labels: helpers

[System] rewrite `execute.async` to return a real `:task`
  src/library/System.nim
Labels: library, → System

[System] import `helpers/parallelism` for `spawnShellAsTask`
  src/library/System.nim
Labels: library, → System

[System] drop obsolete `execute.async` TODO — implementation is now proper
  src/library/System.nim
Labels: library, → System

[System] update `execute` attr/return docs for new `.async` shape
  src/library/System.nim
Labels: library, → System

[System] drop `ActiveProcesses` global — `execute.async` returns `:task` now
  src/library/System.nim
Labels: library, → System

[System] simplify `terminate` — drop dead `ActiveProcesses` lookup
  src/library/System.nim
Labels: library, → System

[System] update `terminate` example — prefer `cancel` for `:task` handles
  src/library/System.nim
Labels: library, → System

Revert "[Numbers] convert `processTrigonometric` template to use dispatch macro"
  src/library/Numbers.nim
Labels: library, → Numbers

[Logic] convert `and?` to use 2-axis dispatch macro
  src/library/Logic.nim
Labels: library, → Logic

[Logic] convert `nand?` to use 2-axis dispatch macro
  src/library/Logic.nim
Labels: library, → Logic

[Logic] convert `nor?` to use 2-axis dispatch macro
  src/library/Logic.nim
Labels: library, → Logic

[Logic] convert `not?` to use dispatch macro
  src/library/Logic.nim
Labels: library, → Logic

[Logic] convert `or?` to use 2-axis dispatch macro
  src/library/Logic.nim
Labels: library, → Logic

[Logic] simplify `xnor?` arg-to-bool with template helper
  src/library/Logic.nim
Labels: library, → Logic

[Logic] simplify `xor?` arg-to-bool with template helper
  src/library/Logic.nim
Labels: library, → Logic

[Strings] convert `render` to use dispatchWithLiteral with block expression
  src/library/Strings.nim
Labels: library, → Strings

[Collections] convert `array` non-attr branch to use dispatch macro
  src/library/Collections.nim
Labels: library, → Collections

[Collections] convert `dictionary` source dispatch to use dispatch macro
  src/library/Collections.nim
Labels: library, → Collections

[Strings] convert `join` to use dispatchWithLiteral with attr prelude
  src/library/Strings.nim
Labels: library, → Strings

[vm] add Bytecode to dispatch macros' kind table
  src/vm/lib.nim
Labels: vm

[Files] convert `write` Bytecode branch to use dispatch macro
  src/library/Files.nim
Labels: library, → Files

[Bitwise] convert `nand` to use dispatchWithLiteral fallback
  src/library/Bitwise.nim
Labels: library, → Bitwise

[Bitwise] convert `nor` to use dispatchWithLiteral fallback
  src/library/Bitwise.nim
Labels: library, → Bitwise

[Bitwise] convert `xnor` to use dispatchWithLiteral fallback
  src/library/Bitwise.nim
Labels: library, → Bitwise

[notes] update conversion table with G2/G3/Phase A and round 2 work
  DISPATCH_NOTES.md
Labels: none

[Dates] convert `friday?` to use dispatch macro
  src/library/Dates.nim
Labels: library, → Dates

[Dates] convert `monday?` to use dispatch macro
  src/library/Dates.nim
Labels: library, → Dates

[Dates] convert `saturday?` to use dispatch macro
  src/library/Dates.nim
Labels: library, → Dates

[Dates] convert `sunday?` to use dispatch macro
  src/library/Dates.nim
Labels: library, → Dates

[Dates] convert `thursday?` to use dispatch macro
  src/library/Dates.nim
Labels: library, → Dates

[Dates] convert `tuesday?` to use dispatch macro
  src/library/Dates.nim
Labels: library, → Dates

[Dates] convert `wednesday?` to use dispatch macro
  src/library/Dates.nim
Labels: library, → Dates

[Dates] convert `future?` to use dispatch macro
  src/library/Dates.nim
Labels: library, → Dates
