Repository arturo-lang/arturo, changes with the labels that .github/labeler.yml gives for each.
All labels: 3rd-party, ast, bundler, bytecode, ci, command line, documentation, error handling, evaluator, execution, freebsd, helpers, installer, library, → Arithmetic, → Bitwise, → Collections, → Colors, → Comparison, → Converters, → Core, → Crypto, → Databases, → Dates, → Exceptions, → Files, → Io, → Iterators, → Logic, → Net, → Numbers, → Paths, → Quantities, → Reflection, → Sets, → Sockets, → Statistics, → Strings, → System, → Types, → Ui, netbsd, openbsd, package manager, parser, repl, rosetta code, ui, unit-test, values, vm, workflows

some more tweaks
  docs/website/tools/installer.ps1
Labels: documentation

fix again
  docs/website/tools/installer.ps1
Labels: documentation

another minor tweak
  docs/website/tools/installer.ps1
Labels: documentation

update workflow
  .github/workflows/testwinstallerps.yml
Labels: workflows

added new workflow & cleanup
  .github/workflows/testinstaller.yml
Labels: workflows

cleanup
  .github/workflows/testinstaller.yml
  .github/workflows/testwinstaller.yml
  .github/workflows/testwinstallerps.yml
Labels: workflows

install prerequisites on linux
  .github/workflows/testinstaller.yml
Labels: workflows

add missing dependencies for freebsd tests + clean up task names
  .github/workflows/testinstaller.yml
Labels: workflows

clean up workflow
  .github/workflows/testinstaller.yml
Labels: workflows

trigger rebuild
  .config/buildmode.nims
Labels: none

add paths for macports
  .config/buildmode.nims
Labels: none

clean up `--passL` definitions
  src/extras/gmp.nim
Labels: 3rd-party

set `-rpath` properly
  .config/buildmode.nims
Labels: none

time to test things... :)
  .github/workflows/testmacports.yml
Labels: workflows

update version
  .github/workflows/testmacports.yml
Labels: workflows

add auto-cancel
  .github/workflows/testmacports.yml
Labels: workflows

add pr triggers back
  .github/workflows/testmacports.yml
Labels: workflows

update to macos-26
  .github/workflows/testmacports.yml
Labels: workflows

and try building
  .github/workflows/testmacports.yml
Labels: workflows

split into different directives
  .config/buildmode.nims
Labels: none

fix paths
  .github/workflows/testmacports.yml
Labels: workflows

let's try a) building with Homebrew, b) running without Homebrew
  .github/workflows/testmacports.yml
Labels: workflows

let's try embedding the @rpaths
  .config/buildmode.nims
  .github/workflows/testmacports.yml
Labels: workflows

add proper search paths for MacPorts
  .config/buildmode.nims
Labels: none

clean this up (we now have the `passL` in the main build config)
  src/extras/gmp.nim
Labels: 3rd-party

add post-processing step in build script, to fix macOS library paths
  build.nims
Labels: installer

add (temporary) workflow to make sure everything keeps working
  .github/workflows/testmacports.yml
Labels: workflows

clean up build script
  build.nims
Labels: installer

trigger rebuild
  build.nims
Labels: installer

Update build to 3418
  version/build
Labels: none

update nightly version
  .github/workflows/update.yml
Labels: workflows

trigger rebuild
  .github/workflows/update.yml
Labels: workflows

add proper logic for macports too
  docs/website/tools/installer.sh
Labels: documentation

also update tests
  .github/workflows/testinstaller.yml
Labels: workflows

better MacPorts support
  docs/website/tools/installer.sh
Labels: documentation

cleanup
  docs/website/tools/installer.sh
Labels: documentation

test again
  .github/workflows/testinstaller.yml
Labels: workflows

minor fix
  .github/workflows/testinstaller.yml
Labels: workflows

clean up again... pfff
  docs/website/tools/installer.sh
Labels: documentation

minor cleanup
  .github/workflows/testinstaller.yml
Labels: workflows

.github/labeler.yml:

3rd-party:
  - src/extras/**

ast:
  - src/vm/ast.nim

bundler:
  - src/vm/bundle/generator.nim
  - src/vm/bundle/resources.nim

bytecode:
  - src/vm/bytecode.nim
  - src/vm/opcodes.nim

ci:
  - .github/workflows/freebsd.yml
  - .github/workflows/linux.yml
  - .github/workflows/macos.yml
  - .github/workflows/netbsd.yml
  - .github/workflows/openbsd.yml
  - .github/workflows/web.yml
  - .github/workflows/windows.yml

command line:
  - src/arturo.nim

documentation:
  - examples/projecteuler/*
  - examples/rosetta/*
  - docs/**

error handling: 
  - src/vm/errors.nim

evaluator:
  - src/vm/eval.nim
 
execution:
  - src/vm/exec.nim

freebsd:
  - .github/workflows/freebsd.yml

helpers:
  - src/helpers/*
  
installer:
  - build.nims
  - src/scripts/update.art

library:
  - src/library/**

"→ Arithmetic":
  - src/library/Arithmetic.nim
"→ Bitwise":
  - src/library/Bitwise.nim
"→ Collections":
  - src/library/Collections.nim
"→ Colors":
  - src/library/Colors.nim
"→ Comparison":
  - src/library/Comparison.nim
"→ Converters":
  - src/library/Converters.nim
"→ Core":
  - src/library/Core.nim
"→ Crypto":
  - src/library/Crypto.nim
"→ Databases":
  - src/library/Databases.nim
"→ Dates":
  - src/library/Dates.nim
"→ Exceptions":
  - src/library/Exceptions.nim
"→ Files":
  - src/library/Files.nim
"→ Io":
  - src/library/Io.nim
"→ Iterators":
  - src/library/Iterators.nim
"→ Logic":
  - src/library/Logic.nim
"→ Net":
  - src/library/Net.nim
"→ Numbers":
  - src/library/Numbers.nim
"→ Paths":
  - src/library/Paths.nim
"→ Quantities":
  - src/library/Quantities.nim
"→ Reflection":
  - src/library/Reflection.nim
"→ Sets":
  - src/library/Sets.nim
"→ Sockets":
  - src/library/Sockets.nim
"→ Statistics":
  - src/library/Statistics.nim
"→ Strings":
  - src/library/Strings.nim
"→ System":
  - src/library/System.nim
"→ Types":
  - src/library/Types.nim
"→ Ui":
  - src/library/Ui.nim

netbsd:
  - .github/workflows/netbsd.yml

openbsd:
  - .github/workflows/openbsd.yml

package manager:
  - src/vm/packager.nim

parser:
  - src/vm/parse.nim

repl:
  - src/scripts/console.art
  - src/helpers/repl.nim
  - src/extras/linenoise.nim

rosetta code:
  - examples/rosetta/*

ui:
  - src/extras/libclipboard/*
  - src/extras/menubar/*
  - src/extras/pfd/*
  - src/extras/webview/*
  - src/extras/window/*
  - src/extras/libclipboard.nim
  - src/extras/menubar.nim
  - src/extras/pfd.nim
  - src/extras/webview.nim
  - src/extras/window.nim
  - src/helpers/clipboard.nim
  - src/helpers/dialogs.nim
  - src/helpers/webviews.js
  - src/helpers/webviews.nim
  - src/helpers/windows.nim
  - src/library/Ui.nim

unit-test:
  - tests/errors/**
  - tests/unittests/**
  - tests/web/*

values:
  - src/vm/values/*
  - src/vm/values/custom/**

vm:
  - src/vm/*

workflows:
  - .github/workflows/*
