Repository arturo-lang/arturo, changes with the labels that .github/labeler.yml gives for each.
All labels: 3rd-party, ast, bundler, bytecode, ci, command line, documentation, error handling, evaluator, execution, freebsd, helpers, installer, library, → Arithmetic, → Bitwise, → Collections, → Colors, → Comparison, → Converters, → Core, → Crypto, → Databases, → Dates, → Exceptions, → Files, → Io, → Iterators, → Logic, → Net, → Numbers, → Paths, → Quantities, → Reflection, → Sets, → Sockets, → Statistics, → Strings, → System, → Types, → Ui, netbsd, openbsd, package manager, parser, repl, rosetta code, ui, unit-test, values, vm, workflows

amplify description of `extract` (horrible what can we do about it...)
  src/library/Paths.nim
Labels: library, → Paths

better use `subject` instead of `title` for e-mails
  src/library/Net.nim
Labels: library, → Net

better use `subject` instead of `title` for e-mails
  src/library/Net.nim
Labels: library, → Net

fixed descriptions for `contains?` and `in?`
  src/library/Collections.nim
Labels: library, → Collections

fixed descriptions for `contains?` and `in?`
  src/library/Collections.nim
Labels: library, → Collections

fixed description
  src/library/Strings.nim
Labels: library, → Strings

fixed description
  src/library/Strings.nim
Labels: library, → Strings

clarify `match`
  src/library/Strings.nim
Labels: library, → Strings

clarify `match`
  src/library/Strings.nim
Labels: library, → Strings

better wording
  src/library/Collections.nim
Labels: library, → Collections

better wording
  src/library/Collections.nim
Labels: library, → Collections

better wording
  src/library/Collections.nim
Labels: library, → Collections

better wording
  src/library/Collections.nim
Labels: library, → Collections

better wording
  src/library/Collections.nim
Labels: library, → Collections

better wording
  src/library/Collections.nim
Labels: library, → Collections

make description a bit less... ambiguous(?)
  src/library/Collections.nim
Labels: library, → Collections

make description a bit less... ambiguous(?)
  src/library/Collections.nim
Labels: library, → Collections

better wording (hopefully lol)
  src/library/Collections.nim
Labels: library, → Collections

better wording (hopefully lol)
  src/library/Collections.nim
Labels: library, → Collections

more accurate description for `flatten`
  src/library/Collections.nim
Labels: library, → Collections

more accurate description for `flatten`
  src/library/Collections.nim
Labels: library, → Collections

minor fix
  src/library/Iterators.nim
Labels: library, → Iterators

minor fix
  src/library/Iterators.nim
Labels: library, → Iterators

better description for `inspect`
  src/library/Reflection.nim
Labels: library, → Reflection

better description for `inspect`
  src/library/Reflection.nim
Labels: library, → Reflection

fixed orthography
  src/library/Numbers.nim
Labels: library, → Numbers

fixed orthography
  src/library/Numbers.nim
Labels: library, → Numbers

"offset" is more accurate
  src/library/Collections.nim
Labels: library, → Collections

"offset" is more accurate
  src/library/Collections.nim
Labels: library, → Collections

fixed `shuffle`
  src/library/Collections.nim
Labels: library, → Collections

fixed `shuffle`
  src/library/Collections.nim
Labels: library, → Collections

fixed `slice`
  src/library/Collections.nim
Labels: library, → Collections

fixed `slice`
  src/library/Collections.nim
Labels: library, → Collections

let's make this a bit more generic
  src/library/Collections.nim
Labels: library, → Collections

let's make this a bit more generic
  src/library/Collections.nim
Labels: library, → Collections

disambiguate description for `split`
  src/library/Collections.nim
Labels: library, → Collections

disambiguate description for `split`
  src/library/Collections.nim
Labels: library, → Collections

trigger rebuild
  src/library/Collections.nim
Labels: library, → Collections

trigger rebuild
  src/library/Collections.nim
Labels: library, → Collections

Update build to 3416
  version/build
Labels: none

.github/labeler.yml:

3rd-party:
  - src/extras/**

ast:
  - src/vm/ast.nim

bundler:
  - src/vm/bundle/generator.nim
  - src/vm/bundle/resources.nim

bytecode:
  - src/vm/bytecode.nim
  - src/vm/opcodes.nim

ci:
  - .github/workflows/freebsd.yml
  - .github/workflows/linux.yml
  - .github/workflows/macos.yml
  - .github/workflows/netbsd.yml
  - .github/workflows/openbsd.yml
  - .github/workflows/web.yml
  - .github/workflows/windows.yml

command line:
  - src/arturo.nim

documentation:
  - examples/projecteuler/*
  - examples/rosetta/*
  - docs/**

error handling: 
  - src/vm/errors.nim

evaluator:
  - src/vm/eval.nim
 
execution:
  - src/vm/exec.nim

freebsd:
  - .github/workflows/freebsd.yml

helpers:
  - src/helpers/*
  
installer:
  - build.nims
  - src/scripts/update.art

library:
  - src/library/**

"→ Arithmetic":
  - src/library/Arithmetic.nim
"→ Bitwise":
  - src/library/Bitwise.nim
"→ Collections":
  - src/library/Collections.nim
"→ Colors":
  - src/library/Colors.nim
"→ Comparison":
  - src/library/Comparison.nim
"→ Converters":
  - src/library/Converters.nim
"→ Core":
  - src/library/Core.nim
"→ Crypto":
  - src/library/Crypto.nim
"→ Databases":
  - src/library/Databases.nim
"→ Dates":
  - src/library/Dates.nim
"→ Exceptions":
  - src/library/Exceptions.nim
"→ Files":
  - src/library/Files.nim
"→ Io":
  - src/library/Io.nim
"→ Iterators":
  - src/library/Iterators.nim
"→ Logic":
  - src/library/Logic.nim
"→ Net":
  - src/library/Net.nim
"→ Numbers":
  - src/library/Numbers.nim
"→ Paths":
  - src/library/Paths.nim
"→ Quantities":
  - src/library/Quantities.nim
"→ Reflection":
  - src/library/Reflection.nim
"→ Sets":
  - src/library/Sets.nim
"→ Sockets":
  - src/library/Sockets.nim
"→ Statistics":
  - src/library/Statistics.nim
"→ Strings":
  - src/library/Strings.nim
"→ System":
  - src/library/System.nim
"→ Types":
  - src/library/Types.nim
"→ Ui":
  - src/library/Ui.nim

netbsd:
  - .github/workflows/netbsd.yml

openbsd:
  - .github/workflows/openbsd.yml

package manager:
  - src/vm/packager.nim

parser:
  - src/vm/parse.nim

repl:
  - src/scripts/console.art
  - src/helpers/repl.nim
  - src/extras/linenoise.nim

rosetta code:
  - examples/rosetta/*

ui:
  - src/extras/libclipboard/*
  - src/extras/menubar/*
  - src/extras/pfd/*
  - src/extras/webview/*
  - src/extras/window/*
  - src/extras/libclipboard.nim
  - src/extras/menubar.nim
  - src/extras/pfd.nim
  - src/extras/webview.nim
  - src/extras/window.nim
  - src/helpers/clipboard.nim
  - src/helpers/dialogs.nim
  - src/helpers/webviews.js
  - src/helpers/webviews.nim
  - src/helpers/windows.nim
  - src/library/Ui.nim

unit-test:
  - tests/errors/**
  - tests/unittests/**
  - tests/web/*

values:
  - src/vm/values/*
  - src/vm/values/custom/**

vm:
  - src/vm/*

workflows:
  - .github/workflows/*
