Repository arturo-lang/arturo, changes with the labels that .github/labeler.yml gives for each.
All labels: 3rd-party, ast, bundler, bytecode, ci, command line, documentation, error handling, evaluator, execution, freebsd, helpers, installer, library, → Arithmetic, → Bitwise, → Collections, → Colors, → Comparison, → Converters, → Core, → Crypto, → Databases, → Dates, → Exceptions, → Files, → Io, → Iterators, → Logic, → Net, → Numbers, → Paths, → Quantities, → Reflection, → Sets, → Sockets, → Statistics, → Strings, → System, → Types, → Ui, netbsd, openbsd, package manager, parser, repl, rosetta code, ui, unit-test, values, vm, workflows

.github/labeler.yml:

3rd-party:
  - src/extras/**

ast:
  - src/vm/ast.nim

bundler:
  - src/vm/bundle/generator.nim
  - src/vm/bundle/resources.nim

bytecode:
  - src/vm/bytecode.nim
  - src/vm/opcodes.nim

ci:
  - .github/workflows/freebsd.yml
  - .github/workflows/linux.yml
  - .github/workflows/macos.yml
  - .github/workflows/netbsd.yml
  - .github/workflows/openbsd.yml
  - .github/workflows/web.yml
  - .github/workflows/windows.yml

command line:
  - src/arturo.nim

documentation:
  - examples/projecteuler/*
  - examples/rosetta/*
  - docs/**

error handling: 
  - src/vm/errors.nim

evaluator:
  - src/vm/eval.nim
 
execution:
  - src/vm/exec.nim

freebsd:
  - .github/workflows/freebsd.yml

helpers:
  - src/helpers/*
  
installer:
  - build.nims
  - src/scripts/update.art

library:
  - src/library/**

"→ Arithmetic":
  - src/library/Arithmetic.nim
"→ Bitwise":
  - src/library/Bitwise.nim
"→ Collections":
  - src/library/Collections.nim
"→ Colors":
  - src/library/Colors.nim
"→ Comparison":
  - src/library/Comparison.nim
"→ Converters":
  - src/library/Converters.nim
"→ Core":
  - src/library/Core.nim
"→ Crypto":
  - src/library/Crypto.nim
"→ Databases":
  - src/library/Databases.nim
"→ Dates":
  - src/library/Dates.nim
"→ Exceptions":
  - src/library/Exceptions.nim
"→ Files":
  - src/library/Files.nim
"→ Io":
  - src/library/Io.nim
"→ Iterators":
  - src/library/Iterators.nim
"→ Logic":
  - src/library/Logic.nim
"→ Net":
  - src/library/Net.nim
"→ Numbers":
  - src/library/Numbers.nim
"→ Paths":
  - src/library/Paths.nim
"→ Quantities":
  - src/library/Quantities.nim
"→ Reflection":
  - src/library/Reflection.nim
"→ Sets":
  - src/library/Sets.nim
"→ Sockets":
  - src/library/Sockets.nim
"→ Statistics":
  - src/library/Statistics.nim
"→ Strings":
  - src/library/Strings.nim
"→ System":
  - src/library/System.nim
"→ Types":
  - src/library/Types.nim
"→ Ui":
  - src/library/Ui.nim

netbsd:
  - .github/workflows/netbsd.yml

openbsd:
  - .github/workflows/openbsd.yml

package manager:
  - src/vm/packager.nim

parser:
  - src/vm/parse.nim

repl:
  - src/scripts/console.art
  - src/helpers/repl.nim
  - src/extras/linenoise.nim

rosetta code:
  - examples/rosetta/*

ui:
  - src/extras/libclipboard/*
  - src/extras/menubar/*
  - src/extras/pfd/*
  - src/extras/webview/*
  - src/extras/window/*
  - src/extras/libclipboard.nim
  - src/extras/menubar.nim
  - src/extras/pfd.nim
  - src/extras/webview.nim
  - src/extras/window.nim
  - src/helpers/clipboard.nim
  - src/helpers/dialogs.nim
  - src/helpers/webviews.js
  - src/helpers/webviews.nim
  - src/helpers/windows.nim
  - src/library/Ui.nim

unit-test:
  - tests/errors/**
  - tests/unittests/**
  - tests/web/*

values:
  - src/vm/values/*
  - src/vm/values/custom/**

vm:
  - src/vm/*

workflows:
  - .github/workflows/*

[Sockets] convert `listen` to use dispatch macro
  src/library/Sockets.nim
Labels: library, → Sockets

[Sockets] convert `receive` to use dispatch macro
  src/library/Sockets.nim
Labels: library, → Sockets

[Sockets] convert `send` to use dispatch macro
  src/library/Sockets.nim
Labels: library, → Sockets

[Sockets] convert `unplug` to use dispatch macro
  src/library/Sockets.nim
Labels: library, → Sockets

[Sockets] convert `send?` to use dispatch macro
  src/library/Sockets.nim
Labels: library, → Sockets

[Net] convert `browse` to use dispatch macro
  src/library/Net.nim
Labels: library, → Net

[Net] convert `download` to use dispatch macro
  src/library/Net.nim
Labels: library, → Net

[Net] convert `mail` to use dispatch macro
  src/library/Net.nim
Labels: library, → Net

[Net] convert `request` to use dispatch macro
  src/library/Net.nim
Labels: library, → Net

[Net] convert `serve` to use dispatch macro
  src/library/Net.nim
Labels: library, → Net

[Databases] convert `close` to use dispatch macro
  src/library/Databases.nim
Labels: library, → Databases

[Databases] convert `open` to use dispatch macro
  src/library/Databases.nim
Labels: library, → Databases

[Databases] convert `query` to use dispatch macro
  src/library/Databases.nim
Labels: library, → Databases

[Databases] convert `store` to use dispatch macro
  src/library/Databases.nim
Labels: library, → Databases

[Reflection] convert `attr` to use dispatch macro
  src/library/Reflection.nim
Labels: library, → Reflection

[Reflection] convert `benchmark` to use dispatch macro
  src/library/Reflection.nim
Labels: library, → Reflection

[Reflection] convert `attr?` to use dispatch macro
  src/library/Reflection.nim
Labels: library, → Reflection

[Exceptions] convert `throw` to use dispatch macro
  src/library/Exceptions.nim
Labels: library, → Exceptions

[Exceptions] convert `throws?` to use dispatch macro
  src/library/Exceptions.nim
Labels: library, → Exceptions

[Exceptions] convert `try` to use dispatch macro
  src/library/Exceptions.nim
Labels: library, → Exceptions

[Types] convert `is` to use dispatch macro
  src/library/Types.nim
Labels: library, → Types

[Types] convert `is?` to use dispatch macro
  src/library/Types.nim
Labels: library, → Types

[Types] convert `define` to use dispatch macro
  src/library/Types.nim
Labels: library, → Types

[Ui] convert `eval` to use dispatch macro
  src/library/Ui.nim
Labels: library, → Ui, ui

[Quantities] convert `convert` to use dispatch macro
  src/library/Quantities.nim
Labels: library, → Quantities

[Quantities] convert `in` to use dispatch macro
  src/library/Quantities.nim
Labels: library, → Quantities

[Quantities] convert `specify` to use dispatch macro
  src/library/Quantities.nim
Labels: library, → Quantities

[Collections] convert `range` to use dispatch macro
  src/library/Collections.nim
Labels: library, → Collections

[notes] mark dispatch-conversion sweep done in audit
  DISPATCH_NOTES.md
Labels: none

[Bitwise] use `bindAttrs` for `safe` flag in `shl`
  src/library/Bitwise.nim
Labels: library, → Bitwise

[Collections] use `bindAttrs` for `times` in `chop`
  src/library/Collections.nim
Labels: library, → Collections

[Collections] use `bindAttrs` for `times` in `drop`
  src/library/Collections.nim
Labels: library, → Collections

[Collections] use `bindAttrs` for `step` in `range`
  src/library/Collections.nim
Labels: library, → Collections

[Collections] use `bindAttrs` for `id` in `unique`
  src/library/Collections.nim
Labels: library, → Collections

[Collections] use `bindAttrs` for `raw`/`lower` in `dictionary`
  src/library/Collections.nim
Labels: library, → Collections

[Files] use `bindAttrs` for `directory` in `copy`
  src/library/Files.nim
Labels: library, → Files

[Files] use `bindAttrs` for `directory` in `delete`
  src/library/Files.nim
Labels: library, → Files

[Files] use `bindAttrs` for `directory` in `move`
  src/library/Files.nim
Labels: library, → Files

[Files] use `bindAttrs` for `directory` in `rename`
  src/library/Files.nim
Labels: library, → Files

[Files] use `bindAttrs` for `hard` in `symlink`
  src/library/Files.nim
Labels: library, → Files
