Repository arturo-lang/arturo, changes with the labels that .github/labeler.yml gives for each.
All labels: 3rd-party, ast, bundler, bytecode, ci, command line, documentation, error handling, evaluator, execution, freebsd, helpers, installer, library, → Arithmetic, → Bitwise, → Collections, → Colors, → Comparison, → Converters, → Core, → Crypto, → Databases, → Dates, → Exceptions, → Files, → Io, → Iterators, → Logic, → Net, → Numbers, → Paths, → Quantities, → Reflection, → Sets, → Sockets, → Statistics, → Strings, → System, → Types, → Ui, netbsd, openbsd, package manager, parser, repl, rosetta code, ui, unit-test, values, vm, workflows

.github/labeler.yml:

3rd-party:
  - src/extras/**

ast:
  - src/vm/ast.nim

bundler:
  - src/vm/bundle/generator.nim
  - src/vm/bundle/resources.nim

bytecode:
  - src/vm/bytecode.nim
  - src/vm/opcodes.nim

ci:
  - .github/workflows/freebsd.yml
  - .github/workflows/linux.yml
  - .github/workflows/macos.yml
  - .github/workflows/netbsd.yml
  - .github/workflows/openbsd.yml
  - .github/workflows/web.yml
  - .github/workflows/windows.yml

command line:
  - src/arturo.nim

documentation:
  - examples/projecteuler/*
  - examples/rosetta/*
  - docs/**

error handling: 
  - src/vm/errors.nim

evaluator:
  - src/vm/eval.nim
 
execution:
  - src/vm/exec.nim

freebsd:
  - .github/workflows/freebsd.yml

helpers:
  - src/helpers/*
  
installer:
  - build.nims
  - src/scripts/update.art

library:
  - src/library/**

"→ Arithmetic":
  - src/library/Arithmetic.nim
"→ Bitwise":
  - src/library/Bitwise.nim
"→ Collections":
  - src/library/Collections.nim
"→ Colors":
  - src/library/Colors.nim
"→ Comparison":
  - src/library/Comparison.nim
"→ Converters":
  - src/library/Converters.nim
"→ Core":
  - src/library/Core.nim
"→ Crypto":
  - src/library/Crypto.nim
"→ Databases":
  - src/library/Databases.nim
"→ Dates":
  - src/library/Dates.nim
"→ Exceptions":
  - src/library/Exceptions.nim
"→ Files":
  - src/library/Files.nim
"→ Io":
  - src/library/Io.nim
"→ Iterators":
  - src/library/Iterators.nim
"→ Logic":
  - src/library/Logic.nim
"→ Net":
  - src/library/Net.nim
"→ Numbers":
  - src/library/Numbers.nim
"→ Paths":
  - src/library/Paths.nim
"→ Quantities":
  - src/library/Quantities.nim
"→ Reflection":
  - src/library/Reflection.nim
"→ Sets":
  - src/library/Sets.nim
"→ Sockets":
  - src/library/Sockets.nim
"→ Statistics":
  - src/library/Statistics.nim
"→ Strings":
  - src/library/Strings.nim
"→ System":
  - src/library/System.nim
"→ Types":
  - src/library/Types.nim
"→ Ui":
  - src/library/Ui.nim

netbsd:
  - .github/workflows/netbsd.yml

openbsd:
  - .github/workflows/openbsd.yml

package manager:
  - src/vm/packager.nim

parser:
  - src/vm/parse.nim

repl:
  - src/scripts/console.art
  - src/helpers/repl.nim
  - src/extras/linenoise.nim

rosetta code:
  - examples/rosetta/*

ui:
  - src/extras/libclipboard/*
  - src/extras/menubar/*
  - src/extras/pfd/*
  - src/extras/webview/*
  - src/extras/window/*
  - src/extras/libclipboard.nim
  - src/extras/menubar.nim
  - src/extras/pfd.nim
  - src/extras/webview.nim
  - src/extras/window.nim
  - src/helpers/clipboard.nim
  - src/helpers/dialogs.nim
  - src/helpers/webviews.js
  - src/helpers/webviews.nim
  - src/helpers/windows.nim
  - src/library/Ui.nim

unit-test:
  - tests/errors/**
  - tests/unittests/**
  - tests/web/*

values:
  - src/vm/values/*
  - src/vm/values/custom/**

vm:
  - src/vm/*

workflows:
  - .github/workflows/*

[helpers/fiber] Nim wrapper around minicoro — `createFiber`/`resume`/`suspend`/`destroyFiber`
  src/extras/minicoro/minicoro.c
  src/helpers/fiber.nim
Labels: 3rd-party, helpers

[helpers/fiber] document why no `GC_addStack` is needed under ORC
  src/helpers/fiber.nim
Labels: helpers

[helpers/parallelism] move fiber wrapper here, FFI to `extras/minicoro.nim`
  src/extras/minicoro.nim
  src/helpers/fiber.nim
  src/helpers/parallelism.nim
Labels: 3rd-party, helpers

[vm/context] add `VMContext` — per-fiber slice of VM globals
  src/vm/context.nim
Labels: vm

[vm/context] add `swapOutTo` / `swapInFrom` — move VM globals in/out of `VMContext`
  src/vm/context.nim
Labels: vm

[vm/context] add `newVMContext` — shallow-copy parent `Syms`, fresh stack/attrs/scope
  src/vm/context.nim
Labels: vm

[vm/context] reset `SP` in `swapOutTo` so post-swap state is self-consistent
  src/vm/context.nim
Labels: vm

[helpers/parallelism] add scheduler skeleton — `Scheduler` type, `initScheduler`, `onMainFiber`
  src/helpers/parallelism.nim
Labels: helpers

[helpers/parallelism] add `spawnFiber` — create fiber + ctx, queue on ready list
  src/helpers/parallelism.nim
Labels: helpers

[helpers/parallelism] add `cooperativeAwait` — suspend fiber until `Future` fires
  src/helpers/parallelism.nim
Labels: helpers

[helpers/parallelism] add scheduler driver — `runOneStep`, `runScheduledFibers`, `runUntilFutureDone`
  src/helpers/parallelism.nim
Labels: helpers

update
  src/helpers/parallelism.nim
Labels: helpers

[Quantities] convert `units` to use dispatch macro with on-base
  src/library/Quantities.nim
Labels: library, → Quantities

[Collections] convert `take` to use dispatchWithLiteral with per-mode Range body
  src/library/Collections.nim
Labels: library, → Collections

[Numbers] convert `factors` to use dispatch macro with on-prime
  src/library/Numbers.nim
Labels: library, → Numbers

[Numbers] convert `factorial` to use dispatch macro
  src/library/Numbers.nim
Labels: library, → Numbers

[Numbers] convert `prime?` to use dispatch macro
  src/library/Numbers.nim
Labels: library, → Numbers

[Numbers] convert `gcd` to use dispatch macro
  src/library/Numbers.nim
Labels: library, → Numbers

[Numbers] convert `lcm` to use dispatch macro
  src/library/Numbers.nim
Labels: library, → Numbers

[Quantities] convert `scalar` to use dispatch macro
  src/library/Quantities.nim
Labels: library, → Quantities

[Logic] convert `all?` to use dispatch macro
  src/library/Logic.nim
Labels: library, → Logic

[Logic] convert `any?` to use dispatch macro
  src/library/Logic.nim
Labels: library, → Logic

[notes] update conversion table with units/take/factorial/etc
  DISPATCH_NOTES.md
Labels: none

[Types] convert `binary?` to use dispatch macro
  src/library/Types.nim
Labels: library, → Types

[Types] convert `block?` to use dispatch macro
  src/library/Types.nim
Labels: library, → Types

[Types] convert `bytecode?` to use dispatch macro
  src/library/Types.nim
Labels: library, → Types

[Types] convert `char?` to use dispatch macro
  src/library/Types.nim
Labels: library, → Types

[Types] convert `color?` to use dispatch macro
  src/library/Types.nim
Labels: library, → Types

[Types] convert `complex?` to use dispatch macro
  src/library/Types.nim
Labels: library, → Types

[Types] convert `date?` to use dispatch macro
  src/library/Types.nim
Labels: library, → Types

[Types] convert `dictionary?` to use dispatch macro
  src/library/Types.nim
Labels: library, → Types

[Types] convert `floating?` to use dispatch macro
  src/library/Types.nim
Labels: library, → Types

[Types] convert `logical?` to use dispatch macro
  src/library/Types.nim
Labels: library, → Types

[Types] convert `object?` to use dispatch macro
  src/library/Types.nim
Labels: library, → Types

[Types] convert `range?` to use dispatch macro
  src/library/Types.nim
Labels: library, → Types

[Types] convert `regex?` to use dispatch macro
  src/library/Types.nim
Labels: library, → Types

[Types] convert `string?` to use dispatch macro
  src/library/Types.nim
Labels: library, → Types

[Types] convert `symbolLiteral?` to use dispatch macro
  src/library/Types.nim
Labels: library, → Types

[Types] convert `unit?` to use dispatch macro
  src/library/Types.nim
Labels: library, → Types

[Types] convert `integer?` to use dispatch macro
  src/library/Types.nim
Labels: library, → Types
