Repository arturo-lang/arturo, changes with the labels that .github/labeler.yml gives for each.
All labels: 3rd-party, ast, bundler, bytecode, ci, command line, documentation, error handling, evaluator, execution, freebsd, helpers, installer, library, → Arithmetic, → Bitwise, → Collections, → Colors, → Comparison, → Converters, → Core, → Crypto, → Databases, → Dates, → Exceptions, → Files, → Io, → Iterators, → Logic, → Net, → Numbers, → Paths, → Quantities, → Reflection, → Sets, → Sockets, → Statistics, → Strings, → System, → Types, → Ui, netbsd, openbsd, package manager, parser, repl, rosetta code, ui, unit-test, values, vm, workflows

[Logic] convert `true?` to use dispatch macro
  src/library/Logic.nim
Labels: library, → Logic

[Numbers] convert `angle` to use dispatch macro
  src/library/Numbers.nim
Labels: library, → Numbers

[Numbers] convert `positive?` to use dispatch macro
  src/library/Numbers.nim
Labels: library, → Numbers

[Numbers] convert `reciprocal` to use dispatch macro
  src/library/Numbers.nim
Labels: library, → Numbers

[Statistics] convert `skewness` to use dispatch with on-attr
  src/library/Statistics.nim
Labels: library, → Statistics

[Numbers] convert `ln` to use dispatch macro
  src/library/Numbers.nim
Labels: library, → Numbers

added more functions
  src/library/Numbers.nim
Labels: library, → Numbers

[Numbers] convert `negative?` to use dispatch macro
  src/library/Numbers.nim
Labels: library, → Numbers

[Statistics] convert `variance` to use dispatch with on-attr
  src/library/Statistics.nim
Labels: library, → Statistics

update notes
  DISPATCH_NOTES.md
Labels: none

[Statistics] convert `median` to use dispatch macro
  src/library/Statistics.nim
Labels: library, → Statistics

[Numbers] convert `sign` to use dispatch macro
  src/library/Numbers.nim
Labels: library, → Numbers

[Logic] convert `false?` to use dispatch macro
  src/library/Logic.nim
Labels: library, → Logic

[Collections] convert `couple` to use dispatch macro
  src/library/Collections.nim
Labels: library, → Collections

[Numbers] convert `numerator` to use dispatch macro
  src/library/Numbers.nim
Labels: library, → Numbers

[Numbers] convert `infinite?` to use dispatch macro
  src/library/Numbers.nim
Labels: library, → Numbers

[Statistics] convert `kurtosis` to use dispatch with on-attr
  src/library/Statistics.nim
Labels: library, → Statistics

[Numbers] convert `conj` to use dispatch macro
  src/library/Numbers.nim
Labels: library, → Numbers

[Statistics] convert `average` to use dispatch macro
  src/library/Statistics.nim
Labels: library, → Statistics

[Numbers] convert `abs` to use dispatch macro
  src/library/Numbers.nim
Labels: library, → Numbers

[Crypto] convert `decode` to use dispatchWithLiteral with on-attr
  src/library/Crypto.nim
Labels: library, → Crypto

[Numbers] convert `exp` to use dispatch macro
  src/library/Numbers.nim
Labels: library, → Numbers

[Statistics] convert `deviation` to use dispatch with on-attr
  src/library/Statistics.nim
Labels: library, → Statistics

[Crypto] convert `crc` to use dispatchWithLiteral
  src/library/Crypto.nim
Labels: library, → Crypto

[Sets] convert `superset?` to use bindAttrs and dispatch
  src/library/Sets.nim
Labels: library, → Sets

[Numbers] convert `sqrt` to use dispatch macro
  src/library/Numbers.nim
Labels: library, → Numbers

[Net] switch `serve.async` to in-process async via `asynchttpserver`
  src/library/Net.nim
Labels: library, → Net

[Tasks] add `wait.all` for fan-in over a block of tasks
  src/library/Tasks.nim
Labels: library

[Tasks] add `wait.first` (keeps losers running)
  src/library/Tasks.nim
Labels: library

[Tasks] add `.cancel` modifier to `wait.first` (kill the leftovers)
  src/library/Tasks.nim
Labels: library

[Tasks] surface in-process future failures from `wait` as `:error`
  src/library/Tasks.nim
Labels: library

[Tasks] distinguish cancellation from failure in `wait` except handler
  src/library/Tasks.nim
Labels: library

[helpers/parallelism] let `requestAsync` failures escape (was swallowed to null)
  src/helpers/parallelism.nim
Labels: helpers

[helpers/parallelism] let `downloadFileAsync` failures escape
  src/helpers/parallelism.nim
Labels: helpers

[helpers/parallelism] let `readFileAsyncStr` failures escape
  src/helpers/parallelism.nim
Labels: helpers

[helpers/parallelism] let `writeFileAsync` failures escape
  src/helpers/parallelism.nim
Labels: helpers

[helpers/parallelism] let `spawnAsyncServe` failures escape (e.g. bind errors)
  src/helpers/parallelism.nim
Labels: helpers

[helpers/parallelism] drop inner `try` wrapper so child crashes propagate
  src/helpers/parallelism.nim
Labels: helpers

[Tasks] `wait.all` surfaces per-task failures as `:error` slots
  src/library/Tasks.nim
Labels: library

[Tasks] `wait.first` surfaces winner failure as `:error` (was: hung)
  src/library/Tasks.nim
Labels: library

.github/labeler.yml:

3rd-party:
  - src/extras/**

ast:
  - src/vm/ast.nim

bundler:
  - src/vm/bundle/generator.nim
  - src/vm/bundle/resources.nim

bytecode:
  - src/vm/bytecode.nim
  - src/vm/opcodes.nim

ci:
  - .github/workflows/freebsd.yml
  - .github/workflows/linux.yml
  - .github/workflows/macos.yml
  - .github/workflows/netbsd.yml
  - .github/workflows/openbsd.yml
  - .github/workflows/web.yml
  - .github/workflows/windows.yml

command line:
  - src/arturo.nim

documentation:
  - examples/projecteuler/*
  - examples/rosetta/*
  - docs/**

error handling: 
  - src/vm/errors.nim

evaluator:
  - src/vm/eval.nim
 
execution:
  - src/vm/exec.nim

freebsd:
  - .github/workflows/freebsd.yml

helpers:
  - src/helpers/*
  
installer:
  - build.nims
  - src/scripts/update.art

library:
  - src/library/**

"→ Arithmetic":
  - src/library/Arithmetic.nim
"→ Bitwise":
  - src/library/Bitwise.nim
"→ Collections":
  - src/library/Collections.nim
"→ Colors":
  - src/library/Colors.nim
"→ Comparison":
  - src/library/Comparison.nim
"→ Converters":
  - src/library/Converters.nim
"→ Core":
  - src/library/Core.nim
"→ Crypto":
  - src/library/Crypto.nim
"→ Databases":
  - src/library/Databases.nim
"→ Dates":
  - src/library/Dates.nim
"→ Exceptions":
  - src/library/Exceptions.nim
"→ Files":
  - src/library/Files.nim
"→ Io":
  - src/library/Io.nim
"→ Iterators":
  - src/library/Iterators.nim
"→ Logic":
  - src/library/Logic.nim
"→ Net":
  - src/library/Net.nim
"→ Numbers":
  - src/library/Numbers.nim
"→ Paths":
  - src/library/Paths.nim
"→ Quantities":
  - src/library/Quantities.nim
"→ Reflection":
  - src/library/Reflection.nim
"→ Sets":
  - src/library/Sets.nim
"→ Sockets":
  - src/library/Sockets.nim
"→ Statistics":
  - src/library/Statistics.nim
"→ Strings":
  - src/library/Strings.nim
"→ System":
  - src/library/System.nim
"→ Types":
  - src/library/Types.nim
"→ Ui":
  - src/library/Ui.nim

netbsd:
  - .github/workflows/netbsd.yml

openbsd:
  - .github/workflows/openbsd.yml

package manager:
  - src/vm/packager.nim

parser:
  - src/vm/parse.nim

repl:
  - src/scripts/console.art
  - src/helpers/repl.nim
  - src/extras/linenoise.nim

rosetta code:
  - examples/rosetta/*

ui:
  - src/extras/libclipboard/*
  - src/extras/menubar/*
  - src/extras/pfd/*
  - src/extras/webview/*
  - src/extras/window/*
  - src/extras/libclipboard.nim
  - src/extras/menubar.nim
  - src/extras/pfd.nim
  - src/extras/webview.nim
  - src/extras/window.nim
  - src/helpers/clipboard.nim
  - src/helpers/dialogs.nim
  - src/helpers/webviews.js
  - src/helpers/webviews.nim
  - src/helpers/windows.nim
  - src/library/Ui.nim

unit-test:
  - tests/errors/**
  - tests/unittests/**
  - tests/web/*

values:
  - src/vm/values/*
  - src/vm/values/custom/**

vm:
  - src/vm/*

workflows:
  - .github/workflows/*
