Repository arturo-lang/arturo, changes with the labels that .github/labeler.yml gives for each.
All labels: 3rd-party, ast, bundler, bytecode, ci, command line, documentation, error handling, evaluator, execution, freebsd, helpers, installer, library, → Arithmetic, → Bitwise, → Collections, → Colors, → Comparison, → Converters, → Core, → Crypto, → Databases, → Dates, → Exceptions, → Files, → Io, → Iterators, → Logic, → Net, → Numbers, → Paths, → Quantities, → Reflection, → Sets, → Sockets, → Statistics, → Strings, → System, → Types, → Ui, netbsd, openbsd, package manager, parser, repl, rosetta code, ui, unit-test, values, vm, workflows

.github/labeler.yml:

3rd-party:
  - src/extras/**

ast:
  - src/vm/ast.nim

bundler:
  - src/vm/bundle/generator.nim
  - src/vm/bundle/resources.nim

bytecode:
  - src/vm/bytecode.nim
  - src/vm/opcodes.nim

ci:
  - .github/workflows/freebsd.yml
  - .github/workflows/linux.yml
  - .github/workflows/macos.yml
  - .github/workflows/netbsd.yml
  - .github/workflows/openbsd.yml
  - .github/workflows/web.yml
  - .github/workflows/windows.yml

command line:
  - src/arturo.nim

documentation:
  - examples/projecteuler/*
  - examples/rosetta/*
  - docs/**

error handling: 
  - src/vm/errors.nim

evaluator:
  - src/vm/eval.nim
 
execution:
  - src/vm/exec.nim

freebsd:
  - .github/workflows/freebsd.yml

helpers:
  - src/helpers/*
  
installer:
  - build.nims
  - src/scripts/update.art

library:
  - src/library/**

"→ Arithmetic":
  - src/library/Arithmetic.nim
"→ Bitwise":
  - src/library/Bitwise.nim
"→ Collections":
  - src/library/Collections.nim
"→ Colors":
  - src/library/Colors.nim
"→ Comparison":
  - src/library/Comparison.nim
"→ Converters":
  - src/library/Converters.nim
"→ Core":
  - src/library/Core.nim
"→ Crypto":
  - src/library/Crypto.nim
"→ Databases":
  - src/library/Databases.nim
"→ Dates":
  - src/library/Dates.nim
"→ Exceptions":
  - src/library/Exceptions.nim
"→ Files":
  - src/library/Files.nim
"→ Io":
  - src/library/Io.nim
"→ Iterators":
  - src/library/Iterators.nim
"→ Logic":
  - src/library/Logic.nim
"→ Net":
  - src/library/Net.nim
"→ Numbers":
  - src/library/Numbers.nim
"→ Paths":
  - src/library/Paths.nim
"→ Quantities":
  - src/library/Quantities.nim
"→ Reflection":
  - src/library/Reflection.nim
"→ Sets":
  - src/library/Sets.nim
"→ Sockets":
  - src/library/Sockets.nim
"→ Statistics":
  - src/library/Statistics.nim
"→ Strings":
  - src/library/Strings.nim
"→ System":
  - src/library/System.nim
"→ Types":
  - src/library/Types.nim
"→ Ui":
  - src/library/Ui.nim

netbsd:
  - .github/workflows/netbsd.yml

openbsd:
  - .github/workflows/openbsd.yml

package manager:
  - src/vm/packager.nim

parser:
  - src/vm/parse.nim

repl:
  - src/scripts/console.art
  - src/helpers/repl.nim
  - src/extras/linenoise.nim

rosetta code:
  - examples/rosetta/*

ui:
  - src/extras/libclipboard/*
  - src/extras/menubar/*
  - src/extras/pfd/*
  - src/extras/webview/*
  - src/extras/window/*
  - src/extras/libclipboard.nim
  - src/extras/menubar.nim
  - src/extras/pfd.nim
  - src/extras/webview.nim
  - src/extras/window.nim
  - src/helpers/clipboard.nim
  - src/helpers/dialogs.nim
  - src/helpers/webviews.js
  - src/helpers/webviews.nim
  - src/helpers/windows.nim
  - src/library/Ui.nim

unit-test:
  - tests/errors/**
  - tests/unittests/**
  - tests/web/*

values:
  - src/vm/values/*
  - src/vm/values/custom/**

vm:
  - src/vm/*

workflows:
  - .github/workflows/*

re-enable all tasks
  .github/workflows/update.yml
Labels: workflows

re-enable all tasks
  .github/workflows/update.yml
Labels: workflows

various fixes
  tools/binarygen.art
Labels: none

various fixes
  tools/binarygen.art
Labels: none

remove debugging leftovers
  docs/website/theme/index.html
  tools/binarygen.art
Labels: documentation

remove debugging leftovers
  docs/website/theme/index.html
  tools/binarygen.art
Labels: documentation

cleaned up images
  docs/website/theme/resources/images/module_list.png
  docs/website/theme/resources/images/repl.png
  docs/website/theme/resources/images/screenshot 2.png
  docs/website/theme/resources/images/screenshot.png
Labels: documentation

cleaned up images
  docs/website/theme/resources/images/module_list.png
  docs/website/theme/resources/images/repl.png
  docs/website/theme/resources/images/screenshot 2.png
  docs/website/theme/resources/images/screenshot.png
Labels: documentation

try fixing favicon issue
  tools/miniwebize/webize.art
Labels: none

try fixing favicon issue
  tools/miniwebize/webize.art
Labels: none

added proper favicon support
  docs/website/theme/resources/favico/android-icon-144x144.png
  docs/website/theme/resources/favico/android-icon-192x192.png
  docs/website/theme/resources/favico/android-icon-36x36.png
  docs/website/theme/resources/favico/android-icon-48x48.png
  docs/website/theme/resources/favico/android-icon-72x72.png
  docs/website/theme/resources/favico/android-icon-96x96.png
  docs/website/theme/resources/favico/apple-icon-114x114.png
  docs/website/theme/resources/favico/apple-icon-120x120.png
  docs/website/theme/resources/favico/apple-icon-144x144.png
  docs/website/theme/resources/favico/apple-icon-152x152.png
  docs/website/theme/resources/favico/apple-icon-180x180.png
  docs/website/theme/resources/favico/apple-icon-57x57.png
  docs/website/theme/resources/favico/apple-icon-60x60.png
  docs/website/theme/resources/favico/apple-icon-72x72.png
  docs/website/theme/resources/favico/apple-icon-76x76.png
  docs/website/theme/resources/favico/apple-icon-precomposed.png
  docs/website/theme/resources/favico/apple-icon.png
  docs/website/theme/resources/favico/favicon-16x16.png
  docs/website/theme/resources/favico/favicon-32x32.png
  docs/website/theme/resources/favico/favicon-96x96.png
  docs/website/theme/resources/favico/favicon.ico
  docs/website/theme/resources/favico/ms-icon-144x144.png
  docs/website/theme/resources/favico/ms-icon-150x150.png
  docs/website/theme/resources/favico/ms-icon-310x310.png
  docs/website/theme/resources/favico/ms-icon-70x70.png
  tools/miniwebize/webize.art
Labels: documentation

added proper favicon support
  docs/website/theme/resources/favico/android-icon-144x144.png
  docs/website/theme/resources/favico/android-icon-192x192.png
  docs/website/theme/resources/favico/android-icon-36x36.png
  docs/website/theme/resources/favico/android-icon-48x48.png
  docs/website/theme/resources/favico/android-icon-72x72.png
  docs/website/theme/resources/favico/android-icon-96x96.png
  docs/website/theme/resources/favico/apple-icon-114x114.png
  docs/website/theme/resources/favico/apple-icon-120x120.png
  docs/website/theme/resources/favico/apple-icon-144x144.png
  docs/website/theme/resources/favico/apple-icon-152x152.png
  docs/website/theme/resources/favico/apple-icon-180x180.png
  docs/website/theme/resources/favico/apple-icon-57x57.png
  docs/website/theme/resources/favico/apple-icon-60x60.png
  docs/website/theme/resources/favico/apple-icon-72x72.png
  docs/website/theme/resources/favico/apple-icon-76x76.png
  docs/website/theme/resources/favico/apple-icon-precomposed.png
  docs/website/theme/resources/favico/apple-icon.png
  docs/website/theme/resources/favico/favicon-16x16.png
  docs/website/theme/resources/favico/favicon-32x32.png
  docs/website/theme/resources/favico/favicon-96x96.png
  docs/website/theme/resources/favico/favicon.ico
  docs/website/theme/resources/favico/ms-icon-144x144.png
  docs/website/theme/resources/favico/ms-icon-150x150.png
  docs/website/theme/resources/favico/ms-icon-310x310.png
  docs/website/theme/resources/favico/ms-icon-70x70.png
  tools/miniwebize/webize.art
Labels: documentation

get version_tag from command-line
  .github/workflows/update.yml
  tools/binarygen.art
Labels: workflows

get version_tag from command-line
  .github/workflows/update.yml
  tools/binarygen.art
Labels: workflows

reinstated file
  tools/binarygen.art
Labels: none

reinstated file
  tools/binarygen.art
Labels: none

tweaked "download" button appearence
  docs/website/theme/resources/styles/main.scss
Labels: documentation

tweaked "download" button appearence
  docs/website/theme/resources/styles/main.scss
Labels: documentation

let's start showing the checksums and we'll fix it along the way...
  docs/website/theme/index.html
  docs/website/theme/resources/styles/main.scss
Labels: documentation

let's start showing the checksums and we'll fix it along the way...
  docs/website/theme/index.html
  docs/website/theme/resources/styles/main.scss
Labels: documentation

fixed platform icons + cleanup
  docs/website/theme/index.html
  tools/binarygen.art
Labels: documentation

fixed platform icons + cleanup
  docs/website/theme/index.html
  tools/binarygen.art
Labels: documentation

minor tweaks to checksums
  docs/website/theme/index.html
  docs/website/theme/resources/styles/main.scss
Labels: documentation

minor tweaks to checksums
  docs/website/theme/index.html
  docs/website/theme/resources/styles/main.scss
Labels: documentation

add version dropdown
  docs/website/theme/components/navbar.html
  docs/website/theme/resources/styles/main.scss
Labels: documentation

add version dropdown
  docs/website/theme/components/navbar.html
  docs/website/theme/resources/styles/main.scss
Labels: documentation

debugging
  .github/workflows/update.yml
Labels: workflows

debugging
  .github/workflows/update.yml
Labels: workflows

fixed navbar
  docs/website/theme/components/navbar.html
Labels: documentation

fixed navbar
  docs/website/theme/components/navbar.html
Labels: documentation

remove navbar title hover effect
  docs/website/theme/resources/styles/main.scss
Labels: documentation

remove navbar title hover effect
  docs/website/theme/resources/styles/main.scss
Labels: documentation

minor tweaks
  docs/website/theme/components/navbar.html
  docs/website/theme/resources/styles/main.scss
Labels: documentation

minor tweaks
  docs/website/theme/components/navbar.html
  docs/website/theme/resources/styles/main.scss
Labels: documentation

added animation for download links
  docs/website/theme/resources/styles/main.scss
Labels: documentation

added animation for download links
  docs/website/theme/resources/styles/main.scss
Labels: documentation

tweak dropdown
  docs/website/theme/resources/styles/main.scss
Labels: documentation

tweak dropdown
  docs/website/theme/resources/styles/main.scss
Labels: documentation

fixed dropdown items
  docs/website/theme/resources/styles/main.scss
Labels: documentation

fixed dropdown items
  docs/website/theme/resources/styles/main.scss
Labels: documentation
