Repository arturo-lang/arturo, changes with the labels that .github/labeler.yml gives for each.
All labels: 3rd-party, ast, bundler, bytecode, ci, command line, documentation, error handling, evaluator, execution, freebsd, helpers, installer, library, → Arithmetic, → Bitwise, → Collections, → Colors, → Comparison, → Converters, → Core, → Crypto, → Databases, → Dates, → Exceptions, → Files, → Io, → Iterators, → Logic, → Net, → Numbers, → Paths, → Quantities, → Reflection, → Sets, → Sockets, → Statistics, → Strings, → System, → Types, → Ui, netbsd, openbsd, package manager, parser, repl, rosetta code, ui, unit-test, values, vm, workflows

also make sure there *is* actually an `\examples` field before trying to process it
  tools/indexgen.art
Labels: none

also make sure there *is* actually an `\examples` field before trying to process it
  tools/indexgen.art
Labels: none

try adding support for attr/description matching
  docs/website/theme/resources/scripts/docsearch.js
  docs/website/theme/resources/styles/search.scss
Labels: documentation

try adding support for attr/description matching
  docs/website/theme/resources/scripts/docsearch.js
  docs/website/theme/resources/styles/search.scss
Labels: documentation

adjust search priorities
  docs/website/theme/resources/scripts/docsearch.js
Labels: documentation

adjust search priorities
  docs/website/theme/resources/scripts/docsearch.js
Labels: documentation

minor style tweaks
  docs/website/theme/resources/styles/main.scss
  docs/website/theme/resources/styles/search.scss
Labels: documentation

minor style tweaks
  docs/website/theme/resources/styles/main.scss
  docs/website/theme/resources/styles/search.scss
Labels: documentation

more styling tweaks...
  docs/website/theme/resources/styles/main.scss
  docs/website/theme/resources/styles/search.scss
Labels: documentation

more styling tweaks...
  docs/website/theme/resources/styles/main.scss
  docs/website/theme/resources/styles/search.scss
Labels: documentation

fix right padding (to compensate for negative right margin)
  docs/website/theme/resources/styles/search.scss
Labels: documentation

fix right padding (to compensate for negative right margin)
  docs/website/theme/resources/styles/search.scss
Labels: documentation

update footer to pass root directory
  docs/website/theme/components/foot.html
Labels: documentation

update footer to pass root directory
  docs/website/theme/components/foot.html
Labels: documentation

make script accept an externally-defined root directory
  docs/website/theme/resources/scripts/docsearch.js
Labels: documentation

make script accept an externally-defined root directory
  docs/website/theme/resources/scripts/docsearch.js
Labels: documentation

minor tweaks + cleanup
  docs/website/theme/resources/styles/search.scss
Labels: documentation

minor tweaks + cleanup
  docs/website/theme/resources/styles/search.scss
Labels: documentation

clean rewrite + sanitize priorities
  docs/website/theme/resources/scripts/docsearch.js
Labels: documentation

clean rewrite + sanitize priorities
  docs/website/theme/resources/scripts/docsearch.js
Labels: documentation

auto-"select" first result/row
  docs/website/theme/resources/scripts/docsearch.js
Labels: documentation

auto-"select" first result/row
  docs/website/theme/resources/scripts/docsearch.js
Labels: documentation

minor tweaks + make search container scrollbar vanish :)
  docs/website/theme/resources/styles/main.scss
  docs/website/theme/resources/styles/search.scss
Labels: documentation

minor tweaks + make search container scrollbar vanish :)
  docs/website/theme/resources/styles/main.scss
  docs/website/theme/resources/styles/search.scss
Labels: documentation

tighten fuzziness threshold
  docs/website/theme/resources/scripts/docsearch.js
Labels: documentation

tighten fuzziness threshold
  docs/website/theme/resources/scripts/docsearch.js
Labels: documentation

debugging
  tools/miniwebize/webize.art
Labels: none

debugging
  tools/miniwebize/webize.art
Labels: none

restore normal functionality
  tools/miniwebize/webize.art
Labels: none

restore normal functionality
  tools/miniwebize/webize.art
Labels: none

debugging + cleanup
  tools/gendocslocal.sh
Labels: none

debugging + cleanup
  tools/gendocslocal.sh
Labels: none

make our index generator produce *compact* JSON
  tools/indexgen.art
Labels: none

make our index generator produce *compact* JSON
  tools/indexgen.art
Labels: none

more debugging
  docs/website/theme/components/foot.html
  tools/gendocslocal.sh
Labels: documentation

more debugging
  docs/website/theme/components/foot.html
  tools/gendocslocal.sh
Labels: documentation

add index generation step in main docgen workflow
  .github/workflows/update.yml
Labels: workflows

add index generation step in main docgen workflow
  .github/workflows/update.yml
Labels: workflows

restore debugging script
  tools/gendocslocal.sh
Labels: none

restore debugging script
  tools/gendocslocal.sh
Labels: none

.github/labeler.yml:

3rd-party:
  - src/extras/**

ast:
  - src/vm/ast.nim

bundler:
  - src/vm/bundle/generator.nim
  - src/vm/bundle/resources.nim

bytecode:
  - src/vm/bytecode.nim
  - src/vm/opcodes.nim

ci:
  - .github/workflows/freebsd.yml
  - .github/workflows/linux.yml
  - .github/workflows/macos.yml
  - .github/workflows/netbsd.yml
  - .github/workflows/openbsd.yml
  - .github/workflows/web.yml
  - .github/workflows/windows.yml

command line:
  - src/arturo.nim

documentation:
  - examples/projecteuler/*
  - examples/rosetta/*
  - docs/**

error handling: 
  - src/vm/errors.nim

evaluator:
  - src/vm/eval.nim
 
execution:
  - src/vm/exec.nim

freebsd:
  - .github/workflows/freebsd.yml

helpers:
  - src/helpers/*
  
installer:
  - build.nims
  - src/scripts/update.art

library:
  - src/library/**

"→ Arithmetic":
  - src/library/Arithmetic.nim
"→ Bitwise":
  - src/library/Bitwise.nim
"→ Collections":
  - src/library/Collections.nim
"→ Colors":
  - src/library/Colors.nim
"→ Comparison":
  - src/library/Comparison.nim
"→ Converters":
  - src/library/Converters.nim
"→ Core":
  - src/library/Core.nim
"→ Crypto":
  - src/library/Crypto.nim
"→ Databases":
  - src/library/Databases.nim
"→ Dates":
  - src/library/Dates.nim
"→ Exceptions":
  - src/library/Exceptions.nim
"→ Files":
  - src/library/Files.nim
"→ Io":
  - src/library/Io.nim
"→ Iterators":
  - src/library/Iterators.nim
"→ Logic":
  - src/library/Logic.nim
"→ Net":
  - src/library/Net.nim
"→ Numbers":
  - src/library/Numbers.nim
"→ Paths":
  - src/library/Paths.nim
"→ Quantities":
  - src/library/Quantities.nim
"→ Reflection":
  - src/library/Reflection.nim
"→ Sets":
  - src/library/Sets.nim
"→ Sockets":
  - src/library/Sockets.nim
"→ Statistics":
  - src/library/Statistics.nim
"→ Strings":
  - src/library/Strings.nim
"→ System":
  - src/library/System.nim
"→ Types":
  - src/library/Types.nim
"→ Ui":
  - src/library/Ui.nim

netbsd:
  - .github/workflows/netbsd.yml

openbsd:
  - .github/workflows/openbsd.yml

package manager:
  - src/vm/packager.nim

parser:
  - src/vm/parse.nim

repl:
  - src/scripts/console.art
  - src/helpers/repl.nim
  - src/extras/linenoise.nim

rosetta code:
  - examples/rosetta/*

ui:
  - src/extras/libclipboard/*
  - src/extras/menubar/*
  - src/extras/pfd/*
  - src/extras/webview/*
  - src/extras/window/*
  - src/extras/libclipboard.nim
  - src/extras/menubar.nim
  - src/extras/pfd.nim
  - src/extras/webview.nim
  - src/extras/window.nim
  - src/helpers/clipboard.nim
  - src/helpers/dialogs.nim
  - src/helpers/webviews.js
  - src/helpers/webviews.nim
  - src/helpers/windows.nim
  - src/library/Ui.nim

unit-test:
  - tests/errors/**
  - tests/unittests/**
  - tests/web/*

values:
  - src/vm/values/*
  - src/vm/values/custom/**

vm:
  - src/vm/*

workflows:
  - .github/workflows/*
