Repository arturo-lang/arturo, changes with the labels that .github/labeler.yml gives for each.
All labels: 3rd-party, ast, bundler, bytecode, ci, command line, documentation, error handling, evaluator, execution, freebsd, helpers, installer, library, → Arithmetic, → Bitwise, → Collections, → Colors, → Comparison, → Converters, → Core, → Crypto, → Databases, → Dates, → Exceptions, → Files, → Io, → Iterators, → Logic, → Net, → Numbers, → Paths, → Quantities, → Reflection, → Sets, → Sockets, → Statistics, → Strings, → System, → Types, → Ui, netbsd, openbsd, package manager, parser, repl, rosetta code, ui, unit-test, values, vm, workflows

.github/labeler.yml:

3rd-party:
  - src/extras/**

ast:
  - src/vm/ast.nim

bundler:
  - src/vm/bundle/generator.nim
  - src/vm/bundle/resources.nim

bytecode:
  - src/vm/bytecode.nim
  - src/vm/opcodes.nim

ci:
  - .github/workflows/freebsd.yml
  - .github/workflows/linux.yml
  - .github/workflows/macos.yml
  - .github/workflows/netbsd.yml
  - .github/workflows/openbsd.yml
  - .github/workflows/web.yml
  - .github/workflows/windows.yml

command line:
  - src/arturo.nim

documentation:
  - examples/projecteuler/*
  - examples/rosetta/*
  - docs/**

error handling: 
  - src/vm/errors.nim

evaluator:
  - src/vm/eval.nim
 
execution:
  - src/vm/exec.nim

freebsd:
  - .github/workflows/freebsd.yml

helpers:
  - src/helpers/*
  
installer:
  - build.nims
  - src/scripts/update.art

library:
  - src/library/**

"→ Arithmetic":
  - src/library/Arithmetic.nim
"→ Bitwise":
  - src/library/Bitwise.nim
"→ Collections":
  - src/library/Collections.nim
"→ Colors":
  - src/library/Colors.nim
"→ Comparison":
  - src/library/Comparison.nim
"→ Converters":
  - src/library/Converters.nim
"→ Core":
  - src/library/Core.nim
"→ Crypto":
  - src/library/Crypto.nim
"→ Databases":
  - src/library/Databases.nim
"→ Dates":
  - src/library/Dates.nim
"→ Exceptions":
  - src/library/Exceptions.nim
"→ Files":
  - src/library/Files.nim
"→ Io":
  - src/library/Io.nim
"→ Iterators":
  - src/library/Iterators.nim
"→ Logic":
  - src/library/Logic.nim
"→ Net":
  - src/library/Net.nim
"→ Numbers":
  - src/library/Numbers.nim
"→ Paths":
  - src/library/Paths.nim
"→ Quantities":
  - src/library/Quantities.nim
"→ Reflection":
  - src/library/Reflection.nim
"→ Sets":
  - src/library/Sets.nim
"→ Sockets":
  - src/library/Sockets.nim
"→ Statistics":
  - src/library/Statistics.nim
"→ Strings":
  - src/library/Strings.nim
"→ System":
  - src/library/System.nim
"→ Types":
  - src/library/Types.nim
"→ Ui":
  - src/library/Ui.nim

netbsd:
  - .github/workflows/netbsd.yml

openbsd:
  - .github/workflows/openbsd.yml

package manager:
  - src/vm/packager.nim

parser:
  - src/vm/parse.nim

repl:
  - src/scripts/console.art
  - src/helpers/repl.nim
  - src/extras/linenoise.nim

rosetta code:
  - examples/rosetta/*

ui:
  - src/extras/libclipboard/*
  - src/extras/menubar/*
  - src/extras/pfd/*
  - src/extras/webview/*
  - src/extras/window/*
  - src/extras/libclipboard.nim
  - src/extras/menubar.nim
  - src/extras/pfd.nim
  - src/extras/webview.nim
  - src/extras/window.nim
  - src/helpers/clipboard.nim
  - src/helpers/dialogs.nim
  - src/helpers/webviews.js
  - src/helpers/webviews.nim
  - src/helpers/windows.nim
  - src/library/Ui.nim

unit-test:
  - tests/errors/**
  - tests/unittests/**
  - tests/web/*

values:
  - src/vm/values/*
  - src/vm/values/custom/**

vm:
  - src/vm/*

workflows:
  - .github/workflows/*

reinstate Windows tests
  .github/workflows/ci.yml
Labels: workflows

reinstate Windows tests
  .github/workflows/ci.yml
Labels: workflows

Update ci.yml
  .github/workflows/ci.yml
Labels: workflows

Update ci.yml
  .github/workflows/ci.yml
Labels: workflows

Update ci.yml
  .github/workflows/ci.yml
Labels: workflows

Update ci.yml
  .github/workflows/ci.yml
Labels: workflows

checkout repository if not already there (= it's a FreeBSD run)
  .github/workflows/ci.yml
Labels: workflows

checkout repository if not already there (= it's a FreeBSD run)
  .github/workflows/ci.yml
Labels: workflows

also fixed paths
  .github/workflows/ci.yml
Labels: workflows

also fixed paths
  .github/workflows/ci.yml
Labels: workflows

we don't really need to manually install `unitt`
  .github/workflows/ci.yml
Labels: workflows

we don't really need to manually install `unitt`
  .github/workflows/ci.yml
Labels: workflows

debugging
  .github/workflows/ci.yml
Labels: workflows

debugging
  .github/workflows/ci.yml
Labels: workflows

ultra-debugging
  src/vm/packager.nim
Labels: package manager, vm

ultra-debugging
  src/vm/packager.nim
Labels: package manager, vm

debugging
  .github/workflows/ci.yml
Labels: workflows

debugging
  .github/workflows/ci.yml
Labels: workflows

cleanup
  .github/workflows/ci.yml
Labels: workflows

cleanup
  .github/workflows/ci.yml
Labels: workflows

remove debugging output
  src/vm/packager.nim
Labels: package manager, vm

remove debugging output
  src/vm/packager.nim
Labels: package manager, vm

completely remove deprecated workflows
  .github/workflows/freebsd.yml
  .github/workflows/linux.yml
  .github/workflows/macos.yml
  .github/workflows/netbsd.yml
  .github/workflows/openbsd.yml
  .github/workflows/web.yml
  .github/workflows/windows.yml
Labels: ci, freebsd, netbsd, openbsd, workflows

completely remove deprecated workflows
  .github/workflows/freebsd.yml
  .github/workflows/linux.yml
  .github/workflows/macos.yml
  .github/workflows/netbsd.yml
  .github/workflows/openbsd.yml
  .github/workflows/web.yml
  .github/workflows/windows.yml
Labels: ci, freebsd, netbsd, openbsd, workflows

allow for JS "installing" the binary (for CI actions) - just show the message as a warning!
  build.nims
Labels: installer

allow for JS "installing" the binary (for CI actions) - just show the message as a warning!
  build.nims
Labels: installer

clean up & rename steps
  .github/workflows/ci.yml
Labels: workflows

clean up & rename steps
  .github/workflows/ci.yml
Labels: workflows

added extra Debug step
  .github/workflows/ci.yml
Labels: workflows

added extra Debug step
  .github/workflows/ci.yml
Labels: workflows

pfff... geez
  build.nims
Labels: installer

pfff... geez
  build.nims
Labels: installer

more debugging
  .github/workflows/ci.yml
Labels: workflows

more debugging
  .github/workflows/ci.yml
Labels: workflows

more debugging
  .github/workflows/ci.yml
Labels: workflows

more debugging
  .github/workflows/ci.yml
Labels: workflows

fine-tune debugger
  .github/workflows/ci.yml
Labels: workflows

fine-tune debugger
  .github/workflows/ci.yml
Labels: workflows

more cleanup & debugging
  .github/workflows/ci.yml
Labels: workflows

more cleanup & debugging
  .github/workflows/ci.yml
Labels: workflows
