Repository arturo-lang/arturo, changes with the labels that .github/labeler.yml gives for each.
All labels: 3rd-party, ast, bundler, bytecode, ci, command line, documentation, error handling, evaluator, execution, freebsd, helpers, installer, library, → Arithmetic, → Bitwise, → Collections, → Colors, → Comparison, → Converters, → Core, → Crypto, → Databases, → Dates, → Exceptions, → Files, → Io, → Iterators, → Logic, → Net, → Numbers, → Paths, → Quantities, → Reflection, → Sets, → Sockets, → Statistics, → Strings, → System, → Types, → Ui, netbsd, openbsd, package manager, parser, repl, rosetta code, ui, unit-test, values, vm, workflows

.github/labeler.yml:

3rd-party:
  - src/extras/**

ast:
  - src/vm/ast.nim

bundler:
  - src/vm/bundle/generator.nim
  - src/vm/bundle/resources.nim

bytecode:
  - src/vm/bytecode.nim
  - src/vm/opcodes.nim

ci:
  - .github/workflows/freebsd.yml
  - .github/workflows/linux.yml
  - .github/workflows/macos.yml
  - .github/workflows/netbsd.yml
  - .github/workflows/openbsd.yml
  - .github/workflows/web.yml
  - .github/workflows/windows.yml

command line:
  - src/arturo.nim

documentation:
  - examples/projecteuler/*
  - examples/rosetta/*
  - docs/**

error handling: 
  - src/vm/errors.nim

evaluator:
  - src/vm/eval.nim
 
execution:
  - src/vm/exec.nim

freebsd:
  - .github/workflows/freebsd.yml

helpers:
  - src/helpers/*
  
installer:
  - build.nims
  - src/scripts/update.art

library:
  - src/library/**

"→ Arithmetic":
  - src/library/Arithmetic.nim
"→ Bitwise":
  - src/library/Bitwise.nim
"→ Collections":
  - src/library/Collections.nim
"→ Colors":
  - src/library/Colors.nim
"→ Comparison":
  - src/library/Comparison.nim
"→ Converters":
  - src/library/Converters.nim
"→ Core":
  - src/library/Core.nim
"→ Crypto":
  - src/library/Crypto.nim
"→ Databases":
  - src/library/Databases.nim
"→ Dates":
  - src/library/Dates.nim
"→ Exceptions":
  - src/library/Exceptions.nim
"→ Files":
  - src/library/Files.nim
"→ Io":
  - src/library/Io.nim
"→ Iterators":
  - src/library/Iterators.nim
"→ Logic":
  - src/library/Logic.nim
"→ Net":
  - src/library/Net.nim
"→ Numbers":
  - src/library/Numbers.nim
"→ Paths":
  - src/library/Paths.nim
"→ Quantities":
  - src/library/Quantities.nim
"→ Reflection":
  - src/library/Reflection.nim
"→ Sets":
  - src/library/Sets.nim
"→ Sockets":
  - src/library/Sockets.nim
"→ Statistics":
  - src/library/Statistics.nim
"→ Strings":
  - src/library/Strings.nim
"→ System":
  - src/library/System.nim
"→ Types":
  - src/library/Types.nim
"→ Ui":
  - src/library/Ui.nim

netbsd:
  - .github/workflows/netbsd.yml

openbsd:
  - .github/workflows/openbsd.yml

package manager:
  - src/vm/packager.nim

parser:
  - src/vm/parse.nim

repl:
  - src/scripts/console.art
  - src/helpers/repl.nim
  - src/extras/linenoise.nim

rosetta code:
  - examples/rosetta/*

ui:
  - src/extras/libclipboard/*
  - src/extras/menubar/*
  - src/extras/pfd/*
  - src/extras/webview/*
  - src/extras/window/*
  - src/extras/libclipboard.nim
  - src/extras/menubar.nim
  - src/extras/pfd.nim
  - src/extras/webview.nim
  - src/extras/window.nim
  - src/helpers/clipboard.nim
  - src/helpers/dialogs.nim
  - src/helpers/webviews.js
  - src/helpers/webviews.nim
  - src/helpers/windows.nim
  - src/library/Ui.nim

unit-test:
  - tests/errors/**
  - tests/unittests/**
  - tests/web/*

values:
  - src/vm/values/*
  - src/vm/values/custom/**

vm:
  - src/vm/*

workflows:
  - .github/workflows/*

update styles
  docs/website/theme/resources/styles/playground.scss
Labels: documentation

misc improvements
  docs/website/theme/resources/scripts/playground.js
Labels: documentation

misc improvements
  docs/website/theme/resources/scripts/playground.js
Labels: documentation

restored sidebar styles
  docs/website/theme/resources/styles/main.scss
Labels: documentation

restored sidebar styles
  docs/website/theme/resources/styles/main.scss
Labels: documentation

trigger rebuild
  docs/website/theme/resources/styles/main.scss
Labels: documentation

trigger rebuild
  docs/website/theme/resources/styles/main.scss
Labels: documentation

misc fixes
  docs/website/theme/resources/scripts/playground.js
  docs/website/theme/resources/styles/playground.scss
Labels: documentation

misc fixes
  docs/website/theme/resources/scripts/playground.js
  docs/website/theme/resources/styles/playground.scss
Labels: documentation

attempt fix
  docs/website/theme/resources/scripts/playground.js
Labels: documentation

attempt fix
  docs/website/theme/resources/scripts/playground.js
Labels: documentation

fixed share modal
  docs/website/theme/resources/scripts/playground.js
Labels: documentation

fixed share modal
  docs/website/theme/resources/scripts/playground.js
Labels: documentation

minor fixes
  docs/website/theme/resources/styles/playground.scss
Labels: documentation

minor fixes
  docs/website/theme/resources/styles/playground.scss
Labels: documentation

playground code complete refactoring
  docs/website/theme/playground.html
  docs/website/theme/resources/scripts/playground.js
Labels: documentation

playground code complete refactoring
  docs/website/theme/playground.html
  docs/website/theme/resources/scripts/playground.js
Labels: documentation

round results to 7 digits of precision
  examples/rosetta/logistic curve fitting in epidemiology.art
Labels: documentation, rosetta code

round results to 7 digits of precision
  examples/rosetta/logistic curve fitting in epidemiology.art
Labels: documentation, rosetta code

also corrected expected output
  examples/rosetta/logistic curve fitting in epidemiology_res
Labels: documentation, rosetta code

also corrected expected output
  examples/rosetta/logistic curve fitting in epidemiology_res
Labels: documentation, rosetta code

and re-enabled unit-test
  examples/rosetta/logistic curve fitting in epidemiology.res
Labels: documentation, rosetta code

and re-enabled unit-test
  examples/rosetta/logistic curve fitting in epidemiology.res
Labels: documentation, rosetta code

Update build to 3415
  version/build
Labels: none

Update build to 3415
  version/build
Labels: none

minor tweak
  .github/workflows/ci.yml
Labels: workflows

minor tweak
  .github/workflows/ci.yml
Labels: workflows

refactored search-related scripts + modal too
  docs/website/theme/playground.html
  docs/website/theme/resources/scripts/docsearch.js
Labels: documentation

refactored search-related scripts + modal too
  docs/website/theme/playground.html
  docs/website/theme/resources/scripts/docsearch.js
Labels: documentation

minor edit
  docs/website/theme/playground.html
Labels: documentation

minor edit
  docs/website/theme/playground.html
Labels: documentation

general cleanup + typo/grammar fixes + added missing sections for `:error`, `:module`, and `:any` types
  docs/website/pages/documentation/language.art
Labels: documentation

general cleanup + typo/grammar fixes + added missing sections for `:error`, `:module`, and `:any` types
  docs/website/pages/documentation/language.art
Labels: documentation

added `case` example for `:any`
  docs/website/pages/documentation/language.art
Labels: documentation

added `case` example for `:any`
  docs/website/pages/documentation/language.art
Labels: documentation

added better example for `:module` types + re-organized sections
  docs/website/pages/documentation/language.art
Labels: documentation

added better example for `:module` types + re-organized sections
  docs/website/pages/documentation/language.art
Labels: documentation

attempt to re-organize theme styles (SCSS) into modules
  docs/website/theme/resources/global.scss
  docs/website/theme/resources/main.scss
  docs/website/theme/resources/playground.scss
  docs/website/theme/resources/search.scss
  docs/website/theme/resources/styles/main.scss
  docs/website/theme/resources/styles/main/alerts.scss
  docs/website/theme/resources/styles/main/base.scss
  docs/website/theme/resources/styles/main/breadcrumbs.scss
  docs/website/theme/resources/styles/main/cards.scss
  docs/website/theme/resources/styles/main/darkmode.scss
  docs/website/theme/resources/styles/main/footer.scss
  docs/website/theme/resources/styles/main/hero.scss
  docs/website/theme/resources/styles/main/navbar.scss
  docs/website/theme/resources/styles/main/sidebar.scss
  docs/website/theme/resources/styles/main/switches.scss
  docs/website/theme/resources/styles/main/tables.scss
  docs/website/theme/resources/styles/main/tags.scss
  docs/website/theme/resources/styles/main/utilities.scss
  docs/website/theme/resources/styles/playground.scss
  docs/website/theme/resources/styles/playground/animations.scss
  docs/website/theme/resources/styles/playground/buttons.scss
  docs/website/theme/resources/styles/playground/editor.scss
  docs/website/theme/resources/styles/playground/layout.scss
  docs/website/theme/resources/styles/playground/modals.scss
  docs/website/theme/resources/styles/playground/tabs.scss
  docs/website/theme/resources/styles/playground/terminal.scss
  docs/website/theme/resources/styles/playground/toolbar.scss
  docs/website/theme/resources/styles/playground/utilities.scss
  docs/website/theme/resources/styles/search.scss
  docs/website/theme/resources/styles/search/animations.scss
  docs/website/theme/resources/styles/search/darkmode.scss
  docs/website/theme/resources/styles/search/input.scss
  docs/website/theme/resources/styles/search/results.scss
  docs/website/theme/resources/styles/shared/colors.scss
  docs/website/theme/resources/styles/shared/variables.scss
Labels: documentation

attempt to re-organize theme styles (SCSS) into modules
  docs/website/theme/resources/global.scss
  docs/website/theme/resources/main.scss
  docs/website/theme/resources/playground.scss
  docs/website/theme/resources/search.scss
  docs/website/theme/resources/styles/main.scss
  docs/website/theme/resources/styles/main/alerts.scss
  docs/website/theme/resources/styles/main/base.scss
  docs/website/theme/resources/styles/main/breadcrumbs.scss
  docs/website/theme/resources/styles/main/cards.scss
  docs/website/theme/resources/styles/main/darkmode.scss
  docs/website/theme/resources/styles/main/footer.scss
  docs/website/theme/resources/styles/main/hero.scss
  docs/website/theme/resources/styles/main/navbar.scss
  docs/website/theme/resources/styles/main/sidebar.scss
  docs/website/theme/resources/styles/main/switches.scss
  docs/website/theme/resources/styles/main/tables.scss
  docs/website/theme/resources/styles/main/tags.scss
  docs/website/theme/resources/styles/main/utilities.scss
  docs/website/theme/resources/styles/playground.scss
  docs/website/theme/resources/styles/playground/animations.scss
  docs/website/theme/resources/styles/playground/buttons.scss
  docs/website/theme/resources/styles/playground/editor.scss
  docs/website/theme/resources/styles/playground/layout.scss
  docs/website/theme/resources/styles/playground/modals.scss
  docs/website/theme/resources/styles/playground/tabs.scss
  docs/website/theme/resources/styles/playground/terminal.scss
  docs/website/theme/resources/styles/playground/toolbar.scss
  docs/website/theme/resources/styles/playground/utilities.scss
  docs/website/theme/resources/styles/search.scss
  docs/website/theme/resources/styles/search/animations.scss
  docs/website/theme/resources/styles/search/darkmode.scss
  docs/website/theme/resources/styles/search/input.scss
  docs/website/theme/resources/styles/search/results.scss
  docs/website/theme/resources/styles/shared/colors.scss
  docs/website/theme/resources/styles/shared/variables.scss
Labels: documentation

fixed path not found error
  docs/website/theme/resources/styles/main.scss
  docs/website/theme/resources/styles/playground.scss
  docs/website/theme/resources/styles/search.scss
  docs/website/theme/resources/styles/shared/colors.scss
  docs/website/theme/resources/styles/shared/variables.scss
Labels: documentation
