Repository arturo-lang/arturo, changes with the labels that .github/labeler.yml gives for each.
All labels: 3rd-party, ast, bundler, bytecode, ci, command line, documentation, error handling, evaluator, execution, freebsd, helpers, installer, library, → Arithmetic, → Bitwise, → Collections, → Colors, → Comparison, → Converters, → Core, → Crypto, → Databases, → Dates, → Exceptions, → Files, → Io, → Iterators, → Logic, → Net, → Numbers, → Paths, → Quantities, → Reflection, → Sets, → Sockets, → Statistics, → Strings, → System, → Types, → Ui, netbsd, openbsd, package manager, parser, repl, rosetta code, ui, unit-test, values, vm, workflows

[vm] route `opMod` through the integer fast path
  src/vm/exec.nim
Labels: execution, vm

[vm] route `opPow` through the integer fast path
  src/vm/exec.nim
Labels: execution, vm

[vm] route `opNeg` through the integer fast path
  src/vm/exec.nim
Labels: execution, vm

[vm] route `opInc` through the integer fast path
  src/vm/exec.nim
Labels: execution, vm

[vm] route `opDec` through the integer fast path
  src/vm/exec.nim
Labels: execution, vm

comments cleanup
  src/vm/values/operators.nim
Labels: values

another minor edit
  src/vm/values/operators.nim
Labels: values

[vm] fuse `normalIntegerOperation` into a single bitwise check
  src/vm/values/operators.nim
Labels: values

[vm] fuse `arithmeticFastpathA`/`arithmeticFastpathB` checks into single bitwise compare
  src/vm/values/operators.nim
Labels: values

minor edit
  src/vm/values/operators.nim
Labels: values

sanitize comments
  src/vm/values/operators.nim
Labels: values

Bump revision to 35 [skip ci]
  version/revision
Labels: none

[vm] route `opBNot` through the integer fast path
  src/vm/exec.nim
Labels: execution, vm

[vm] route `opBAnd` through the integer fast path
  src/vm/exec.nim
Labels: execution, vm

[vm] route `opBOr` through the integer fast path
  src/vm/exec.nim
Labels: execution, vm

[vm] route `opShl` through the integer fast path
  src/vm/exec.nim
Labels: execution, vm

[vm] route `opShr` through the integer fast path
  src/vm/exec.nim
Labels: execution, vm

Bump revision to 36 [skip ci]
  version/revision
Labels: none

[values] add `VTask` custom type for the upcoming `:task` value
  src/vm/values/custom/vtask.nim
Labels: values

[values] match `Database` printing convention for `Task` (`<task>(0x..)` and `[state] 0x..`)
  src/vm/values/printable.nim
Labels: values

[Tasks] drop in-process `task` builtin (wrong shape - subprocess takes its place)
  src/library/Tasks.nim
Labels: library

[Net] add `.async` attribute to `request` (GET-only draft)
  src/library/Net.nim
Labels: library, → Net

[helpers] cover `Task` in `convertedValueToType`
  src/helpers/conversion.nim
Labels: helpers

[Tasks] make `cancel` actually terminate the child process
  src/helpers/parallelism.nim
  src/library/Tasks.nim
Labels: helpers, library

[Core] real value marshalling + void-safety + live stdout for `do.async`
  src/library/Core.nim
Labels: library, → Core

[Tasks] add `task` builtin to wrap a block as a (settled) `:task`
  src/library/Tasks.nim
Labels: library

[values] import `vtask` in `printable` so `$` resolves
  src/vm/values/printable.nim
Labels: values

[Core] make `do` accept a `:task` (sugar for `wait`)
  src/library/Core.nim
Labels: library, → Core

[values] add `process*` field to `VTask` for subprocess-backed tasks
  src/vm/values/types.nim
Labels: values

[Net] add `.async` attribute to `download` (subprocess-backed)
  src/library/Net.nim
Labels: library, → Net

[helpers] extract subprocess machinery to `parallelism.nim` (`spawnAsTask` / `drainTask`)
  src/helpers/parallelism.nim
  src/library/Core.nim
Labels: helpers, library, → Core

[values] make `VTask` hold a real `Future[Value]`
  src/vm/values/custom/vtask.nim
  src/vm/values/printable.nim
  src/vm/values/types.nim
  src/vm/values/value.nim
Labels: values

[helpers] cover `Task` in `generateJsonNode`
  src/helpers/jsonobject.nim
Labels: helpers

[values] quote dict keys in `codify` under `safeStrings` for round-trip safety
  src/vm/values/printable.nim
Labels: values

[Net] add `.async` attribute to `serve` (subprocess-backed)
  src/library/Net.nim
Labels: library, → Net

[values] handle `Task` in `stringify` / `dump`
  src/vm/values/printable.nim
Labels: values

minor edit
  src/vm/values/value.nim
Labels: values

[values] add `Task` to the `ValueKind` enum and `Value` union
  src/vm/values/types.nim
Labels: values

[Tasks] drive the dispatcher via `waitFor` in `wait` / `done?`
  src/library/Tasks.nim
Labels: library

[Tasks] add new module with draft `wait` / `done?` / `cancel`
  src/library/Tasks.nim
Labels: library

.github/labeler.yml:

3rd-party:
  - src/extras/**

ast:
  - src/vm/ast.nim

bundler:
  - src/vm/bundle/generator.nim
  - src/vm/bundle/resources.nim

bytecode:
  - src/vm/bytecode.nim
  - src/vm/opcodes.nim

ci:
  - .github/workflows/freebsd.yml
  - .github/workflows/linux.yml
  - .github/workflows/macos.yml
  - .github/workflows/netbsd.yml
  - .github/workflows/openbsd.yml
  - .github/workflows/web.yml
  - .github/workflows/windows.yml

command line:
  - src/arturo.nim

documentation:
  - examples/projecteuler/*
  - examples/rosetta/*
  - docs/**

error handling: 
  - src/vm/errors.nim

evaluator:
  - src/vm/eval.nim
 
execution:
  - src/vm/exec.nim

freebsd:
  - .github/workflows/freebsd.yml

helpers:
  - src/helpers/*
  
installer:
  - build.nims
  - src/scripts/update.art

library:
  - src/library/**

"→ Arithmetic":
  - src/library/Arithmetic.nim
"→ Bitwise":
  - src/library/Bitwise.nim
"→ Collections":
  - src/library/Collections.nim
"→ Colors":
  - src/library/Colors.nim
"→ Comparison":
  - src/library/Comparison.nim
"→ Converters":
  - src/library/Converters.nim
"→ Core":
  - src/library/Core.nim
"→ Crypto":
  - src/library/Crypto.nim
"→ Databases":
  - src/library/Databases.nim
"→ Dates":
  - src/library/Dates.nim
"→ Exceptions":
  - src/library/Exceptions.nim
"→ Files":
  - src/library/Files.nim
"→ Io":
  - src/library/Io.nim
"→ Iterators":
  - src/library/Iterators.nim
"→ Logic":
  - src/library/Logic.nim
"→ Net":
  - src/library/Net.nim
"→ Numbers":
  - src/library/Numbers.nim
"→ Paths":
  - src/library/Paths.nim
"→ Quantities":
  - src/library/Quantities.nim
"→ Reflection":
  - src/library/Reflection.nim
"→ Sets":
  - src/library/Sets.nim
"→ Sockets":
  - src/library/Sockets.nim
"→ Statistics":
  - src/library/Statistics.nim
"→ Strings":
  - src/library/Strings.nim
"→ System":
  - src/library/System.nim
"→ Types":
  - src/library/Types.nim
"→ Ui":
  - src/library/Ui.nim

netbsd:
  - .github/workflows/netbsd.yml

openbsd:
  - .github/workflows/openbsd.yml

package manager:
  - src/vm/packager.nim

parser:
  - src/vm/parse.nim

repl:
  - src/scripts/console.art
  - src/helpers/repl.nim
  - src/extras/linenoise.nim

rosetta code:
  - examples/rosetta/*

ui:
  - src/extras/libclipboard/*
  - src/extras/menubar/*
  - src/extras/pfd/*
  - src/extras/webview/*
  - src/extras/window/*
  - src/extras/libclipboard.nim
  - src/extras/menubar.nim
  - src/extras/pfd.nim
  - src/extras/webview.nim
  - src/extras/window.nim
  - src/helpers/clipboard.nim
  - src/helpers/dialogs.nim
  - src/helpers/webviews.js
  - src/helpers/webviews.nim
  - src/helpers/windows.nim
  - src/library/Ui.nim

unit-test:
  - tests/errors/**
  - tests/unittests/**
  - tests/web/*

values:
  - src/vm/values/*
  - src/vm/values/custom/**

vm:
  - src/vm/*

workflows:
  - .github/workflows/*
