Repository arturo-lang/arturo, changes with the labels that .github/labeler.yml gives for each.
All labels: 3rd-party, ast, bundler, bytecode, ci, command line, documentation, error handling, evaluator, execution, freebsd, helpers, installer, library, → Arithmetic, → Bitwise, → Collections, → Colors, → Comparison, → Converters, → Core, → Crypto, → Databases, → Dates, → Exceptions, → Files, → Io, → Iterators, → Logic, → Net, → Numbers, → Paths, → Quantities, → Reflection, → Sets, → Sockets, → Statistics, → Strings, → System, → Types, → Ui, netbsd, openbsd, package manager, parser, repl, rosetta code, ui, unit-test, values, vm, workflows

.github/labeler.yml:

3rd-party:
  - src/extras/**

ast:
  - src/vm/ast.nim

bundler:
  - src/vm/bundle/generator.nim
  - src/vm/bundle/resources.nim

bytecode:
  - src/vm/bytecode.nim
  - src/vm/opcodes.nim

ci:
  - .github/workflows/freebsd.yml
  - .github/workflows/linux.yml
  - .github/workflows/macos.yml
  - .github/workflows/netbsd.yml
  - .github/workflows/openbsd.yml
  - .github/workflows/web.yml
  - .github/workflows/windows.yml

command line:
  - src/arturo.nim

documentation:
  - examples/projecteuler/*
  - examples/rosetta/*
  - docs/**

error handling: 
  - src/vm/errors.nim

evaluator:
  - src/vm/eval.nim
 
execution:
  - src/vm/exec.nim

freebsd:
  - .github/workflows/freebsd.yml

helpers:
  - src/helpers/*
  
installer:
  - build.nims
  - src/scripts/update.art

library:
  - src/library/**

"→ Arithmetic":
  - src/library/Arithmetic.nim
"→ Bitwise":
  - src/library/Bitwise.nim
"→ Collections":
  - src/library/Collections.nim
"→ Colors":
  - src/library/Colors.nim
"→ Comparison":
  - src/library/Comparison.nim
"→ Converters":
  - src/library/Converters.nim
"→ Core":
  - src/library/Core.nim
"→ Crypto":
  - src/library/Crypto.nim
"→ Databases":
  - src/library/Databases.nim
"→ Dates":
  - src/library/Dates.nim
"→ Exceptions":
  - src/library/Exceptions.nim
"→ Files":
  - src/library/Files.nim
"→ Io":
  - src/library/Io.nim
"→ Iterators":
  - src/library/Iterators.nim
"→ Logic":
  - src/library/Logic.nim
"→ Net":
  - src/library/Net.nim
"→ Numbers":
  - src/library/Numbers.nim
"→ Paths":
  - src/library/Paths.nim
"→ Quantities":
  - src/library/Quantities.nim
"→ Reflection":
  - src/library/Reflection.nim
"→ Sets":
  - src/library/Sets.nim
"→ Sockets":
  - src/library/Sockets.nim
"→ Statistics":
  - src/library/Statistics.nim
"→ Strings":
  - src/library/Strings.nim
"→ System":
  - src/library/System.nim
"→ Types":
  - src/library/Types.nim
"→ Ui":
  - src/library/Ui.nim

netbsd:
  - .github/workflows/netbsd.yml

openbsd:
  - .github/workflows/openbsd.yml

package manager:
  - src/vm/packager.nim

parser:
  - src/vm/parse.nim

repl:
  - src/scripts/console.art
  - src/helpers/repl.nim
  - src/extras/linenoise.nim

rosetta code:
  - examples/rosetta/*

ui:
  - src/extras/libclipboard/*
  - src/extras/menubar/*
  - src/extras/pfd/*
  - src/extras/webview/*
  - src/extras/window/*
  - src/extras/libclipboard.nim
  - src/extras/menubar.nim
  - src/extras/pfd.nim
  - src/extras/webview.nim
  - src/extras/window.nim
  - src/helpers/clipboard.nim
  - src/helpers/dialogs.nim
  - src/helpers/webviews.js
  - src/helpers/webviews.nim
  - src/helpers/windows.nim
  - src/library/Ui.nim

unit-test:
  - tests/errors/**
  - tests/unittests/**
  - tests/web/*

values:
  - src/vm/values/*
  - src/vm/values/custom/**

vm:
  - src/vm/*

workflows:
  - .github/workflows/*

[Strings] convert `escape` to use dispatch macro
  src/library/Strings.nim
Labels: library, → Strings

[Collections] convert `first` to use dispatch with on-attr
  src/library/Collections.nim
Labels: library, → Collections

[Colors] convert `palette` to use bindAttrs and on-attr dispatch
  src/library/Colors.nim
Labels: library, → Colors

[Strings] convert `truncate` to use bindAttrs and on-attr dispatch
  src/library/Strings.nim
Labels: library, → Strings

[Collections] convert `max` to use bindAttrs and dispatch
  src/library/Collections.nim
Labels: library, → Collections

[vm] add Object to dispatch macros' kind table
  src/vm/lib.nim
Labels: vm

[Colors] convert `blend` to use bindAttrs and 2-axis dispatchWithLiteral
  src/library/Colors.nim
Labels: library, → Colors

[vm] unify dispatch and dispatchWithLiteral around a shared core
  src/vm/lib.nim
Labels: vm

[vm] make per-mode dispatch bodies fully verbatim (no auto-wrap)
  src/vm/lib.nim
Labels: vm

[Colors] convert `desaturate` to use dispatchWithLiteral
  src/library/Colors.nim
Labels: library, → Colors

[Sets] convert `difference` to use dispatchWithLiteral with on-attr
  src/library/Sets.nim
Labels: library, → Sets

[Colors] convert `saturate` to use dispatchWithLiteral
  src/library/Colors.nim
Labels: library, → Colors

[Sets] use dispatch macro for `intersection`/`union`
  src/library/Sets.nim
Labels: library, → Sets

[Collections] convert `permutate` to use bindAttrs, dispatch + on-attr
  src/library/Collections.nim
Labels: library, → Collections

[Strings] convert `jaro` to use dispatchValue macro
  src/library/Strings.nim
Labels: library, → Strings

[vm] rename dispatch -> dispatchWithLiteral, dispatchValue -> dispatch
  src/library/Collections.nim
  src/library/Sets.nim
  src/library/Strings.nim
  src/vm/lib.nim
Labels: library, → Collections, → Sets, → Strings, vm

[Sets] convert `powerset` to use dispatchWithLiteral
  src/library/Sets.nim
Labels: library, → Sets

[Strings] convert `wordwrap` to use dispatch macro
  src/library/Strings.nim
Labels: library, → Strings

[Collections] convert `rotate` to use bindAttrs and dispatchWithLiteral
  src/library/Collections.nim
Labels: library, → Collections

[Collections] convert `one?` to use dispatch macro
  src/library/Collections.nim
Labels: library, → Collections

[Colors] convert `spin` to use dispatchWithLiteral
  src/library/Colors.nim
Labels: library, → Colors

[Collections] convert `tally` to use dispatch macro
  src/library/Collections.nim
Labels: library, → Collections

[vm] rename `attrs` macro to `bindAttrs`
  src/vm/lib.nim
Labels: vm

[Collections] convert `decouple` to use dispatchWithLiteral
  src/library/Collections.nim
Labels: library, → Collections

[Colors] convert `lighten` to use dispatchWithLiteral
  src/library/Colors.nim
Labels: library, → Colors

[Collections] use 3-axis dispatchWithLiteral for `insert`
  src/library/Collections.nim
Labels: library, → Collections

[vm] added support for attribute branching
  src/vm/lib.nim
Labels: vm

[Collections] convert `combine` to use bindAttrs, dispatch + on-attr
  src/library/Collections.nim
Labels: library, → Collections

[Collections] convert `empty?` to use dispatch macro
  src/library/Collections.nim
Labels: library, → Collections

[Collections] convert `sorted?` to use bindAttrs and dispatch
  src/library/Collections.nim
Labels: library, → Collections

[Sets] convert `subset?` to use bindAttrs and dispatch
  src/library/Sets.nim
Labels: library, → Sets

[Strings] convert `replace` to use 3-axis dispatchWithLiteral
  src/library/Strings.nim
Labels: library, → Strings

[Collections] convert `flatten` to use bindAttrs and dispatchWithLiteral
  src/library/Collections.nim
Labels: library, → Collections

[Strings] convert `prefix?` to use dispatchValue macro
  src/library/Strings.nim
Labels: library, → Strings

[Collections] convert `last` to use dispatch with on-attr
  src/library/Collections.nim
Labels: library, → Collections

[Collections] convert `min` to use bindAttrs and dispatch
  src/library/Collections.nim
Labels: library, → Collections

[Strings] convert `ascii?` to use dispatchValue macro
  src/library/Strings.nim
Labels: library, → Strings

[vm] add Complex to dispatch macros' kind table
  src/vm/lib.nim
Labels: vm

[vm] add Regex to dispatch macro's kind table
  src/vm/lib.nim
Labels: vm

[Collections] convert `pop` to use bindAttrs and dispatchWithLiteral
  src/library/Collections.nim
Labels: library, → Collections
