Repository arturo-lang/arturo, changes with the labels that .github/labeler.yml gives for each.
All labels: 3rd-party, ast, bundler, bytecode, ci, command line, documentation, error handling, evaluator, execution, freebsd, helpers, installer, library, → Arithmetic, → Bitwise, → Collections, → Colors, → Comparison, → Converters, → Core, → Crypto, → Databases, → Dates, → Exceptions, → Files, → Io, → Iterators, → Logic, → Net, → Numbers, → Paths, → Quantities, → Reflection, → Sets, → Sockets, → Statistics, → Strings, → System, → Types, → Ui, netbsd, openbsd, package manager, parser, repl, rosetta code, ui, unit-test, values, vm, workflows

minor fixes
  docs/website/theme/playground.html
  docs/website/theme/resources/scripts/playground.js
Labels: documentation

adjust divider color
  docs/website/theme/resources/styles/playground/layout.scss
Labels: documentation

adjust divider color
  docs/website/theme/resources/styles/playground/layout.scss
Labels: documentation

minor tweak
  docs/website/theme/resources/styles/playground/terminal.scss
Labels: documentation

minor tweak
  docs/website/theme/resources/styles/playground/terminal.scss
Labels: documentation

also update Ace.js
  docs/website/theme/resources/scripts/ace.js
Labels: documentation

also update Ace.js
  docs/website/theme/resources/scripts/ace.js
Labels: documentation

also updated fuse.js
  docs/website/theme/resources/scripts/fuse.js
Labels: documentation

also updated fuse.js
  docs/website/theme/resources/scripts/fuse.js
Labels: documentation

refactoring + cleanup
  docs/website/theme/playground.html
  docs/website/theme/resources/scripts/playground.js
  docs/website/theme/resources/styles/playground/editor.scss
  docs/website/theme/resources/styles/playground/modals.scss
  docs/website/theme/resources/styles/playground/tabs.scss
Labels: documentation

refactoring + cleanup
  docs/website/theme/playground.html
  docs/website/theme/resources/scripts/playground.js
  docs/website/theme/resources/styles/playground/editor.scss
  docs/website/theme/resources/styles/playground/modals.scss
  docs/website/theme/resources/styles/playground/tabs.scss
Labels: documentation

update toolbar styling
  docs/website/theme/resources/styles/playground/toolbar.scss
Labels: documentation

update toolbar styling
  docs/website/theme/resources/styles/playground/toolbar.scss
Labels: documentation

misc improvements
  docs/website/theme/playground.html
  docs/website/theme/resources/scripts/playground.js
  docs/website/theme/resources/styles/playground/layout.scss
  docs/website/theme/resources/styles/playground/toolbar.scss
Labels: documentation

misc improvements
  docs/website/theme/playground.html
  docs/website/theme/resources/scripts/playground.js
  docs/website/theme/resources/styles/playground/layout.scss
  docs/website/theme/resources/styles/playground/toolbar.scss
Labels: documentation

attempt to fix divider/layout issues
  docs/website/theme/resources/scripts/playground.js
  docs/website/theme/resources/styles/playground/layout.scss
Labels: documentation

attempt to fix divider/layout issues
  docs/website/theme/resources/scripts/playground.js
  docs/website/theme/resources/styles/playground/layout.scss
Labels: documentation

fixed toolbar item gaps
  docs/website/theme/resources/styles/playground/toolbar.scss
Labels: documentation

fixed toolbar item gaps
  docs/website/theme/resources/styles/playground/toolbar.scss
Labels: documentation

remove previous SCSS leftovers...
  docs/website/theme/resources/global.scss
  docs/website/theme/resources/main.scss
  docs/website/theme/resources/playground.scss
  docs/website/theme/resources/search.scss
Labels: documentation

remove previous SCSS leftovers...
  docs/website/theme/resources/global.scss
  docs/website/theme/resources/main.scss
  docs/website/theme/resources/playground.scss
  docs/website/theme/resources/search.scss
Labels: documentation

more fixes
  docs/website/theme/resources/scripts/playground.js
  docs/website/theme/resources/styles/playground/editor.scss
  docs/website/theme/resources/styles/playground/toolbar.scss
Labels: documentation

more fixes
  docs/website/theme/resources/scripts/playground.js
  docs/website/theme/resources/styles/playground/editor.scss
  docs/website/theme/resources/styles/playground/toolbar.scss
Labels: documentation

misc fixes & adjustments
  docs/website/theme/playground.html
  docs/website/theme/resources/scripts/playground.js
  docs/website/theme/resources/styles/playground/editor.scss
  docs/website/theme/resources/styles/playground/modals.scss
  docs/website/theme/resources/styles/playground/tabs.scss
Labels: documentation

misc fixes & adjustments
  docs/website/theme/playground.html
  docs/website/theme/resources/scripts/playground.js
  docs/website/theme/resources/styles/playground/editor.scss
  docs/website/theme/resources/styles/playground/modals.scss
  docs/website/theme/resources/styles/playground/tabs.scss
Labels: documentation

yet another attempt to fix layout issues on mobile
  docs/website/theme/resources/scripts/playground.js
  docs/website/theme/resources/styles/playground/layout.scss
Labels: documentation

yet another attempt to fix layout issues on mobile
  docs/website/theme/resources/scripts/playground.js
  docs/website/theme/resources/styles/playground/layout.scss
Labels: documentation

fix modal sizes
  docs/website/theme/playground.html
Labels: documentation

fix modal sizes
  docs/website/theme/playground.html
Labels: documentation

fix issue with divider not respecting editor toolbar constraints
  docs/website/theme/resources/scripts/playground.js
Labels: documentation

fix issue with divider not respecting editor toolbar constraints
  docs/website/theme/resources/scripts/playground.js
Labels: documentation

fixed `not`
  src/library/Bitwise.nim
Labels: library, → Bitwise

fixed `not`
  src/library/Bitwise.nim
Labels: library, → Bitwise

fixed errrrror
  src/library/Collections.nim
Labels: library, → Collections

fixed errrrror
  src/library/Collections.nim
Labels: library, → Collections

remove extraneous `~`
  src/library/System.nim
Labels: library, → System

remove extraneous `~`
  src/library/System.nim
Labels: library, → System

clarify `squeeze`
  src/library/Collections.nim
Labels: library, → Collections

clarify `squeeze`
  src/library/Collections.nim
Labels: library, → Collections

amplify description of `extract` (horrible what can we do about it...)
  src/library/Paths.nim
Labels: library, → Paths

.github/labeler.yml:

3rd-party:
  - src/extras/**

ast:
  - src/vm/ast.nim

bundler:
  - src/vm/bundle/generator.nim
  - src/vm/bundle/resources.nim

bytecode:
  - src/vm/bytecode.nim
  - src/vm/opcodes.nim

ci:
  - .github/workflows/freebsd.yml
  - .github/workflows/linux.yml
  - .github/workflows/macos.yml
  - .github/workflows/netbsd.yml
  - .github/workflows/openbsd.yml
  - .github/workflows/web.yml
  - .github/workflows/windows.yml

command line:
  - src/arturo.nim

documentation:
  - examples/projecteuler/*
  - examples/rosetta/*
  - docs/**

error handling: 
  - src/vm/errors.nim

evaluator:
  - src/vm/eval.nim
 
execution:
  - src/vm/exec.nim

freebsd:
  - .github/workflows/freebsd.yml

helpers:
  - src/helpers/*
  
installer:
  - build.nims
  - src/scripts/update.art

library:
  - src/library/**

"→ Arithmetic":
  - src/library/Arithmetic.nim
"→ Bitwise":
  - src/library/Bitwise.nim
"→ Collections":
  - src/library/Collections.nim
"→ Colors":
  - src/library/Colors.nim
"→ Comparison":
  - src/library/Comparison.nim
"→ Converters":
  - src/library/Converters.nim
"→ Core":
  - src/library/Core.nim
"→ Crypto":
  - src/library/Crypto.nim
"→ Databases":
  - src/library/Databases.nim
"→ Dates":
  - src/library/Dates.nim
"→ Exceptions":
  - src/library/Exceptions.nim
"→ Files":
  - src/library/Files.nim
"→ Io":
  - src/library/Io.nim
"→ Iterators":
  - src/library/Iterators.nim
"→ Logic":
  - src/library/Logic.nim
"→ Net":
  - src/library/Net.nim
"→ Numbers":
  - src/library/Numbers.nim
"→ Paths":
  - src/library/Paths.nim
"→ Quantities":
  - src/library/Quantities.nim
"→ Reflection":
  - src/library/Reflection.nim
"→ Sets":
  - src/library/Sets.nim
"→ Sockets":
  - src/library/Sockets.nim
"→ Statistics":
  - src/library/Statistics.nim
"→ Strings":
  - src/library/Strings.nim
"→ System":
  - src/library/System.nim
"→ Types":
  - src/library/Types.nim
"→ Ui":
  - src/library/Ui.nim

netbsd:
  - .github/workflows/netbsd.yml

openbsd:
  - .github/workflows/openbsd.yml

package manager:
  - src/vm/packager.nim

parser:
  - src/vm/parse.nim

repl:
  - src/scripts/console.art
  - src/helpers/repl.nim
  - src/extras/linenoise.nim

rosetta code:
  - examples/rosetta/*

ui:
  - src/extras/libclipboard/*
  - src/extras/menubar/*
  - src/extras/pfd/*
  - src/extras/webview/*
  - src/extras/window/*
  - src/extras/libclipboard.nim
  - src/extras/menubar.nim
  - src/extras/pfd.nim
  - src/extras/webview.nim
  - src/extras/window.nim
  - src/helpers/clipboard.nim
  - src/helpers/dialogs.nim
  - src/helpers/webviews.js
  - src/helpers/webviews.nim
  - src/helpers/windows.nim
  - src/library/Ui.nim

unit-test:
  - tests/errors/**
  - tests/unittests/**
  - tests/web/*

values:
  - src/vm/values/*
  - src/vm/values/custom/**

vm:
  - src/vm/*

workflows:
  - .github/workflows/*
