Repository arturo-lang/arturo, changes with the labels that .github/labeler.yml gives for each.
All labels: 3rd-party, ast, bundler, bytecode, ci, command line, documentation, error handling, evaluator, execution, freebsd, helpers, installer, library, → Arithmetic, → Bitwise, → Collections, → Colors, → Comparison, → Converters, → Core, → Crypto, → Databases, → Dates, → Exceptions, → Files, → Io, → Iterators, → Logic, → Net, → Numbers, → Paths, → Quantities, → Reflection, → Sets, → Sockets, → Statistics, → Strings, → System, → Types, → Ui, netbsd, openbsd, package manager, parser, repl, rosetta code, ui, unit-test, values, vm, workflows

put checksum inside the `title=` (not optimal, obviously, but whatever...)
  docs/website/theme/index.html
  docs/website/theme/resources/styles/main.scss
Labels: documentation

put checksum inside the `title=` (not optimal, obviously, but whatever...)
  docs/website/theme/index.html
  docs/website/theme/resources/styles/main.scss
Labels: documentation

set `is-hoverable`
  docs/website/theme/components/navbar.html
Labels: documentation

set `is-hoverable`
  docs/website/theme/components/navbar.html
Labels: documentation

set to `-90o`
  docs/website/theme/resources/styles/main.scss
Labels: documentation

set to `-90o`
  docs/website/theme/resources/styles/main.scss
Labels: documentation

move `.icon` rules to parent
  docs/website/theme/resources/styles/main.scss
Labels: documentation

move `.icon` rules to parent
  docs/website/theme/resources/styles/main.scss
Labels: documentation

add some test menu items (to see what it all looks like)
  docs/website/theme/components/navbar.html
Labels: documentation

add some test menu items (to see what it all looks like)
  docs/website/theme/components/navbar.html
Labels: documentation

Core: removed `if?`
  src/library/Core.nim
Labels: library, → Core

Core: removed `if?`
  src/library/Core.nim
Labels: library, → Core

removed TODO
  src/library/Core.nim
Labels: library, → Core

removed TODO
  src/library/Core.nim
Labels: library, → Core

Core: removed `when?`
  src/library/Core.nim
Labels: library, → Core

Core: removed `when?`
  src/library/Core.nim
Labels: library, → Core

clean up unused items
  docs/website/theme/components/navbar.html
Labels: documentation

removed unused navbar items
  docs/website/theme/components/navbar.html
Labels: documentation

removed unused navbar items
  docs/website/theme/components/navbar.html
Labels: documentation

restore all builds
  .github/workflows/update.yml
Labels: workflows

restore all builds
  .github/workflows/update.yml
Labels: workflows

fix paths
  tools/binarygen.art
Labels: none

fix paths
  tools/binarygen.art
Labels: none

fix again
  tools/binarygen.art
Labels: none

fix again
  tools/binarygen.art
Labels: none

attempt to slightly tweak overflow issues
  docs/website/theme/resources/styles/main.scss
Labels: documentation

attempt to slightly tweak overflow issues
  docs/website/theme/resources/styles/main.scss
Labels: documentation

hack to make it copy the files to the correct directory
  tools/miniwebize/webize.art
Labels: none

hack to make it copy the files to the correct directory
  tools/miniwebize/webize.art
Labels: none

change documentation license to sth more permissive
  docs/website/theme/components/foot.html
Labels: documentation

change documentation license to sth more permissive
  docs/website/theme/components/foot.html
Labels: documentation

set icon as svg too
  docs/website/theme/components/breadcrumbs.html
Labels: documentation

set icon as svg too
  docs/website/theme/components/breadcrumbs.html
Labels: documentation

minor fix
  docs/website/theme/index.html
Labels: documentation

minor fix
  docs/website/theme/index.html
Labels: documentation

remove phosphor icons dependency
  docs/website/theme/components/head.html
Labels: documentation

remove phosphor icons dependency
  docs/website/theme/components/head.html
Labels: documentation

comment out manifest
  docs/website/theme/components/head.html
Labels: documentation

comment out manifest
  docs/website/theme/components/head.html
Labels: documentation

added proper ARIA labels + fixed issue with label
  docs/website/theme/index.html
Labels: documentation

.github/labeler.yml:

3rd-party:
  - src/extras/**

ast:
  - src/vm/ast.nim

bundler:
  - src/vm/bundle/generator.nim
  - src/vm/bundle/resources.nim

bytecode:
  - src/vm/bytecode.nim
  - src/vm/opcodes.nim

ci:
  - .github/workflows/freebsd.yml
  - .github/workflows/linux.yml
  - .github/workflows/macos.yml
  - .github/workflows/netbsd.yml
  - .github/workflows/openbsd.yml
  - .github/workflows/web.yml
  - .github/workflows/windows.yml

command line:
  - src/arturo.nim

documentation:
  - examples/projecteuler/*
  - examples/rosetta/*
  - docs/**

error handling: 
  - src/vm/errors.nim

evaluator:
  - src/vm/eval.nim
 
execution:
  - src/vm/exec.nim

freebsd:
  - .github/workflows/freebsd.yml

helpers:
  - src/helpers/*
  
installer:
  - build.nims
  - src/scripts/update.art

library:
  - src/library/**

"→ Arithmetic":
  - src/library/Arithmetic.nim
"→ Bitwise":
  - src/library/Bitwise.nim
"→ Collections":
  - src/library/Collections.nim
"→ Colors":
  - src/library/Colors.nim
"→ Comparison":
  - src/library/Comparison.nim
"→ Converters":
  - src/library/Converters.nim
"→ Core":
  - src/library/Core.nim
"→ Crypto":
  - src/library/Crypto.nim
"→ Databases":
  - src/library/Databases.nim
"→ Dates":
  - src/library/Dates.nim
"→ Exceptions":
  - src/library/Exceptions.nim
"→ Files":
  - src/library/Files.nim
"→ Io":
  - src/library/Io.nim
"→ Iterators":
  - src/library/Iterators.nim
"→ Logic":
  - src/library/Logic.nim
"→ Net":
  - src/library/Net.nim
"→ Numbers":
  - src/library/Numbers.nim
"→ Paths":
  - src/library/Paths.nim
"→ Quantities":
  - src/library/Quantities.nim
"→ Reflection":
  - src/library/Reflection.nim
"→ Sets":
  - src/library/Sets.nim
"→ Sockets":
  - src/library/Sockets.nim
"→ Statistics":
  - src/library/Statistics.nim
"→ Strings":
  - src/library/Strings.nim
"→ System":
  - src/library/System.nim
"→ Types":
  - src/library/Types.nim
"→ Ui":
  - src/library/Ui.nim

netbsd:
  - .github/workflows/netbsd.yml

openbsd:
  - .github/workflows/openbsd.yml

package manager:
  - src/vm/packager.nim

parser:
  - src/vm/parse.nim

repl:
  - src/scripts/console.art
  - src/helpers/repl.nim
  - src/extras/linenoise.nim

rosetta code:
  - examples/rosetta/*

ui:
  - src/extras/libclipboard/*
  - src/extras/menubar/*
  - src/extras/pfd/*
  - src/extras/webview/*
  - src/extras/window/*
  - src/extras/libclipboard.nim
  - src/extras/menubar.nim
  - src/extras/pfd.nim
  - src/extras/webview.nim
  - src/extras/window.nim
  - src/helpers/clipboard.nim
  - src/helpers/dialogs.nim
  - src/helpers/webviews.js
  - src/helpers/webviews.nim
  - src/helpers/windows.nim
  - src/library/Ui.nim

unit-test:
  - tests/errors/**
  - tests/unittests/**
  - tests/web/*

values:
  - src/vm/values/*
  - src/vm/values/custom/**

vm:
  - src/vm/*

workflows:
  - .github/workflows/*
