Repository arturo-lang/arturo, changes with the labels that .github/labeler.yml gives for each.
All labels: 3rd-party, ast, bundler, bytecode, ci, command line, documentation, error handling, evaluator, execution, freebsd, helpers, installer, library, → Arithmetic, → Bitwise, → Collections, → Colors, → Comparison, → Converters, → Core, → Crypto, → Databases, → Dates, → Exceptions, → Files, → Io, → Iterators, → Logic, → Net, → Numbers, → Paths, → Quantities, → Reflection, → Sets, → Sockets, → Statistics, → Strings, → System, → Types, → Ui, netbsd, openbsd, package manager, parser, repl, rosetta code, ui, unit-test, values, vm, workflows

.github/labeler.yml:

3rd-party:
  - src/extras/**

ast:
  - src/vm/ast.nim

bundler:
  - src/vm/bundle/generator.nim
  - src/vm/bundle/resources.nim

bytecode:
  - src/vm/bytecode.nim
  - src/vm/opcodes.nim

ci:
  - .github/workflows/freebsd.yml
  - .github/workflows/linux.yml
  - .github/workflows/macos.yml
  - .github/workflows/netbsd.yml
  - .github/workflows/openbsd.yml
  - .github/workflows/web.yml
  - .github/workflows/windows.yml

command line:
  - src/arturo.nim

documentation:
  - examples/projecteuler/*
  - examples/rosetta/*
  - docs/**

error handling: 
  - src/vm/errors.nim

evaluator:
  - src/vm/eval.nim
 
execution:
  - src/vm/exec.nim

freebsd:
  - .github/workflows/freebsd.yml

helpers:
  - src/helpers/*
  
installer:
  - build.nims
  - src/scripts/update.art

library:
  - src/library/**

"→ Arithmetic":
  - src/library/Arithmetic.nim
"→ Bitwise":
  - src/library/Bitwise.nim
"→ Collections":
  - src/library/Collections.nim
"→ Colors":
  - src/library/Colors.nim
"→ Comparison":
  - src/library/Comparison.nim
"→ Converters":
  - src/library/Converters.nim
"→ Core":
  - src/library/Core.nim
"→ Crypto":
  - src/library/Crypto.nim
"→ Databases":
  - src/library/Databases.nim
"→ Dates":
  - src/library/Dates.nim
"→ Exceptions":
  - src/library/Exceptions.nim
"→ Files":
  - src/library/Files.nim
"→ Io":
  - src/library/Io.nim
"→ Iterators":
  - src/library/Iterators.nim
"→ Logic":
  - src/library/Logic.nim
"→ Net":
  - src/library/Net.nim
"→ Numbers":
  - src/library/Numbers.nim
"→ Paths":
  - src/library/Paths.nim
"→ Quantities":
  - src/library/Quantities.nim
"→ Reflection":
  - src/library/Reflection.nim
"→ Sets":
  - src/library/Sets.nim
"→ Sockets":
  - src/library/Sockets.nim
"→ Statistics":
  - src/library/Statistics.nim
"→ Strings":
  - src/library/Strings.nim
"→ System":
  - src/library/System.nim
"→ Types":
  - src/library/Types.nim
"→ Ui":
  - src/library/Ui.nim

netbsd:
  - .github/workflows/netbsd.yml

openbsd:
  - .github/workflows/openbsd.yml

package manager:
  - src/vm/packager.nim

parser:
  - src/vm/parse.nim

repl:
  - src/scripts/console.art
  - src/helpers/repl.nim
  - src/extras/linenoise.nim

rosetta code:
  - examples/rosetta/*

ui:
  - src/extras/libclipboard/*
  - src/extras/menubar/*
  - src/extras/pfd/*
  - src/extras/webview/*
  - src/extras/window/*
  - src/extras/libclipboard.nim
  - src/extras/menubar.nim
  - src/extras/pfd.nim
  - src/extras/webview.nim
  - src/extras/window.nim
  - src/helpers/clipboard.nim
  - src/helpers/dialogs.nim
  - src/helpers/webviews.js
  - src/helpers/webviews.nim
  - src/helpers/windows.nim
  - src/library/Ui.nim

unit-test:
  - tests/errors/**
  - tests/unittests/**
  - tests/web/*

values:
  - src/vm/values/*
  - src/vm/values/custom/**

vm:
  - src/vm/*

workflows:
  - .github/workflows/*

Use YAML instead of Markdown
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.yaml
Labels: none

minor cleanup
  src/vm/lib.nim
Labels: vm

add back normal Collections unit-tests
  tests/unittests/lib.colections.res
  tests/unittests/lib.collections.art
  tools/tester.art
Labels: unit-test

fixed filename
  tests/unittests/lib.collections.res
Labels: unit-test

don't disable this
  tools/tester.art
Labels: none

disable `store`-related tests
  tests/unittests/lib.collections.art
Labels: unit-test

let's try running Collections tests no matter what
  tools/tester.art
Labels: none

also adjust expected output
  tests/unittests/lib.collections.res
Labels: unit-test

added TODO and disabled related test
  tests/unitt/lib/collections/get.test.art
Labels: none

remove commented-out leftovers
  tools/tester.art
Labels: none

Bump build to 3449 [skip ci]
  version/build
Labels: none

Bump build to 3450 [skip ci]
  version/build
Labels: none

Fix tabulation
  .github/ISSUE_TEMPLATE/feature_request.yaml
Labels: none

Fix indentation
  .github/ISSUE_TEMPLATE/feature_request.yaml
Labels: none

Rename file
  .github/ISSUE_TEMPLATE/feature-request.yaml
Labels: none

Add a title, since this must be not empty
  .github/ISSUE_TEMPLATE/bug-report.yaml
  .github/ISSUE_TEMPLATE/feature-request.yaml
Labels: none

Summary: Fix value needed for required input
  .github/ISSUE_TEMPLATE/feature-request.yaml
Labels: none

Welcoming: Remove section
  .github/ISSUE_TEMPLATE/feature-request.yaml
Labels: none

Proposal: Add required value
  .github/ISSUE_TEMPLATE/feature-request.yaml
Labels: none

Proposal: Remove unpermitted label
  .github/ISSUE_TEMPLATE/feature-request.yaml
Labels: none

Proposal: add label again
  .github/ISSUE_TEMPLATE/feature-request.yaml
Labels: none

Examples: Remove render
  .github/ISSUE_TEMPLATE/feature-request.yaml
Labels: none

Example: Remove all attributes
  .github/ISSUE_TEMPLATE/feature-request.yaml
Labels: none

Examples: Add default value
  .github/ISSUE_TEMPLATE/feature-request.yaml
Labels: none

Use similar indentation rules to feature-request
  .github/ISSUE_TEMPLATE/bug-report.yaml
Labels: none

Summary: use a similar input to feature-request
  .github/ISSUE_TEMPLATE/bug-report.yaml
Labels: none

Behavior: use value only
  .github/ISSUE_TEMPLATE/bug-report.yaml
Labels: none

Steps: use value only
  .github/ISSUE_TEMPLATE/bug-report.yaml
Labels: none

Information: fix label
  .github/ISSUE_TEMPLATE/bug-report.yaml
Labels: none

Steps: turn into markdown again
  .github/ISSUE_TEMPLATE/bug-report.yaml
Labels: none

Bump build to 3451 [skip ci]
  version/build
Labels: none

Steps: use text area
  .github/ISSUE_TEMPLATE/bug-report.yaml
Labels: none

Steps: Fix ID
  .github/ISSUE_TEMPLATE/bug-report.yaml
Labels: none

Add better IDs
  .github/ISSUE_TEMPLATE/bug-report.yaml
Labels: none

Behavior: use text area
  .github/ISSUE_TEMPLATE/bug-report.yaml
Labels: none

Steps: use default value
  .github/ISSUE_TEMPLATE/bug-report.yaml
Labels: none

Examples: use text area
  .github/ISSUE_TEMPLATE/feature-request.yaml
Labels: none

Bump build to 3452 [skip ci]
  version/build
Labels: none

Remove markdown render
  .github/ISSUE_TEMPLATE/bug-report.yaml
Labels: none

Move checkbox to bottom
  .github/ISSUE_TEMPLATE/bug-report.yaml
Labels: none
