Repository arturo-lang/arturo, changes with the labels that .github/labeler.yml gives for each.
All labels: 3rd-party, ast, bundler, bytecode, ci, command line, documentation, error handling, evaluator, execution, freebsd, helpers, installer, library, → Arithmetic, → Bitwise, → Collections, → Colors, → Comparison, → Converters, → Core, → Crypto, → Databases, → Dates, → Exceptions, → Files, → Io, → Iterators, → Logic, → Net, → Numbers, → Paths, → Quantities, → Reflection, → Sets, → Sockets, → Statistics, → Strings, → System, → Types, → Ui, netbsd, openbsd, package manager, parser, repl, rosetta code, ui, unit-test, values, vm, workflows

fixed paths
  src/library/Net.nim
Labels: library, → Net

fixed paths
  src/library/Net.nim
Labels: library, → Net

added static libraries for arm64/linux
  src/extras/openssl/deps/linux/amd64/libssl.a
  src/extras/openssl/deps/linux/arm64/libssl.a
Labels: 3rd-party

added static libraries for arm64/linux
  src/extras/openssl/deps/linux/amd64/libssl.a
  src/extras/openssl/deps/linux/arm64/libssl.a
Labels: 3rd-party

fixed paths for linux
  src/library/Net.nim
Labels: library, → Net

fixed paths for linux
  src/library/Net.nim
Labels: library, → Net

clean up proc names
  config.nims
Labels: none

clean up proc names
  config.nims
Labels: none

we don't really need to static-link openssl for FreeBSD
  config.nims
Labels: none

we don't really need to static-link openssl for FreeBSD
  config.nims
Labels: none

re-organize files
  src/deps/openssl/linux/amd64/libssl.a
  src/deps/openssl/linux/arm64/libssl.a
  src/deps/openssl/macos/amd64/libssl.a
  src/deps/openssl/macos/arm64/libssl.a
  src/deps/openssl/windows/amd64/libssl.a
  src/deps/openssl/windows/amd64/libws2_32.a
  src/deps/pcre/freebsd/amd64/libpcre.a
  src/deps/pcre/linux/amd64/libpcre.a
  src/deps/pcre/linux/arm64/libpcre.a
  src/deps/pcre/macos/amd64/libpcre.a
  src/deps/pcre/macos/arm64/libpcre.a
  src/deps/pcre/windows/amd64/libpcre.a
Labels: none

re-organize files
  src/deps/openssl/linux/amd64/libssl.a
  src/deps/openssl/linux/arm64/libssl.a
  src/deps/openssl/macos/amd64/libssl.a
  src/deps/openssl/macos/arm64/libssl.a
  src/deps/openssl/windows/amd64/libssl.a
  src/deps/openssl/windows/amd64/libws2_32.a
  src/deps/pcre/freebsd/amd64/libpcre.a
  src/deps/pcre/linux/amd64/libpcre.a
  src/deps/pcre/linux/arm64/libpcre.a
  src/deps/pcre/macos/amd64/libpcre.a
  src/deps/pcre/macos/arm64/libpcre.a
  src/deps/pcre/windows/amd64/libpcre.a
Labels: none

updated all dependency paths
  src/library/Net.nim
  src/vm/values/custom/vregex.nim
Labels: library, → Net, values

updated all dependency paths
  src/library/Net.nim
  src/vm/values/custom/vregex.nim
Labels: library, → Net, values

fixed minor typo
  src/vm/values/custom/vregex.nim
Labels: values

fixed minor typo
  src/vm/values/custom/vregex.nim
Labels: values

"sneak" static libraries out of macOS tasks
  .github/workflows/ci.yml
Labels: workflows

"sneak" static libraries out of macOS tasks
  .github/workflows/ci.yml
Labels: workflows

fixed issue + sanitize metadata/version info
  .github/workflows/ci.yml
Labels: workflows

fixed issue + sanitize metadata/version info
  .github/workflows/ci.yml
Labels: workflows

minor fix
  src/vm/values/custom/vregex.nim
Labels: values

minor fix
  src/vm/values/custom/vregex.nim
Labels: values

updated bundled deps for macOS
  src/deps/openssl/macos/amd64/libssl.a
  src/deps/openssl/macos/arm64/libssl.a
Labels: none

updated bundled deps for macOS
  src/deps/openssl/macos/amd64/libssl.a
  src/deps/openssl/macos/arm64/libssl.a
Labels: none

removed TODO
  src/library/Net.nim
Labels: library, → Net

removed TODO
  src/library/Net.nim
Labels: library, → Net

cleaned up workflow (removed debugging tasks)
  .github/workflows/ci.yml
Labels: workflows

cleaned up workflow (removed debugging tasks)
  .github/workflows/ci.yml
Labels: workflows

cleanup
  .config/arch.nims
  .config/buildmode.nims
  config.nims
Labels: none

cleanup
  .config/arch.nims
  .config/buildmode.nims
  config.nims
Labels: none

let's try using OpenSSL3 everywhere
  .config/buildmode.nims
Labels: none

let's try using OpenSSL3 everywhere
  .config/buildmode.nims
Labels: none

exract static libraries
  .github/workflows/ci.yml
Labels: workflows

exract static libraries
  .github/workflows/ci.yml
Labels: workflows

trigger rebuild
  .github/workflows/ci.yml
Labels: workflows

trigger rebuild
  .github/workflows/ci.yml
Labels: workflows

disable tests
  .github/workflows/ci.yml
Labels: workflows

disable tests
  .github/workflows/ci.yml
Labels: workflows

temporarily disable
  .github/workflows/ci.yml
Labels: workflows

temporarily disable
  .github/workflows/ci.yml
Labels: workflows

.github/labeler.yml:

3rd-party:
  - src/extras/**

ast:
  - src/vm/ast.nim

bundler:
  - src/vm/bundle/generator.nim
  - src/vm/bundle/resources.nim

bytecode:
  - src/vm/bytecode.nim
  - src/vm/opcodes.nim

ci:
  - .github/workflows/freebsd.yml
  - .github/workflows/linux.yml
  - .github/workflows/macos.yml
  - .github/workflows/netbsd.yml
  - .github/workflows/openbsd.yml
  - .github/workflows/web.yml
  - .github/workflows/windows.yml

command line:
  - src/arturo.nim

documentation:
  - examples/projecteuler/*
  - examples/rosetta/*
  - docs/**

error handling: 
  - src/vm/errors.nim

evaluator:
  - src/vm/eval.nim
 
execution:
  - src/vm/exec.nim

freebsd:
  - .github/workflows/freebsd.yml

helpers:
  - src/helpers/*
  
installer:
  - build.nims
  - src/scripts/update.art

library:
  - src/library/**

"→ Arithmetic":
  - src/library/Arithmetic.nim
"→ Bitwise":
  - src/library/Bitwise.nim
"→ Collections":
  - src/library/Collections.nim
"→ Colors":
  - src/library/Colors.nim
"→ Comparison":
  - src/library/Comparison.nim
"→ Converters":
  - src/library/Converters.nim
"→ Core":
  - src/library/Core.nim
"→ Crypto":
  - src/library/Crypto.nim
"→ Databases":
  - src/library/Databases.nim
"→ Dates":
  - src/library/Dates.nim
"→ Exceptions":
  - src/library/Exceptions.nim
"→ Files":
  - src/library/Files.nim
"→ Io":
  - src/library/Io.nim
"→ Iterators":
  - src/library/Iterators.nim
"→ Logic":
  - src/library/Logic.nim
"→ Net":
  - src/library/Net.nim
"→ Numbers":
  - src/library/Numbers.nim
"→ Paths":
  - src/library/Paths.nim
"→ Quantities":
  - src/library/Quantities.nim
"→ Reflection":
  - src/library/Reflection.nim
"→ Sets":
  - src/library/Sets.nim
"→ Sockets":
  - src/library/Sockets.nim
"→ Statistics":
  - src/library/Statistics.nim
"→ Strings":
  - src/library/Strings.nim
"→ System":
  - src/library/System.nim
"→ Types":
  - src/library/Types.nim
"→ Ui":
  - src/library/Ui.nim

netbsd:
  - .github/workflows/netbsd.yml

openbsd:
  - .github/workflows/openbsd.yml

package manager:
  - src/vm/packager.nim

parser:
  - src/vm/parse.nim

repl:
  - src/scripts/console.art
  - src/helpers/repl.nim
  - src/extras/linenoise.nim

rosetta code:
  - examples/rosetta/*

ui:
  - src/extras/libclipboard/*
  - src/extras/menubar/*
  - src/extras/pfd/*
  - src/extras/webview/*
  - src/extras/window/*
  - src/extras/libclipboard.nim
  - src/extras/menubar.nim
  - src/extras/pfd.nim
  - src/extras/webview.nim
  - src/extras/window.nim
  - src/helpers/clipboard.nim
  - src/helpers/dialogs.nim
  - src/helpers/webviews.js
  - src/helpers/webviews.nim
  - src/helpers/windows.nim
  - src/library/Ui.nim

unit-test:
  - tests/errors/**
  - tests/unittests/**
  - tests/web/*

values:
  - src/vm/values/*
  - src/vm/values/custom/**

vm:
  - src/vm/*

workflows:
  - .github/workflows/*
