Repository arturo-lang/arturo, changes with the labels that .github/labeler.yml gives for each.
All labels: 3rd-party, ast, bundler, bytecode, ci, command line, documentation, error handling, evaluator, execution, freebsd, helpers, installer, library, → Arithmetic, → Bitwise, → Collections, → Colors, → Comparison, → Converters, → Core, → Crypto, → Databases, → Dates, → Exceptions, → Files, → Io, → Iterators, → Logic, → Net, → Numbers, → Paths, → Quantities, → Reflection, → Sets, → Sockets, → Statistics, → Strings, → System, → Types, → Ui, netbsd, openbsd, package manager, parser, repl, rosetta code, ui, unit-test, values, vm, workflows

.github/labeler.yml:

3rd-party:
  - src/extras/**

ast:
  - src/vm/ast.nim

bundler:
  - src/vm/bundle/generator.nim
  - src/vm/bundle/resources.nim

bytecode:
  - src/vm/bytecode.nim
  - src/vm/opcodes.nim

ci:
  - .github/workflows/freebsd.yml
  - .github/workflows/linux.yml
  - .github/workflows/macos.yml
  - .github/workflows/netbsd.yml
  - .github/workflows/openbsd.yml
  - .github/workflows/web.yml
  - .github/workflows/windows.yml

command line:
  - src/arturo.nim

documentation:
  - examples/projecteuler/*
  - examples/rosetta/*
  - docs/**

error handling: 
  - src/vm/errors.nim

evaluator:
  - src/vm/eval.nim
 
execution:
  - src/vm/exec.nim

freebsd:
  - .github/workflows/freebsd.yml

helpers:
  - src/helpers/*
  
installer:
  - build.nims
  - src/scripts/update.art

library:
  - src/library/**

"→ Arithmetic":
  - src/library/Arithmetic.nim
"→ Bitwise":
  - src/library/Bitwise.nim
"→ Collections":
  - src/library/Collections.nim
"→ Colors":
  - src/library/Colors.nim
"→ Comparison":
  - src/library/Comparison.nim
"→ Converters":
  - src/library/Converters.nim
"→ Core":
  - src/library/Core.nim
"→ Crypto":
  - src/library/Crypto.nim
"→ Databases":
  - src/library/Databases.nim
"→ Dates":
  - src/library/Dates.nim
"→ Exceptions":
  - src/library/Exceptions.nim
"→ Files":
  - src/library/Files.nim
"→ Io":
  - src/library/Io.nim
"→ Iterators":
  - src/library/Iterators.nim
"→ Logic":
  - src/library/Logic.nim
"→ Net":
  - src/library/Net.nim
"→ Numbers":
  - src/library/Numbers.nim
"→ Paths":
  - src/library/Paths.nim
"→ Quantities":
  - src/library/Quantities.nim
"→ Reflection":
  - src/library/Reflection.nim
"→ Sets":
  - src/library/Sets.nim
"→ Sockets":
  - src/library/Sockets.nim
"→ Statistics":
  - src/library/Statistics.nim
"→ Strings":
  - src/library/Strings.nim
"→ System":
  - src/library/System.nim
"→ Types":
  - src/library/Types.nim
"→ Ui":
  - src/library/Ui.nim

netbsd:
  - .github/workflows/netbsd.yml

openbsd:
  - .github/workflows/openbsd.yml

package manager:
  - src/vm/packager.nim

parser:
  - src/vm/parse.nim

repl:
  - src/scripts/console.art
  - src/helpers/repl.nim
  - src/extras/linenoise.nim

rosetta code:
  - examples/rosetta/*

ui:
  - src/extras/libclipboard/*
  - src/extras/menubar/*
  - src/extras/pfd/*
  - src/extras/webview/*
  - src/extras/window/*
  - src/extras/libclipboard.nim
  - src/extras/menubar.nim
  - src/extras/pfd.nim
  - src/extras/webview.nim
  - src/extras/window.nim
  - src/helpers/clipboard.nim
  - src/helpers/dialogs.nim
  - src/helpers/webviews.js
  - src/helpers/webviews.nim
  - src/helpers/windows.nim
  - src/library/Ui.nim

unit-test:
  - tests/errors/**
  - tests/unittests/**
  - tests/web/*

values:
  - src/vm/values/*
  - src/vm/values/custom/**

vm:
  - src/vm/*

workflows:
  - .github/workflows/*

add `break` after we have matched the correct route
  src/library/internal/Net/serve.art
Labels: library

removed `customServerStatus`
  src/library/internal/Net/serve.art
Labels: library

we have to check for `.silent`, not `.verbose`
  src/library/Net.nim
Labels: library, → Net

add `.ip` field in request dictionary
  src/library/Net.nim
Labels: library, → Net

[Net\mail] close connection after sending
  src/library/Net.nim
Labels: library, → Net

set response body explicitly for 404/500 errors
  src/library/internal/Net/serve.art
Labels: library

[Net\mail] added missing `sender=` field
  src/library/Net.nim
Labels: library, → Net

properly decode path before passing to handler
  src/library/Net.nim
Labels: library, → Net

attempt to correctly handle regex vs string path matches
  src/library/internal/Net/serve.art
Labels: library

minor fix
  src/library/internal/Net/serve.art
Labels: library

debugging
  src/library/internal/Net/serve.art
Labels: library

removed debugging line
  src/library/internal/Net/serve.art
Labels: library

attempt to store retrievable string/regex values as dictionary keys
  src/library/internal/Net/serve.art
Labels: library

[Net\serve] updated example
  src/library/Net.nim
Labels: library, → Net

remove unused import
  src/extras/smtp.nim
Labels: 3rd-party

minor cleanup to silence warnings
  src/extras/smtp.nim
Labels: 3rd-party

Bump revision to 18 [skip ci]
  version/revision
Labels: none

don't ignore `test*` files
  .gitignore
Labels: none

Bump revision to 19 [skip ci]
  version/revision
Labels: none

placeholder edit
  README.md
Labels: none

revert
  README.md
Labels: none

added silly placeholder test
  src/helpers/combinatorics.nim
Labels: helpers

added initial CI test
  .github/workflows/ci.yml
Labels: workflows

refine criteria
  .github/workflows/ci.yml
Labels: workflows

make sure Nim is available
  .github/workflows/ci.yml
Labels: workflows

temporarily disable normal unit-tests
  .github/workflows/ci.yml
Labels: workflows

add script for Nim-level unit-tests
  tools/nimtester.art
Labels: none

added comments + general cleanup
  .github/workflows/ci.yml
Labels: workflows

nim is already installed on Windows(?)
  .github/workflows/ci.yml
Labels: workflows

placeholder edit
  README.md
Labels: none

fixed `--NOPARSERS`
  .config/buildmode.nims
  src/helpers/html.nim
  src/helpers/markdown.nim
  src/helpers/xml.nim
  src/library/Files.nim
Labels: helpers, library, → Files

rename `NOSQLITE` to `SQLITE` & move
  .config/buildmode.nims
Labels: none

fixed `--NOSQLITE`
  src/helpers/stores.nim
  src/library/Databases.nim
  src/vm/env.nim
  src/vm/values/comparison.nim
  src/vm/values/printable.nim
  src/vm/values/types.nim
  src/vm/values/value.nim
Labels: helpers, library, → Databases, values, vm

rename `NOCLIPBOARD` to `CLIPBOARD` & move
  .config/buildmode.nims
Labels: none

fixed `--NOCLIPBOARD`
  src/library/Ui.nim
Labels: library, → Ui, ui

fixed `--NODIALOGS`
  .config/buildmode.nims
  src/library/Ui.nim
Labels: library, → Ui, ui

rename `NOWEBVIEW` to `WEBVIEW` & move
  .config/buildmode.nims
Labels: none

fixed `--NOWEBVIEW`
  src/helpers/webviews.nim
  src/library/Ui.nim
Labels: helpers, library, → Ui, ui

removed `noDependenciesConfig` altogether
  .config/buildmode.nims
Labels: none

...and all references to it
  .config/buildmode.nims
Labels: none
