Repository arturo-lang/arturo, changes with the labels that .github/labeler.yml gives for each.
All labels: 3rd-party, ast, bundler, bytecode, ci, command line, documentation, error handling, evaluator, execution, freebsd, helpers, installer, library, → Arithmetic, → Bitwise, → Collections, → Colors, → Comparison, → Converters, → Core, → Crypto, → Databases, → Dates, → Exceptions, → Files, → Io, → Iterators, → Logic, → Net, → Numbers, → Paths, → Quantities, → Reflection, → Sets, → Sockets, → Statistics, → Strings, → System, → Types, → Ui, netbsd, openbsd, package manager, parser, repl, rosetta code, ui, unit-test, values, vm, workflows

.github/labeler.yml:

3rd-party:
  - src/extras/**

ast:
  - src/vm/ast.nim

bundler:
  - src/vm/bundle/generator.nim
  - src/vm/bundle/resources.nim

bytecode:
  - src/vm/bytecode.nim
  - src/vm/opcodes.nim

ci:
  - .github/workflows/freebsd.yml
  - .github/workflows/linux.yml
  - .github/workflows/macos.yml
  - .github/workflows/netbsd.yml
  - .github/workflows/openbsd.yml
  - .github/workflows/web.yml
  - .github/workflows/windows.yml

command line:
  - src/arturo.nim

documentation:
  - examples/projecteuler/*
  - examples/rosetta/*
  - docs/**

error handling: 
  - src/vm/errors.nim

evaluator:
  - src/vm/eval.nim
 
execution:
  - src/vm/exec.nim

freebsd:
  - .github/workflows/freebsd.yml

helpers:
  - src/helpers/*
  
installer:
  - build.nims
  - src/scripts/update.art

library:
  - src/library/**

"→ Arithmetic":
  - src/library/Arithmetic.nim
"→ Bitwise":
  - src/library/Bitwise.nim
"→ Collections":
  - src/library/Collections.nim
"→ Colors":
  - src/library/Colors.nim
"→ Comparison":
  - src/library/Comparison.nim
"→ Converters":
  - src/library/Converters.nim
"→ Core":
  - src/library/Core.nim
"→ Crypto":
  - src/library/Crypto.nim
"→ Databases":
  - src/library/Databases.nim
"→ Dates":
  - src/library/Dates.nim
"→ Exceptions":
  - src/library/Exceptions.nim
"→ Files":
  - src/library/Files.nim
"→ Io":
  - src/library/Io.nim
"→ Iterators":
  - src/library/Iterators.nim
"→ Logic":
  - src/library/Logic.nim
"→ Net":
  - src/library/Net.nim
"→ Numbers":
  - src/library/Numbers.nim
"→ Paths":
  - src/library/Paths.nim
"→ Quantities":
  - src/library/Quantities.nim
"→ Reflection":
  - src/library/Reflection.nim
"→ Sets":
  - src/library/Sets.nim
"→ Sockets":
  - src/library/Sockets.nim
"→ Statistics":
  - src/library/Statistics.nim
"→ Strings":
  - src/library/Strings.nim
"→ System":
  - src/library/System.nim
"→ Types":
  - src/library/Types.nim
"→ Ui":
  - src/library/Ui.nim

netbsd:
  - .github/workflows/netbsd.yml

openbsd:
  - .github/workflows/openbsd.yml

package manager:
  - src/vm/packager.nim

parser:
  - src/vm/parse.nim

repl:
  - src/scripts/console.art
  - src/helpers/repl.nim
  - src/extras/linenoise.nim

rosetta code:
  - examples/rosetta/*

ui:
  - src/extras/libclipboard/*
  - src/extras/menubar/*
  - src/extras/pfd/*
  - src/extras/webview/*
  - src/extras/window/*
  - src/extras/libclipboard.nim
  - src/extras/menubar.nim
  - src/extras/pfd.nim
  - src/extras/webview.nim
  - src/extras/window.nim
  - src/helpers/clipboard.nim
  - src/helpers/dialogs.nim
  - src/helpers/webviews.js
  - src/helpers/webviews.nim
  - src/helpers/windows.nim
  - src/library/Ui.nim

unit-test:
  - tests/errors/**
  - tests/unittests/**
  - tests/web/*

values:
  - src/vm/values/*
  - src/vm/values/custom/**

vm:
  - src/vm/*

workflows:
  - .github/workflows/*

[Sockets] extend `send` to handle `:channel` — runtime branch on first-arg kind; routes through `chanSend` (yields fiber)
  src/library/Sockets.nim
Labels: library, → Sockets

[Sockets] extend `receive` to handle `:channel` — runtime branch on first-arg kind; routes through `chanReceive` (yields fiber, returns any value)
  src/library/Sockets.nim
Labels: library, → Sockets

[Sockets] extend `unplug` to handle `:channel` — runtime branch; `chanClose` wakes parked recvs and fails parked sends
  src/library/Sockets.nim
Labels: library, → Sockets

[helpers/parallelism] import `deques` — channel state machine needs `Deque.len` / `popFirst` / `addLast`
  src/helpers/parallelism.nim
Labels: helpers

[helpers/parallelism] add `inboundChannelDispatcher` global procvar + setter — sibling of `inboundEventDispatcher` for cross-process channel routing
  src/helpers/parallelism.nim
Labels: helpers

[helpers/parallelism] add `tailChannelFile` — sibling of `tailEventChannel`; routes inbound records to `dispatchInboundChannel` (named delivery, not broadcast)
  src/helpers/parallelism.nim
Labels: helpers

[helpers/parallelism] create `chanFile` temp + `ARTURO_CHANNEL_FILE` env var in `runInChildProcess` — outbound channel pipe child→parent (v1 half-duplex)
  src/helpers/parallelism.nim
Labels: helpers

[helpers/parallelism] spawn `tailChannelFile` for each child in `runInChildProcess` + drain on exit + remove temp file
  src/helpers/parallelism.nim
Labels: helpers

[helpers/parallelism] add `outboundChannelEmitter` procvar + `emitToOutboundChannel` helper — lets `send Ch v` in a child route across-process via registered closure
  src/helpers/parallelism.nim
Labels: helpers

[Channels] register outbound emitter — writes 2-line `name + codified-payload` record to outbound file when child has `ARTURO_CHANNEL_FILE` set
  src/library/Channels.nim
Labels: library

[Sockets] route `send :channel` through `emitToOutboundChannel` first — falls through to local `chanSend` if no outbound (parent / standalone)
  src/library/Sockets.nim
Labels: library, → Sockets

[tests] cover cross-process channels — fan-in (3 children × 2 sends), dict payload round-trip
  tests/unittests/parallelism.art
  tests/unittests/parallelism.res
Labels: unit-test

[helpers/parallelism] add remote-receiver registry + UID gen + `writeDeliverRecord` — wire-format upgrade to 4-line uniform records (SEND/RECV/DELIVER) for full-duplex cross-process channels
  src/helpers/parallelism.nim
Labels: helpers

[helpers/parallelism] extend `tailChannelFile` to parse 4-line SEND/RECV records + add `remoteReceiverFulfiller` hook — Channels.nim provides the per-channel-name drain logic
  src/helpers/parallelism.nim
Labels: helpers

[helpers/parallelism] `chanSend` checks remote receivers before buffering — if a child is waiting (RECV registered), deliver via DELIVER wire record
  src/helpers/parallelism.nim
Labels: helpers

[helpers/parallelism] add `ARTURO_CHANNEL_INBOUND` env var + temp file in `runInChildProcess` — per-child pipe parent→child for DELIVER records; cleaned up on exit
  src/helpers/parallelism.nim
Labels: helpers

[helpers/parallelism] add `deliverDispatcher` hook + DELIVER record handling in `tailChannelFile` — child uses same tail proc on its inbound to resolve proxy-recv futures by UID
  src/helpers/parallelism.nim
Labels: helpers

[helpers/parallelism] add `proxyReceiveHook` + `tryProxyReceive` — lets `receive Ch` in a child VM route through cross-process RECV/DELIVER round-trip
  src/helpers/parallelism.nim
Labels: helpers

[Channels] register `proxyReceiveHook` when running in child VM — `receive Ch` routes through cross-process round-trip instead of local state machine
  src/library/Channels.nim
Labels: library

[Sockets] route `receive :channel` via `tryProxyReceive` first — falls through to local `chanReceive` when no proxy hook (parent / standalone)
  src/library/Sockets.nim
Labels: library, → Sockets

[tests] cover full-duplex cross-process channels — worker pool: parent dispatches 6 jobs to 3 child workers via RECV/DELIVER round-trip
  tests/unittests/parallelism.art
  tests/unittests/parallelism.res
Labels: unit-test

[helpers/parallelism] `chanClose` drains remote receivers with DELIVER null — child VMs awaiting on `receive Ch` unblock when parent closes channel
  src/helpers/parallelism.nim
Labels: helpers

[Channels] fulfiller delivers null when channel closed + nothing buffered — RECVs arriving after close get unblocked instead of orphaned
  src/library/Channels.nim
Labels: library

[tests] cover close propagation across processes — parent `unplug Jobs` wakes worker's pending `receive` with null, worker exits cleanly
  tests/unittests/parallelism.art
  tests/unittests/parallelism.res
Labels: unit-test

[Core] add `do.isolated` — sync subprocess execution; sugar for `wait do.async.isolated [...]`; fresh VM, no closure capture, blocks caller; was previously a silent no-op
  src/library/Core.nim
Labels: library, → Core

[tests] cover `do.isolated` — sync subprocess execution + closure-capture isolation
  tests/unittests/parallelism.art
  tests/unittests/parallelism.res
Labels: unit-test

[helpers/parallelism] absorb channel registry + proxyReceive + dispatcher wiring as `initChannels*` — keeps library/Channels.nim a thin shell
  src/helpers/parallelism.nim
Labels: helpers

[Streams] rename Sockets module to Streams + merge `channel` builtin in; drop separate Channels module
  src/helpers/parallelism.nim
  src/library/Channels.nim
  src/library/Streams.nim
  src/vm/vm.nim
Labels: helpers, library, vm

[helpers,library,vm] swap em-dashes in comments for commas/semicolons to match Arturo prose style
  src/helpers/parallelism.nim
  src/library/Core.nim
  src/library/Events.nim
  src/library/Files.nim
  src/library/Iterators.nim
  src/library/Net.nim
  src/library/Streams.nim
  src/library/System.nim
  src/library/Tasks.nim
  src/vm/context.nim
  src/vm/values/custom/vevent.nim
Labels: helpers, library, → Core, → Files, → Iterators, → Net, → System, values, vm

[helpers/parallelism] strip verbose comment blocks around channel hooks + primitives, code already self-explanatory
  src/helpers/parallelism.nim
Labels: helpers

[library] strip verbose 'implicit-fiber routing' / 'in-process async' comment blocks across Net/Files/System/Streams, code is self-evident
  src/library/Files.nim
  src/library/Net.nim
  src/library/Streams.nim
  src/library/System.nim
Labels: library, → Files, → Net, → System

[Core] strip verbose comments around `do.async` and `do.isolated` branches
  src/library/Core.nim
Labels: library, → Core

[helpers/parallelism] trim leftover verbose comments around `tailChannelFile` + child-spawn channel-pipe setup + `initChannels`
  src/helpers/parallelism.nim
Labels: helpers

[helpers/parallelism] trim comments to one-liners; drop multi-paragraph design rationale, keep the gist
  src/helpers/parallelism.nim
Labels: helpers

[helpers,library,vm] further comment cleanup: trim verbose blocks and bloated builtin examples across Tasks/Events/Streams/Core/Iterators/context
  src/library/Core.nim
  src/library/Events.nim
  src/library/Iterators.nim
  src/library/Streams.nim
  src/library/Tasks.nim
  src/vm/context.nim
Labels: library, → Core, → Iterators, vm

Bump revision to 41 [skip ci]
  version/revision
Labels: none

[helpers/parallelism] add `eager` param to `spawnInProcessDoBlock` — runs fiber until first yield from main when set; default false keeps helper-direct callers (`.parallel`) cheap
  src/helpers/parallelism.nim
Labels: helpers

[Core] declare `.lazy` attr on `do.async` — placeholder, wiring lands next commit
  src/library/Core.nim
Labels: library, → Core

[Core] flip `do.async` default to eager; `.lazy` opts into old queued behavior
  src/library/Core.nim
Labels: library, → Core

[tests] cover eager-by-default + `.lazy` opt-out ordering
  tests/unittests/parallelism.art
Labels: unit-test
