Repository arturo-lang/arturo, changes with the labels that .github/labeler.yml gives for each.
All labels: 3rd-party, ast, bundler, bytecode, ci, command line, documentation, error handling, evaluator, execution, freebsd, helpers, installer, library, → Arithmetic, → Bitwise, → Collections, → Colors, → Comparison, → Converters, → Core, → Crypto, → Databases, → Dates, → Exceptions, → Files, → Io, → Iterators, → Logic, → Net, → Numbers, → Paths, → Quantities, → Reflection, → Sets, → Sockets, → Statistics, → Strings, → System, → Types, → Ui, netbsd, openbsd, package manager, parser, repl, rosetta code, ui, unit-test, values, vm, workflows

.github/labeler.yml:

3rd-party:
  - src/extras/**

ast:
  - src/vm/ast.nim

bundler:
  - src/vm/bundle/generator.nim
  - src/vm/bundle/resources.nim

bytecode:
  - src/vm/bytecode.nim
  - src/vm/opcodes.nim

ci:
  - .github/workflows/freebsd.yml
  - .github/workflows/linux.yml
  - .github/workflows/macos.yml
  - .github/workflows/netbsd.yml
  - .github/workflows/openbsd.yml
  - .github/workflows/web.yml
  - .github/workflows/windows.yml

command line:
  - src/arturo.nim

documentation:
  - examples/projecteuler/*
  - examples/rosetta/*
  - docs/**

error handling: 
  - src/vm/errors.nim

evaluator:
  - src/vm/eval.nim
 
execution:
  - src/vm/exec.nim

freebsd:
  - .github/workflows/freebsd.yml

helpers:
  - src/helpers/*
  
installer:
  - build.nims
  - src/scripts/update.art

library:
  - src/library/**

"→ Arithmetic":
  - src/library/Arithmetic.nim
"→ Bitwise":
  - src/library/Bitwise.nim
"→ Collections":
  - src/library/Collections.nim
"→ Colors":
  - src/library/Colors.nim
"→ Comparison":
  - src/library/Comparison.nim
"→ Converters":
  - src/library/Converters.nim
"→ Core":
  - src/library/Core.nim
"→ Crypto":
  - src/library/Crypto.nim
"→ Databases":
  - src/library/Databases.nim
"→ Dates":
  - src/library/Dates.nim
"→ Exceptions":
  - src/library/Exceptions.nim
"→ Files":
  - src/library/Files.nim
"→ Io":
  - src/library/Io.nim
"→ Iterators":
  - src/library/Iterators.nim
"→ Logic":
  - src/library/Logic.nim
"→ Net":
  - src/library/Net.nim
"→ Numbers":
  - src/library/Numbers.nim
"→ Paths":
  - src/library/Paths.nim
"→ Quantities":
  - src/library/Quantities.nim
"→ Reflection":
  - src/library/Reflection.nim
"→ Sets":
  - src/library/Sets.nim
"→ Sockets":
  - src/library/Sockets.nim
"→ Statistics":
  - src/library/Statistics.nim
"→ Strings":
  - src/library/Strings.nim
"→ System":
  - src/library/System.nim
"→ Types":
  - src/library/Types.nim
"→ Ui":
  - src/library/Ui.nim

netbsd:
  - .github/workflows/netbsd.yml

openbsd:
  - .github/workflows/openbsd.yml

package manager:
  - src/vm/packager.nim

parser:
  - src/vm/parse.nim

repl:
  - src/scripts/console.art
  - src/helpers/repl.nim
  - src/extras/linenoise.nim

rosetta code:
  - examples/rosetta/*

ui:
  - src/extras/libclipboard/*
  - src/extras/menubar/*
  - src/extras/pfd/*
  - src/extras/webview/*
  - src/extras/window/*
  - src/extras/libclipboard.nim
  - src/extras/menubar.nim
  - src/extras/pfd.nim
  - src/extras/webview.nim
  - src/extras/window.nim
  - src/helpers/clipboard.nim
  - src/helpers/dialogs.nim
  - src/helpers/webviews.js
  - src/helpers/webviews.nim
  - src/helpers/windows.nim
  - src/library/Ui.nim

unit-test:
  - tests/errors/**
  - tests/unittests/**
  - tests/web/*

values:
  - src/vm/values/*
  - src/vm/values/custom/**

vm:
  - src/vm/*

workflows:
  - .github/workflows/*

[vm] mark `bindAttrs` locals with `{.used.}` pragma
  src/vm/lib.nim
Labels: vm

[vm] mark dispatch kind/attr bindings with `{.used.}` pragma
  src/vm/lib.nim
Labels: vm

[vm] add `{.used.}` to dispatch's inplace alias template
  src/vm/lib.nim
Labels: vm

added basic test for async/parallelism
  tests/unittests/parallelism.art
Labels: unit-test

updated unit-tests
  tests/unitt/lib/iterators/arrange.test.art
  tests/unittests/parallelism.art
  tests/unittests/parallelism.res
Labels: unit-test

[helpers/repl] fix tiny regression with duplicated lines in posix terminals
  src/helpers/repl.nim
Labels: helpers, repl

[tests] cover cancelled-not-failed + pause-pumps-fiber in parallelism unit test
  tests/unittests/parallelism.art
  tests/unittests/parallelism.res
  tools/testconcurrency.art
Labels: unit-test

[Reflection] use `bindAttrs` for flags in `inspect`
  src/library/Reflection.nim
Labels: library, → Reflection

[Net] fold value attrs into `bindAttrs` in `request`
  src/library/Net.nim
Labels: library, → Net

[System] fold `args` into `bindAttrs` in `execute`
  src/library/System.nim
Labels: library, → System

[Strings] use `bindAttrs` for flags in `match`
  src/library/Strings.nim
Labels: library, → Strings

[Strings] fold `in` attr into `bindAttrs` in `match`
  src/library/Strings.nim
Labels: library, → Strings

[Strings] fold `in` attr into `bindAttrs` in `match?`
  src/library/Strings.nim
Labels: library, → Strings

[Strings] fold `with` attr into `bindAttrs` in `outdent`
  src/library/Strings.nim
Labels: library, → Strings

[Crypto] fold `from`/`to` attrs into `bindAttrs` in `encode`
  src/library/Crypto.nim
Labels: library, → Crypto

[Databases] fold `with` attr into `bindAttrs` in `query`
  src/library/Databases.nim
Labels: library, → Databases

[Files] fold `delimiter` attr into `bindAttrs` in `read`
  src/library/Files.nim
Labels: library, → Files

[Strings] fold `n` attr into `bindAttrs` in `outdent`
  src/library/Strings.nim
Labels: library, → Strings

[notes] log Tier 1 attr cleanup follow-up
  DISPATCH_NOTES.md
Labels: none

[Collections] fold attrs into `bindAttrs` in `sort`
  src/library/Collections.nim
Labels: library, → Collections

[Collections] fold attrs into `bindAttrs` in `remove`
  src/library/Collections.nim
Labels: library, → Collections

[Collections] fold attrs into `bindAttrs` in `split`
  src/library/Collections.nim
Labels: library, → Collections

[Collections] fold `deep` into `bindAttrs` in `contains?`
  src/library/Collections.nim
Labels: library, → Collections

[Collections] fold attrs into `bindAttrs` in `in?`
  src/library/Collections.nim
Labels: library, → Collections

[Core] use `bindAttrs` for flags in `express`
  src/library/Core.nim
Labels: library, → Core

[Core] fold attrs into `bindAttrs` in `function`
  src/library/Core.nim
Labels: library, → Core

[Core] fold `that` attr into `bindAttrs` in `ensure`
  src/library/Core.nim
Labels: library, → Core

[Core] use `bindAttrs` for flags in `method`
  src/library/Core.nim
Labels: library, → Core

[Core] fold `times` attr into `bindAttrs` in `do`
  src/library/Core.nim
Labels: library, → Core

[Core] fold `all` attr into `bindAttrs` in `export`
  src/library/Core.nim
Labels: library, → Core

[Core] fold attrs into `bindAttrs` in `import`
  src/library/Core.nim
Labels: library, → Core

[Core] fold `any` attr into `bindAttrs` in `when`
  src/library/Core.nim
Labels: library, → Core

[Core] fold attrs into `bindAttrs` in `call`
  src/library/Core.nim
Labels: library, → Core

[notes] log Tier 2 attr-cleanup sweep
  DISPATCH_NOTES.md
Labels: none

[vm] allow x-axis `_` wildcard in tuple clauses for `dispatch`
  src/vm/lib.nim
Labels: vm

[Numbers] convert `clamp` to use dispatch macro
  src/library/Numbers.nim
Labels: library, → Numbers

[notes] mark x-wild + `clamp` done
  DISPATCH_NOTES.md
Labels: none

[vm] support multi-kind value attrs in `bindAttrs` via `{KIND, …}`
  src/vm/lib.nim
Labels: vm

[Strings] fold `with` attr into `bindAttrs` in `join`
  src/library/Strings.nim
Labels: library, → Strings

[Collections] fold `by` attr into `bindAttrs` in `split`
  src/library/Collections.nim
Labels: library, → Collections
