Repository arturo-lang/arturo, changes with the labels that .github/labeler.yml gives for each.
All labels: 3rd-party, ast, bundler, bytecode, ci, command line, documentation, error handling, evaluator, execution, freebsd, helpers, installer, library, → Arithmetic, → Bitwise, → Collections, → Colors, → Comparison, → Converters, → Core, → Crypto, → Databases, → Dates, → Exceptions, → Files, → Io, → Iterators, → Logic, → Net, → Numbers, → Paths, → Quantities, → Reflection, → Sets, → Sockets, → Statistics, → Strings, → System, → Types, → Ui, netbsd, openbsd, package manager, parser, repl, rosetta code, ui, unit-test, values, vm, workflows

enable `import` regardless of whether it's the MINI build or not
  src/library/Core.nim
Labels: library, → Core

properly import `vm/packager`
  src/library/Core.nim
Labels: library, → Core

we should import `os` too
  src/library/Core.nim
Labels: library, → Core

set packager as verbose, regardless of whether it's a MINI build or not
  src/scripts/console.art
Labels: repl

don't expose `__VerbosePackager` on WEB builds at all
  src/library/Core.nim
Labels: library, → Core

remove `getNextNonNewlineNode` altogether (was used exclusively for `else`-related hacks)
  src/vm/eval.nim
Labels: evaluator, vm

Bump build to 3444 [skip ci]
  version/build
Labels: none

commented out code & added TODO
  src/helpers/helper.nim
Labels: helpers

import vm/lib only when not MINI
  src/library/Ui.nim
Labels: library, → Ui, ui

define only on WEB mode
  src/vm/errors.nim
Labels: error handling, vm

import only on non-WEB mode
  src/vm/values/operators.nim
Labels: values

import only on non-WEB mode
  src/vm/exec.nim
Labels: execution, vm

import only on non-WEB mode
  src/library/Databases.nim
Labels: library, → Databases

import only on non-WEB mode
  src/library/Files.nim
Labels: library, → Files

import only on non-WEB mode & re-organize imports
  src/library/Net.nim
Labels: library, → Net

import only on non-WEB mode & re-organize imports
  src/library/Paths.nim
Labels: library, → Paths

minor typo fix
  src/library/Files.nim
Labels: library, → Files

import only on non-WEB mode & re-organize imports
  src/library/Sockets.nim
Labels: library, → Sockets

remove leftover `withPotentialElse` code & commented-out blocks + general cleanup
  src/vm/eval.nim
Labels: evaluator, vm

re-enable `unitt` tests
  .github/workflows/ci.yml
Labels: workflows

Bump build to 3445 [skip ci]
  version/build
Labels: none

trigger CI on PR
  src/library/Strings.nim
Labels: library, → Strings

[Collections\join] Fix tests: join.lines, join.words and join.with comparison
  tests/unitt/lib/strings/join.test.art
Labels: none

Remove CI trigger
  src/library/Strings.nim
Labels: library, → Strings

[Collections\contains?] convert numeric to integer to fix contains? :range :floating not working
  src/helpers/ranges.nim
Labels: helpers

[Helpers\range] Fix contains for :floating
  src/helpers/ranges.nim
Labels: helpers

[Helpers\range] Fix contains for :floating
  src/helpers/ranges.nim
Labels: helpers

[Docs\Contributing] Add @drkameleon views to environment setup
  docs/CONTRIBUTING.md
Labels: documentation

Bump build to 3446 [skip ci]
  version/build
Labels: none

Bump build to 3447 [skip ci]
  version/build
Labels: none

attempt to clean up `builtin` calls for MINI-related undefined symbols + relevant error messages (draft!)
  src/library/Ui.nim
  src/vm/checks.nim
  src/vm/errors.nim
  src/vm/lib.nim
Labels: error handling, library, → Ui, ui, vm

updated action url
  .github/workflows/ci.yml
  .github/workflows/release.yml
Labels: workflows

fix url here as well
  docs/CONTRIBUTING.md
Labels: documentation

Bump build to 3448 [skip ci]
  version/build
Labels: none

another attempt
  src/vm/lib.nim
Labels: vm

revert again
  src/vm/lib.nim
Labels: vm

simplify `adhoc` again
  src/vm/lib.nim
Labels: vm

added `registerAlias` helper
  src/vm/lib.nim
Labels: vm

minor cleanup
  src/vm/lib.nim
Labels: vm

Use YAML instead of Markdown
  .github/ISSUE_TEMPLATE/bug-report.yaml
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: none

.github/labeler.yml:

3rd-party:
  - src/extras/**

ast:
  - src/vm/ast.nim

bundler:
  - src/vm/bundle/generator.nim
  - src/vm/bundle/resources.nim

bytecode:
  - src/vm/bytecode.nim
  - src/vm/opcodes.nim

ci:
  - .github/workflows/freebsd.yml
  - .github/workflows/linux.yml
  - .github/workflows/macos.yml
  - .github/workflows/netbsd.yml
  - .github/workflows/openbsd.yml
  - .github/workflows/web.yml
  - .github/workflows/windows.yml

command line:
  - src/arturo.nim

documentation:
  - examples/projecteuler/*
  - examples/rosetta/*
  - docs/**

error handling: 
  - src/vm/errors.nim

evaluator:
  - src/vm/eval.nim
 
execution:
  - src/vm/exec.nim

freebsd:
  - .github/workflows/freebsd.yml

helpers:
  - src/helpers/*
  
installer:
  - build.nims
  - src/scripts/update.art

library:
  - src/library/**

"→ Arithmetic":
  - src/library/Arithmetic.nim
"→ Bitwise":
  - src/library/Bitwise.nim
"→ Collections":
  - src/library/Collections.nim
"→ Colors":
  - src/library/Colors.nim
"→ Comparison":
  - src/library/Comparison.nim
"→ Converters":
  - src/library/Converters.nim
"→ Core":
  - src/library/Core.nim
"→ Crypto":
  - src/library/Crypto.nim
"→ Databases":
  - src/library/Databases.nim
"→ Dates":
  - src/library/Dates.nim
"→ Exceptions":
  - src/library/Exceptions.nim
"→ Files":
  - src/library/Files.nim
"→ Io":
  - src/library/Io.nim
"→ Iterators":
  - src/library/Iterators.nim
"→ Logic":
  - src/library/Logic.nim
"→ Net":
  - src/library/Net.nim
"→ Numbers":
  - src/library/Numbers.nim
"→ Paths":
  - src/library/Paths.nim
"→ Quantities":
  - src/library/Quantities.nim
"→ Reflection":
  - src/library/Reflection.nim
"→ Sets":
  - src/library/Sets.nim
"→ Sockets":
  - src/library/Sockets.nim
"→ Statistics":
  - src/library/Statistics.nim
"→ Strings":
  - src/library/Strings.nim
"→ System":
  - src/library/System.nim
"→ Types":
  - src/library/Types.nim
"→ Ui":
  - src/library/Ui.nim

netbsd:
  - .github/workflows/netbsd.yml

openbsd:
  - .github/workflows/openbsd.yml

package manager:
  - src/vm/packager.nim

parser:
  - src/vm/parse.nim

repl:
  - src/scripts/console.art
  - src/helpers/repl.nim
  - src/extras/linenoise.nim

rosetta code:
  - examples/rosetta/*

ui:
  - src/extras/libclipboard/*
  - src/extras/menubar/*
  - src/extras/pfd/*
  - src/extras/webview/*
  - src/extras/window/*
  - src/extras/libclipboard.nim
  - src/extras/menubar.nim
  - src/extras/pfd.nim
  - src/extras/webview.nim
  - src/extras/window.nim
  - src/helpers/clipboard.nim
  - src/helpers/dialogs.nim
  - src/helpers/webviews.js
  - src/helpers/webviews.nim
  - src/helpers/windows.nim
  - src/library/Ui.nim

unit-test:
  - tests/errors/**
  - tests/unittests/**
  - tests/web/*

values:
  - src/vm/values/*
  - src/vm/values/custom/**

vm:
  - src/vm/*

workflows:
  - .github/workflows/*
