Repository arturo-lang/arturo, changes with the labels that .github/labeler.yml gives for each.
All labels: 3rd-party, ast, bundler, bytecode, ci, command line, documentation, error handling, evaluator, execution, freebsd, helpers, installer, library, → Arithmetic, → Bitwise, → Collections, → Colors, → Comparison, → Converters, → Core, → Crypto, → Databases, → Dates, → Exceptions, → Files, → Io, → Iterators, → Logic, → Net, → Numbers, → Paths, → Quantities, → Reflection, → Sets, → Sockets, → Statistics, → Strings, → System, → Types, → Ui, netbsd, openbsd, package manager, parser, repl, rosetta code, ui, unit-test, values, vm, workflows

.github/labeler.yml:

3rd-party:
  - src/extras/**

ast:
  - src/vm/ast.nim

bundler:
  - src/vm/bundle/generator.nim
  - src/vm/bundle/resources.nim

bytecode:
  - src/vm/bytecode.nim
  - src/vm/opcodes.nim

ci:
  - .github/workflows/freebsd.yml
  - .github/workflows/linux.yml
  - .github/workflows/macos.yml
  - .github/workflows/netbsd.yml
  - .github/workflows/openbsd.yml
  - .github/workflows/web.yml
  - .github/workflows/windows.yml

command line:
  - src/arturo.nim

documentation:
  - examples/projecteuler/*
  - examples/rosetta/*
  - docs/**

error handling: 
  - src/vm/errors.nim

evaluator:
  - src/vm/eval.nim
 
execution:
  - src/vm/exec.nim

freebsd:
  - .github/workflows/freebsd.yml

helpers:
  - src/helpers/*
  
installer:
  - build.nims
  - src/scripts/update.art

library:
  - src/library/**

"→ Arithmetic":
  - src/library/Arithmetic.nim
"→ Bitwise":
  - src/library/Bitwise.nim
"→ Collections":
  - src/library/Collections.nim
"→ Colors":
  - src/library/Colors.nim
"→ Comparison":
  - src/library/Comparison.nim
"→ Converters":
  - src/library/Converters.nim
"→ Core":
  - src/library/Core.nim
"→ Crypto":
  - src/library/Crypto.nim
"→ Databases":
  - src/library/Databases.nim
"→ Dates":
  - src/library/Dates.nim
"→ Exceptions":
  - src/library/Exceptions.nim
"→ Files":
  - src/library/Files.nim
"→ Io":
  - src/library/Io.nim
"→ Iterators":
  - src/library/Iterators.nim
"→ Logic":
  - src/library/Logic.nim
"→ Net":
  - src/library/Net.nim
"→ Numbers":
  - src/library/Numbers.nim
"→ Paths":
  - src/library/Paths.nim
"→ Quantities":
  - src/library/Quantities.nim
"→ Reflection":
  - src/library/Reflection.nim
"→ Sets":
  - src/library/Sets.nim
"→ Sockets":
  - src/library/Sockets.nim
"→ Statistics":
  - src/library/Statistics.nim
"→ Strings":
  - src/library/Strings.nim
"→ System":
  - src/library/System.nim
"→ Types":
  - src/library/Types.nim
"→ Ui":
  - src/library/Ui.nim

netbsd:
  - .github/workflows/netbsd.yml

openbsd:
  - .github/workflows/openbsd.yml

package manager:
  - src/vm/packager.nim

parser:
  - src/vm/parse.nim

repl:
  - src/scripts/console.art
  - src/helpers/repl.nim
  - src/extras/linenoise.nim

rosetta code:
  - examples/rosetta/*

ui:
  - src/extras/libclipboard/*
  - src/extras/menubar/*
  - src/extras/pfd/*
  - src/extras/webview/*
  - src/extras/window/*
  - src/extras/libclipboard.nim
  - src/extras/menubar.nim
  - src/extras/pfd.nim
  - src/extras/webview.nim
  - src/extras/window.nim
  - src/helpers/clipboard.nim
  - src/helpers/dialogs.nim
  - src/helpers/webviews.js
  - src/helpers/webviews.nim
  - src/helpers/windows.nim
  - src/library/Ui.nim

unit-test:
  - tests/errors/**
  - tests/unittests/**
  - tests/web/*

values:
  - src/vm/values/*
  - src/vm/values/custom/**

vm:
  - src/vm/*

workflows:
  - .github/workflows/*

added helper file for automatic changelog generation
  .github/release.yml
Labels: none

remove old changelog
  version/changelog.md
Labels: none

release workflow: new (draft!) implementation
  .github/workflows/release.yml
Labels: workflows

remove src
  .github/workflows/release.yml
Labels: workflows

add automatic changelog to release notes
  .github/workflows/release.yml
Labels: workflows

added helper script
  tools/release_trigger.sh
Labels: none

minor cleanup
  tools/release_trigger.sh
Labels: none

minor style changes
  tools/release_trigger.sh
Labels: none

better headers + general cleanup
  tools/release_trigger.sh
Labels: none

another minor change
  tools/release_trigger.sh
Labels: none

uncomment implementation
  tools/release_trigger.sh
Labels: none

added new helper script (for release "finalization")
  tools/release_finalize.sh
Labels: none

minor fix
  tools/release_finalize.sh
Labels: none

remove reference to previous release (redundant!)
  version/previous
Labels: none

trigger rebuild
  .github/workflows/release.yml
Labels: workflows

Bump revision to 3456 [skip ci]
  version/revision
Labels: none

[UI\alert] Fix window handle assignment for notification icon on Windows
  src/extras/pfd/pfd.cc
Labels: 3rd-party, ui

Bump revision to 3457 [skip ci]
  version/revision
Labels: none

minor edit
  tools/release_trigger.sh
Labels: none

Test pre-release 0.9.84 "This is a test"
  version/codename
  version/metadata
  version/revision
  version/version
Labels: none

Bump revision to 1 [skip ci]
  version/revision
Labels: none

added `[skip ci]` to release triggers
  tools/release_trigger.sh
Labels: none

remove `safe` from build matrix
  .github/workflows/release.yml
Labels: workflows

Bump revision to 2 [skip ci]
  version/revision
Labels: none

Restore values
  version/codename
  version/revision
  version/version
Labels: none

Bump revision to 3458 [skip ci]
  version/revision
Labels: none

added test mode in release_trigger script
  tools/release_trigger.sh
Labels: none

also added helper script to "undo" pre-release tests
  tools/release_undo.sh
Labels: none

Bump revision to 3459 [skip ci]
  version/revision
Labels: none

Release 0.9.84 "This is a test" [skip ci]
  version/codename
  version/revision
  version/version
Labels: none

Restore values
  version/codename
  version/revision
  version/version
Labels: none

Bump revision to 3458 [skip ci]
  version/revision
Labels: none

Test pre-release 0.9.84 "This is a test" [skip ci]
  version/codename
  version/revision
  version/version
Labels: none

ignore bumps if changes are in version files (= avoid circular triggers when releasing a new version)
  .github/workflows/bump.yml
Labels: workflows

Bump revision to 1 [skip ci]
  version/revision
Labels: none

Restore values
  version/codename
  version/revision
  version/version
Labels: none

Restore values
  version/revision
Labels: none

Test pre-release 0.9.84 "This is a test"
  version/codename
  version/revision
  version/version
Labels: none

minor fixes
  tools/release_finalize.sh
  tools/release_trigger.sh
  tools/release_undo.sh
Labels: none

Restore values
  version/codename
  version/revision
  version/version
Labels: none
