Repository arturo-lang/arturo, changes with the labels that .github/labeler.yml gives for each.
All labels: 3rd-party, ast, bundler, bytecode, ci, command line, documentation, error handling, evaluator, execution, freebsd, helpers, installer, library, → Arithmetic, → Bitwise, → Collections, → Colors, → Comparison, → Converters, → Core, → Crypto, → Databases, → Dates, → Exceptions, → Files, → Io, → Iterators, → Logic, → Net, → Numbers, → Paths, → Quantities, → Reflection, → Sets, → Sockets, → Statistics, → Strings, → System, → Types, → Ui, netbsd, openbsd, package manager, parser, repl, rosetta code, ui, unit-test, values, vm, workflows

added missing import
  src/vm/parse.nim
Labels: parser, vm

removed `X` from accepted hex literals
  src/vm/parse.nim
Labels: parser, vm

removed `X` from accepted hex literals
  src/vm/parse.nim
Labels: parser, vm

minor fix
  src/vm/parse.nim
Labels: parser, vm

minor fix
  src/vm/parse.nim
Labels: parser, vm

disallow any continuation if prefix isn't `0x`, `0o` or `0b`
  src/vm/parse.nim
Labels: parser, vm

disallow any continuation if prefix isn't `0x`, `0o` or `0b`
  src/vm/parse.nim
Labels: parser, vm

also clean the `p.value`
  src/vm/parse.nim
Labels: parser, vm

also clean the `p.value`
  src/vm/parse.nim
Labels: parser, vm

geez... the binary/octal charsets were flipped :S
  src/vm/parse.nim
Labels: parser, vm

geez... the binary/octal charsets were flipped :S
  src/vm/parse.nim
Labels: parser, vm

execute normal parsing only if no number has been parsed until then
  src/vm/parse.nim
Labels: parser, vm

execute normal parsing only if no number has been parsed until then
  src/vm/parse.nim
Labels: parser, vm

take `hasDot` outside (so that it persists in the parent block)
  src/vm/parse.nim
Labels: parser, vm

take `hasDot` outside (so that it persists in the parent block)
  src/vm/parse.nim
Labels: parser, vm

replaced TODO
  src/vm/parse.nim
Labels: parser, vm

replaced TODO
  src/vm/parse.nim
Labels: parser, vm

Update build
  version/build
Labels: none

Update build
  version/build
Labels: none

use hex literals directly
  examples/rosetta/sum digits of an integer.art
Labels: documentation, rosetta code

use hex literals directly
  examples/rosetta/sum digits of an integer.art
Labels: documentation, rosetta code

use hex literals directly again
  examples/rosetta/largest number divisible by its digits.art
Labels: documentation, rosetta code

use hex literals directly again
  examples/rosetta/largest number divisible by its digits.art
Labels: documentation, rosetta code

use hex, octal, binary literals directly
  examples/rosetta/non-decimal radices - input.art
Labels: documentation, rosetta code

use hex, octal, binary literals directly
  examples/rosetta/non-decimal radices - input.art
Labels: documentation, rosetta code

added example (thanks @Krenium! :-))
  examples/rosetta/abc incremental counts.art
  examples/rosetta/abc incremental counts.res
Labels: documentation, rosetta code

added example (thanks @Krenium! :-))
  examples/rosetta/abc incremental counts.art
  examples/rosetta/abc incremental counts.res
Labels: documentation, rosetta code

Update build
  version/build
Labels: none

Update build
  version/build
Labels: none

added `to :string .format:"o"` (for `as.octal`)
  examples/rosetta/count in octal.art
Labels: documentation, rosetta code

added `to :string .format:"o"` (for `as.octal`)
  examples/rosetta/count in octal.art
Labels: documentation, rosetta code

added `parse "0b" ++` trick (instead of `from.binary`)
  examples/rosetta/four bit adder.art
Labels: documentation, rosetta code

added `parse "0b" ++` trick (instead of `from.binary`)
  examples/rosetta/four bit adder.art
Labels: documentation, rosetta code

added `parse "0x" ++ " trick (instead of `from.hex`)
  examples/rosetta/hex words.art
Labels: documentation, rosetta code

added `parse "0x" ++ " trick (instead of `from.hex`)
  examples/rosetta/hex words.art
Labels: documentation, rosetta code

fixed RC example as well
  examples/rosetta/non-decimal radices - convert.art
Labels: documentation, rosetta code

fixed RC example as well
  examples/rosetta/non-decimal radices - convert.art
Labels: documentation, rosetta code

fixed with `parse`
  examples/rosetta/index finite lists of positive integers.art
Labels: documentation, rosetta code

fixed with `parse`
  examples/rosetta/index finite lists of positive integers.art
Labels: documentation, rosetta code

minor fix (replaced `from.hex` with proper hexadecimal literal)
  tests/unittests/lib.collections.art
Labels: unit-test

.github/labeler.yml:

3rd-party:
  - src/extras/**

ast:
  - src/vm/ast.nim

bundler:
  - src/vm/bundle/generator.nim
  - src/vm/bundle/resources.nim

bytecode:
  - src/vm/bytecode.nim
  - src/vm/opcodes.nim

ci:
  - .github/workflows/freebsd.yml
  - .github/workflows/linux.yml
  - .github/workflows/macos.yml
  - .github/workflows/netbsd.yml
  - .github/workflows/openbsd.yml
  - .github/workflows/web.yml
  - .github/workflows/windows.yml

command line:
  - src/arturo.nim

documentation:
  - examples/projecteuler/*
  - examples/rosetta/*
  - docs/**

error handling: 
  - src/vm/errors.nim

evaluator:
  - src/vm/eval.nim
 
execution:
  - src/vm/exec.nim

freebsd:
  - .github/workflows/freebsd.yml

helpers:
  - src/helpers/*
  
installer:
  - build.nims
  - src/scripts/update.art

library:
  - src/library/**

"→ Arithmetic":
  - src/library/Arithmetic.nim
"→ Bitwise":
  - src/library/Bitwise.nim
"→ Collections":
  - src/library/Collections.nim
"→ Colors":
  - src/library/Colors.nim
"→ Comparison":
  - src/library/Comparison.nim
"→ Converters":
  - src/library/Converters.nim
"→ Core":
  - src/library/Core.nim
"→ Crypto":
  - src/library/Crypto.nim
"→ Databases":
  - src/library/Databases.nim
"→ Dates":
  - src/library/Dates.nim
"→ Exceptions":
  - src/library/Exceptions.nim
"→ Files":
  - src/library/Files.nim
"→ Io":
  - src/library/Io.nim
"→ Iterators":
  - src/library/Iterators.nim
"→ Logic":
  - src/library/Logic.nim
"→ Net":
  - src/library/Net.nim
"→ Numbers":
  - src/library/Numbers.nim
"→ Paths":
  - src/library/Paths.nim
"→ Quantities":
  - src/library/Quantities.nim
"→ Reflection":
  - src/library/Reflection.nim
"→ Sets":
  - src/library/Sets.nim
"→ Sockets":
  - src/library/Sockets.nim
"→ Statistics":
  - src/library/Statistics.nim
"→ Strings":
  - src/library/Strings.nim
"→ System":
  - src/library/System.nim
"→ Types":
  - src/library/Types.nim
"→ Ui":
  - src/library/Ui.nim

netbsd:
  - .github/workflows/netbsd.yml

openbsd:
  - .github/workflows/openbsd.yml

package manager:
  - src/vm/packager.nim

parser:
  - src/vm/parse.nim

repl:
  - src/scripts/console.art
  - src/helpers/repl.nim
  - src/extras/linenoise.nim

rosetta code:
  - examples/rosetta/*

ui:
  - src/extras/libclipboard/*
  - src/extras/menubar/*
  - src/extras/pfd/*
  - src/extras/webview/*
  - src/extras/window/*
  - src/extras/libclipboard.nim
  - src/extras/menubar.nim
  - src/extras/pfd.nim
  - src/extras/webview.nim
  - src/extras/window.nim
  - src/helpers/clipboard.nim
  - src/helpers/dialogs.nim
  - src/helpers/webviews.js
  - src/helpers/webviews.nim
  - src/helpers/windows.nim
  - src/library/Ui.nim

unit-test:
  - tests/errors/**
  - tests/unittests/**
  - tests/web/*

values:
  - src/vm/values/*
  - src/vm/values/custom/**

vm:
  - src/vm/*

workflows:
  - .github/workflows/*
