Repository arturo-lang/arturo, changes with the labels that .github/labeler.yml gives for each.
All labels: 3rd-party, ast, bundler, bytecode, ci, command line, documentation, error handling, evaluator, execution, freebsd, helpers, installer, library, → Arithmetic, → Bitwise, → Collections, → Colors, → Comparison, → Converters, → Core, → Crypto, → Databases, → Dates, → Exceptions, → Files, → Io, → Iterators, → Logic, → Net, → Numbers, → Paths, → Quantities, → Reflection, → Sets, → Sockets, → Statistics, → Strings, → System, → Types, → Ui, netbsd, openbsd, package manager, parser, repl, rosetta code, ui, unit-test, values, vm, workflows

clean up nginx configuration
  docs/website/config/nginx.conf
Labels: documentation

minor fixes
  .github/workflows/update.yml
  docs/website/tools/installer.sh
Labels: documentation, workflows

clean up installer + better sections/styling + cleaner structure + spinner + misc. minor fixes
  docs/website/tools/installer.sh
Labels: documentation

minor edit
  docs/website/tools/installer.sh
Labels: documentation

updated nginx config to use fallback for downloads
  docs/website/config/nginx.conf
Labels: documentation

fixed syntax
  docs/website/config/nginx.conf
Labels: documentation

rearrange
  docs/website/config/nginx.conf
Labels: documentation

fix syntax again
  docs/website/config/nginx.conf
Labels: documentation

more fixes(?)
  docs/website/config/nginx.conf
Labels: documentation

and force @main for the arturo-action
  .github/workflows/update.yml
Labels: workflows

omit pdf tutorial generation for now
  .github/workflows/update.yml
Labels: workflows

clean up & rearrange
  docs/website/config/nginx.conf
Labels: documentation

minor change
  tools/updatercsyntax.art
Labels: none

closed previously: https://github.com/arturo-lang/arturo/issues/1268
  src/vm/values/types.nim
Labels: values

previously closed: https://github.com/arturo-lang/arturo/issues/1043
  src/vm/values/types.nim
Labels: values

previously closed: https://github.com/arturo-lang/arturo/issues/1041
  src/vm/values/custom/vrange.nim
Labels: values

previously closed: https://github.com/arturo-lang/arturo/issues/1290
  src/vm/values/custom/vsymbol.nim
Labels: values

previously closed: https://github.com/arturo-lang/arturo/issues/1149
  src/vm/values/comparison.nim
Labels: values

previously closed: https://github.com/arturo-lang/arturo/issues/416
  src/vm/parse.nim
Labels: parser, vm

previously closed: https://github.com/arturo-lang/arturo/issues/1064
  src/vm/ast.nim
Labels: ast, vm

previously closed: https://github.com/arturo-lang/arturo/issues/1015
  src/library/Net.nim
Labels: library, → Net

previously closed: https://github.com/arturo-lang/arturo/issues/1137
  src/library/Iterators.nim
Labels: library, → Iterators

previously closed: https://github.com/arturo-lang/arturo/issues/1670
  src/library/Iterators.nim
Labels: library, → Iterators

previously closed: https://github.com/arturo-lang/arturo/issues/1018
  src/library/Files.nim
Labels: library, → Files

previously closed: https://github.com/arturo-lang/arturo/issues/1622
  src/library/Core.nim
Labels: library, → Core

previously closed: https://github.com/arturo-lang/arturo/issues/1385
  src/library/Core.nim
Labels: library, → Core

previously closed: https://github.com/arturo-lang/arturo/issues/962
  src/helpers/repl.nim
Labels: helpers, repl

previously closed: https://github.com/arturo-lang/arturo/issues/1355
  src/helpers/conversion.nim
Labels: helpers

previously closed: https://github.com/arturo-lang/arturo/issues/1354
  src/helpers/conversion.nim
Labels: helpers

previously closed: https://github.com/arturo-lang/arturo/issues/1261
  src/helpers/bignums.nim
Labels: helpers

previously closed: https://github.com/arturo-lang/arturo/issues/1700
  docs/website/pages/documentation/command line.art
Labels: documentation

trigger rebuild
  docs/website/pages/documentation/command line.art
Labels: documentation

trigger pr
  docs/website/pages/documentation/command line.art
Labels: documentation

Update build to 3417
  version/build
Labels: none

trigger rebuild
  .github/workflows/update.yml
Labels: workflows

remove hardcoded version
  docs/website/tools/installer.sh
Labels: documentation

change build number
  .github/workflows/update.yml
Labels: workflows

added rosetta-tweaker script (extreme-draft-but-works category lol)
  .gitignore
  tools/updaterosetta.art
Labels: none

minor change to see if it breaks the whole universe
  examples/rosetta/15%puzzle game.art
Labels: documentation, rosetta code

revert change
  examples/rosetta/15 puzzle game.art
Labels: documentation, rosetta code

.github/labeler.yml:

3rd-party:
  - src/extras/**

ast:
  - src/vm/ast.nim

bundler:
  - src/vm/bundle/generator.nim
  - src/vm/bundle/resources.nim

bytecode:
  - src/vm/bytecode.nim
  - src/vm/opcodes.nim

ci:
  - .github/workflows/freebsd.yml
  - .github/workflows/linux.yml
  - .github/workflows/macos.yml
  - .github/workflows/netbsd.yml
  - .github/workflows/openbsd.yml
  - .github/workflows/web.yml
  - .github/workflows/windows.yml

command line:
  - src/arturo.nim

documentation:
  - examples/projecteuler/*
  - examples/rosetta/*
  - docs/**

error handling: 
  - src/vm/errors.nim

evaluator:
  - src/vm/eval.nim
 
execution:
  - src/vm/exec.nim

freebsd:
  - .github/workflows/freebsd.yml

helpers:
  - src/helpers/*
  
installer:
  - build.nims
  - src/scripts/update.art

library:
  - src/library/**

"→ Arithmetic":
  - src/library/Arithmetic.nim
"→ Bitwise":
  - src/library/Bitwise.nim
"→ Collections":
  - src/library/Collections.nim
"→ Colors":
  - src/library/Colors.nim
"→ Comparison":
  - src/library/Comparison.nim
"→ Converters":
  - src/library/Converters.nim
"→ Core":
  - src/library/Core.nim
"→ Crypto":
  - src/library/Crypto.nim
"→ Databases":
  - src/library/Databases.nim
"→ Dates":
  - src/library/Dates.nim
"→ Exceptions":
  - src/library/Exceptions.nim
"→ Files":
  - src/library/Files.nim
"→ Io":
  - src/library/Io.nim
"→ Iterators":
  - src/library/Iterators.nim
"→ Logic":
  - src/library/Logic.nim
"→ Net":
  - src/library/Net.nim
"→ Numbers":
  - src/library/Numbers.nim
"→ Paths":
  - src/library/Paths.nim
"→ Quantities":
  - src/library/Quantities.nim
"→ Reflection":
  - src/library/Reflection.nim
"→ Sets":
  - src/library/Sets.nim
"→ Sockets":
  - src/library/Sockets.nim
"→ Statistics":
  - src/library/Statistics.nim
"→ Strings":
  - src/library/Strings.nim
"→ System":
  - src/library/System.nim
"→ Types":
  - src/library/Types.nim
"→ Ui":
  - src/library/Ui.nim

netbsd:
  - .github/workflows/netbsd.yml

openbsd:
  - .github/workflows/openbsd.yml

package manager:
  - src/vm/packager.nim

parser:
  - src/vm/parse.nim

repl:
  - src/scripts/console.art
  - src/helpers/repl.nim
  - src/extras/linenoise.nim

rosetta code:
  - examples/rosetta/*

ui:
  - src/extras/libclipboard/*
  - src/extras/menubar/*
  - src/extras/pfd/*
  - src/extras/webview/*
  - src/extras/window/*
  - src/extras/libclipboard.nim
  - src/extras/menubar.nim
  - src/extras/pfd.nim
  - src/extras/webview.nim
  - src/extras/window.nim
  - src/helpers/clipboard.nim
  - src/helpers/dialogs.nim
  - src/helpers/webviews.js
  - src/helpers/webviews.nim
  - src/helpers/windows.nim
  - src/library/Ui.nim

unit-test:
  - tests/errors/**
  - tests/unittests/**
  - tests/web/*

values:
  - src/vm/values/*
  - src/vm/values/custom/**

vm:
  - src/vm/*

workflows:
  - .github/workflows/*
