Repository arturo-lang/arturo, changes with the labels that .github/labeler.yml gives for each.
All labels: 3rd-party, ast, bundler, bytecode, ci, command line, documentation, error handling, evaluator, execution, freebsd, helpers, installer, library, → Arithmetic, → Bitwise, → Collections, → Colors, → Comparison, → Converters, → Core, → Crypto, → Databases, → Dates, → Exceptions, → Files, → Io, → Iterators, → Logic, → Net, → Numbers, → Paths, → Quantities, → Reflection, → Sets, → Sockets, → Statistics, → Strings, → System, → Types, → Ui, netbsd, openbsd, package manager, parser, repl, rosetta code, ui, unit-test, values, vm, workflows

added RC solution
  examples/rosetta/blum integer.art
Labels: documentation, rosetta code

added RC solution
  examples/rosetta/blum integer.art
Labels: documentation, rosetta code

added new RC solution
  examples/rosetta/miller-rabin primality test.art
  examples/rosetta/miller-rabin primality test.res
Labels: documentation, rosetta code

added new RC solution
  examples/rosetta/miller-rabin primality test.art
  examples/rosetta/miller-rabin primality test.res
Labels: documentation, rosetta code

exclude test from mini builds
  tools/tester.art
Labels: none

exclude test from mini builds
  tools/tester.art
Labels: none

removed TODO
  src/library/Arithmetic.nim
Labels: library, → Arithmetic

removed TODO
  src/library/Arithmetic.nim
Labels: library, → Arithmetic

Display error messages on STDERR
  src/vm/errors.nim
Labels: error handling, vm

Display error messages on STDERR
  src/vm/errors.nim
Labels: error handling, vm

Define a procedure that decides on any redirects to STDERR
  src/vm/errors.nim
Labels: error handling, vm

Define a procedure that decides on any redirects to STDERR
  src/vm/errors.nim
Labels: error handling, vm

Update build to 3404
  version/build
Labels: none

Update build to 3404
  version/build
Labels: none

added new draft solution
  examples/_drafts/eban numbers.art
Labels: none

added new draft solution
  examples/_drafts/eban numbers.art
Labels: none

added new solution
  examples/rosetta/palindromic gapful numbers.art
Labels: documentation, rosetta code

added new solution
  examples/rosetta/palindromic gapful numbers.art
Labels: documentation, rosetta code

added new solution
  examples/rosetta/magnanimous numbers.art
  examples/rosetta/magnanimous numbers.res
Labels: documentation, rosetta code

added new solution
  examples/rosetta/magnanimous numbers.art
  examples/rosetta/magnanimous numbers.res
Labels: documentation, rosetta code

Document the evaluation of strings on the command line
  docs/website/pages/documentation/command line.art
Labels: documentation

Document the evaluation of strings on the command line
  docs/website/pages/documentation/command line.art
Labels: documentation

added new solution
  examples/rosetta/super-d numbers.art
  examples/rosetta/super-d numbers.res
Labels: documentation, rosetta code

added new solution
  examples/rosetta/super-d numbers.art
  examples/rosetta/super-d numbers.res
Labels: documentation, rosetta code

added new solution
  examples/rosetta/ekg sequence convergence.art
  examples/rosetta/ekg sequence convergence.res
Labels: documentation, rosetta code

added new solution
  examples/rosetta/ekg sequence convergence.art
  examples/rosetta/ekg sequence convergence.res
Labels: documentation, rosetta code

skip "Super-d numbers" unit-test for MINI builds
  tools/tester.art
Labels: none

skip "Super-d numbers" unit-test for MINI builds
  tools/tester.art
Labels: none

Update build to 3405
  version/build
Labels: none

Update build to 3405
  version/build
Labels: none

added new solution
  examples/rosetta/de polignac numbers.art
  examples/rosetta/de polignac numbers.res
Labels: documentation, rosetta code

added new solution
  examples/rosetta/de polignac numbers.art
  examples/rosetta/de polignac numbers.res
Labels: documentation, rosetta code

added new solution
  examples/rosetta/upside-down numbers.art
  examples/rosetta/upside-down numbers.res
Labels: documentation, rosetta code

added new solution
  examples/rosetta/upside-down numbers.art
  examples/rosetta/upside-down numbers.res
Labels: documentation, rosetta code

renamed incorrectly-named file
  examples/rosetta/getting the number of decimal places.art
  examples/rosetta/getting the number of decimal places.res
Labels: documentation, rosetta code

renamed incorrectly-named file
  examples/rosetta/getting the number of decimal places.art
  examples/rosetta/getting the number of decimal places.res
Labels: documentation, rosetta code

renamed files
  examples/rosetta/fairshare between two and more.art
  examples/rosetta/fairshare between two and more.res
Labels: documentation, rosetta code

renamed files
  examples/rosetta/fairshare between two and more.art
  examples/rosetta/fairshare between two and more.res
Labels: documentation, rosetta code

renamed file
  examples/rosetta/interactive programming (repl).art
Labels: documentation, rosetta code

renamed file
  examples/rosetta/interactive programming (repl).art
Labels: documentation, rosetta code

.github/labeler.yml:

3rd-party:
  - src/extras/**

ast:
  - src/vm/ast.nim

bundler:
  - src/vm/bundle/generator.nim
  - src/vm/bundle/resources.nim

bytecode:
  - src/vm/bytecode.nim
  - src/vm/opcodes.nim

ci:
  - .github/workflows/freebsd.yml
  - .github/workflows/linux.yml
  - .github/workflows/macos.yml
  - .github/workflows/netbsd.yml
  - .github/workflows/openbsd.yml
  - .github/workflows/web.yml
  - .github/workflows/windows.yml

command line:
  - src/arturo.nim

documentation:
  - examples/projecteuler/*
  - examples/rosetta/*
  - docs/**

error handling: 
  - src/vm/errors.nim

evaluator:
  - src/vm/eval.nim
 
execution:
  - src/vm/exec.nim

freebsd:
  - .github/workflows/freebsd.yml

helpers:
  - src/helpers/*
  
installer:
  - build.nims
  - src/scripts/update.art

library:
  - src/library/**

"→ Arithmetic":
  - src/library/Arithmetic.nim
"→ Bitwise":
  - src/library/Bitwise.nim
"→ Collections":
  - src/library/Collections.nim
"→ Colors":
  - src/library/Colors.nim
"→ Comparison":
  - src/library/Comparison.nim
"→ Converters":
  - src/library/Converters.nim
"→ Core":
  - src/library/Core.nim
"→ Crypto":
  - src/library/Crypto.nim
"→ Databases":
  - src/library/Databases.nim
"→ Dates":
  - src/library/Dates.nim
"→ Exceptions":
  - src/library/Exceptions.nim
"→ Files":
  - src/library/Files.nim
"→ Io":
  - src/library/Io.nim
"→ Iterators":
  - src/library/Iterators.nim
"→ Logic":
  - src/library/Logic.nim
"→ Net":
  - src/library/Net.nim
"→ Numbers":
  - src/library/Numbers.nim
"→ Paths":
  - src/library/Paths.nim
"→ Quantities":
  - src/library/Quantities.nim
"→ Reflection":
  - src/library/Reflection.nim
"→ Sets":
  - src/library/Sets.nim
"→ Sockets":
  - src/library/Sockets.nim
"→ Statistics":
  - src/library/Statistics.nim
"→ Strings":
  - src/library/Strings.nim
"→ System":
  - src/library/System.nim
"→ Types":
  - src/library/Types.nim
"→ Ui":
  - src/library/Ui.nim

netbsd:
  - .github/workflows/netbsd.yml

openbsd:
  - .github/workflows/openbsd.yml

package manager:
  - src/vm/packager.nim

parser:
  - src/vm/parse.nim

repl:
  - src/scripts/console.art
  - src/helpers/repl.nim
  - src/extras/linenoise.nim

rosetta code:
  - examples/rosetta/*

ui:
  - src/extras/libclipboard/*
  - src/extras/menubar/*
  - src/extras/pfd/*
  - src/extras/webview/*
  - src/extras/window/*
  - src/extras/libclipboard.nim
  - src/extras/menubar.nim
  - src/extras/pfd.nim
  - src/extras/webview.nim
  - src/extras/window.nim
  - src/helpers/clipboard.nim
  - src/helpers/dialogs.nim
  - src/helpers/webviews.js
  - src/helpers/webviews.nim
  - src/helpers/windows.nim
  - src/library/Ui.nim

unit-test:
  - tests/errors/**
  - tests/unittests/**
  - tests/web/*

values:
  - src/vm/values/*
  - src/vm/values/custom/**

vm:
  - src/vm/*

workflows:
  - .github/workflows/*
