Repository arturo-lang/arturo, changes with the labels that .github/labeler.yml gives for each.
All labels: 3rd-party, ast, bundler, bytecode, ci, command line, documentation, error handling, evaluator, execution, freebsd, helpers, installer, library, → Arithmetic, → Bitwise, → Collections, → Colors, → Comparison, → Converters, → Core, → Crypto, → Databases, → Dates, → Exceptions, → Files, → Io, → Iterators, → Logic, → Net, → Numbers, → Paths, → Quantities, → Reflection, → Sets, → Sockets, → Statistics, → Strings, → System, → Types, → Ui, netbsd, openbsd, package manager, parser, repl, rosetta code, ui, unit-test, values, vm, workflows

.github/labeler.yml:

3rd-party:
  - src/extras/**

ast:
  - src/vm/ast.nim

bundler:
  - src/vm/bundle/generator.nim
  - src/vm/bundle/resources.nim

bytecode:
  - src/vm/bytecode.nim
  - src/vm/opcodes.nim

ci:
  - .github/workflows/freebsd.yml
  - .github/workflows/linux.yml
  - .github/workflows/macos.yml
  - .github/workflows/netbsd.yml
  - .github/workflows/openbsd.yml
  - .github/workflows/web.yml
  - .github/workflows/windows.yml

command line:
  - src/arturo.nim

documentation:
  - examples/projecteuler/*
  - examples/rosetta/*
  - docs/**

error handling: 
  - src/vm/errors.nim

evaluator:
  - src/vm/eval.nim
 
execution:
  - src/vm/exec.nim

freebsd:
  - .github/workflows/freebsd.yml

helpers:
  - src/helpers/*
  
installer:
  - build.nims
  - src/scripts/update.art

library:
  - src/library/**

"→ Arithmetic":
  - src/library/Arithmetic.nim
"→ Bitwise":
  - src/library/Bitwise.nim
"→ Collections":
  - src/library/Collections.nim
"→ Colors":
  - src/library/Colors.nim
"→ Comparison":
  - src/library/Comparison.nim
"→ Converters":
  - src/library/Converters.nim
"→ Core":
  - src/library/Core.nim
"→ Crypto":
  - src/library/Crypto.nim
"→ Databases":
  - src/library/Databases.nim
"→ Dates":
  - src/library/Dates.nim
"→ Exceptions":
  - src/library/Exceptions.nim
"→ Files":
  - src/library/Files.nim
"→ Io":
  - src/library/Io.nim
"→ Iterators":
  - src/library/Iterators.nim
"→ Logic":
  - src/library/Logic.nim
"→ Net":
  - src/library/Net.nim
"→ Numbers":
  - src/library/Numbers.nim
"→ Paths":
  - src/library/Paths.nim
"→ Quantities":
  - src/library/Quantities.nim
"→ Reflection":
  - src/library/Reflection.nim
"→ Sets":
  - src/library/Sets.nim
"→ Sockets":
  - src/library/Sockets.nim
"→ Statistics":
  - src/library/Statistics.nim
"→ Strings":
  - src/library/Strings.nim
"→ System":
  - src/library/System.nim
"→ Types":
  - src/library/Types.nim
"→ Ui":
  - src/library/Ui.nim

netbsd:
  - .github/workflows/netbsd.yml

openbsd:
  - .github/workflows/openbsd.yml

package manager:
  - src/vm/packager.nim

parser:
  - src/vm/parse.nim

repl:
  - src/scripts/console.art
  - src/helpers/repl.nim
  - src/extras/linenoise.nim

rosetta code:
  - examples/rosetta/*

ui:
  - src/extras/libclipboard/*
  - src/extras/menubar/*
  - src/extras/pfd/*
  - src/extras/webview/*
  - src/extras/window/*
  - src/extras/libclipboard.nim
  - src/extras/menubar.nim
  - src/extras/pfd.nim
  - src/extras/webview.nim
  - src/extras/window.nim
  - src/helpers/clipboard.nim
  - src/helpers/dialogs.nim
  - src/helpers/webviews.js
  - src/helpers/webviews.nim
  - src/helpers/windows.nim
  - src/library/Ui.nim

unit-test:
  - tests/errors/**
  - tests/unittests/**
  - tests/web/*

values:
  - src/vm/values/*
  - src/vm/values/custom/**

vm:
  - src/vm/*

workflows:
  - .github/workflows/*

[Files] use `on attr:` ladder for `set` in `permissions`
  src/library/Files.nim
Labels: library, → Files

[Files] use `bindAttrs` for boolean flags in `read`
  src/library/Files.nim
Labels: library, → Files

[Files] use `bindAttrs` for boolean flags in `write`
  src/library/Files.nim
Labels: library, → Files

[Numbers] use `bindAttrs` for `base` in `digits`
  src/library/Numbers.nim
Labels: library, → Numbers

[Numbers] use `bindAttrs` for `integer` in `sqrt`
  src/library/Numbers.nim
Labels: library, → Numbers

[Reflection] use `bindAttrs` for `get` in `benchmark`
  src/library/Reflection.nim
Labels: library, → Reflection

[Reflection] use `bindAttrs` for `get` in `info`
  src/library/Reflection.nim
Labels: library, → Reflection

[Sockets] use `bindAttrs` for `udp`/`to` in `connect`
  src/library/Sockets.nim
Labels: library, → Sockets

[Sockets] use `bindAttrs` for `udp` in `listen`
  src/library/Sockets.nim
Labels: library, → Sockets

[Sockets] use `bindAttrs` for `chunk` in `send`
  src/library/Sockets.nim
Labels: library, → Sockets

[Net] use `bindAttrs` for verbs and other flags in `request`
  src/library/Net.nim
Labels: library, → Net

[System] use `bindAttrs` for `async` in `execute`
  src/library/System.nim
Labels: library, → System

[Quantities] use `bindAttrs` for `hash` in `property`
  src/library/Quantities.nim
Labels: library, → Quantities

[Quantities] use `bindAttrs` for flags in `specify`
  src/library/Quantities.nim
Labels: library, → Quantities

[Strings] use `on attr:` ladder for selectors in `escape`
  src/library/Strings.nim
Labels: library, → Strings

[Strings] use `bindAttrs` for `n`/`with` in `indent`
  src/library/Strings.nim
Labels: library, → Strings

[Strings] use `bindAttrs` for flags in `levenshtein`
  src/library/Strings.nim
Labels: library, → Strings

[Strings] use `bindAttrs` for `once` in `render`
  src/library/Strings.nim
Labels: library, → Strings

[Strings] use `bindAttrs` for `start` in `strip`
  src/library/Strings.nim
Labels: library, → Strings

[Strings] use `bindAttrs` for `at` in `wordwrap`
  src/library/Strings.nim
Labels: library, → Strings

[Strings] use `bindAttrs` for separator presets in `join`
  src/library/Strings.nim
Labels: library, → Strings

[Crypto] use `on url:` ladder + `bindAttrs` in `encode`
  src/library/Crypto.nim
Labels: library, → Crypto

[Core] use `bindAttrs` for `infix` in `alias`
  src/library/Core.nim
Labels: library, → Core

[Core] use `bindAttrs` for `data` in `parse`
  src/library/Core.nim
Labels: library, → Core

[Dates] use `bindAttrs` for time-unit offsets in `after`
  src/library/Dates.nim
Labels: library, → Dates

[Dates] use `bindAttrs` for time-unit offsets in `before`
  src/library/Dates.nim
Labels: library, → Dates

[Io] use `bindAttrs` for style flags in `color`
  src/library/Io.nim
Labels: library, → Io

[Io] use `bindAttrs` for `repl` in `input`
  src/library/Io.nim
Labels: library, → Io

[Io] use `bindAttrs` for `lines` in `print`
  src/library/Io.nim
Labels: library, → Io

[Paths] use `bindAttrs` for URL/path selectors in `extract`
  src/library/Paths.nim
Labels: library, → Paths

[Databases] use `bindAttrs` for `mysql` in `open`
  src/library/Databases.nim
Labels: library, → Databases

[Databases] use `bindAttrs` for `id` in `query`
  src/library/Databases.nim
Labels: library, → Databases

[Exceptions] use `bindAttrs` for `verbose` in `try`
  src/library/Exceptions.nim
Labels: library, → Exceptions

[notes] log attr-handling cleanup pass and remaining macro gaps
  DISPATCH_NOTES.md
Labels: none

[helpers/parallelism] remove scheduler debug prints
  src/helpers/parallelism.nim
Labels: helpers

[helpers/parallelism] add `spawnInProcessDoBlock` — in-VM cooperative-fiber spawn
  src/helpers/parallelism.nim
Labels: helpers

[Core] route `do.async` block/bytecode through in-process fiber spawn
  src/library/Core.nim
Labels: library, → Core

[Tasks] route `wait` through new `coopWait` — drives scheduler from main, suspends from fiber
  src/helpers/parallelism.nim
  src/library/Tasks.nim
Labels: helpers, library

[Core] add `do.async.isolated` — opt-in subprocess fallback
  src/library/Core.nim
Labels: library, → Core

[helpers/parallelism] add `FiberCancelledError` + cancel-check in `cooperativeAwait`
  src/helpers/parallelism.nim
Labels: helpers
