Repository arturo-lang/arturo, changes with the labels that .github/labeler.yml gives for each.
All labels: 3rd-party, ast, bundler, bytecode, ci, command line, documentation, error handling, evaluator, execution, freebsd, helpers, installer, library, → Arithmetic, → Bitwise, → Collections, → Colors, → Comparison, → Converters, → Core, → Crypto, → Databases, → Dates, → Exceptions, → Files, → Io, → Iterators, → Logic, → Net, → Numbers, → Paths, → Quantities, → Reflection, → Sets, → Sockets, → Statistics, → Strings, → System, → Types, → Ui, netbsd, openbsd, package manager, parser, repl, rosetta code, ui, unit-test, values, vm, workflows

.github/labeler.yml:

3rd-party:
  - src/extras/**

ast:
  - src/vm/ast.nim

bundler:
  - src/vm/bundle/generator.nim
  - src/vm/bundle/resources.nim

bytecode:
  - src/vm/bytecode.nim
  - src/vm/opcodes.nim

ci:
  - .github/workflows/freebsd.yml
  - .github/workflows/linux.yml
  - .github/workflows/macos.yml
  - .github/workflows/netbsd.yml
  - .github/workflows/openbsd.yml
  - .github/workflows/web.yml
  - .github/workflows/windows.yml

command line:
  - src/arturo.nim

documentation:
  - examples/projecteuler/*
  - examples/rosetta/*
  - docs/**

error handling: 
  - src/vm/errors.nim

evaluator:
  - src/vm/eval.nim
 
execution:
  - src/vm/exec.nim

freebsd:
  - .github/workflows/freebsd.yml

helpers:
  - src/helpers/*
  
installer:
  - build.nims
  - src/scripts/update.art

library:
  - src/library/**

"→ Arithmetic":
  - src/library/Arithmetic.nim
"→ Bitwise":
  - src/library/Bitwise.nim
"→ Collections":
  - src/library/Collections.nim
"→ Colors":
  - src/library/Colors.nim
"→ Comparison":
  - src/library/Comparison.nim
"→ Converters":
  - src/library/Converters.nim
"→ Core":
  - src/library/Core.nim
"→ Crypto":
  - src/library/Crypto.nim
"→ Databases":
  - src/library/Databases.nim
"→ Dates":
  - src/library/Dates.nim
"→ Exceptions":
  - src/library/Exceptions.nim
"→ Files":
  - src/library/Files.nim
"→ Io":
  - src/library/Io.nim
"→ Iterators":
  - src/library/Iterators.nim
"→ Logic":
  - src/library/Logic.nim
"→ Net":
  - src/library/Net.nim
"→ Numbers":
  - src/library/Numbers.nim
"→ Paths":
  - src/library/Paths.nim
"→ Quantities":
  - src/library/Quantities.nim
"→ Reflection":
  - src/library/Reflection.nim
"→ Sets":
  - src/library/Sets.nim
"→ Sockets":
  - src/library/Sockets.nim
"→ Statistics":
  - src/library/Statistics.nim
"→ Strings":
  - src/library/Strings.nim
"→ System":
  - src/library/System.nim
"→ Types":
  - src/library/Types.nim
"→ Ui":
  - src/library/Ui.nim

netbsd:
  - .github/workflows/netbsd.yml

openbsd:
  - .github/workflows/openbsd.yml

package manager:
  - src/vm/packager.nim

parser:
  - src/vm/parse.nim

repl:
  - src/scripts/console.art
  - src/helpers/repl.nim
  - src/extras/linenoise.nim

rosetta code:
  - examples/rosetta/*

ui:
  - src/extras/libclipboard/*
  - src/extras/menubar/*
  - src/extras/pfd/*
  - src/extras/webview/*
  - src/extras/window/*
  - src/extras/libclipboard.nim
  - src/extras/menubar.nim
  - src/extras/pfd.nim
  - src/extras/webview.nim
  - src/extras/window.nim
  - src/helpers/clipboard.nim
  - src/helpers/dialogs.nim
  - src/helpers/webviews.js
  - src/helpers/webviews.nim
  - src/helpers/windows.nim
  - src/library/Ui.nim

unit-test:
  - tests/errors/**
  - tests/unittests/**
  - tests/web/*

values:
  - src/vm/values/*
  - src/vm/values/custom/**

vm:
  - src/vm/*

workflows:
  - .github/workflows/*

More renaming...
  examples/rosetta/ISBN13 check digit.art
  examples/rosetta/ISBN13 check digit.res
  examples/rosetta/diff_a
  examples/rosetta/diff_b
Labels: documentation, rosetta code

remove temp files
  examples/rosetta/diff_a
  examples/rosetta/diff_b
Labels: documentation, rosetta code

added one more exception (+ clarifications)
  tools/updaterosetta.art
Labels: none

tweaked solution
  examples/rosetta/15 puzzle game.art
Labels: documentation, rosetta code

More renaming...
  examples/rosetta/diff_a
  examples/rosetta/diff_b
Labels: documentation, rosetta code

removed temp files
  examples/rosetta/diff_a
  examples/rosetta/diff_b
Labels: documentation, rosetta code

minor edit (to be able to process non-unittests too)
  tools/updaterosetta.art
Labels: none

updated RC solution
  examples/rosetta/Interactive programming (repl).art
Labels: documentation, rosetta code

added one more exception
  tools/updaterosetta.art
Labels: none

also update version tag
  .github/workflows/update.yml
Labels: workflows

also fix examples' page
  docs/website/theme/examplepage.html
Labels: documentation

another minor fix
  docs/website/theme/examplepage.html
Labels: documentation

better configuration to handle 504 errors on GitHub's side more efficiently
  docs/website/config/nginx.conf
Labels: documentation

add `-Syu` when running `pacman` on Arch; it's safer (and it makes sure mirrors and everything are in sync)
  docs/website/tools/installer.sh
Labels: documentation

fixed error message
  docs/website/tools/installer.sh
Labels: documentation

added baffling fallback to unzip the file with *python*(!) in case `unzip` is not installed but python is (OpenSUSE, wtf?!)
  docs/website/tools/installer.sh
Labels: documentation

geez ...
  docs/website/tools/installer.sh
Labels: documentation

figure out existing download tool at the beginning
  docs/website/tools/installer.sh
Labels: documentation

check whether curl or wget exist and use that + also added a helper `fetch` function
  docs/website/tools/installer.sh
Labels: documentation

don't show the "distro" name when it's not linux
  docs/website/tools/installer.sh
Labels: documentation

simplified (since we don't really need DISTRO_NAME anymore - apart from Linux)
  docs/website/tools/installer.sh
Labels: documentation

fix webkit2gtk version suggestion for FreeBSD
  docs/website/tools/installer.sh
Labels: documentation

also remove `sudo`
  docs/website/tools/installer.sh
Labels: documentation

better instructions for macOS as well
  docs/website/tools/installer.sh
Labels: documentation

fixed header art
  docs/website/tools/installer.sh
Labels: documentation

minor edit
  docs/website/tools/installer.sh
Labels: documentation

added new workflow to quickly test installer on different macos setups
  .github/workflows/testinstaller.yml
Labels: workflows

removed obsolete runner
  .github/workflows/testinstaller.yml
Labels: workflows

minor edit
  .github/workflows/testinstaller.yml
Labels: workflows

and add concurrency safety
  .github/workflows/testinstaller.yml
Labels: workflows

wild attempt to test windows versions too
  .github/workflows/testwinstaller.yml
Labels: workflows

also add some security
  .github/workflows/testwinstaller.yml
Labels: workflows

let's try some crazier experiment
  .github/workflows/testwinstallerps.yml
  docs/website/tools/installer.ps1
Labels: documentation, workflows

minor fix
  docs/website/tools/installer.ps1
Labels: documentation

try fixing downloading issues
  docs/website/tools/installer.ps1
Labels: documentation

remove checkmark
  docs/website/tools/installer.ps1
Labels: documentation

minor cleanup
  docs/website/tools/installer.ps1
Labels: documentation

fixed spaces again
  .github/workflows/testwinstallerps.yml
  docs/website/tools/installer.ps1
Labels: documentation, workflows

trigger update
  .github/workflows/testwinstallerps.yml
Labels: workflows

another try
  .github/workflows/testwinstallerps.yml
  docs/website/tools/installer.ps1
Labels: documentation, workflows
