Repository arturo-lang/arturo, changes with the labels that .github/labeler.yml gives for each.
All labels: 3rd-party, ast, bundler, bytecode, ci, command line, documentation, error handling, evaluator, execution, freebsd, helpers, installer, library, → Arithmetic, → Bitwise, → Collections, → Colors, → Comparison, → Converters, → Core, → Crypto, → Databases, → Dates, → Exceptions, → Files, → Io, → Iterators, → Logic, → Net, → Numbers, → Paths, → Quantities, → Reflection, → Sets, → Sockets, → Statistics, → Strings, → System, → Types, → Ui, netbsd, openbsd, package manager, parser, repl, rosetta code, ui, unit-test, values, vm, workflows

.github/labeler.yml:

3rd-party:
  - src/extras/**

ast:
  - src/vm/ast.nim

bundler:
  - src/vm/bundle/generator.nim
  - src/vm/bundle/resources.nim

bytecode:
  - src/vm/bytecode.nim
  - src/vm/opcodes.nim

ci:
  - .github/workflows/freebsd.yml
  - .github/workflows/linux.yml
  - .github/workflows/macos.yml
  - .github/workflows/netbsd.yml
  - .github/workflows/openbsd.yml
  - .github/workflows/web.yml
  - .github/workflows/windows.yml

command line:
  - src/arturo.nim

documentation:
  - examples/projecteuler/*
  - examples/rosetta/*
  - docs/**

error handling: 
  - src/vm/errors.nim

evaluator:
  - src/vm/eval.nim
 
execution:
  - src/vm/exec.nim

freebsd:
  - .github/workflows/freebsd.yml

helpers:
  - src/helpers/*
  
installer:
  - build.nims
  - src/scripts/update.art

library:
  - src/library/**

"→ Arithmetic":
  - src/library/Arithmetic.nim
"→ Bitwise":
  - src/library/Bitwise.nim
"→ Collections":
  - src/library/Collections.nim
"→ Colors":
  - src/library/Colors.nim
"→ Comparison":
  - src/library/Comparison.nim
"→ Converters":
  - src/library/Converters.nim
"→ Core":
  - src/library/Core.nim
"→ Crypto":
  - src/library/Crypto.nim
"→ Databases":
  - src/library/Databases.nim
"→ Dates":
  - src/library/Dates.nim
"→ Exceptions":
  - src/library/Exceptions.nim
"→ Files":
  - src/library/Files.nim
"→ Io":
  - src/library/Io.nim
"→ Iterators":
  - src/library/Iterators.nim
"→ Logic":
  - src/library/Logic.nim
"→ Net":
  - src/library/Net.nim
"→ Numbers":
  - src/library/Numbers.nim
"→ Paths":
  - src/library/Paths.nim
"→ Quantities":
  - src/library/Quantities.nim
"→ Reflection":
  - src/library/Reflection.nim
"→ Sets":
  - src/library/Sets.nim
"→ Sockets":
  - src/library/Sockets.nim
"→ Statistics":
  - src/library/Statistics.nim
"→ Strings":
  - src/library/Strings.nim
"→ System":
  - src/library/System.nim
"→ Types":
  - src/library/Types.nim
"→ Ui":
  - src/library/Ui.nim

netbsd:
  - .github/workflows/netbsd.yml

openbsd:
  - .github/workflows/openbsd.yml

package manager:
  - src/vm/packager.nim

parser:
  - src/vm/parse.nim

repl:
  - src/scripts/console.art
  - src/helpers/repl.nim
  - src/extras/linenoise.nim

rosetta code:
  - examples/rosetta/*

ui:
  - src/extras/libclipboard/*
  - src/extras/menubar/*
  - src/extras/pfd/*
  - src/extras/webview/*
  - src/extras/window/*
  - src/extras/libclipboard.nim
  - src/extras/menubar.nim
  - src/extras/pfd.nim
  - src/extras/webview.nim
  - src/extras/window.nim
  - src/helpers/clipboard.nim
  - src/helpers/dialogs.nim
  - src/helpers/webviews.js
  - src/helpers/webviews.nim
  - src/helpers/windows.nim
  - src/library/Ui.nim

unit-test:
  - tests/errors/**
  - tests/unittests/**
  - tests/web/*

values:
  - src/vm/values/*
  - src/vm/values/custom/**

vm:
  - src/vm/*

workflows:
  - .github/workflows/*

debugging
  tools/getbuiltins.art
Labels: none

more debugging...
  .github/workflows/update.yml
  tools/getbuiltins.art
Labels: workflows

more debugging...
  .github/workflows/update.yml
  tools/getbuiltins.art
Labels: workflows

just add web builds
  .github/workflows/update.yml
Labels: workflows

just add web builds
  .github/workflows/update.yml
Labels: workflows

yet another try
  tools/getbuiltins.art
Labels: none

yet another try
  tools/getbuiltins.art
Labels: none

remove getbuiltins call
  .github/workflows/update.yml
Labels: workflows

remove getbuiltins call
  .github/workflows/update.yml
Labels: workflows

rebuild
  .github/workflows/update.yml
Labels: workflows

rebuild
  .github/workflows/update.yml
Labels: workflows

fix? pffff
  docs/website/theme/resources/scripts/docsearch.js
  docs/website/theme/resources/scripts/main.js
  docs/website/theme/resources/scripts/playground.js
  tools/preprocessjs.art
Labels: documentation

fix? pffff
  docs/website/theme/resources/scripts/docsearch.js
  docs/website/theme/resources/scripts/main.js
  docs/website/theme/resources/scripts/playground.js
  tools/preprocessjs.art
Labels: documentation

remove output
  tools/getbuiltins.art
Labels: none

remove output
  tools/getbuiltins.art
Labels: none

debugging
  .github/workflows/update.yml
Labels: workflows

debugging
  .github/workflows/update.yml
Labels: workflows

pass missing argument
  .github/workflows/update.yml
Labels: workflows

pass missing argument
  .github/workflows/update.yml
Labels: workflows

reinstate step
  .github/workflows/update.yml
Labels: workflows

reinstate step
  .github/workflows/update.yml
Labels: workflows

fix backend files' copying
  tools/miniwebize/webize.art
Labels: none

fix backend files' copying
  tools/miniwebize/webize.art
Labels: none

debugging
  tools/miniwebize/webize.art
Labels: none

debugging
  tools/miniwebize/webize.art
Labels: none

manually copy files
  .github/workflows/update.yml
Labels: workflows

manually copy files
  .github/workflows/update.yml
Labels: workflows

fixed the path...
  .github/workflows/update.yml
Labels: workflows

fixed the path...
  .github/workflows/update.yml
Labels: workflows

update paths
  docs/website/theme/resources/scripts/playground.js
Labels: documentation

update paths
  docs/website/theme/resources/scripts/playground.js
Labels: documentation

reinstate all tasks
  .github/workflows/update.yml
Labels: workflows

reinstate all tasks
  .github/workflows/update.yml
Labels: workflows

fixed typo
  docs/website/theme/resources/scripts/playground.js
Labels: documentation

fixed typo
  docs/website/theme/resources/scripts/playground.js
Labels: documentation

minor fix
  docs/website/theme/resources/scripts/playground.js
Labels: documentation

minor fix
  docs/website/theme/resources/scripts/playground.js
Labels: documentation

added script for jail setup @ FreeBSD server
  docs/website/tools/setup_runner.sh
Labels: documentation

added script for jail setup @ FreeBSD server
  docs/website/tools/setup_runner.sh
Labels: documentation

cleaned up obsolete scripts
  docs/website/tools/example.php
  docs/website/tools/exec.php
  docs/website/tools/get.php
Labels: documentation
