Repository arturo-lang/arturo, changes with the labels that .github/labeler.yml gives for each.
All labels: 3rd-party, ast, bundler, bytecode, ci, command line, documentation, error handling, evaluator, execution, freebsd, helpers, installer, library, → Arithmetic, → Bitwise, → Collections, → Colors, → Comparison, → Converters, → Core, → Crypto, → Databases, → Dates, → Exceptions, → Files, → Io, → Iterators, → Logic, → Net, → Numbers, → Paths, → Quantities, → Reflection, → Sets, → Sockets, → Statistics, → Strings, → System, → Types, → Ui, netbsd, openbsd, package manager, parser, repl, rosetta code, ui, unit-test, values, vm, workflows

.github/labeler.yml:

3rd-party:
  - src/extras/**

ast:
  - src/vm/ast.nim

bundler:
  - src/vm/bundle/generator.nim
  - src/vm/bundle/resources.nim

bytecode:
  - src/vm/bytecode.nim
  - src/vm/opcodes.nim

ci:
  - .github/workflows/freebsd.yml
  - .github/workflows/linux.yml
  - .github/workflows/macos.yml
  - .github/workflows/netbsd.yml
  - .github/workflows/openbsd.yml
  - .github/workflows/web.yml
  - .github/workflows/windows.yml

command line:
  - src/arturo.nim

documentation:
  - examples/projecteuler/*
  - examples/rosetta/*
  - docs/**

error handling: 
  - src/vm/errors.nim

evaluator:
  - src/vm/eval.nim
 
execution:
  - src/vm/exec.nim

freebsd:
  - .github/workflows/freebsd.yml

helpers:
  - src/helpers/*
  
installer:
  - build.nims
  - src/scripts/update.art

library:
  - src/library/**

"→ Arithmetic":
  - src/library/Arithmetic.nim
"→ Bitwise":
  - src/library/Bitwise.nim
"→ Collections":
  - src/library/Collections.nim
"→ Colors":
  - src/library/Colors.nim
"→ Comparison":
  - src/library/Comparison.nim
"→ Converters":
  - src/library/Converters.nim
"→ Core":
  - src/library/Core.nim
"→ Crypto":
  - src/library/Crypto.nim
"→ Databases":
  - src/library/Databases.nim
"→ Dates":
  - src/library/Dates.nim
"→ Exceptions":
  - src/library/Exceptions.nim
"→ Files":
  - src/library/Files.nim
"→ Io":
  - src/library/Io.nim
"→ Iterators":
  - src/library/Iterators.nim
"→ Logic":
  - src/library/Logic.nim
"→ Net":
  - src/library/Net.nim
"→ Numbers":
  - src/library/Numbers.nim
"→ Paths":
  - src/library/Paths.nim
"→ Quantities":
  - src/library/Quantities.nim
"→ Reflection":
  - src/library/Reflection.nim
"→ Sets":
  - src/library/Sets.nim
"→ Sockets":
  - src/library/Sockets.nim
"→ Statistics":
  - src/library/Statistics.nim
"→ Strings":
  - src/library/Strings.nim
"→ System":
  - src/library/System.nim
"→ Types":
  - src/library/Types.nim
"→ Ui":
  - src/library/Ui.nim

netbsd:
  - .github/workflows/netbsd.yml

openbsd:
  - .github/workflows/openbsd.yml

package manager:
  - src/vm/packager.nim

parser:
  - src/vm/parse.nim

repl:
  - src/scripts/console.art
  - src/helpers/repl.nim
  - src/extras/linenoise.nim

rosetta code:
  - examples/rosetta/*

ui:
  - src/extras/libclipboard/*
  - src/extras/menubar/*
  - src/extras/pfd/*
  - src/extras/webview/*
  - src/extras/window/*
  - src/extras/libclipboard.nim
  - src/extras/menubar.nim
  - src/extras/pfd.nim
  - src/extras/webview.nim
  - src/extras/window.nim
  - src/helpers/clipboard.nim
  - src/helpers/dialogs.nim
  - src/helpers/webviews.js
  - src/helpers/webviews.nim
  - src/helpers/windows.nim
  - src/library/Ui.nim

unit-test:
  - tests/errors/**
  - tests/unittests/**
  - tests/web/*

values:
  - src/vm/values/*
  - src/vm/values/custom/**

vm:
  - src/vm/*

workflows:
  - .github/workflows/*

fix issues with database access + simplify schema
  docs/website/backend/db.php
Labels: documentation

fixed playground script
  docs/website/theme/resources/scripts/playground.js
Labels: documentation

fixed playground script
  docs/website/theme/resources/scripts/playground.js
Labels: documentation

cleaned up playground code + sanitized snippet urls
  docs/website/theme/resources/scripts/playground.js
Labels: documentation

cleaned up playground code + sanitized snippet urls
  docs/website/theme/resources/scripts/playground.js
Labels: documentation

calculate terminal width
  docs/website/theme/resources/scripts/playground.js
Labels: documentation

calculate terminal width
  docs/website/theme/resources/scripts/playground.js
Labels: documentation

update our exec script to make use of virtual columns
  docs/website/backend/exec.php
Labels: documentation

update our exec script to make use of virtual columns
  docs/website/backend/exec.php
Labels: documentation

also copy rosetta code examples(!)
  .github/workflows/update.yml
Labels: workflows

also copy rosetta code examples(!)
  .github/workflows/update.yml
Labels: workflows

clean rewrite example fetcher script
  docs/website/backend/example.php
Labels: documentation

clean rewrite example fetcher script
  docs/website/backend/example.php
Labels: documentation

fix example paths
  docs/website/theme/examplepage.html
Labels: documentation

fix example paths
  docs/website/theme/examplepage.html
Labels: documentation

fixed style
  docs/website/theme/resources/styles/playground.scss
Labels: documentation

fixed style
  docs/website/theme/resources/styles/playground.scss
Labels: documentation

minor tweak
  docs/website/theme/resources/scripts/playground.js
Labels: documentation

minor tweak
  docs/website/theme/resources/scripts/playground.js
Labels: documentation

fix path for binaries (`files/` instead of `binaries/`)
  tools/binarygen.art
Labels: none

fix path for binaries (`files/` instead of `binaries/`)
  tools/binarygen.art
Labels: none

and fix `basePath` references
  .github/workflows/update.yml
  docs/website/theme/resources/scripts/docsearch.js
Labels: documentation, workflows

and fix `basePath` references
  .github/workflows/update.yml
  docs/website/theme/resources/scripts/docsearch.js
Labels: documentation, workflows

we should be searching inside `files/` (not `binaries/`!)
  tools/binarygen.art
Labels: none

we should be searching inside `files/` (not `binaries/`!)
  tools/binarygen.art
Labels: none

add search bar to playground too + add packages navbar button
  docs/website/theme/components/navbar.html
Labels: documentation

add search bar to playground too + add packages navbar button
  docs/website/theme/components/navbar.html
Labels: documentation

trigger rebuild
  build.nims
Labels: installer

trigger rebuild
  build.nims
Labels: installer

properly update header to support searchbar for playground mode as well
  docs/website/theme/components/head.html
Labels: documentation

properly update header to support searchbar for playground mode as well
  docs/website/theme/components/head.html
Labels: documentation

properly update footer to support searchbar for playground mode as well
  docs/website/theme/components/foot.html
Labels: documentation

properly update footer to support searchbar for playground mode as well
  docs/website/theme/components/foot.html
Labels: documentation

make docs inside playground open in a modal
  docs/website/theme/components/foot.html
  docs/website/theme/resources/scripts/docsearch.js
Labels: documentation

make docs inside playground open in a modal
  docs/website/theme/components/foot.html
  docs/website/theme/resources/scripts/docsearch.js
Labels: documentation

add button states, to visualize if we can run/share script, etc
  docs/website/theme/resources/scripts/playground.js
Labels: documentation

add button states, to visualize if we can run/share script, etc
  docs/website/theme/resources/scripts/playground.js
Labels: documentation

also added relevant styles
  docs/website/theme/resources/styles/playground.scss
Labels: documentation

also added relevant styles
  docs/website/theme/resources/styles/playground.scss
Labels: documentation

fixed wordwrapper icon
  docs/website/theme/playground.html
  docs/website/theme/resources/scripts/playground.js
  docs/website/theme/resources/styles/playground.scss
Labels: documentation
