Repository arturo-lang/arturo, changes with the labels that .github/labeler.yml gives for each.
All labels: 3rd-party, ast, bundler, bytecode, ci, command line, documentation, error handling, evaluator, execution, freebsd, helpers, installer, library, → Arithmetic, → Bitwise, → Collections, → Colors, → Comparison, → Converters, → Core, → Crypto, → Databases, → Dates, → Exceptions, → Files, → Io, → Iterators, → Logic, → Net, → Numbers, → Paths, → Quantities, → Reflection, → Sets, → Sockets, → Statistics, → Strings, → System, → Types, → Ui, netbsd, openbsd, package manager, parser, repl, rosetta code, ui, unit-test, values, vm, workflows

re-enable PDF tutorial generation too
  .github/workflows/update.yml
Labels: workflows

remove workflow
  .github/workflows/testmacports.yml
Labels: workflows

re-enable "updates" (hidden feature, for now)
  src/arturo.nim
Labels: command line

add `white-space: nowrap` for symbol items
  docs/website/theme/docpage.html
Labels: documentation

Add Environment Setup section to Contributing Instructions
  docs/CONTRIBUTING.md
Labels: documentation

Add Windows Setup subsection to Contributing Instructions
  docs/CONTRIBUTING.md
Labels: documentation

Remove unnecessary information
  docs/CONTRIBUTING.md
Labels: documentation

Add Ubuntu Setup subsection to Contributing Instructions
  docs/CONTRIBUTING.md
Labels: documentation

Highlight missing syntax
  docs/CONTRIBUTING.md
Labels: documentation

Add MacOS Setup subsection to Contributing Instructions
  docs/CONTRIBUTING.md
Labels: documentation

Add FreeBSD Setup subsection to Contributing Instructions
  docs/CONTRIBUTING.md
Labels: documentation

Add scoop disclaimer for Nim installation on Windows
  docs/CONTRIBUTING.md
Labels: documentation

try using patched version
  .github/workflows/update.yml
Labels: workflows

let's try completely removing homebrew + install libiconv from ports
  .github/workflows/testinstaller.yml
Labels: workflows

add new test workflow
  .github/workflows/testmacports.yml
Labels: workflows

needs sudo
  .github/workflows/testmacports.yml
Labels: workflows

add some logging
  .github/workflows/testmacports.yml
Labels: workflows

restructure tests
  .github/workflows/testmacports.yml
Labels: workflows

try more
  .github/workflows/testmacports.yml
Labels: workflows

remove fix
  .github/workflows/testmacports.yml
Labels: workflows

import pure/encodings + changs the suspicious dynamic library line
  src/extras/encodings.nim
Labels: 3rd-party

use our "own", patched encoding module instead
  src/library/Crypto.nim
Labels: library, → Crypto

update test
  .github/workflows/testmacports.yml
Labels: workflows

update installer
  .github/workflows/testinstaller.yml
Labels: workflows

add proper support for builds on amd64 + Homebrew
  build.nims
Labels: installer

main patch (see also: https://github.com/arturo-lang/arturo/pull/2116)
  build.nims
  src/extras/encodings.nim
  src/library/Crypto.nim
Labels: 3rd-party, installer, library, → Crypto

also install conflicting `libiconv`
  .github/workflows/testmacports.yml
Labels: workflows

remove test workflow
  .github/workflows/testmacports.yml
Labels: workflows

fix paths (again)
  .config/buildmode.nims
  build.nims
Labels: installer

attempt to re-enable encodings for FreeBSD
  src/library/Crypto.nim
Labels: library, → Crypto

trigger rebuild from main
  .github/workflows/ci.yml
Labels: workflows

add `-liconv` for freebsd too
  src/extras/encodings.nim
Labels: 3rd-party

revert to v2
  .github/workflows/ci.yml
Labels: workflows

Update build to 3419
  version/build
Labels: none

update workflow
  .github/workflows/update.yml
Labels: workflows

remove testworkflow
  .github/workflows/testmacports.yml
Labels: workflows

update tests
  .github/workflows/testinstaller.yml
Labels: workflows

clean up & merge tasks
  .github/workflows/testinstaller.yml
Labels: workflows

minor edit
  .github/workflows/testinstaller.yml
Labels: workflows

fixed errors in workflow
  .github/workflows/testinstaller.yml
Labels: workflows

.github/labeler.yml:

3rd-party:
  - src/extras/**

ast:
  - src/vm/ast.nim

bundler:
  - src/vm/bundle/generator.nim
  - src/vm/bundle/resources.nim

bytecode:
  - src/vm/bytecode.nim
  - src/vm/opcodes.nim

ci:
  - .github/workflows/freebsd.yml
  - .github/workflows/linux.yml
  - .github/workflows/macos.yml
  - .github/workflows/netbsd.yml
  - .github/workflows/openbsd.yml
  - .github/workflows/web.yml
  - .github/workflows/windows.yml

command line:
  - src/arturo.nim

documentation:
  - examples/projecteuler/*
  - examples/rosetta/*
  - docs/**

error handling: 
  - src/vm/errors.nim

evaluator:
  - src/vm/eval.nim
 
execution:
  - src/vm/exec.nim

freebsd:
  - .github/workflows/freebsd.yml

helpers:
  - src/helpers/*
  
installer:
  - build.nims
  - src/scripts/update.art

library:
  - src/library/**

"→ Arithmetic":
  - src/library/Arithmetic.nim
"→ Bitwise":
  - src/library/Bitwise.nim
"→ Collections":
  - src/library/Collections.nim
"→ Colors":
  - src/library/Colors.nim
"→ Comparison":
  - src/library/Comparison.nim
"→ Converters":
  - src/library/Converters.nim
"→ Core":
  - src/library/Core.nim
"→ Crypto":
  - src/library/Crypto.nim
"→ Databases":
  - src/library/Databases.nim
"→ Dates":
  - src/library/Dates.nim
"→ Exceptions":
  - src/library/Exceptions.nim
"→ Files":
  - src/library/Files.nim
"→ Io":
  - src/library/Io.nim
"→ Iterators":
  - src/library/Iterators.nim
"→ Logic":
  - src/library/Logic.nim
"→ Net":
  - src/library/Net.nim
"→ Numbers":
  - src/library/Numbers.nim
"→ Paths":
  - src/library/Paths.nim
"→ Quantities":
  - src/library/Quantities.nim
"→ Reflection":
  - src/library/Reflection.nim
"→ Sets":
  - src/library/Sets.nim
"→ Sockets":
  - src/library/Sockets.nim
"→ Statistics":
  - src/library/Statistics.nim
"→ Strings":
  - src/library/Strings.nim
"→ System":
  - src/library/System.nim
"→ Types":
  - src/library/Types.nim
"→ Ui":
  - src/library/Ui.nim

netbsd:
  - .github/workflows/netbsd.yml

openbsd:
  - .github/workflows/openbsd.yml

package manager:
  - src/vm/packager.nim

parser:
  - src/vm/parse.nim

repl:
  - src/scripts/console.art
  - src/helpers/repl.nim
  - src/extras/linenoise.nim

rosetta code:
  - examples/rosetta/*

ui:
  - src/extras/libclipboard/*
  - src/extras/menubar/*
  - src/extras/pfd/*
  - src/extras/webview/*
  - src/extras/window/*
  - src/extras/libclipboard.nim
  - src/extras/menubar.nim
  - src/extras/pfd.nim
  - src/extras/webview.nim
  - src/extras/window.nim
  - src/helpers/clipboard.nim
  - src/helpers/dialogs.nim
  - src/helpers/webviews.js
  - src/helpers/webviews.nim
  - src/helpers/windows.nim
  - src/library/Ui.nim

unit-test:
  - tests/errors/**
  - tests/unittests/**
  - tests/web/*

values:
  - src/vm/values/*
  - src/vm/values/custom/**

vm:
  - src/vm/*

workflows:
  - .github/workflows/*
