Repository arturo-lang/arturo, changes with the labels that .github/labeler.yml gives for each.
All labels: 3rd-party, ast, bundler, bytecode, ci, command line, documentation, error handling, evaluator, execution, freebsd, helpers, installer, library, → Arithmetic, → Bitwise, → Collections, → Colors, → Comparison, → Converters, → Core, → Crypto, → Databases, → Dates, → Exceptions, → Files, → Io, → Iterators, → Logic, → Net, → Numbers, → Paths, → Quantities, → Reflection, → Sets, → Sockets, → Statistics, → Strings, → System, → Types, → Ui, netbsd, openbsd, package manager, parser, repl, rosetta code, ui, unit-test, values, vm, workflows

add `data-scroll-ignore` to action buttons
  docs/website/theme/playground.html
Labels: documentation

force playground to full window
  docs/website/theme/resources/styles/playground.scss
Labels: documentation

force playground to full window
  docs/website/theme/resources/styles/playground.scss
Labels: documentation

re-enable all binaries
  .github/workflows/update.yml
Labels: workflows

re-enable all binaries
  .github/workflows/update.yml
Labels: workflows

minor fix
  docs/website/theme/resources/scripts/docsearch.js
Labels: documentation

minor fix
  docs/website/theme/resources/scripts/docsearch.js
Labels: documentation

also fixed ace.js module
  docs/website/theme/resources/scripts/mode-arturo.js
Labels: documentation

also fixed ace.js module
  docs/website/theme/resources/scripts/mode-arturo.js
Labels: documentation

another minor fix
  docs/website/theme/resources/scripts/docsearch.js
Labels: documentation

another minor fix
  docs/website/theme/resources/scripts/docsearch.js
Labels: documentation

revert changes here
  docs/website/theme/resources/scripts/mode-arturo.js
Labels: documentation

revert changes here
  docs/website/theme/resources/scripts/mode-arturo.js
Labels: documentation

Update docsearch.js
  docs/website/theme/resources/scripts/docsearch.js
Labels: documentation

Update docsearch.js
  docs/website/theme/resources/scripts/docsearch.js
Labels: documentation

fix ace.js mode
  tools/preprocessjs.art
Labels: none

fix ace.js mode
  tools/preprocessjs.art
Labels: none

also fix margin-top for doc modals
  docs/website/theme/resources/scripts/docsearch.js
Labels: documentation

also fix margin-top for doc modals
  docs/website/theme/resources/scripts/docsearch.js
Labels: documentation

updated footer
  docs/website/theme/components/foot.html
Labels: documentation

updated footer
  docs/website/theme/components/foot.html
Labels: documentation

adjusted doc modal
  docs/website/theme/resources/styles/main.scss
Labels: documentation

adjusted doc modal
  docs/website/theme/resources/styles/main.scss
Labels: documentation

minor adjustments to doc modal title
  docs/website/theme/resources/scripts/docsearch.js
  docs/website/theme/resources/styles/main.scss
Labels: documentation

minor adjustments to doc modal title
  docs/website/theme/resources/scripts/docsearch.js
  docs/website/theme/resources/styles/main.scss
Labels: documentation

adjusted searchbar + added minimizable state
  docs/website/theme/resources/styles/search.scss
Labels: documentation

adjusted searchbar + added minimizable state
  docs/website/theme/resources/styles/search.scss
Labels: documentation

minor doc header adjustments
  docs/website/theme/components/navbar.html
  docs/website/theme/resources/scripts/docsearch.js
Labels: documentation

minor doc header adjustments
  docs/website/theme/components/navbar.html
  docs/website/theme/resources/scripts/docsearch.js
Labels: documentation

adjusted links in the doc modal title
  docs/website/theme/resources/styles/main.scss
Labels: documentation

adjusted links in the doc modal title
  docs/website/theme/resources/styles/main.scss
Labels: documentation

adjust hero layout
  docs/website/theme/index.html
Labels: documentation

adjust hero layout
  docs/website/theme/index.html
Labels: documentation

put dropdown after the search icon, so that the icon transition effects work
  docs/website/theme/resources/scripts/docsearch.js
Labels: documentation

put dropdown after the search icon, so that the icon transition effects work
  docs/website/theme/resources/scripts/docsearch.js
Labels: documentation

make sure the search bar works properly (and without being auto-hidden)
  docs/website/theme/resources/scripts/docsearch.js
  docs/website/theme/resources/styles/search.scss
Labels: documentation

make sure the search bar works properly (and without being auto-hidden)
  docs/website/theme/resources/scripts/docsearch.js
  docs/website/theme/resources/styles/search.scss
Labels: documentation

properly hide placeholder & content when "minimized"
  docs/website/theme/resources/styles/search.scss
Labels: documentation

properly hide placeholder & content when "minimized"
  docs/website/theme/resources/styles/search.scss
Labels: documentation

allow pointer-events even when `.disabled`
  docs/website/theme/resources/styles/playground.scss
Labels: documentation

.github/labeler.yml:

3rd-party:
  - src/extras/**

ast:
  - src/vm/ast.nim

bundler:
  - src/vm/bundle/generator.nim
  - src/vm/bundle/resources.nim

bytecode:
  - src/vm/bytecode.nim
  - src/vm/opcodes.nim

ci:
  - .github/workflows/freebsd.yml
  - .github/workflows/linux.yml
  - .github/workflows/macos.yml
  - .github/workflows/netbsd.yml
  - .github/workflows/openbsd.yml
  - .github/workflows/web.yml
  - .github/workflows/windows.yml

command line:
  - src/arturo.nim

documentation:
  - examples/projecteuler/*
  - examples/rosetta/*
  - docs/**

error handling: 
  - src/vm/errors.nim

evaluator:
  - src/vm/eval.nim
 
execution:
  - src/vm/exec.nim

freebsd:
  - .github/workflows/freebsd.yml

helpers:
  - src/helpers/*
  
installer:
  - build.nims
  - src/scripts/update.art

library:
  - src/library/**

"→ Arithmetic":
  - src/library/Arithmetic.nim
"→ Bitwise":
  - src/library/Bitwise.nim
"→ Collections":
  - src/library/Collections.nim
"→ Colors":
  - src/library/Colors.nim
"→ Comparison":
  - src/library/Comparison.nim
"→ Converters":
  - src/library/Converters.nim
"→ Core":
  - src/library/Core.nim
"→ Crypto":
  - src/library/Crypto.nim
"→ Databases":
  - src/library/Databases.nim
"→ Dates":
  - src/library/Dates.nim
"→ Exceptions":
  - src/library/Exceptions.nim
"→ Files":
  - src/library/Files.nim
"→ Io":
  - src/library/Io.nim
"→ Iterators":
  - src/library/Iterators.nim
"→ Logic":
  - src/library/Logic.nim
"→ Net":
  - src/library/Net.nim
"→ Numbers":
  - src/library/Numbers.nim
"→ Paths":
  - src/library/Paths.nim
"→ Quantities":
  - src/library/Quantities.nim
"→ Reflection":
  - src/library/Reflection.nim
"→ Sets":
  - src/library/Sets.nim
"→ Sockets":
  - src/library/Sockets.nim
"→ Statistics":
  - src/library/Statistics.nim
"→ Strings":
  - src/library/Strings.nim
"→ System":
  - src/library/System.nim
"→ Types":
  - src/library/Types.nim
"→ Ui":
  - src/library/Ui.nim

netbsd:
  - .github/workflows/netbsd.yml

openbsd:
  - .github/workflows/openbsd.yml

package manager:
  - src/vm/packager.nim

parser:
  - src/vm/parse.nim

repl:
  - src/scripts/console.art
  - src/helpers/repl.nim
  - src/extras/linenoise.nim

rosetta code:
  - examples/rosetta/*

ui:
  - src/extras/libclipboard/*
  - src/extras/menubar/*
  - src/extras/pfd/*
  - src/extras/webview/*
  - src/extras/window/*
  - src/extras/libclipboard.nim
  - src/extras/menubar.nim
  - src/extras/pfd.nim
  - src/extras/webview.nim
  - src/extras/window.nim
  - src/helpers/clipboard.nim
  - src/helpers/dialogs.nim
  - src/helpers/webviews.js
  - src/helpers/webviews.nim
  - src/helpers/windows.nim
  - src/library/Ui.nim

unit-test:
  - tests/errors/**
  - tests/unittests/**
  - tests/web/*

values:
  - src/vm/values/*
  - src/vm/values/custom/**

vm:
  - src/vm/*

workflows:
  - .github/workflows/*
