Repository arturo-lang/arturo, changes with the labels that .github/labeler.yml gives for each.
All labels: 3rd-party, ast, bundler, bytecode, ci, command line, documentation, error handling, evaluator, execution, freebsd, helpers, installer, library, → Arithmetic, → Bitwise, → Collections, → Colors, → Comparison, → Converters, → Core, → Crypto, → Databases, → Dates, → Exceptions, → Files, → Io, → Iterators, → Logic, → Net, → Numbers, → Paths, → Quantities, → Reflection, → Sets, → Sockets, → Statistics, → Strings, → System, → Types, → Ui, netbsd, openbsd, package manager, parser, repl, rosetta code, ui, unit-test, values, vm, workflows

.github/labeler.yml:

3rd-party:
  - src/extras/**

ast:
  - src/vm/ast.nim

bundler:
  - src/vm/bundle/generator.nim
  - src/vm/bundle/resources.nim

bytecode:
  - src/vm/bytecode.nim
  - src/vm/opcodes.nim

ci:
  - .github/workflows/freebsd.yml
  - .github/workflows/linux.yml
  - .github/workflows/macos.yml
  - .github/workflows/netbsd.yml
  - .github/workflows/openbsd.yml
  - .github/workflows/web.yml
  - .github/workflows/windows.yml

command line:
  - src/arturo.nim

documentation:
  - examples/projecteuler/*
  - examples/rosetta/*
  - docs/**

error handling: 
  - src/vm/errors.nim

evaluator:
  - src/vm/eval.nim
 
execution:
  - src/vm/exec.nim

freebsd:
  - .github/workflows/freebsd.yml

helpers:
  - src/helpers/*
  
installer:
  - build.nims
  - src/scripts/update.art

library:
  - src/library/**

"→ Arithmetic":
  - src/library/Arithmetic.nim
"→ Bitwise":
  - src/library/Bitwise.nim
"→ Collections":
  - src/library/Collections.nim
"→ Colors":
  - src/library/Colors.nim
"→ Comparison":
  - src/library/Comparison.nim
"→ Converters":
  - src/library/Converters.nim
"→ Core":
  - src/library/Core.nim
"→ Crypto":
  - src/library/Crypto.nim
"→ Databases":
  - src/library/Databases.nim
"→ Dates":
  - src/library/Dates.nim
"→ Exceptions":
  - src/library/Exceptions.nim
"→ Files":
  - src/library/Files.nim
"→ Io":
  - src/library/Io.nim
"→ Iterators":
  - src/library/Iterators.nim
"→ Logic":
  - src/library/Logic.nim
"→ Net":
  - src/library/Net.nim
"→ Numbers":
  - src/library/Numbers.nim
"→ Paths":
  - src/library/Paths.nim
"→ Quantities":
  - src/library/Quantities.nim
"→ Reflection":
  - src/library/Reflection.nim
"→ Sets":
  - src/library/Sets.nim
"→ Sockets":
  - src/library/Sockets.nim
"→ Statistics":
  - src/library/Statistics.nim
"→ Strings":
  - src/library/Strings.nim
"→ System":
  - src/library/System.nim
"→ Types":
  - src/library/Types.nim
"→ Ui":
  - src/library/Ui.nim

netbsd:
  - .github/workflows/netbsd.yml

openbsd:
  - .github/workflows/openbsd.yml

package manager:
  - src/vm/packager.nim

parser:
  - src/vm/parse.nim

repl:
  - src/scripts/console.art
  - src/helpers/repl.nim
  - src/extras/linenoise.nim

rosetta code:
  - examples/rosetta/*

ui:
  - src/extras/libclipboard/*
  - src/extras/menubar/*
  - src/extras/pfd/*
  - src/extras/webview/*
  - src/extras/window/*
  - src/extras/libclipboard.nim
  - src/extras/menubar.nim
  - src/extras/pfd.nim
  - src/extras/webview.nim
  - src/extras/window.nim
  - src/helpers/clipboard.nim
  - src/helpers/dialogs.nim
  - src/helpers/webviews.js
  - src/helpers/webviews.nim
  - src/helpers/windows.nim
  - src/library/Ui.nim

unit-test:
  - tests/errors/**
  - tests/unittests/**
  - tests/web/*

values:
  - src/vm/values/*
  - src/vm/values/custom/**

vm:
  - src/vm/*

workflows:
  - .github/workflows/*

Test pre-release 0.9.91 "Yet another test"
  version/codename
  version/revision
  version/version
Labels: none

Test pre-release 0.9.92 "Yet another test"
  version/revision
  version/version
Labels: none

final cleanup
  .github/workflows/release.yml
Labels: workflows

Restore values
  version/codename
  version/revision
  version/version
Labels: none

restore full build matrix
  .github/workflows/release.yml
Labels: workflows

Bump revision to 3458 [skip ci]
  version/revision
Labels: none

put release note code in separate script
  tools/generatereleasenotes.sh
Labels: none

use new script
  .github/workflows/release.yml
Labels: workflows

shrink build matrix (for debugging purposes)
  .github/workflows/release.yml
Labels: workflows

Bump revision to 3459 [skip ci]
  version/revision
Labels: none

also update helper tools
  tools/release_finalize.sh
  tools/release_trigger.sh
  tools/release_undo.sh
Labels: none

Bump revision to 3460 [skip ci]
  version/revision
Labels: none

Test pre-release 0.9.93 "Yet another test"
  version/codename
  version/revision
  version/version
Labels: none

show contributors' avatars instead of usernames
  tools/generatereleasenotes.sh
Labels: none

clean up release notes
  .github/workflows/release.yml
  tools/generatereleasenotes.sh
Labels: workflows

Restore values
  version/codename
  version/revision
  version/version
Labels: none

Test pre-release 0.9.94 "Yet another test"
  version/codename
  version/revision
  version/version
Labels: none

Restore values
  version/codename
  version/revision
  version/version
Labels: none

minor fixes
  tools/generatereleasenotes.sh
Labels: none

Test pre-release 0.9.95 "Yet another test"
  version/codename
  version/revision
  version/version
Labels: none

Restore values
  version/codename
  version/revision
  version/version
Labels: none

restore build matrix
  .github/workflows/release.yml
Labels: workflows

Bump revision to 3458 [skip ci]
  version/revision
Labels: none

Release 0.10.0 "Arizona Bark"
  version/codename
  version/revision
  version/version
Labels: none

Restore values
  version/codename
  version/revision
  version/version
Labels: none

Release 0.10.0 "Arizona Bark"
  version/codename
  version/revision
  version/version
Labels: none

Bump to 0.10.1-dev
  version/codename
  version/revision
  version/version
Labels: none

updated file
  src/extras/checksums/bcrypt.nim
Labels: 3rd-party

updated file
  src/extras/checksums/sha2.nim
Labels: 3rd-party

updated file
  src/extras/checksums/private/sha_utils.nim
Labels: 3rd-party

updated file
  src/extras/db_connector/db_sqlite.nim
Labels: 3rd-party

updated file
  src/extras/db_connector/db_postgres.nim
Labels: 3rd-party

updated file
  src/extras/db_connector/private/dbutils.nim
Labels: 3rd-party

updated sources
  src/extras/mimalloc/src/alloc-aligned.c
  src/extras/mimalloc/src/alloc.c
  src/extras/mimalloc/src/arena.c
  src/extras/mimalloc/src/free.c
  src/extras/mimalloc/src/heap.c
  src/extras/mimalloc/src/init.c
  src/extras/mimalloc/src/options.c
  src/extras/mimalloc/src/os.c
  src/extras/mimalloc/src/page-queue.c
  src/extras/mimalloc/src/page.c
  src/extras/mimalloc/src/prim/osx/alloc-override-zone.c
  src/extras/mimalloc/src/prim/unix/prim.c
  src/extras/mimalloc/src/prim/windows/prim.c
  src/extras/mimalloc/src/segment.c
  src/extras/mimalloc/src/stats.c
Labels: 3rd-party

updated includes
  src/extras/mimalloc/include/mimalloc-stats.h
  src/extras/mimalloc/include/mimalloc.h
  src/extras/mimalloc/include/mimalloc/internal.h
  src/extras/mimalloc/include/mimalloc/prim.h
  src/extras/mimalloc/include/mimalloc/types.h
Labels: 3rd-party

updated file
  src/extras/pfd/pfd.cc
Labels: 3rd-party, ui

fix missing headers
  src/extras/pfd/pfd.cc
Labels: 3rd-party, ui

updated file
  src/extras/smtp.nim
Labels: 3rd-party

updated files
  src/extras/md4c/entity.c
  src/extras/md4c/entity.h
  src/extras/md4c/md4c.c
  src/extras/md4c/md4c.h
Labels: 3rd-party

also update `-html` files
  src/extras/md4c/md4c-html.c
  src/extras/md4c/md4c-html.h
Labels: 3rd-party
