Repository arturo-lang/arturo, changes with the labels that .github/labeler.yml gives for each.
All labels: 3rd-party, ast, bundler, bytecode, ci, command line, documentation, error handling, evaluator, execution, freebsd, helpers, installer, library, → Arithmetic, → Bitwise, → Collections, → Colors, → Comparison, → Converters, → Core, → Crypto, → Databases, → Dates, → Exceptions, → Files, → Io, → Iterators, → Logic, → Net, → Numbers, → Paths, → Quantities, → Reflection, → Sets, → Sockets, → Statistics, → Strings, → System, → Types, → Ui, netbsd, openbsd, package manager, parser, repl, rosetta code, ui, unit-test, values, vm, workflows

minor edit
  src/vm/values/custom/vtask.nim
Labels: values

revert move
  src/vm/values/custom/vtask.nim
  src/vm/values/value.nim
Labels: values

[Events] add module-level subscriber registry
  src/library/Events.nim
Labels: library

[Events] add `enqueueEmit` helper for next-tick handler dispatch
  src/library/Events.nim
Labels: library

[Events] add `event` builtin
  src/library/Events.nim
Labels: library

[Events] add `on` builtin
  src/library/Events.nim
Labels: library

[Events] add `emit` builtin
  src/library/Events.nim
Labels: library

[Events] reshape `on` to 2-arg with `.with:` payload binding
  src/library/Events.nim
Labels: library

[Events] update `emit` example for new `on` shape
  src/library/Events.nim
Labels: library

[Events] reshape `emit` to 1-arg with `.with:` payload
  src/library/Events.nim
Labels: library

[Events] fire handlers via direct `execUnscoped` to dodge VM reentrancy
  src/library/Events.nim
Labels: library

[Events] factor dispatch into `dispatchEvent` helper
  src/library/Events.nim
Labels: library

[Events] bind `CtrlC` constant
  src/library/Events.nim
Labels: library

[Events] wire `setControlCHook` to dispatch `CtrlC` (drains before exit)
  src/library/Events.nim
Labels: library

[Events] bind `BeforeExit` constant
  src/library/Events.nim
Labels: library

[Events] wire `addExitProc` to dispatch `BeforeExit` (drains queue)
  src/library/Events.nim
Labels: library

[Events] bind `SigTerm` / `SigHup` constants
  src/library/Events.nim
Labels: library

[Events] wire `SIGTERM` / `SIGHUP` signal handlers (POSIX)
  src/library/Events.nim
Labels: library

[Events] extend `on` to accept `:task` with done/failed/cancelled/finished modes
  src/library/Events.nim
Labels: library

[Events] add `off` builtin to clear all handlers for an event
  src/library/Events.nim
Labels: library

[Events] update TODO comment after `off` lands
  src/library/Events.nim
Labels: library

[Events] add `emitChannel` module var for cross-process emit
  src/library/Events.nim
Labels: library

[Events] init `emitChannel` from `ARTURO_EVENT_FD` env var
  src/library/Events.nim
Labels: library

[Events] write `[name payload]` records to `emitChannel` when set
  src/library/Events.nim
Labels: library

[helpers/parallelism] add `inboundEventDispatcher` hook for cross-process events
  src/helpers/parallelism.nim
Labels: helpers

[Events] register `dispatchEvent` as the inbound cross-process callback
  src/library/Events.nim
Labels: library

[Events] use temp-file channel via `ARTURO_EVENT_FILE` (simpler than fd inheritance)
  src/library/Events.nim
Labels: library

[helpers/parallelism] create per-child event channel file + pass via env
  src/helpers/parallelism.nim
Labels: helpers

[helpers/parallelism] add `tailEventChannel` async loop
  src/helpers/parallelism.nim
Labels: helpers

[helpers/parallelism] launch + drain event-channel tail in `runInChildProcess`
  src/helpers/parallelism.nim
Labels: helpers

[Events] switch wire format to two-line records (dodges parser quirk on `#[...]`)
  src/helpers/parallelism.nim
  src/library/Events.nim
Labels: helpers, library

[Events] fire task callbacks synchronously from `addCallback` (one-tick latency)
  src/library/Events.nim
Labels: library

[Events] carry per-registration ids in `subscribers`
  src/library/Events.nim
Labels: library

[Events] add `on.id` attribute returning the registration id
  src/library/Events.nim
Labels: library

[Events] extend `off` to accept an :integer id for per-handler removal
  src/library/Events.nim
Labels: library

[Events] add `on.once` attribute (handler auto-removes after first fire)
  src/library/Events.nim
Labels: library

[helpers/parallelism] add `childInboundFiles` registry
  src/helpers/parallelism.nim
Labels: helpers

[helpers/parallelism] add `broadcastToChildren` for parent→child emit
  src/helpers/parallelism.nim
Labels: helpers

[helpers/parallelism] create + register per-child inbound file
  src/helpers/parallelism.nim
Labels: helpers

[helpers/parallelism] unregister + remove inbound file after child exits
  src/helpers/parallelism.nim
Labels: helpers

.github/labeler.yml:

3rd-party:
  - src/extras/**

ast:
  - src/vm/ast.nim

bundler:
  - src/vm/bundle/generator.nim
  - src/vm/bundle/resources.nim

bytecode:
  - src/vm/bytecode.nim
  - src/vm/opcodes.nim

ci:
  - .github/workflows/freebsd.yml
  - .github/workflows/linux.yml
  - .github/workflows/macos.yml
  - .github/workflows/netbsd.yml
  - .github/workflows/openbsd.yml
  - .github/workflows/web.yml
  - .github/workflows/windows.yml

command line:
  - src/arturo.nim

documentation:
  - examples/projecteuler/*
  - examples/rosetta/*
  - docs/**

error handling: 
  - src/vm/errors.nim

evaluator:
  - src/vm/eval.nim
 
execution:
  - src/vm/exec.nim

freebsd:
  - .github/workflows/freebsd.yml

helpers:
  - src/helpers/*
  
installer:
  - build.nims
  - src/scripts/update.art

library:
  - src/library/**

"→ Arithmetic":
  - src/library/Arithmetic.nim
"→ Bitwise":
  - src/library/Bitwise.nim
"→ Collections":
  - src/library/Collections.nim
"→ Colors":
  - src/library/Colors.nim
"→ Comparison":
  - src/library/Comparison.nim
"→ Converters":
  - src/library/Converters.nim
"→ Core":
  - src/library/Core.nim
"→ Crypto":
  - src/library/Crypto.nim
"→ Databases":
  - src/library/Databases.nim
"→ Dates":
  - src/library/Dates.nim
"→ Exceptions":
  - src/library/Exceptions.nim
"→ Files":
  - src/library/Files.nim
"→ Io":
  - src/library/Io.nim
"→ Iterators":
  - src/library/Iterators.nim
"→ Logic":
  - src/library/Logic.nim
"→ Net":
  - src/library/Net.nim
"→ Numbers":
  - src/library/Numbers.nim
"→ Paths":
  - src/library/Paths.nim
"→ Quantities":
  - src/library/Quantities.nim
"→ Reflection":
  - src/library/Reflection.nim
"→ Sets":
  - src/library/Sets.nim
"→ Sockets":
  - src/library/Sockets.nim
"→ Statistics":
  - src/library/Statistics.nim
"→ Strings":
  - src/library/Strings.nim
"→ System":
  - src/library/System.nim
"→ Types":
  - src/library/Types.nim
"→ Ui":
  - src/library/Ui.nim

netbsd:
  - .github/workflows/netbsd.yml

openbsd:
  - .github/workflows/openbsd.yml

package manager:
  - src/vm/packager.nim

parser:
  - src/vm/parse.nim

repl:
  - src/scripts/console.art
  - src/helpers/repl.nim
  - src/extras/linenoise.nim

rosetta code:
  - examples/rosetta/*

ui:
  - src/extras/libclipboard/*
  - src/extras/menubar/*
  - src/extras/pfd/*
  - src/extras/webview/*
  - src/extras/window/*
  - src/extras/libclipboard.nim
  - src/extras/menubar.nim
  - src/extras/pfd.nim
  - src/extras/webview.nim
  - src/extras/window.nim
  - src/helpers/clipboard.nim
  - src/helpers/dialogs.nim
  - src/helpers/webviews.js
  - src/helpers/webviews.nim
  - src/helpers/windows.nim
  - src/library/Ui.nim

unit-test:
  - tests/errors/**
  - tests/unittests/**
  - tests/web/*

values:
  - src/vm/values/*
  - src/vm/values/custom/**

vm:
  - src/vm/*

workflows:
  - .github/workflows/*
