Repository arturo-lang/arturo, changes with the labels that .github/labeler.yml gives for each.
All labels: 3rd-party, ast, bundler, bytecode, ci, command line, documentation, error handling, evaluator, execution, freebsd, helpers, installer, library, → Arithmetic, → Bitwise, → Collections, → Colors, → Comparison, → Converters, → Core, → Crypto, → Databases, → Dates, → Exceptions, → Files, → Io, → Iterators, → Logic, → Net, → Numbers, → Paths, → Quantities, → Reflection, → Sets, → Sockets, → Statistics, → Strings, → System, → Types, → Ui, netbsd, openbsd, package manager, parser, repl, rosetta code, ui, unit-test, values, vm, workflows

.github/labeler.yml:

3rd-party:
  - src/extras/**

ast:
  - src/vm/ast.nim

bundler:
  - src/vm/bundle/generator.nim
  - src/vm/bundle/resources.nim

bytecode:
  - src/vm/bytecode.nim
  - src/vm/opcodes.nim

ci:
  - .github/workflows/freebsd.yml
  - .github/workflows/linux.yml
  - .github/workflows/macos.yml
  - .github/workflows/netbsd.yml
  - .github/workflows/openbsd.yml
  - .github/workflows/web.yml
  - .github/workflows/windows.yml

command line:
  - src/arturo.nim

documentation:
  - examples/projecteuler/*
  - examples/rosetta/*
  - docs/**

error handling: 
  - src/vm/errors.nim

evaluator:
  - src/vm/eval.nim
 
execution:
  - src/vm/exec.nim

freebsd:
  - .github/workflows/freebsd.yml

helpers:
  - src/helpers/*
  
installer:
  - build.nims
  - src/scripts/update.art

library:
  - src/library/**

"→ Arithmetic":
  - src/library/Arithmetic.nim
"→ Bitwise":
  - src/library/Bitwise.nim
"→ Collections":
  - src/library/Collections.nim
"→ Colors":
  - src/library/Colors.nim
"→ Comparison":
  - src/library/Comparison.nim
"→ Converters":
  - src/library/Converters.nim
"→ Core":
  - src/library/Core.nim
"→ Crypto":
  - src/library/Crypto.nim
"→ Databases":
  - src/library/Databases.nim
"→ Dates":
  - src/library/Dates.nim
"→ Exceptions":
  - src/library/Exceptions.nim
"→ Files":
  - src/library/Files.nim
"→ Io":
  - src/library/Io.nim
"→ Iterators":
  - src/library/Iterators.nim
"→ Logic":
  - src/library/Logic.nim
"→ Net":
  - src/library/Net.nim
"→ Numbers":
  - src/library/Numbers.nim
"→ Paths":
  - src/library/Paths.nim
"→ Quantities":
  - src/library/Quantities.nim
"→ Reflection":
  - src/library/Reflection.nim
"→ Sets":
  - src/library/Sets.nim
"→ Sockets":
  - src/library/Sockets.nim
"→ Statistics":
  - src/library/Statistics.nim
"→ Strings":
  - src/library/Strings.nim
"→ System":
  - src/library/System.nim
"→ Types":
  - src/library/Types.nim
"→ Ui":
  - src/library/Ui.nim

netbsd:
  - .github/workflows/netbsd.yml

openbsd:
  - .github/workflows/openbsd.yml

package manager:
  - src/vm/packager.nim

parser:
  - src/vm/parse.nim

repl:
  - src/scripts/console.art
  - src/helpers/repl.nim
  - src/extras/linenoise.nim

rosetta code:
  - examples/rosetta/*

ui:
  - src/extras/libclipboard/*
  - src/extras/menubar/*
  - src/extras/pfd/*
  - src/extras/webview/*
  - src/extras/window/*
  - src/extras/libclipboard.nim
  - src/extras/menubar.nim
  - src/extras/pfd.nim
  - src/extras/webview.nim
  - src/extras/window.nim
  - src/helpers/clipboard.nim
  - src/helpers/dialogs.nim
  - src/helpers/webviews.js
  - src/helpers/webviews.nim
  - src/helpers/windows.nim
  - src/library/Ui.nim

unit-test:
  - tests/errors/**
  - tests/unittests/**
  - tests/web/*

values:
  - src/vm/values/*
  - src/vm/values/custom/**

vm:
  - src/vm/*

workflows:
  - .github/workflows/*

fix skipped scripts for MINI builds
  tools/tester.art
Labels: none

fix skipped scripts for MINI builds
  tools/tester.art
Labels: none

fixed import
  examples/rosetta/modulinos -- main.art
Labels: documentation, rosetta code

fixed import
  examples/rosetta/modulinos -- main.art
Labels: documentation, rosetta code

renamed files
  examples/rosetta/compound data type -- 1.art
  examples/rosetta/compound data type -- 1.res
Labels: documentation, rosetta code

renamed files
  examples/rosetta/compound data type -- 1.art
  examples/rosetta/compound data type -- 1.res
Labels: documentation, rosetta code

renamed files
  examples/rosetta/long literals, with continuations - using concatenations.art
  examples/rosetta/long literals, with continuations - using concatenations.res
  examples/rosetta/long literals, with continuations - using string blocks.art
  examples/rosetta/long literals, with continuations - using string blocks.res
Labels: documentation, rosetta code

renamed files
  examples/rosetta/long literals, with continuations - using concatenations.art
  examples/rosetta/long literals, with continuations - using concatenations.res
  examples/rosetta/long literals, with continuations - using string blocks.art
  examples/rosetta/long literals, with continuations - using string blocks.res
Labels: documentation, rosetta code

renamed files
  examples/rosetta/long literals, with continuations -- using concatenations.art
  examples/rosetta/long literals, with continuations -- using concatenations.res
  examples/rosetta/long literals, with continuations -- using string blocks.art
  examples/rosetta/long literals, with continuations -- using string blocks.res
Labels: documentation, rosetta code

renamed files
  examples/rosetta/long literals, with continuations -- using concatenations.art
  examples/rosetta/long literals, with continuations -- using concatenations.res
  examples/rosetta/long literals, with continuations -- using string blocks.art
  examples/rosetta/long literals, with continuations -- using string blocks.res
Labels: documentation, rosetta code

added helper tool for spotting discrepancies between repo solution & RC version (draft!)
  tools/pendingrosetta.art
Labels: none

added helper tool for spotting discrepancies between repo solution & RC version (draft!)
  tools/pendingrosetta.art
Labels: none

fixed(?) Rosetta Code solution extraction + more additions
  tools/pendingrosetta.art
Labels: none

fixed(?) Rosetta Code solution extraction + more additions
  tools/pendingrosetta.art
Labels: none

added note
  tools/pendingrosetta.art
Labels: none

added note
  tools/pendingrosetta.art
Labels: none

added main "rc comparison" tool
  tools/findpendingrc.art
Labels: none

added main "rc comparison" tool
  tools/findpendingrc.art
Labels: none

replace package import
  tools/findpendingrc.art
Labels: none

replace package import
  tools/findpendingrc.art
Labels: none

more draft scripts (to be cleaned at some point...)
  tools/editrc.art
  tools/updatercmany.art
  tools/updatercsyntax.art
Labels: none

more draft scripts (to be cleaned at some point...)
  tools/editrc.art
  tools/updatercmany.art
  tools/updatercsyntax.art
Labels: none

Update build to 3406
  version/build
Labels: none

Update build to 3406
  version/build
Labels: none

trigger rebuild
  build.nims
Labels: installer

trigger rebuild
  build.nims
Labels: installer

revert change
  build.nims
Labels: installer

revert change
  build.nims
Labels: installer

sanitize `pkg-config` calls for FreeBSD
  src/extras/menus.nim
Labels: 3rd-party

sanitize `pkg-config` calls for FreeBSD
  src/extras/menus.nim
Labels: 3rd-party

sanitize `pkg-config` calls for FreeBSD
  src/extras/webview.nim
Labels: 3rd-party, ui

sanitize `pkg-config` calls for FreeBSD
  src/extras/webview.nim
Labels: 3rd-party, ui

sanitize `pkg-config` calls for FreeBSD
  src/extras/window.nim
Labels: 3rd-party, ui

sanitize `pkg-config` calls for FreeBSD
  src/extras/window.nim
Labels: 3rd-party, ui

call `configWebkit` on FreeBSD as well
  config.nims
Labels: none

call `configWebkit` on FreeBSD as well
  config.nims
Labels: none

we don't need `dynlibOverride` for FreeBSD
  config.nims
Labels: none

we don't need `dynlibOverride` for FreeBSD
  config.nims
Labels: none

code cleanup
  config.nims
Labels: none

code cleanup
  config.nims
Labels: none
