Repository arturo-lang/arturo, changes with the labels that .github/labeler.yml gives for each.
All labels: 3rd-party, ast, bundler, bytecode, ci, command line, documentation, error handling, evaluator, execution, freebsd, helpers, installer, library, → Arithmetic, → Bitwise, → Collections, → Colors, → Comparison, → Converters, → Core, → Crypto, → Databases, → Dates, → Exceptions, → Files, → Io, → Iterators, → Logic, → Net, → Numbers, → Paths, → Quantities, → Reflection, → Sets, → Sockets, → Statistics, → Strings, → System, → Types, → Ui, netbsd, openbsd, package manager, parser, repl, rosetta code, ui, unit-test, values, vm, workflows

.github/labeler.yml:

3rd-party:
  - src/extras/**

ast:
  - src/vm/ast.nim

bundler:
  - src/vm/bundle/generator.nim
  - src/vm/bundle/resources.nim

bytecode:
  - src/vm/bytecode.nim
  - src/vm/opcodes.nim

ci:
  - .github/workflows/freebsd.yml
  - .github/workflows/linux.yml
  - .github/workflows/macos.yml
  - .github/workflows/netbsd.yml
  - .github/workflows/openbsd.yml
  - .github/workflows/web.yml
  - .github/workflows/windows.yml

command line:
  - src/arturo.nim

documentation:
  - examples/projecteuler/*
  - examples/rosetta/*
  - docs/**

error handling: 
  - src/vm/errors.nim

evaluator:
  - src/vm/eval.nim
 
execution:
  - src/vm/exec.nim

freebsd:
  - .github/workflows/freebsd.yml

helpers:
  - src/helpers/*
  
installer:
  - build.nims
  - src/scripts/update.art

library:
  - src/library/**

"→ Arithmetic":
  - src/library/Arithmetic.nim
"→ Bitwise":
  - src/library/Bitwise.nim
"→ Collections":
  - src/library/Collections.nim
"→ Colors":
  - src/library/Colors.nim
"→ Comparison":
  - src/library/Comparison.nim
"→ Converters":
  - src/library/Converters.nim
"→ Core":
  - src/library/Core.nim
"→ Crypto":
  - src/library/Crypto.nim
"→ Databases":
  - src/library/Databases.nim
"→ Dates":
  - src/library/Dates.nim
"→ Exceptions":
  - src/library/Exceptions.nim
"→ Files":
  - src/library/Files.nim
"→ Io":
  - src/library/Io.nim
"→ Iterators":
  - src/library/Iterators.nim
"→ Logic":
  - src/library/Logic.nim
"→ Net":
  - src/library/Net.nim
"→ Numbers":
  - src/library/Numbers.nim
"→ Paths":
  - src/library/Paths.nim
"→ Quantities":
  - src/library/Quantities.nim
"→ Reflection":
  - src/library/Reflection.nim
"→ Sets":
  - src/library/Sets.nim
"→ Sockets":
  - src/library/Sockets.nim
"→ Statistics":
  - src/library/Statistics.nim
"→ Strings":
  - src/library/Strings.nim
"→ System":
  - src/library/System.nim
"→ Types":
  - src/library/Types.nim
"→ Ui":
  - src/library/Ui.nim

netbsd:
  - .github/workflows/netbsd.yml

openbsd:
  - .github/workflows/openbsd.yml

package manager:
  - src/vm/packager.nim

parser:
  - src/vm/parse.nim

repl:
  - src/scripts/console.art
  - src/helpers/repl.nim
  - src/extras/linenoise.nim

rosetta code:
  - examples/rosetta/*

ui:
  - src/extras/libclipboard/*
  - src/extras/menubar/*
  - src/extras/pfd/*
  - src/extras/webview/*
  - src/extras/window/*
  - src/extras/libclipboard.nim
  - src/extras/menubar.nim
  - src/extras/pfd.nim
  - src/extras/webview.nim
  - src/extras/window.nim
  - src/helpers/clipboard.nim
  - src/helpers/dialogs.nim
  - src/helpers/webviews.js
  - src/helpers/webviews.nim
  - src/helpers/windows.nim
  - src/library/Ui.nim

unit-test:
  - tests/errors/**
  - tests/unittests/**
  - tests/web/*

values:
  - src/vm/values/*
  - src/vm/values/custom/**

vm:
  - src/vm/*

workflows:
  - .github/workflows/*

adjust search bar + reorganize scripts
  docs/website/theme/resources/styles/main.scss
  docs/website/theme/resources/styles/search.scss
Labels: documentation

minor fix
  docs/website/theme/resources/styles/main.scss
Labels: documentation

minor fix
  docs/website/theme/resources/styles/main.scss
Labels: documentation

add back some proper animation
  docs/website/theme/resources/styles/playground.scss
Labels: documentation

add back some proper animation
  docs/website/theme/resources/styles/playground.scss
Labels: documentation

minor tweak
  docs/website/theme/resources/styles/main.scss
Labels: documentation

minor tweak
  docs/website/theme/resources/styles/main.scss
Labels: documentation

Core: removed `else`
  src/library/Core.nim
Labels: library, → Core

Core: removed `else`
  src/library/Core.nim
Labels: library, → Core

trigger rebuild
  src/helpers/datasource.nim
Labels: helpers

trigger rebuild
  src/helpers/datasource.nim
Labels: helpers

cleaned SAFE references
  src/helpers/datasource.nim
Labels: helpers

cleaned SAFE references
  src/helpers/datasource.nim
Labels: helpers

cleaned SAFE references
  src/library/Files.nim
Labels: library, → Files

cleaned SAFE references
  src/library/Files.nim
Labels: library, → Files

cleaned SAFE references
  src/library/Net.nim
Labels: library, → Net

cleaned SAFE references
  src/library/Net.nim
Labels: library, → Net

cleaned SAFE references
  src/library/Paths.nim
Labels: library, → Paths

cleaned SAFE references
  src/library/Paths.nim
Labels: library, → Paths

cleaned SAFE references
  src/library/Sockets.nim
Labels: library, → Sockets

cleaned SAFE references
  src/library/Sockets.nim
Labels: library, → Sockets

cleaned SAFE references
  src/library/System.nim
Labels: library, → System

cleaned SAFE references
  src/library/System.nim
Labels: library, → System

fixed doc
  AGENTS.md
Labels: none

fixed doc
  AGENTS.md
Labels: none

removed `safe` mode
  build.nims
Labels: installer

removed `safe` mode
  build.nims
Labels: installer

we don't need this configuration any more either...
  .config/buildmode.nims
Labels: none

we don't need this configuration any more either...
  .config/buildmode.nims
Labels: none

let's try to synchronize with the new server
  .github/workflows/update.yml
Labels: workflows

let's try to synchronize with the new server
  .github/workflows/update.yml
Labels: workflows

various path fixes
  .github/workflows/update.yml
  docs/website/theme/components/foot.html
  docs/website/theme/components/head.html
  docs/website/theme/components/navbar.html
  docs/website/theme/resources/scripts/playground.js
  docs/website/tools/example.php
  docs/website/tools/exec.php
  docs/website/tools/get.php
Labels: documentation, workflows

various path fixes
  .github/workflows/update.yml
  docs/website/theme/components/foot.html
  docs/website/theme/components/head.html
  docs/website/theme/components/navbar.html
  docs/website/theme/resources/scripts/playground.js
  docs/website/tools/example.php
  docs/website/tools/exec.php
  docs/website/tools/get.php
Labels: documentation, workflows

remove debugging output
  tools/indexgen.art
Labels: none

remove debugging output
  tools/indexgen.art
Labels: none

complete remove `safe` builds from matrix
  .github/workflows/update.yml
Labels: workflows

complete remove `safe` builds from matrix
  .github/workflows/update.yml
Labels: workflows

disable (almost) all binary compilations, for debugging purposes
  .github/workflows/update.yml
Labels: workflows

disable (almost) all binary compilations, for debugging purposes
  .github/workflows/update.yml
Labels: workflows

reinstate all binaries
  .github/workflows/update.yml
Labels: workflows
