Repository arturo-lang/arturo, changes with the labels that .github/labeler.yml gives for each.
All labels: 3rd-party, ast, bundler, bytecode, ci, command line, documentation, error handling, evaluator, execution, freebsd, helpers, installer, library, → Arithmetic, → Bitwise, → Collections, → Colors, → Comparison, → Converters, → Core, → Crypto, → Databases, → Dates, → Exceptions, → Files, → Io, → Iterators, → Logic, → Net, → Numbers, → Paths, → Quantities, → Reflection, → Sets, → Sockets, → Statistics, → Strings, → System, → Types, → Ui, netbsd, openbsd, package manager, parser, repl, rosetta code, ui, unit-test, values, vm, workflows

.github/labeler.yml:

3rd-party:
  - src/extras/**

ast:
  - src/vm/ast.nim

bundler:
  - src/vm/bundle/generator.nim
  - src/vm/bundle/resources.nim

bytecode:
  - src/vm/bytecode.nim
  - src/vm/opcodes.nim

ci:
  - .github/workflows/freebsd.yml
  - .github/workflows/linux.yml
  - .github/workflows/macos.yml
  - .github/workflows/netbsd.yml
  - .github/workflows/openbsd.yml
  - .github/workflows/web.yml
  - .github/workflows/windows.yml

command line:
  - src/arturo.nim

documentation:
  - examples/projecteuler/*
  - examples/rosetta/*
  - docs/**

error handling: 
  - src/vm/errors.nim

evaluator:
  - src/vm/eval.nim
 
execution:
  - src/vm/exec.nim

freebsd:
  - .github/workflows/freebsd.yml

helpers:
  - src/helpers/*
  
installer:
  - build.nims
  - src/scripts/update.art

library:
  - src/library/**

"→ Arithmetic":
  - src/library/Arithmetic.nim
"→ Bitwise":
  - src/library/Bitwise.nim
"→ Collections":
  - src/library/Collections.nim
"→ Colors":
  - src/library/Colors.nim
"→ Comparison":
  - src/library/Comparison.nim
"→ Converters":
  - src/library/Converters.nim
"→ Core":
  - src/library/Core.nim
"→ Crypto":
  - src/library/Crypto.nim
"→ Databases":
  - src/library/Databases.nim
"→ Dates":
  - src/library/Dates.nim
"→ Exceptions":
  - src/library/Exceptions.nim
"→ Files":
  - src/library/Files.nim
"→ Io":
  - src/library/Io.nim
"→ Iterators":
  - src/library/Iterators.nim
"→ Logic":
  - src/library/Logic.nim
"→ Net":
  - src/library/Net.nim
"→ Numbers":
  - src/library/Numbers.nim
"→ Paths":
  - src/library/Paths.nim
"→ Quantities":
  - src/library/Quantities.nim
"→ Reflection":
  - src/library/Reflection.nim
"→ Sets":
  - src/library/Sets.nim
"→ Sockets":
  - src/library/Sockets.nim
"→ Statistics":
  - src/library/Statistics.nim
"→ Strings":
  - src/library/Strings.nim
"→ System":
  - src/library/System.nim
"→ Types":
  - src/library/Types.nim
"→ Ui":
  - src/library/Ui.nim

netbsd:
  - .github/workflows/netbsd.yml

openbsd:
  - .github/workflows/openbsd.yml

package manager:
  - src/vm/packager.nim

parser:
  - src/vm/parse.nim

repl:
  - src/scripts/console.art
  - src/helpers/repl.nim
  - src/extras/linenoise.nim

rosetta code:
  - examples/rosetta/*

ui:
  - src/extras/libclipboard/*
  - src/extras/menubar/*
  - src/extras/pfd/*
  - src/extras/webview/*
  - src/extras/window/*
  - src/extras/libclipboard.nim
  - src/extras/menubar.nim
  - src/extras/pfd.nim
  - src/extras/webview.nim
  - src/extras/window.nim
  - src/helpers/clipboard.nim
  - src/helpers/dialogs.nim
  - src/helpers/webviews.js
  - src/helpers/webviews.nim
  - src/helpers/windows.nim
  - src/library/Ui.nim

unit-test:
  - tests/errors/**
  - tests/unittests/**
  - tests/web/*

values:
  - src/vm/values/*
  - src/vm/values/custom/**

vm:
  - src/vm/*

workflows:
  - .github/workflows/*

cleaned up obsolete scripts
  docs/website/tools/example.php
  docs/website/tools/exec.php
  docs/website/tools/get.php
Labels: documentation

removed debugging output
  .github/workflows/update.yml
Labels: workflows

removed debugging output
  .github/workflows/update.yml
Labels: workflows

also copy tools/*
  .github/workflows/update.yml
Labels: workflows

also copy tools/*
  .github/workflows/update.yml
Labels: workflows

clean up + rename `binaries/` to `files/`
  .github/workflows/update.yml
Labels: workflows

clean up + rename `binaries/` to `files/`
  .github/workflows/update.yml
Labels: workflows

updated exec backend script
  docs/website/backend/exec.php
Labels: documentation

updated exec backend script
  docs/website/backend/exec.php
Labels: documentation

trigger jail template creation via workflow
  .github/workflows/update.yml
Labels: workflows

trigger jail template creation via workflow
  .github/workflows/update.yml
Labels: workflows

complete remove opcodes + adjust remaining ones
  src/vm/opcodes.nim
Labels: bytecode, vm

complete remove opcodes + adjust remaining ones
  src/vm/opcodes.nim
Labels: bytecode, vm

remove special handling of removed opcodes from AST generator
  src/vm/ast.nim
Labels: ast, vm

remove special handling of removed opcodes from AST generator
  src/vm/ast.nim
Labels: ast, vm

comment out `opIfE` & `opUnlessE` handing in evaluator
  src/vm/eval.nim
Labels: evaluator, vm

comment out `opIfE` & `opUnlessE` handing in evaluator
  src/vm/eval.nim
Labels: evaluator, vm

added TODO
  src/vm/eval.nim
Labels: evaluator, vm

added TODO
  src/vm/eval.nim
Labels: evaluator, vm

added TODO
  src/vm/eval.nim
Labels: evaluator, vm

added TODO
  src/vm/eval.nim
Labels: evaluator, vm

comment out entire code block
  src/vm/eval.nim
Labels: evaluator, vm

comment out entire code block
  src/vm/eval.nim
Labels: evaluator, vm

also update the loop
  src/vm/exec.nim
Labels: execution, vm

also update the loop
  src/vm/exec.nim
Labels: execution, vm

let's also remove the corresponding "action shortcuts"
  src/vm/lib.nim
  src/vm/values/value.nim
Labels: values, vm

let's also remove the corresponding "action shortcuts"
  src/vm/lib.nim
  src/vm/values/value.nim
Labels: values, vm

minor fix
  src/vm/eval.nim
Labels: evaluator, vm

minor fix
  src/vm/eval.nim
Labels: evaluator, vm

misc fixes
  src/vm/eval.nim
Labels: evaluator, vm

misc fixes
  src/vm/eval.nim
Labels: evaluator, vm

Core: also removed obsolete `unless?` function
  src/library/Core.nim
Labels: library, → Core

Core: also removed obsolete `unless?` function
  src/library/Core.nim
Labels: library, → Core

updated expected output
  tests/unittests/evaluator.res
Labels: unit-test

updated expected output
  tests/unittests/evaluator.res
Labels: unit-test

trigger rebuild
  .github/workflows/update.yml
Labels: workflows

trigger rebuild
  .github/workflows/update.yml
Labels: workflows

fixed path
  .github/workflows/update.yml
Labels: workflows

fixed path
  .github/workflows/update.yml
Labels: workflows

Update build to 3414
  version/build
Labels: none
