Repository arturo-lang/arturo, changes with the labels that .github/labeler.yml gives for each.
All labels: 3rd-party, ast, bundler, bytecode, ci, command line, documentation, error handling, evaluator, execution, freebsd, helpers, installer, library, → Arithmetic, → Bitwise, → Collections, → Colors, → Comparison, → Converters, → Core, → Crypto, → Databases, → Dates, → Exceptions, → Files, → Io, → Iterators, → Logic, → Net, → Numbers, → Paths, → Quantities, → Reflection, → Sets, → Sockets, → Statistics, → Strings, → System, → Types, → Ui, netbsd, openbsd, package manager, parser, repl, rosetta code, ui, unit-test, values, vm, workflows

[helpers/parallelism] wire `cancelHandle` for in-process tasks; skip dead fibers in scheduler
  src/helpers/parallelism.nim
Labels: helpers

[Tasks] preserve real `VError` kind/hint/context in `:error` from in-process tasks
  src/library/Tasks.nim
Labels: library

[Iterators] add `map.async` — fan-out parallel map with implicit `wait.all`
  src/library/Iterators.nim
Labels: library, → Iterators

[Iterators] `map.async.parallel: N` — cap in-flight fibers via sliding-window FIFO drain
  src/library/Iterators.nim
Labels: library, → Iterators

[Iterators] add `loop.async` (+`.parallel: N`) — fan-out side-effect loop with implicit barrier
  src/library/Iterators.nim
Labels: library, → Iterators

[helpers/parallelism] `cooperativePause` yields via `cooperativeAwait` on fibers
  src/helpers/parallelism.nim
Labels: helpers

[Iterators] factor parallel iteration into reusable template; rename `.async` → `.parallel`
  src/library/Iterators.nim
Labels: library, → Iterators

[Iterators] `arrange.parallel` — concurrent key extraction
  src/library/Iterators.nim
Labels: library, → Iterators

[Iterators] `enumerate.parallel` — concurrent predicate, sum at end
  src/library/Iterators.nim
Labels: library, → Iterators

[Iterators] `filter.parallel` — concurrent predicate, original order
  src/library/Iterators.nim
Labels: library, → Iterators

[Iterators] `gather.parallel` — concurrent key computation; bucket build stays serial
  src/library/Iterators.nim
Labels: library, → Iterators

[Iterators] `maximum.parallel` — concurrent key extraction; serial reduce
  src/library/Iterators.nim
Labels: library, → Iterators

[Iterators] `minimum.parallel` — concurrent key extraction; serial reduce
  src/library/Iterators.nim
Labels: library, → Iterators

[Iterators] `select.parallel` — concurrent predicate, original order
  src/library/Iterators.nim
Labels: library, → Iterators

[Iterators] `every?.parallel` — short-circuit; first `false` cancels the rest
  src/library/Iterators.nim
Labels: library, → Iterators

[Iterators] `some?.parallel` — short-circuit; first `true` cancels the rest
  src/library/Iterators.nim
Labels: library, → Iterators

[Iterators] scope `every?`/`some?` parallel branch in a `block`; import `asyncdispatch`
  src/library/Iterators.nim
Labels: library, → Iterators

[Iterators] hoist `popAttr("parallel")` out of templates; per-builtin `let aParallel = …`
  src/library/Iterators.nim
Labels: library, → Iterators

[Iterators] actually wire `filter.parallel` (was silently sync)
  src/library/Iterators.nim
Labels: library, → Iterators

[Iterators] actually wire `select.parallel` (was silently sync)
  src/library/Iterators.nim
Labels: library, → Iterators

[helpers/parallelism] `cooperativePause` from main drives the fiber scheduler too
  src/helpers/parallelism.nim
Labels: helpers

[helpers/repl] pump fiber scheduler while waiting for input
  src/helpers/parallelism.nim
  src/helpers/repl.nim
Labels: helpers, repl

[Core] add `do.async` + `do.async.isolated` examples to docstring
  src/library/Core.nim
Labels: library, → Core

[helpers/parallelism] section banners — segregate isolated subprocess path from in-process default
  src/helpers/parallelism.nim
Labels: helpers

[ci] throwaway concurrency-smoke workflow + smoke script
  .github/workflows/concurrency-smoke.yml
  tools/concurrency-smoke.art
Labels: workflows

[helpers/parallelism] forward-slash temp path embedded in subprocess wrapper
  src/helpers/parallelism.nim
Labels: helpers

removed test workflow
  .github/workflows/concurrency-smoke.yml
Labels: workflows

rename & edit concurrency test
  tools/testconcurrency.art
Labels: none

cleanup
  testasync.art
Labels: none

[Iterators] add `pushResult`, `runParallelBranch` helpers; expose `sourceLen` in `doIterate`
  src/library/Iterators.nim
Labels: library, → Iterators

[Iterators] route `map`/`filter`/`select` through `doIterate`/`runParallelBranch`; collapse `pushResult` sites
  src/library/Iterators.nim
Labels: library, → Iterators

[Iterators] inject `reverseSrc`/`tailFrom`/`firstSrcElem` per-branch in `doIterate`; collapse `filter`/`select`/`fold`'s Range vs Block split
  src/library/Iterators.nim
Labels: library, → Iterators

[Iterators] route `collect.after` through `doIterate`/`tailFrom`; drop hand-rolled Range/Block split
  src/library/Iterators.nim
Labels: library, → Iterators

[Iterators] replace 5-bool sig of `doIterate` with named `IterCap` flag set
  src/library/Iterators.nim
Labels: library, → Iterators

[Iterators] add section dividers between primitives / setup / dispatch / parallel
  src/library/Iterators.nim
Labels: library, → Iterators

[Iterators] stream String/Integer iterables straight into result seq; drops the toSeq+map double alloc
  src/library/Iterators.nim
Labels: library, → Iterators

[Iterators] split iteratorLoop on `forever`; non-forever path drops outer keepGoing while-wrapper
  src/library/Iterators.nim
Labels: library, → Iterators

added new tests
  tests/unittests/lib.iterators.art
Labels: unit-test

[vm] accept backticked attr names in bindAttrs
  src/vm/lib.nim
Labels: vm

[Strings] fold `end` into `bindAttrs` in `strip`
  src/library/Strings.nim
Labels: library, → Strings

.github/labeler.yml:

3rd-party:
  - src/extras/**

ast:
  - src/vm/ast.nim

bundler:
  - src/vm/bundle/generator.nim
  - src/vm/bundle/resources.nim

bytecode:
  - src/vm/bytecode.nim
  - src/vm/opcodes.nim

ci:
  - .github/workflows/freebsd.yml
  - .github/workflows/linux.yml
  - .github/workflows/macos.yml
  - .github/workflows/netbsd.yml
  - .github/workflows/openbsd.yml
  - .github/workflows/web.yml
  - .github/workflows/windows.yml

command line:
  - src/arturo.nim

documentation:
  - examples/projecteuler/*
  - examples/rosetta/*
  - docs/**

error handling: 
  - src/vm/errors.nim

evaluator:
  - src/vm/eval.nim
 
execution:
  - src/vm/exec.nim

freebsd:
  - .github/workflows/freebsd.yml

helpers:
  - src/helpers/*
  
installer:
  - build.nims
  - src/scripts/update.art

library:
  - src/library/**

"→ Arithmetic":
  - src/library/Arithmetic.nim
"→ Bitwise":
  - src/library/Bitwise.nim
"→ Collections":
  - src/library/Collections.nim
"→ Colors":
  - src/library/Colors.nim
"→ Comparison":
  - src/library/Comparison.nim
"→ Converters":
  - src/library/Converters.nim
"→ Core":
  - src/library/Core.nim
"→ Crypto":
  - src/library/Crypto.nim
"→ Databases":
  - src/library/Databases.nim
"→ Dates":
  - src/library/Dates.nim
"→ Exceptions":
  - src/library/Exceptions.nim
"→ Files":
  - src/library/Files.nim
"→ Io":
  - src/library/Io.nim
"→ Iterators":
  - src/library/Iterators.nim
"→ Logic":
  - src/library/Logic.nim
"→ Net":
  - src/library/Net.nim
"→ Numbers":
  - src/library/Numbers.nim
"→ Paths":
  - src/library/Paths.nim
"→ Quantities":
  - src/library/Quantities.nim
"→ Reflection":
  - src/library/Reflection.nim
"→ Sets":
  - src/library/Sets.nim
"→ Sockets":
  - src/library/Sockets.nim
"→ Statistics":
  - src/library/Statistics.nim
"→ Strings":
  - src/library/Strings.nim
"→ System":
  - src/library/System.nim
"→ Types":
  - src/library/Types.nim
"→ Ui":
  - src/library/Ui.nim

netbsd:
  - .github/workflows/netbsd.yml

openbsd:
  - .github/workflows/openbsd.yml

package manager:
  - src/vm/packager.nim

parser:
  - src/vm/parse.nim

repl:
  - src/scripts/console.art
  - src/helpers/repl.nim
  - src/extras/linenoise.nim

rosetta code:
  - examples/rosetta/*

ui:
  - src/extras/libclipboard/*
  - src/extras/menubar/*
  - src/extras/pfd/*
  - src/extras/webview/*
  - src/extras/window/*
  - src/extras/libclipboard.nim
  - src/extras/menubar.nim
  - src/extras/pfd.nim
  - src/extras/webview.nim
  - src/extras/window.nim
  - src/helpers/clipboard.nim
  - src/helpers/dialogs.nim
  - src/helpers/webviews.js
  - src/helpers/webviews.nim
  - src/helpers/windows.nim
  - src/library/Ui.nim

unit-test:
  - tests/errors/**
  - tests/unittests/**
  - tests/web/*

values:
  - src/vm/values/*
  - src/vm/values/custom/**

vm:
  - src/vm/*

workflows:
  - .github/workflows/*
