Repository arturo-lang/arturo, changes with the labels that .github/labeler.yml gives for each.
All labels: 3rd-party, ast, bundler, bytecode, ci, command line, documentation, error handling, evaluator, execution, freebsd, helpers, installer, library, → Arithmetic, → Bitwise, → Collections, → Colors, → Comparison, → Converters, → Core, → Crypto, → Databases, → Dates, → Exceptions, → Files, → Io, → Iterators, → Logic, → Net, → Numbers, → Paths, → Quantities, → Reflection, → Sets, → Sockets, → Statistics, → Strings, → System, → Types, → Ui, netbsd, openbsd, package manager, parser, repl, rosetta code, ui, unit-test, values, vm, workflows

.github/labeler.yml:

3rd-party:
  - src/extras/**

ast:
  - src/vm/ast.nim

bundler:
  - src/vm/bundle/generator.nim
  - src/vm/bundle/resources.nim

bytecode:
  - src/vm/bytecode.nim
  - src/vm/opcodes.nim

ci:
  - .github/workflows/freebsd.yml
  - .github/workflows/linux.yml
  - .github/workflows/macos.yml
  - .github/workflows/netbsd.yml
  - .github/workflows/openbsd.yml
  - .github/workflows/web.yml
  - .github/workflows/windows.yml

command line:
  - src/arturo.nim

documentation:
  - examples/projecteuler/*
  - examples/rosetta/*
  - docs/**

error handling: 
  - src/vm/errors.nim

evaluator:
  - src/vm/eval.nim
 
execution:
  - src/vm/exec.nim

freebsd:
  - .github/workflows/freebsd.yml

helpers:
  - src/helpers/*
  
installer:
  - build.nims
  - src/scripts/update.art

library:
  - src/library/**

"→ Arithmetic":
  - src/library/Arithmetic.nim
"→ Bitwise":
  - src/library/Bitwise.nim
"→ Collections":
  - src/library/Collections.nim
"→ Colors":
  - src/library/Colors.nim
"→ Comparison":
  - src/library/Comparison.nim
"→ Converters":
  - src/library/Converters.nim
"→ Core":
  - src/library/Core.nim
"→ Crypto":
  - src/library/Crypto.nim
"→ Databases":
  - src/library/Databases.nim
"→ Dates":
  - src/library/Dates.nim
"→ Exceptions":
  - src/library/Exceptions.nim
"→ Files":
  - src/library/Files.nim
"→ Io":
  - src/library/Io.nim
"→ Iterators":
  - src/library/Iterators.nim
"→ Logic":
  - src/library/Logic.nim
"→ Net":
  - src/library/Net.nim
"→ Numbers":
  - src/library/Numbers.nim
"→ Paths":
  - src/library/Paths.nim
"→ Quantities":
  - src/library/Quantities.nim
"→ Reflection":
  - src/library/Reflection.nim
"→ Sets":
  - src/library/Sets.nim
"→ Sockets":
  - src/library/Sockets.nim
"→ Statistics":
  - src/library/Statistics.nim
"→ Strings":
  - src/library/Strings.nim
"→ System":
  - src/library/System.nim
"→ Types":
  - src/library/Types.nim
"→ Ui":
  - src/library/Ui.nim

netbsd:
  - .github/workflows/netbsd.yml

openbsd:
  - .github/workflows/openbsd.yml

package manager:
  - src/vm/packager.nim

parser:
  - src/vm/parse.nim

repl:
  - src/scripts/console.art
  - src/helpers/repl.nim
  - src/extras/linenoise.nim

rosetta code:
  - examples/rosetta/*

ui:
  - src/extras/libclipboard/*
  - src/extras/menubar/*
  - src/extras/pfd/*
  - src/extras/webview/*
  - src/extras/window/*
  - src/extras/libclipboard.nim
  - src/extras/menubar.nim
  - src/extras/pfd.nim
  - src/extras/webview.nim
  - src/extras/window.nim
  - src/helpers/clipboard.nim
  - src/helpers/dialogs.nim
  - src/helpers/webviews.js
  - src/helpers/webviews.nim
  - src/helpers/windows.nim
  - src/library/Ui.nim

unit-test:
  - tests/errors/**
  - tests/unittests/**
  - tests/web/*

values:
  - src/vm/values/*
  - src/vm/values/custom/**

vm:
  - src/vm/*

workflows:
  - .github/workflows/*

remove `docgenBuildConfig` too
  .config/buildmode.nims
Labels: none

remove docgen mode altogether (not relevant anymore...)
  build.nims
Labels: installer

revert placeholder change
  README.md
Labels: none

we have to pass the proper option
  .github/workflows/release.yml
Labels: workflows

just a quick experiment
  .github/workflows/ci.yml
Labels: workflows

revert debugging option
  .github/workflows/ci.yml
Labels: workflows

Bump revision to 20 [skip ci]
  version/revision
Labels: none

Bump revision to 21 [skip ci]
  version/revision
Labels: none

added missing linker flag
  src/extras/libclipboard.nim
Labels: 3rd-party, ui

expand script to just compile-check all helper files
  tools/nimtester.art
Labels: none

sort files
  tools/nimtester.art
Labels: none

re-organize nim tester
  tools/nimtester.art
Labels: none

remove debugging output
  tools/nimtester.art
Labels: none

add another exception
  tools/nimtester.art
Labels: none

add another exception
  tools/nimtester.art
Labels: none

just a hack...
  tools/nimtester.art
Labels: none

revert
  tools/nimtester.art
Labels: none

let's see if the problem is `.code`
  tools/nimtester.art
Labels: none

filter results in a bit more OS-agnostic way
  tools/nimtester.art
Labels: none

fix nim path on windows?
  .github/workflows/ci.yml
Labels: workflows

minor fix
  tools/nimtester.art
Labels: none

debug errors
  src/helpers/combinatorics.nim
Labels: helpers

make it succeed again
  src/helpers/combinatorics.nim
Labels: helpers

no need to exclude these (perhaps)
  tools/nimtester.art
Labels: none

debugging
  tools/nimtester.art
Labels: none

revert changes
  tools/nimtester.art
Labels: none

re-ignore bignums-related test (to be fixed!)
  tools/nimtester.art
Labels: none

delete store after test
  tests/unitt/lib/collections/set.test.art
Labels: none

this one too...
  tests/unitt/lib/collections/set.test.art
Labels: none

ignore window-related code tests too (for now!)
  tools/nimtester.art
Labels: none

Bump revision to 22 [skip ci]
  version/revision
Labels: none

remove configGMPOnWindows altogether
  config.nims
Labels: none

and this reference too
  config.nims
Labels: none

use "wrapper" functions, instead of one for every feature-os combination
  config.nims
Labels: none

added copyright header
  config.nims
Labels: none

added sections
  config.nims
Labels: none

create new `configThreads` helper
  config.nims
Labels: none

re-organized code + restore `main()` wrapper
  config.nims
Labels: none

convert all hints/warnings to `--` syntax
  config.nims
Labels: none

removed duplicate src path
  config.nims
Labels: none
