Repository arturo-lang/arturo, changes with the labels that .github/labeler.yml gives for each.
All labels: 3rd-party, ast, bundler, bytecode, ci, command line, documentation, error handling, evaluator, execution, freebsd, helpers, installer, library, → Arithmetic, → Bitwise, → Collections, → Colors, → Comparison, → Converters, → Core, → Crypto, → Databases, → Dates, → Exceptions, → Files, → Io, → Iterators, → Logic, → Net, → Numbers, → Paths, → Quantities, → Reflection, → Sets, → Sockets, → Statistics, → Strings, → System, → Types, → Ui, netbsd, openbsd, package manager, parser, repl, rosetta code, ui, unit-test, values, vm, workflows

Update build
  version/build
Labels: none

Update build
  version/build
Labels: none

Converters\from: remove support for `.hex`, `.binary` & `.octal`
  src/library/Converters.nim
Labels: library, → Converters

Converters\from: remove support for `.hex`, `.binary` & `.octal`
  src/library/Converters.nim
Labels: library, → Converters

Converters\as: removed support for `.hex`, `.binary` & `.octal`
  src/library/Converters.nim
Labels: library, → Converters

Converters\as: removed support for `.hex`, `.binary` & `.octal`
  src/library/Converters.nim
Labels: library, → Converters

Converters\as: removed `.agnostic` functionality
  src/library/Converters.nim
Labels: library, → Converters

Update build
  version/build
Labels: none

Update build
  version/build
Labels: none

Update build
  version/build
Labels: none

Update build
  version/build
Labels: none

replace instances of `as.binary` with `to :string .format:".b"`
  examples/rosetta/binary digits.art
  examples/rosetta/find first and last set bit of a long integer.art
  examples/rosetta/four bit adder.art
  examples/rosetta/gray code.art
  examples/rosetta/index finite lists of positive integers.art
  examples/rosetta/non-decimal radices - convert.art
  examples/rosetta/non-decimal radices - output.art
  examples/rosetta/pernicious numbers.art
  examples/rosetta/population count.art
  examples/rosetta/two identical strings.art
  tests/unittests/lib.collections.art
Labels: documentation, rosetta code, unit-test

replace instances of `as.binary` with `to :string .format:".b"`
  examples/rosetta/binary digits.art
  examples/rosetta/find first and last set bit of a long integer.art
  examples/rosetta/four bit adder.art
  examples/rosetta/gray code.art
  examples/rosetta/index finite lists of positive integers.art
  examples/rosetta/non-decimal radices - convert.art
  examples/rosetta/non-decimal radices - output.art
  examples/rosetta/pernicious numbers.art
  examples/rosetta/population count.art
  examples/rosetta/two identical strings.art
  tests/unittests/lib.collections.art
Labels: documentation, rosetta code, unit-test

replaces instances of `as.hex` with `to :string .format:".x"` (or `.format:".X"` for uppercase)
  examples/rosetta/base 16 numbers needing a to f.art
  examples/rosetta/non-decimal radices - convert.art
  examples/rosetta/non-decimal radices - output.art
  examples/rosetta/palindromic primes in base 16.art
Labels: documentation, rosetta code

replaces instances of `as.hex` with `to :string .format:".x"` (or `.format:".X"` for uppercase)
  examples/rosetta/base 16 numbers needing a to f.art
  examples/rosetta/non-decimal radices - convert.art
  examples/rosetta/non-decimal radices - output.art
  examples/rosetta/palindromic primes in base 16.art
Labels: documentation, rosetta code

replace all instances of `as.octal` with `to :string .format:".o"`
  examples/rosetta/non-decimal radices - convert.art
  examples/rosetta/non-decimal radices - output.art
Labels: documentation, rosetta code

replace all instances of `as.octal` with `to :string .format:".o"`
  examples/rosetta/non-decimal radices - convert.art
  examples/rosetta/non-decimal radices - output.art
Labels: documentation, rosetta code

minor edit
  README.md
Labels: none

minor edit
  README.md
Labels: none

VM/parse: add `inPath` scoping for `parseNumber` (to be able to distinguish whether we are in a path or not)
  src/vm/parse.nim
Labels: parser, vm

VM/parse: add `inPath` scoping for `parseNumber` (to be able to distinguish whether we are in a path or not)
  src/vm/parse.nim
Labels: parser, vm

added initial support for hexadecimal literals
  src/vm/parse.nim
Labels: parser, vm

added initial support for hexadecimal literals
  src/vm/parse.nim
Labels: parser, vm

actually parse the hex number
  src/vm/parse.nim
Labels: parser, vm

actually parse the hex number
  src/vm/parse.nim
Labels: parser, vm

added missing import statement
  src/vm/parse.nim
Labels: parser, vm

added missing import statement
  src/vm/parse.nim
Labels: parser, vm

fixed minor typo
  src/vm/parse.nim
Labels: parser, vm

fixed minor typo
  src/vm/parse.nim
Labels: parser, vm

simplify & use `parseHexInt` directly
  src/vm/parse.nim
Labels: parser, vm

simplify & use `parseHexInt` directly
  src/vm/parse.nim
Labels: parser, vm

remove unnecessary import
  src/vm/parse.nim
Labels: parser, vm

remove unnecessary import
  src/vm/parse.nim
Labels: parser, vm

Helpers/strings: added helper for parsing numbers in different bases
  src/helpers/strings.nim
Labels: helpers

Helpers/strings: added helper for parsing numbers in different bases
  src/helpers/strings.nim
Labels: helpers

VM/parse: added(?) support for binary & octal literals
  src/vm/parse.nim
Labels: parser, vm

VM/parse: added(?) support for binary & octal literals
  src/vm/parse.nim
Labels: parser, vm

minor fixes
  src/vm/parse.nim
Labels: parser, vm

minor fixes
  src/vm/parse.nim
Labels: parser, vm

added missing import
  src/vm/parse.nim
Labels: parser, vm

.github/labeler.yml:

3rd-party:
  - src/extras/**

ast:
  - src/vm/ast.nim

bundler:
  - src/vm/bundle/generator.nim
  - src/vm/bundle/resources.nim

bytecode:
  - src/vm/bytecode.nim
  - src/vm/opcodes.nim

ci:
  - .github/workflows/freebsd.yml
  - .github/workflows/linux.yml
  - .github/workflows/macos.yml
  - .github/workflows/netbsd.yml
  - .github/workflows/openbsd.yml
  - .github/workflows/web.yml
  - .github/workflows/windows.yml

command line:
  - src/arturo.nim

documentation:
  - examples/projecteuler/*
  - examples/rosetta/*
  - docs/**

error handling: 
  - src/vm/errors.nim

evaluator:
  - src/vm/eval.nim
 
execution:
  - src/vm/exec.nim

freebsd:
  - .github/workflows/freebsd.yml

helpers:
  - src/helpers/*
  
installer:
  - build.nims
  - src/scripts/update.art

library:
  - src/library/**

"→ Arithmetic":
  - src/library/Arithmetic.nim
"→ Bitwise":
  - src/library/Bitwise.nim
"→ Collections":
  - src/library/Collections.nim
"→ Colors":
  - src/library/Colors.nim
"→ Comparison":
  - src/library/Comparison.nim
"→ Converters":
  - src/library/Converters.nim
"→ Core":
  - src/library/Core.nim
"→ Crypto":
  - src/library/Crypto.nim
"→ Databases":
  - src/library/Databases.nim
"→ Dates":
  - src/library/Dates.nim
"→ Exceptions":
  - src/library/Exceptions.nim
"→ Files":
  - src/library/Files.nim
"→ Io":
  - src/library/Io.nim
"→ Iterators":
  - src/library/Iterators.nim
"→ Logic":
  - src/library/Logic.nim
"→ Net":
  - src/library/Net.nim
"→ Numbers":
  - src/library/Numbers.nim
"→ Paths":
  - src/library/Paths.nim
"→ Quantities":
  - src/library/Quantities.nim
"→ Reflection":
  - src/library/Reflection.nim
"→ Sets":
  - src/library/Sets.nim
"→ Sockets":
  - src/library/Sockets.nim
"→ Statistics":
  - src/library/Statistics.nim
"→ Strings":
  - src/library/Strings.nim
"→ System":
  - src/library/System.nim
"→ Types":
  - src/library/Types.nim
"→ Ui":
  - src/library/Ui.nim

netbsd:
  - .github/workflows/netbsd.yml

openbsd:
  - .github/workflows/openbsd.yml

package manager:
  - src/vm/packager.nim

parser:
  - src/vm/parse.nim

repl:
  - src/scripts/console.art
  - src/helpers/repl.nim
  - src/extras/linenoise.nim

rosetta code:
  - examples/rosetta/*

ui:
  - src/extras/libclipboard/*
  - src/extras/menubar/*
  - src/extras/pfd/*
  - src/extras/webview/*
  - src/extras/window/*
  - src/extras/libclipboard.nim
  - src/extras/menubar.nim
  - src/extras/pfd.nim
  - src/extras/webview.nim
  - src/extras/window.nim
  - src/helpers/clipboard.nim
  - src/helpers/dialogs.nim
  - src/helpers/webviews.js
  - src/helpers/webviews.nim
  - src/helpers/windows.nim
  - src/library/Ui.nim

unit-test:
  - tests/errors/**
  - tests/unittests/**
  - tests/web/*

values:
  - src/vm/values/*
  - src/vm/values/custom/**

vm:
  - src/vm/*

workflows:
  - .github/workflows/*
