Repository arturo-lang/arturo, changes with the labels that .github/labeler.yml gives for each.
All labels: 3rd-party, ast, bundler, bytecode, ci, command line, documentation, error handling, evaluator, execution, freebsd, helpers, installer, library, → Arithmetic, → Bitwise, → Collections, → Colors, → Comparison, → Converters, → Core, → Crypto, → Databases, → Dates, → Exceptions, → Files, → Io, → Iterators, → Logic, → Net, → Numbers, → Paths, → Quantities, → Reflection, → Sets, → Sockets, → Statistics, → Strings, → System, → Types, → Ui, netbsd, openbsd, package manager, parser, repl, rosetta code, ui, unit-test, values, vm, workflows

.github/labeler.yml:

3rd-party:
  - src/extras/**

ast:
  - src/vm/ast.nim

bundler:
  - src/vm/bundle/generator.nim
  - src/vm/bundle/resources.nim

bytecode:
  - src/vm/bytecode.nim
  - src/vm/opcodes.nim

ci:
  - .github/workflows/freebsd.yml
  - .github/workflows/linux.yml
  - .github/workflows/macos.yml
  - .github/workflows/netbsd.yml
  - .github/workflows/openbsd.yml
  - .github/workflows/web.yml
  - .github/workflows/windows.yml

command line:
  - src/arturo.nim

documentation:
  - examples/projecteuler/*
  - examples/rosetta/*
  - docs/**

error handling: 
  - src/vm/errors.nim

evaluator:
  - src/vm/eval.nim
 
execution:
  - src/vm/exec.nim

freebsd:
  - .github/workflows/freebsd.yml

helpers:
  - src/helpers/*
  
installer:
  - build.nims
  - src/scripts/update.art

library:
  - src/library/**

"→ Arithmetic":
  - src/library/Arithmetic.nim
"→ Bitwise":
  - src/library/Bitwise.nim
"→ Collections":
  - src/library/Collections.nim
"→ Colors":
  - src/library/Colors.nim
"→ Comparison":
  - src/library/Comparison.nim
"→ Converters":
  - src/library/Converters.nim
"→ Core":
  - src/library/Core.nim
"→ Crypto":
  - src/library/Crypto.nim
"→ Databases":
  - src/library/Databases.nim
"→ Dates":
  - src/library/Dates.nim
"→ Exceptions":
  - src/library/Exceptions.nim
"→ Files":
  - src/library/Files.nim
"→ Io":
  - src/library/Io.nim
"→ Iterators":
  - src/library/Iterators.nim
"→ Logic":
  - src/library/Logic.nim
"→ Net":
  - src/library/Net.nim
"→ Numbers":
  - src/library/Numbers.nim
"→ Paths":
  - src/library/Paths.nim
"→ Quantities":
  - src/library/Quantities.nim
"→ Reflection":
  - src/library/Reflection.nim
"→ Sets":
  - src/library/Sets.nim
"→ Sockets":
  - src/library/Sockets.nim
"→ Statistics":
  - src/library/Statistics.nim
"→ Strings":
  - src/library/Strings.nim
"→ System":
  - src/library/System.nim
"→ Types":
  - src/library/Types.nim
"→ Ui":
  - src/library/Ui.nim

netbsd:
  - .github/workflows/netbsd.yml

openbsd:
  - .github/workflows/openbsd.yml

package manager:
  - src/vm/packager.nim

parser:
  - src/vm/parse.nim

repl:
  - src/scripts/console.art
  - src/helpers/repl.nim
  - src/extras/linenoise.nim

rosetta code:
  - examples/rosetta/*

ui:
  - src/extras/libclipboard/*
  - src/extras/menubar/*
  - src/extras/pfd/*
  - src/extras/webview/*
  - src/extras/window/*
  - src/extras/libclipboard.nim
  - src/extras/menubar.nim
  - src/extras/pfd.nim
  - src/extras/webview.nim
  - src/extras/window.nim
  - src/helpers/clipboard.nim
  - src/helpers/dialogs.nim
  - src/helpers/webviews.js
  - src/helpers/webviews.nim
  - src/helpers/windows.nim
  - src/library/Ui.nim

unit-test:
  - tests/errors/**
  - tests/unittests/**
  - tests/web/*

values:
  - src/vm/values/*
  - src/vm/values/custom/**

vm:
  - src/vm/*

workflows:
  - .github/workflows/*

[Collections] fold `of` attr into `bindAttrs` in `array`
  src/library/Collections.nim
Labels: library, → Collections

[notes] mark multi-kind `bindAttrs` + 3 cleanups done
  DISPATCH_NOTES.md
Labels: none

[Net] drop dead `checkAttr("using")` consumer in `mail`
  src/library/Net.nim
Labels: library, → Net

[notes] mark `mail using` cleanup done
  DISPATCH_NOTES.md
Labels: none

[vm] default multi-kind `bindAttrs` value attrs to nil; drop `= nil`
  src/library/Collections.nim
  src/library/Strings.nim
  src/vm/lib.nim
Labels: library, → Collections, → Strings, vm

[Strings] revert `in` Range `bindAttrs` for `match`/`match?`
  src/library/Strings.nim
Labels: library, → Strings

[Core][System][Databases] use `newSeq[Value]()` for empty Block defaults
  src/library/Core.nim
  src/library/Databases.nim
  src/library/System.nim
Labels: library, → Core, → Databases, → System

[Core] fix `only` Block default in `import`
  src/library/Core.nim
Labels: library, → Core

[Files] import `unicode` for Rune in `read`'s `csvDelim` default
  src/library/Files.nim
Labels: library, → Files

[Collections] mutate field directly in `remove` inplace arms
  src/library/Collections.nim
Labels: library, → Collections

[append] fixed in-place modifications
  src/library/Collections.nim
Labels: library, → Collections

[helpers/parallelism] `drainTask` mirrors `wait`'s catch — `do task` returns `:error` on fail, `:null` on cancel
  src/helpers/parallelism.nim
Labels: helpers

[helpers/parallelism] use `genTempPath` for child task temp files — fixes `pid + epochTime` collision risk under fast spawns
  src/helpers/parallelism.nim
Labels: helpers

[helpers/parallelism] put isolated children in own process group; `cancel` kills group, takes grandchildren down with it
  src/helpers/parallelism.nim
Labels: helpers

[values] route `:database` dump through `dumpPrimitive` so type suffix lands like every other primitive
  src/vm/values/printable.nim
Labels: values

[values] add `kindByLabel` for resurrecting error kinds from a string label
  src/vm/values/custom/verror.nim
Labels: values

[helpers/parallelism] `do.async.isolated` ships real `VError` kind+msg via side-channel; live `print` from child stays untouched
  src/helpers/parallelism.nim
Labels: helpers

[Core,Iterators] document closure-capture surprise on `do.async` and `map.parallel` — writes don't leak back to parent
  src/library/Core.nim
  src/library/Iterators.nim
Labels: library, → Core, → Iterators

[helpers/parallelism,Net] honor `request.async` `.timeout` — race against `sleepAsync`, close client + fail future on timer-win
  src/helpers/parallelism.nim
  src/library/Net.nim
Labels: helpers, library, → Net

[values,helpers/parallelism,Core] add `do.async.as: "name"` — symbolic task names shown in `print` / `inspect` for debugging
  src/library/Core.nim
  src/vm/values/printable.nim
  src/vm/values/types.nim
Labels: library, → Core, values

[Tasks] add `wait.any: N` — settle for first N tasks; results in completion order; pairs with `.cancel` to abort losers
  src/library/Tasks.nim
Labels: library

[Core,helpers/parallelism] honor `.timeout` on `do task`
  src/helpers/parallelism.nim
  src/library/Core.nim
  src/library/Tasks.nim
Labels: helpers, library, → Core

[Net] sync `request` / `download` yield cooperatively on fiber — route through async path implicitly so `.parallel` over plain `request` doesn't serialize
  src/library/Net.nim
Labels: library, → Net

[System] sync `execute` yields cooperatively on fiber — capturing path routes through `spawnShellAsTask`; `.directly` keeps sync semantics
  src/library/System.nim
Labels: library, → System

[Files] sync `read` / `write` yield cooperatively on fiber — same implicit-async routing; subprocess-bound variants (bytecode / .directory / null path) still need explicit `.async`
  src/library/Files.nim
Labels: library, → Files

[helpers/datasource] use permissive SSL context for sync `read` URL — match `spawnAsyncReadUrl`/`spawnAsyncDownload`; bare `newAsyncHttpClient()` hangs on HTTPS hosts that redirect
  src/helpers/datasource.nim
Labels: helpers

[helpers/html] rewrite parseHtmlNode for lossless tree
  src/helpers/html.nim
Labels: helpers

[helpers/html] wrap parseHtmlInput output in document root
  src/helpers/html.nim
Labels: helpers

[extras/htmlparser] preserve DOCTYPE on document root
  src/extras/htmlparser/htmlparser.nim
Labels: 3rd-party

[helpers/html] emit doctype node from preserved attribute
  src/helpers/html.nim
Labels: helpers

[helpers/xml] rewrite parseXMLInput for lossless tree
  src/helpers/xml.nim
Labels: helpers

[helpers/html] add unescapeHtmlEntities
  src/helpers/html.nim
Labels: helpers

[Strings] add escape.html attr
  src/library/Strings.nim
Labels: library, → Strings

[Strings] add unescape builtin
  src/library/Strings.nim
Labels: library, → Strings

[Strings] extend unescape with default and .json variants
  src/library/Strings.nim
Labels: library, → Strings

[helpers/html] add unescapeXmlEntities
  src/helpers/html.nim
Labels: helpers

[Strings] split unescape .xml from .html
  src/library/Strings.nim
Labels: library, → Strings

[Strings] differentiate escape.html from escape.xml
  src/library/Strings.nim
Labels: library, → Strings

[helpers] move unescapeXmlEntities to helpers/xml
  src/helpers/html.nim
  src/helpers/xml.nim
  src/library/Strings.nim
Labels: helpers, library, → Strings

[helpers/html] add TODO about HTML5-conformant parser
  src/helpers/html.nim
Labels: helpers
