Repository arturo-lang/arturo, changes with the labels that .github/labeler.yml gives for each.
All labels: 3rd-party, ast, bundler, bytecode, ci, command line, documentation, error handling, evaluator, execution, freebsd, helpers, installer, library, → Arithmetic, → Bitwise, → Collections, → Colors, → Comparison, → Converters, → Core, → Crypto, → Databases, → Dates, → Exceptions, → Files, → Io, → Iterators, → Logic, → Net, → Numbers, → Paths, → Quantities, → Reflection, → Sets, → Sockets, → Statistics, → Strings, → System, → Types, → Ui, netbsd, openbsd, package manager, parser, repl, rosetta code, ui, unit-test, values, vm, workflows

Update build to 3414
  version/build
Labels: none

make setup script executable
  .github/workflows/update.yml
Labels: workflows

make setup script executable
  .github/workflows/update.yml
Labels: workflows

remove obsolete `if?`-`else` leftovers
  docs/website/theme/components/breadcrumbs.html
  docs/website/theme/function.html
  docs/website/theme/module_index.html
Labels: documentation

remove obsolete `if?`-`else` leftovers
  docs/website/theme/components/breadcrumbs.html
  docs/website/theme/function.html
  docs/website/theme/module_index.html
Labels: documentation

minor fix
  docs/website/tools/setup_runner.sh
Labels: documentation

minor fix
  docs/website/tools/setup_runner.sh
Labels: documentation

add automatic folder (= template id) detection
  docs/website/backend/exec.php
Labels: documentation

add automatic folder (= template id) detection
  docs/website/backend/exec.php
Labels: documentation

better error reporting & path resolution
  docs/website/backend/exec.php
Labels: documentation

better error reporting & path resolution
  docs/website/backend/exec.php
Labels: documentation

make timeout a tiny bit more ... lax
  docs/website/backend/exec.php
Labels: documentation

make timeout a tiny bit more ... lax
  docs/website/backend/exec.php
Labels: documentation

pipe through `aha` before showing output
  docs/website/backend/exec.php
Labels: documentation

pipe through `aha` before showing output
  docs/website/backend/exec.php
Labels: documentation

also add `aha` when setting up
  docs/website/tools/setup_runner.sh
Labels: documentation

also add `aha` when setting up
  docs/website/tools/setup_runner.sh
Labels: documentation

fix broken paths
  docs/website/theme/resources/scripts/playground.js
Labels: documentation

fix broken paths
  docs/website/theme/resources/scripts/playground.js
Labels: documentation

add shortcut for code execution
  docs/website/theme/resources/scripts/playground.js
Labels: documentation

add shortcut for code execution
  docs/website/theme/resources/scripts/playground.js
Labels: documentation

and simulate a brief "hover effect"
  docs/website/theme/resources/scripts/playground.js
Labels: documentation

and simulate a brief "hover effect"
  docs/website/theme/resources/scripts/playground.js
Labels: documentation

added style
  docs/website/theme/resources/styles/playground.scss
Labels: documentation

added style
  docs/website/theme/resources/styles/playground.scss
Labels: documentation

don't do anything if already working
  docs/website/theme/resources/scripts/playground.js
Labels: documentation

don't do anything if already working
  docs/website/theme/resources/scripts/playground.js
Labels: documentation

added new db helper
  docs/website/backend/db.php
Labels: documentation

added new db helper
  docs/website/backend/db.php
Labels: documentation

update our snippet system
  docs/website/backend/exec.php
Labels: documentation

update our snippet system
  docs/website/backend/exec.php
Labels: documentation

update db object to account for better, random + unique snippet id's
  docs/website/backend/db.php
Labels: documentation

update db object to account for better, random + unique snippet id's
  docs/website/backend/db.php
Labels: documentation

update exec script
  docs/website/backend/exec.php
Labels: documentation

update exec script
  docs/website/backend/exec.php
Labels: documentation

also updated get script
  docs/website/backend/get.php
Labels: documentation

also updated get script
  docs/website/backend/get.php
Labels: documentation

try tracking loaded snippets properly
  docs/website/theme/resources/scripts/playground.js
Labels: documentation

try tracking loaded snippets properly
  docs/website/theme/resources/scripts/playground.js
Labels: documentation

fix issues with database access + simplify schema
  docs/website/backend/db.php
Labels: documentation

.github/labeler.yml:

3rd-party:
  - src/extras/**

ast:
  - src/vm/ast.nim

bundler:
  - src/vm/bundle/generator.nim
  - src/vm/bundle/resources.nim

bytecode:
  - src/vm/bytecode.nim
  - src/vm/opcodes.nim

ci:
  - .github/workflows/freebsd.yml
  - .github/workflows/linux.yml
  - .github/workflows/macos.yml
  - .github/workflows/netbsd.yml
  - .github/workflows/openbsd.yml
  - .github/workflows/web.yml
  - .github/workflows/windows.yml

command line:
  - src/arturo.nim

documentation:
  - examples/projecteuler/*
  - examples/rosetta/*
  - docs/**

error handling: 
  - src/vm/errors.nim

evaluator:
  - src/vm/eval.nim
 
execution:
  - src/vm/exec.nim

freebsd:
  - .github/workflows/freebsd.yml

helpers:
  - src/helpers/*
  
installer:
  - build.nims
  - src/scripts/update.art

library:
  - src/library/**

"→ Arithmetic":
  - src/library/Arithmetic.nim
"→ Bitwise":
  - src/library/Bitwise.nim
"→ Collections":
  - src/library/Collections.nim
"→ Colors":
  - src/library/Colors.nim
"→ Comparison":
  - src/library/Comparison.nim
"→ Converters":
  - src/library/Converters.nim
"→ Core":
  - src/library/Core.nim
"→ Crypto":
  - src/library/Crypto.nim
"→ Databases":
  - src/library/Databases.nim
"→ Dates":
  - src/library/Dates.nim
"→ Exceptions":
  - src/library/Exceptions.nim
"→ Files":
  - src/library/Files.nim
"→ Io":
  - src/library/Io.nim
"→ Iterators":
  - src/library/Iterators.nim
"→ Logic":
  - src/library/Logic.nim
"→ Net":
  - src/library/Net.nim
"→ Numbers":
  - src/library/Numbers.nim
"→ Paths":
  - src/library/Paths.nim
"→ Quantities":
  - src/library/Quantities.nim
"→ Reflection":
  - src/library/Reflection.nim
"→ Sets":
  - src/library/Sets.nim
"→ Sockets":
  - src/library/Sockets.nim
"→ Statistics":
  - src/library/Statistics.nim
"→ Strings":
  - src/library/Strings.nim
"→ System":
  - src/library/System.nim
"→ Types":
  - src/library/Types.nim
"→ Ui":
  - src/library/Ui.nim

netbsd:
  - .github/workflows/netbsd.yml

openbsd:
  - .github/workflows/openbsd.yml

package manager:
  - src/vm/packager.nim

parser:
  - src/vm/parse.nim

repl:
  - src/scripts/console.art
  - src/helpers/repl.nim
  - src/extras/linenoise.nim

rosetta code:
  - examples/rosetta/*

ui:
  - src/extras/libclipboard/*
  - src/extras/menubar/*
  - src/extras/pfd/*
  - src/extras/webview/*
  - src/extras/window/*
  - src/extras/libclipboard.nim
  - src/extras/menubar.nim
  - src/extras/pfd.nim
  - src/extras/webview.nim
  - src/extras/window.nim
  - src/helpers/clipboard.nim
  - src/helpers/dialogs.nim
  - src/helpers/webviews.js
  - src/helpers/webviews.nim
  - src/helpers/windows.nim
  - src/library/Ui.nim

unit-test:
  - tests/errors/**
  - tests/unittests/**
  - tests/web/*

values:
  - src/vm/values/*
  - src/vm/values/custom/**

vm:
  - src/vm/*

workflows:
  - .github/workflows/*
