Repository arturo-lang/arturo, changes with the labels that .github/labeler.yml gives for each.
All labels: 3rd-party, ast, bundler, bytecode, ci, command line, documentation, error handling, evaluator, execution, freebsd, helpers, installer, library, → Arithmetic, → Bitwise, → Collections, → Colors, → Comparison, → Converters, → Core, → Crypto, → Databases, → Dates, → Exceptions, → Files, → Io, → Iterators, → Logic, → Net, → Numbers, → Paths, → Quantities, → Reflection, → Sets, → Sockets, → Statistics, → Strings, → System, → Types, → Ui, netbsd, openbsd, package manager, parser, repl, rosetta code, ui, unit-test, values, vm, workflows

.github/labeler.yml:

3rd-party:
  - src/extras/**

ast:
  - src/vm/ast.nim

bundler:
  - src/vm/bundle/generator.nim
  - src/vm/bundle/resources.nim

bytecode:
  - src/vm/bytecode.nim
  - src/vm/opcodes.nim

ci:
  - .github/workflows/freebsd.yml
  - .github/workflows/linux.yml
  - .github/workflows/macos.yml
  - .github/workflows/netbsd.yml
  - .github/workflows/openbsd.yml
  - .github/workflows/web.yml
  - .github/workflows/windows.yml

command line:
  - src/arturo.nim

documentation:
  - examples/projecteuler/*
  - examples/rosetta/*
  - docs/**

error handling: 
  - src/vm/errors.nim

evaluator:
  - src/vm/eval.nim
 
execution:
  - src/vm/exec.nim

freebsd:
  - .github/workflows/freebsd.yml

helpers:
  - src/helpers/*
  
installer:
  - build.nims
  - src/scripts/update.art

library:
  - src/library/**

"→ Arithmetic":
  - src/library/Arithmetic.nim
"→ Bitwise":
  - src/library/Bitwise.nim
"→ Collections":
  - src/library/Collections.nim
"→ Colors":
  - src/library/Colors.nim
"→ Comparison":
  - src/library/Comparison.nim
"→ Converters":
  - src/library/Converters.nim
"→ Core":
  - src/library/Core.nim
"→ Crypto":
  - src/library/Crypto.nim
"→ Databases":
  - src/library/Databases.nim
"→ Dates":
  - src/library/Dates.nim
"→ Exceptions":
  - src/library/Exceptions.nim
"→ Files":
  - src/library/Files.nim
"→ Io":
  - src/library/Io.nim
"→ Iterators":
  - src/library/Iterators.nim
"→ Logic":
  - src/library/Logic.nim
"→ Net":
  - src/library/Net.nim
"→ Numbers":
  - src/library/Numbers.nim
"→ Paths":
  - src/library/Paths.nim
"→ Quantities":
  - src/library/Quantities.nim
"→ Reflection":
  - src/library/Reflection.nim
"→ Sets":
  - src/library/Sets.nim
"→ Sockets":
  - src/library/Sockets.nim
"→ Statistics":
  - src/library/Statistics.nim
"→ Strings":
  - src/library/Strings.nim
"→ System":
  - src/library/System.nim
"→ Types":
  - src/library/Types.nim
"→ Ui":
  - src/library/Ui.nim

netbsd:
  - .github/workflows/netbsd.yml

openbsd:
  - .github/workflows/openbsd.yml

package manager:
  - src/vm/packager.nim

parser:
  - src/vm/parse.nim

repl:
  - src/scripts/console.art
  - src/helpers/repl.nim
  - src/extras/linenoise.nim

rosetta code:
  - examples/rosetta/*

ui:
  - src/extras/libclipboard/*
  - src/extras/menubar/*
  - src/extras/pfd/*
  - src/extras/webview/*
  - src/extras/window/*
  - src/extras/libclipboard.nim
  - src/extras/menubar.nim
  - src/extras/pfd.nim
  - src/extras/webview.nim
  - src/extras/window.nim
  - src/helpers/clipboard.nim
  - src/helpers/dialogs.nim
  - src/helpers/webviews.js
  - src/helpers/webviews.nim
  - src/helpers/windows.nim
  - src/library/Ui.nim

unit-test:
  - tests/errors/**
  - tests/unittests/**
  - tests/web/*

values:
  - src/vm/values/*
  - src/vm/values/custom/**

vm:
  - src/vm/*

workflows:
  - .github/workflows/*

reinstate all binaries
  .github/workflows/update.yml
Labels: workflows

fetch binary details for playground
  .github/workflows/update.yml
  docs/website/theme/components/foot.html
  docs/website/theme/playground.html
  tools/binarygen.art
Labels: documentation, workflows

fetch binary details for playground
  .github/workflows/update.yml
  docs/website/theme/components/foot.html
  docs/website/theme/playground.html
  tools/binarygen.art
Labels: documentation, workflows

fixed helper script to work with cmdline args
  tools/getbuiltins.art
Labels: none

fixed helper script to work with cmdline args
  tools/getbuiltins.art
Labels: none

pass search path at generation
  docs/website/theme/components/foot.html
  docs/website/theme/resources/scripts/docsearch.js
Labels: documentation

pass search path at generation
  docs/website/theme/components/foot.html
  docs/website/theme/resources/scripts/docsearch.js
Labels: documentation

also update highlighted keywords accordingly, per version(!)
  docs/website/theme/resources/scripts/main.js
Labels: documentation

also update highlighted keywords accordingly, per version(!)
  docs/website/theme/resources/scripts/main.js
Labels: documentation

yet another helper script...
  tools/preprocessjs.art
Labels: none

yet another helper script...
  tools/preprocessjs.art
Labels: none

and call our new helper script from the workflow
  .github/workflows/update.yml
Labels: workflows

and call our new helper script from the workflow
  .github/workflows/update.yml
Labels: workflows

adjust playground paths + add support for copying backend scripts
  docs/website/theme/resources/scripts/docsearch.js
  docs/website/theme/resources/scripts/playground.js
  tools/miniwebize/webize.art
  tools/preprocessjs.art
Labels: documentation

adjust playground paths + add support for copying backend scripts
  docs/website/theme/resources/scripts/docsearch.js
  docs/website/theme/resources/scripts/playground.js
  tools/miniwebize/webize.art
  tools/preprocessjs.art
Labels: documentation

move backend scripts here
  docs/website/backend/example.php
  docs/website/backend/exec.php
  docs/website/backend/get.php
Labels: documentation

move backend scripts here
  docs/website/backend/example.php
  docs/website/backend/exec.php
  docs/website/backend/get.php
Labels: documentation

minor fix
  .github/workflows/update.yml
Labels: workflows

minor fix
  .github/workflows/update.yml
Labels: workflows

various minor fixes
  tools/preprocessjs.art
Labels: none

various minor fixes
  tools/preprocessjs.art
Labels: none

minor tweaks
  docs/website/theme/resources/scripts/docsearch.js
  docs/website/theme/resources/scripts/playground.js
  tools/preprocessjs.art
Labels: documentation

minor tweaks
  docs/website/theme/resources/scripts/docsearch.js
  docs/website/theme/resources/scripts/playground.js
  tools/preprocessjs.art
Labels: documentation

try caching gems
  .github/workflows/update.yml
Labels: workflows

try caching gems
  .github/workflows/update.yml
Labels: workflows

also transfer binary to backend
  .github/workflows/update.yml
Labels: workflows

also transfer binary to backend
  .github/workflows/update.yml
Labels: workflows

and get the prebuilt ones for testing
  .github/workflows/update.yml
Labels: workflows

and get the prebuilt ones for testing
  .github/workflows/update.yml
Labels: workflows

let's compile either way pfff
  .github/workflows/update.yml
Labels: workflows

let's compile either way pfff
  .github/workflows/update.yml
Labels: workflows

debugging
  .github/workflows/update.yml
  tools/preprocessjs.art
Labels: workflows

debugging
  .github/workflows/update.yml
  tools/preprocessjs.art
Labels: workflows

install it manually?
  .github/workflows/update.yml
Labels: workflows

install it manually?
  .github/workflows/update.yml
Labels: workflows

minor edit
  tools/getbuiltins.art
Labels: none

minor edit
  tools/getbuiltins.art
Labels: none

let's try avoiding the import?!
  tools/preprocessjs.art
Labels: none

let's try avoiding the import?!
  tools/preprocessjs.art
Labels: none

debugging
  tools/getbuiltins.art
Labels: none
