Repository arturo-lang/arturo, changes with the labels that .github/labeler.yml gives for each.
All labels: 3rd-party, ast, bundler, bytecode, ci, command line, documentation, error handling, evaluator, execution, freebsd, helpers, installer, library, → Arithmetic, → Bitwise, → Collections, → Colors, → Comparison, → Converters, → Core, → Crypto, → Databases, → Dates, → Exceptions, → Files, → Io, → Iterators, → Logic, → Net, → Numbers, → Paths, → Quantities, → Reflection, → Sets, → Sockets, → Statistics, → Strings, → System, → Types, → Ui, netbsd, openbsd, package manager, parser, repl, rosetta code, ui, unit-test, values, vm, workflows

.github/labeler.yml:

3rd-party:
  - src/extras/**

ast:
  - src/vm/ast.nim

bundler:
  - src/vm/bundle/generator.nim
  - src/vm/bundle/resources.nim

bytecode:
  - src/vm/bytecode.nim
  - src/vm/opcodes.nim

ci:
  - .github/workflows/freebsd.yml
  - .github/workflows/linux.yml
  - .github/workflows/macos.yml
  - .github/workflows/netbsd.yml
  - .github/workflows/openbsd.yml
  - .github/workflows/web.yml
  - .github/workflows/windows.yml

command line:
  - src/arturo.nim

documentation:
  - examples/projecteuler/*
  - examples/rosetta/*
  - docs/**

error handling: 
  - src/vm/errors.nim

evaluator:
  - src/vm/eval.nim
 
execution:
  - src/vm/exec.nim

freebsd:
  - .github/workflows/freebsd.yml

helpers:
  - src/helpers/*
  
installer:
  - build.nims
  - src/scripts/update.art

library:
  - src/library/**

"→ Arithmetic":
  - src/library/Arithmetic.nim
"→ Bitwise":
  - src/library/Bitwise.nim
"→ Collections":
  - src/library/Collections.nim
"→ Colors":
  - src/library/Colors.nim
"→ Comparison":
  - src/library/Comparison.nim
"→ Converters":
  - src/library/Converters.nim
"→ Core":
  - src/library/Core.nim
"→ Crypto":
  - src/library/Crypto.nim
"→ Databases":
  - src/library/Databases.nim
"→ Dates":
  - src/library/Dates.nim
"→ Exceptions":
  - src/library/Exceptions.nim
"→ Files":
  - src/library/Files.nim
"→ Io":
  - src/library/Io.nim
"→ Iterators":
  - src/library/Iterators.nim
"→ Logic":
  - src/library/Logic.nim
"→ Net":
  - src/library/Net.nim
"→ Numbers":
  - src/library/Numbers.nim
"→ Paths":
  - src/library/Paths.nim
"→ Quantities":
  - src/library/Quantities.nim
"→ Reflection":
  - src/library/Reflection.nim
"→ Sets":
  - src/library/Sets.nim
"→ Sockets":
  - src/library/Sockets.nim
"→ Statistics":
  - src/library/Statistics.nim
"→ Strings":
  - src/library/Strings.nim
"→ System":
  - src/library/System.nim
"→ Types":
  - src/library/Types.nim
"→ Ui":
  - src/library/Ui.nim

netbsd:
  - .github/workflows/netbsd.yml

openbsd:
  - .github/workflows/openbsd.yml

package manager:
  - src/vm/packager.nim

parser:
  - src/vm/parse.nim

repl:
  - src/scripts/console.art
  - src/helpers/repl.nim
  - src/extras/linenoise.nim

rosetta code:
  - examples/rosetta/*

ui:
  - src/extras/libclipboard/*
  - src/extras/menubar/*
  - src/extras/pfd/*
  - src/extras/webview/*
  - src/extras/window/*
  - src/extras/libclipboard.nim
  - src/extras/menubar.nim
  - src/extras/pfd.nim
  - src/extras/webview.nim
  - src/extras/window.nim
  - src/helpers/clipboard.nim
  - src/helpers/dialogs.nim
  - src/helpers/webviews.js
  - src/helpers/webviews.nim
  - src/helpers/windows.nim
  - src/library/Ui.nim

unit-test:
  - tests/errors/**
  - tests/unittests/**
  - tests/web/*

values:
  - src/vm/values/*
  - src/vm/values/custom/**

vm:
  - src/vm/*

workflows:
  - .github/workflows/*

clean up TODO
  src/helpers/html.nim
Labels: helpers

move function to the right spot
  src/library/Strings.nim
Labels: library, → Strings

[helpers/xml] preserve whitespace text nodes between elements
  src/helpers/xml.nim
Labels: helpers

[tests] regen lib.files.res for new read.html/read.xml tree shape
  tests/unittests/lib.files.res
Labels: unit-test

[tests] add lossless-tree assertions for read.html
  tests/unittests/lib.files.art
Labels: unit-test

Bump revision to 38 [skip ci]
  version/revision
Labels: none

[collections/split] make split.at unicode-aware
  src/library/Collections.nim
Labels: library, → Collections

[collections/split] make split.every unicode-aware
  src/library/Collections.nim
Labels: library, → Collections

[collections/split] drop resolved unicode TODO
  src/library/Collections.nim
Labels: library, → Collections

Bump revision to 39 [skip ci]
  version/revision
Labels: none

[helpers/parallelism] drop unused `spawnAsyncServe` + `asynchttpserver` import — `serve.async` no longer routes through the in-process server after the subprocess switch
  src/helpers/parallelism.nim
Labels: helpers

ci: add web tester job running tester.web.art
  .github/workflows/ci.yml
Labels: workflows

ci: use setup-arturo for web tester job
  .github/workflows/ci.yml
Labels: workflows

ci: simplify web test to bash smoke harness with timeout
  .github/workflows/ci.yml
Labels: workflows

[VRational] use Euclidean gcd on WEB to avoid system.gcd shr-truncation hang
  src/vm/values/custom/vrational.nim
Labels: values

[VRational] trim safeGcd comment
  src/vm/values/custom/vrational.nim
Labels: values

[ci] fold web smoke tests into Test matrix
  .github/workflows/ci.yml
Labels: workflows

[ci] let setup-arturo handle web build directly
  .github/workflows/ci.yml
Labels: workflows

[ci] don't skip web row (arturoCanRun is false for web by design)
  .github/workflows/ci.yml
Labels: workflows

[ci] use if/else in Run tests step
  .github/workflows/ci.yml
Labels: workflows

[VM/values/operators] drop resolved 'Verify for Web' TODOs
  src/vm/values/operators.nim
Labels: values

[helpers/intrinsics] move `safeGcd` here so other call sites can reuse
  src/helpers/intrinsics.nim
  src/vm/values/custom/vrational.nim
Labels: helpers, values

[Numbers] route `gcd` through `safeGcd` to fix Web hang
  src/library/Numbers.nim
Labels: library, → Numbers

[Numbers] route `lcm` through `safeLcm` to fix Web hang
  src/helpers/intrinsics.nim
  src/library/Numbers.nim
Labels: helpers, library, → Numbers

[Numbers] make `prime?` work for Web (small-prime divisibility instead of gcd shortcut)
  src/helpers/maths.nim
  src/library/Numbers.nim
Labels: helpers, library, → Numbers

[Numbers] make `factors .prime` work for BigInteger on Web
  src/helpers/maths.nim
  src/library/Numbers.nim
Labels: helpers, library, → Numbers

[VM/values] guard `getValuePair` & arithmetic fastpaths against JS case-object field-defect
  src/vm/values/operators.nim
  src/vm/values/types.nim
Labels: values

[VM/values/operators] raise actual error on invalid op for Web builds too
  src/vm/values/operators.nim
Labels: values

[tools/run.js] shim global `exit` so Nim's `quit` works under Node
  tools/run.js
Labels: none

[helpers/intrinsics] import `std/math` for `gcd`/`lcm` fallback
  src/helpers/intrinsics.nim
Labels: helpers

[VM/errors] detect Web env (browser/node/deno), use console.error & global `exit` shim
  src/vm/errors.nim
Labels: error handling, vm

[tools/run.js] drop `exit` shim (the JS binary now emits its own)
  tools/run.js
Labels: none

minor fix
  src/vm/errors.nim
Labels: error handling, vm

[Io/print] strip trailing newline before `echo` on Web to match native output
  src/library/Io.nim
Labels: library, → Io

[tests/web] add `arithmetic` smoke test
  tests/web/arithmetic.art
  tests/web/arithmetic.res
Labels: unit-test

[tests/web] add `strings` smoke test
  tests/web/strings.art
  tests/web/strings.res
Labels: unit-test

[tests/web] add `blocks` smoke test
  tests/web/blocks.art
  tests/web/blocks.res
Labels: unit-test

[tests/web] add `bitwise` smoke test
  tests/web/bitwise.art
  tests/web/bitwise.res
Labels: unit-test

[tests/web] add `control` smoke test
  tests/web/control.art
  tests/web/control.res
Labels: unit-test

[tests/web] add `numbers` smoke test
  tests/web/numbers.art
  tests/web/numbers.res
Labels: unit-test
