Repository arturo-lang/arturo, pull requests merged in 2022-11, with the labels that each got.

#788 Change release builds configuration
  build.nims
  version/build
Labels: enhancement, installer, linux, macos, windows, cleanup, performance

#791 [VBinary] Made loop ops more memory efficient
  src/vm/values/custom/vbinary.nim
Labels: enhancement, values, performance

#793 Make Arturo compilable with Nim v1.6.8
  .github/workflows/freebsd.yml
  .github/workflows/linux.yml
  .github/workflows/macos.yml
  .github/workflows/raspberry.yml
  .github/workflows/release.yml
  .github/workflows/windows.yml
  src/extras/window.nim
  version/build
Labels: bug, 3rd-party, macos, ui, critical, workflows, ci

#790 Rough pass at making Value smaller for possible optimisation
  src/library/Converters.nim
  src/library/Core.nim
  src/library/Net.nim
  src/library/Ui.nim
  src/vm/exec.nim
  src/vm/values/printable.nim
  src/vm/values/types.nim
  src/vm/values/value.nim
Labels: enhancement, vm, library, ui, execution, values, performance

#797 Introduce "leakless" functions
  examples/rosetta/generic swap - 2.art
  src/library/Converters.nim
  src/vm/exec.nim
  src/vm/values/types.nim
  src/vm/values/value.nim
  version/build
Labels: documentation, enhancement, vm, library, execution

#798 Re-work arity checking and handling
  src/library/Core.nim
  src/library/Reflection.nim
  src/vm/eval.nim
  src/vm/exec.nim
  src/vm/globals.nim
  src/vm/lib.nim
  src/vm/vm.nim
  version/build
Labels: enhancement, vm, library, evaluator, cleanup, execution, experimental, performance

#787 Misc. evaluator optimizations
  build.nims
  examples/rosetta/generic swap - 2.art
  src/library/Arithmetic.nim
  src/library/Bitwise.nim
  src/library/Collections.nim
  src/library/Colors.nim
  src/library/Comparison.nim
  src/library/Converters.nim
  src/library/Core.nim
  src/library/Crypto.nim
  src/library/Databases.nim
  src/library/Dates.nim
  src/library/Files.nim
  src/library/Io.nim
  src/library/Iterators.nim
  src/library/Logic.nim
  src/library/Net.nim
  src/library/Numbers.nim
  src/library/Paths.nim
  src/library/Reflection.nim
  src/library/Sets.nim
  src/library/Statistics.nim
  src/library/Strings.nim
  src/library/System.nim
  src/library/Ui.nim
  src/vm/eval.nim
  src/vm/exec.nim
  src/vm/globals.nim
  src/vm/lib.nim
  src/vm/opcodes.nim
  src/vm/parse.nim
  src/vm/profiler.nim
  src/vm/values/comparison.nim
  src/vm/values/printable.nim
  src/vm/values/types.nim
  src/vm/values/value.nim
  src/vm/vm.nim
  version/build
Labels: documentation, enhancement, vm, library, installer, evaluator, parser, ui, cleanup, execution, performance, bytecode

#800 Changed `Value` to use flags and `VVersion`
  src/helpers/ffi.nim
  src/helpers/jsonobject.nim
  src/library/Converters.nim
  src/library/Core.nim
  src/library/Io.nim
  src/library/Iterators.nim
  src/library/Logic.nim
  src/vm/eval.nim
  src/vm/exec.nim
  src/vm/values/comparison.nim
  src/vm/values/types.nim
  src/vm/values/value.nim
  version/build
Labels: enhancement, vm, library, helpers, evaluator, execution

#809 Normalize type conversions
  src/extras/miniz.nim
  src/helpers/benchmark.nim
  src/helpers/bignums.nim
  src/helpers/maths.nim
  src/helpers/unisort.nim
  src/library/Collections.nim
  src/library/Converters.nim
  src/library/Numbers.nim
  src/library/System.nim
  src/vm/bytecode.nim
  src/vm/eval.nim
  src/vm/exec.nim
  src/vm/opcodes.nim
  src/vm/profiler.nim
  src/vm/values/comparison.nim
  src/vm/values/custom/vbinary.nim
  src/vm/values/custom/vcolor.nim
  src/vm/values/printable.nim
  src/vm/values/value.nim
  version/build
Labels: vm, library, 3rd-party, helpers, evaluator, cleanup, execution

#805 Sanitize Logical values
  src/extras/miniz.nim
  src/helpers/benchmark.nim
  src/helpers/bignums.nim
  src/helpers/maths.nim
  src/helpers/unisort.nim
  src/library/Collections.nim
  src/library/Converters.nim
  src/library/Numbers.nim
  src/library/System.nim
  src/vm/bytecode.nim
  src/vm/eval.nim
  src/vm/exec.nim
  src/vm/opcodes.nim
  src/vm/profiler.nim
  src/vm/values/comparison.nim
  src/vm/values/custom/vbinary.nim
  src/vm/values/custom/vcolor.nim
  src/vm/values/custom/vlogical.nim
  src/vm/values/flags.nim
  src/vm/values/printable.nim
  src/vm/values/types.nim
  src/vm/values/value.nim
  version/build
Labels: vm, library, 3rd-party, helpers, evaluator, cleanup, execution

#810 Made value's info a ref string to further reduce value's size
  src/helpers/helper.nim
  src/vm/lib.nim
  src/vm/values/types.nim
  src/vm/values/value.nim
Labels: vm, helpers

#806 Move `VVersion` values to a separate module
  src/vm/values/comparison.nim
  src/vm/values/custom/vversion.nim
  src/vm/values/printable.nim
  src/vm/values/types.nim
  src/vm/values/value.nim
  tests/unittests/values.version.res
  version/build
Labels: enhancement, unit-test, cleanup, values

#811 Convert SymTable to an unordered Table & misc. related optimizations
  .github/labeler.yml
  src/helpers/unisort.nim
  src/library/Strings.nim
  src/vm/eval.nim
  src/vm/exec.nim
  src/vm/globals.nim
  src/vm/stack.nim
  src/vm/values/types.nim
  src/vm/values/value.nim
  src/vm/vm.nim
  tests/errors/runtime.KeyNotFound.res
  tests/errors/runtime.SymbolNotFound.res
  version/build
Labels: enhancement, vm, library, helpers, evaluator, cleanup, execution, performance

#812 Sanitize Function value objects
  src/helpers/helper.nim
  src/library/Converters.nim
  src/vm/eval.nim
  src/vm/exec.nim
  src/vm/lib.nim
  src/vm/values/printable.nim
  src/vm/values/types.nim
  src/vm/values/value.nim
  version/build
Labels: enhancement, vm, library, helpers, evaluator, cleanup, execution, values, performance

#825 Convert ValueDict objects to references
  src/vm/values/types.nim
  src/vm/values/value.nim
  version/build
Labels: enhancement, cleanup, values, performance

#826 Clean up and rewrite RC examples + Misc. optimizations
  examples/rosetta/10001th prime.art
  examples/rosetta/abc words.art
  examples/rosetta/amicable pairs.art
  examples/rosetta/curzon numbers.art
  examples/rosetta/find words which contains more than 3 e vowels.art
  examples/rosetta/kaprekar numbers.art
  examples/rosetta/numbers with same digit set in base 10 and base 16.art
  examples/rosetta/smith numbers.art
  src/library/Collections.nim
  src/vm/eval.nim
  tools/tester.art
  version/build
Labels: documentation, enhancement, vm, library, evaluator, cleanup

#831 More iterator additions & related optimizations
  src/helpers/ranges.nim
  src/library/Collections.nim
  src/library/Iterators.nim
  src/library/Reflection.nim
  src/library/Sets.nim
  src/vm/values/custom/vrange.nim
  tests/unittests/lib.iterators.art
  version/build
  version/changelog.md
Labels: enhancement, library, unit-test, helpers, cleanup, new feature

#832 Add Ruby-style equivalent of `sort_by`
  src/helpers/ranges.nim
  src/library/Collections.nim
  src/library/Iterators.nim
  version/build
Labels: library, helpers, new feature
