Repository arturo-lang/arturo, pull requests merged in 2022-12, with the labels that each got.

#835 Eliminate unnecessary explicit initializations + minor string/seq cleanup
  src/arturo.nim
  src/helpers/arrays.nim
  src/helpers/charsets.nim
  src/helpers/csv.nim
  src/helpers/database.nim
  src/helpers/helper.nim
  src/helpers/jsonobject.nim
  src/helpers/maths.nim
  src/helpers/strings.nim
  src/helpers/unisort.nim
  src/helpers/webviews.nim
  src/library/Collections.nim
  src/library/Converters.nim
  src/library/Core.nim
  src/library/Databases.nim
  src/library/Io.nim
  src/library/Iterators.nim
  src/library/Net.nim
  src/library/Reflection.nim
  src/library/Strings.nim
  src/library/System.nim
  src/library/Ui.nim
  src/vm/env.nim
  src/vm/errors.nim
  src/vm/eval.nim
  src/vm/package.nim
  src/vm/parse.nim
  src/vm/values/printable.nim
  src/vm/values/value.nim
  version/build
Labels: vm, error handling, library, helpers, evaluator, parser, ui, values, command line

#834 Parser optimization & cleanup
  src/arturo.nim
  src/helpers/arrays.nim
  src/helpers/charsets.nim
  src/helpers/csv.nim
  src/helpers/database.nim
  src/helpers/helper.nim
  src/helpers/jsonobject.nim
  src/helpers/maths.nim
  src/helpers/strings.nim
  src/helpers/unisort.nim
  src/helpers/webviews.nim
  src/library/Collections.nim
  src/library/Converters.nim
  src/library/Core.nim
  src/library/Databases.nim
  src/library/Io.nim
  src/library/Iterators.nim
  src/library/Logic.nim
  src/library/Net.nim
  src/library/Numbers.nim
  src/library/Reflection.nim
  src/library/Strings.nim
  src/library/System.nim
  src/library/Ui.nim
  src/vm/env.nim
  src/vm/errors.nim
  src/vm/eval.nim
  src/vm/package.nim
  src/vm/parse.nim
  src/vm/values/custom/vsymbol.nim
  src/vm/values/printable.nim
  src/vm/values/value.nim
  tools/rctasks.art
  version/build
Labels: enhancement, vm, error handling, library, helpers, evaluator, parser, ui, cleanup, values, command line, performance

#839 Fix erroneous built-in function signatures
  src/library/Arithmetic.nim
  src/library/Bitwise.nim
  src/library/Collections.nim
  src/library/Colors.nim
  src/library/Comparison.nim
  src/library/Converters.nim
  src/library/Core.nim
  src/library/Files.nim
  src/library/Iterators.nim
  src/library/Strings.nim
  src/library/Ui.nim
  version/build
Labels: library, ui, cleanup

#836 Misc. library additions & cleanup
  examples/rosetta/brazilian numbers.art
  examples/rosetta/changeable words.art
  examples/rosetta/cheryl's birthday.art
  examples/rosetta/common list elements.art
  examples/rosetta/compare a list of strings.art
  examples/rosetta/count occurrences of a substring.art
  examples/rosetta/cyclops numbers.art
  examples/rosetta/fibonacci word.art
  examples/rosetta/find the last sunday of each month.art
  examples/rosetta/find words which contains all the vowels.art
  examples/rosetta/find words which contains more than 3 e vowels.art
  examples/rosetta/hex words.art
  examples/rosetta/infinity.art
  examples/rosetta/last friday of each month.art
  examples/rosetta/menu.art
  examples/rosetta/nice primes.art
  examples/rosetta/optional parameters.art
  examples/rosetta/password generator.art
  examples/rosetta/primes with digits in nondecreasing order.art
  examples/rosetta/real constants and functions.art
  examples/rosetta/run-length encoding.art
  examples/rosetta/sorting algorithms - bead sort.art
  examples/rosetta/spiral matrix.art
  examples/rosetta/unique characters in each string.art
  examples/rosetta/unique characters.art
  src/extras/mpfr.nim
  src/helpers/arrays.nim
  src/library/Arithmetic.nim
  src/library/Bitwise.nim
  src/library/Collections.nim
  src/library/Colors.nim
  src/library/Comparison.nim
  src/library/Converters.nim
  src/library/Core.nim
  src/library/Files.nim
  src/library/Iterators.nim
  src/library/Numbers.nim
  src/library/Strings.nim
  src/library/System.nim
  src/library/Ui.nim
  src/scripts/console.art
  src/vm/env.nim
  src/vm/values/custom/vcolor.nim
  src/vm/values/value.nim
  src/vm/vm.nim
  version/build
  version/changelog.md
Labels: documentation, enhancement, vm, repl, library, 3rd-party, helpers, ui, cleanup, values

#854 Make `copyValue` work for all values
  src/vm/values/value.nim
  version/build
Labels: bug, values

#855 Remove `prefix` & `suffix` built-in functions
  examples/rosetta/string prepend.art
  src/library/Strings.nim
  version/build
Labels: documentation, library, cleanup

#863 Adds FFI example to call function
  src/library/Core.nim
Labels: library

#864 Adds relative module importing example
  src/library/Core.nim
Labels: documentation, library

#865 Creates Unit Tests for Collections module
  tests/unittests/lib.collections.art
  tests/unittests/lib.collections.res
Labels: unit-test

#873 Feature 867 add times attribute to chop function
  src/library/Collections.nim
  tests/unittests/lib.collections.art
  tests/unittests/lib.collections.res
  version/build
Labels: library, unit-test, new feature

#875 [Collections/flatten] Make it work with Literal values
  src/library/Collections.nim
  tests/unittests/lib.collections.art
  tests/unittests/lib.collections.res
  version/build
Labels: enhancement, library, unit-test

#877 [Collections/remove] fixing `.once` behavior
  src/helpers/arrays.nim
  src/library/Collections.nim
  tests/unittests/lib.collections.art
  tests/unittests/lib.collections.res
Labels: library, unit-test, helpers

#874 [Collections/remove] add `.instance` option
  src/helpers/arrays.nim
  src/library/Collections.nim
  tests/unittests/lib.collections.art
  tests/unittests/lib.collections.res
Labels: library, unit-test, helpers

#866 Implement global configuration & add new persistent Store values
  build.nims
  src/helpers/jsonobject.nim
  src/helpers/stores.nim
  src/library/Collections.nim
  src/library/Converters.nim
  src/library/Databases.nim
  src/library/Net.nim
  src/library/System.nim
  src/vm/errors.nim
  src/vm/globals.nim
  src/vm/lib.nim
  src/vm/values/comparison.nim
  src/vm/values/printable.nim
  src/vm/values/types.nim
  src/vm/values/value.nim
  src/vm/vm.nim
  version/build
Labels: enhancement, vm, error handling, library, installer, helpers, values, new feature

#879 Add support of module function for windows
  src/library/Paths.nim
Labels: bug, library, windows

#882 [Collections/extend] make it work with literals
  src/library/Collections.nim
  tests/unittests/lib.collections.art
  tests/unittests/lib.collections.res
Labels: enhancement, library, unit-test

#881 [Collections/slice] make it work with literals
  src/library/Collections.nim
  tests/unittests/lib.collections.art
  tests/unittests/lib.collections.res
Labels: library, unit-test

#880 [Collections/split] fix `.path` behavior (including bug on Windows)
  src/library/Collections.nim
  tests/unittests/lib.collections.art
  tests/unittests/lib.collections.res
Labels: bug, library, unit-test, windows

#883 [Collections/split] `.by` not working properly with Literal values?
  tests/unittests/lib.collections.art
  tests/unittests/lib.collections.res
Labels: unit-test

#886 [Collections/split] `.every` is not working properly with Literal values
  src/library/Collections.nim
  tests/unittests/lib.collections.art
  tests/unittests/lib.collections.res
Labels: library, unit-test

#888 [Collections/split] `.every` is not working properly with String values
  src/library/Collections.nim
  tests/unittests/lib.collections.art
  tests/unittests/lib.collections.res
Labels: bug, library, unit-test

#862 Add new Sockets module
  .github/workflows/freebsd.yml
  .github/workflows/raspberry.yml
  .github/workflows/web.yml
  README.md
  build.nims
  examples/rosetta/https - authenticated.art
  examples/rosetta/https - client-authenticated.art
  examples/rosetta/sockets.art
  src/helpers/jsonobject.nim
  src/helpers/stores.nim
  src/library/Collections.nim
  src/library/Converters.nim
  src/library/Databases.nim
  src/library/Net.nim
  src/library/Sockets.nim
  src/library/System.nim
  src/vm/errors.nim
  src/vm/globals.nim
  src/vm/lib.nim
  src/vm/values/comparison.nim
  src/vm/values/custom/vsocket.nim
  src/vm/values/printable.nim
  src/vm/values/types.nim
  src/vm/values/value.nim
  src/vm/vm.nim
  version/build
  version/changelog.md
Labels: documentation, vm, error handling, library, installer, helpers, language, workflows, values, ci, new feature, rosetta code

#921 [Collections] Fix `min` & `max` for Range values
  src/helpers/ranges.nim
  version/build
Labels: bug, helpers

#923 [Collections] Fix `prepend` & `append` for Binary values
  src/library/Collections.nim
Labels: bug, library

#924 [Collections/rotate] fix in-place behavior for String values
  src/library/Collections.nim
  version/build
Labels: bug, library

#926 [Collections/insert] add support for inserting Char values into Strings
  src/library/Collections.nim
Labels: enhancement, library

#931 [Collections/squeeze] Fix support for in-place Strings
  src/library/Collections.nim
  version/build
Labels: bug, library

#935 [Collections/set] Add support for setting string within string
  src/library/Collections.nim
  version/build
Labels: bug, library

#936 [Collections/unique] add support for String values
  src/library/Collections.nim
  version/build
Labels: enhancement, library, new feature

#939 Replace tabs with spaces
  examples/rosetta/enumerations.res
  examples/rosetta/fasta format.res
  examples/rosetta/letter frequency.res
  examples/rosetta/polymorphism.res
  examples/rosetta/s-expressions.res
  src/vm/values/printable.nim
  version/build
Labels: documentation, enhancement, cleanup, values, rosetta code

#933 [Collections/remove] fix `.once` for removing Char values from a String
  README.md
  src/library/Collections.nim
  tests/unittests/lib.collections.res
Labels: bug, library, unit-test

#940 [Collections/decouple] Add support for Literal values
  src/library/Collections.nim
  version/build
Labels: enhancement, library

#941 Add `copyValue` support for Socket values
  src/vm/values/value.nim
  version/build
Labels: enhancement, values

#942 Store-related enhancements
  src/library/Converters.nim
  version/build
Labels: enhancement, library

#945 Use `OrderedSet`s for methods in Sets module
  examples/rosetta/power set.res
  src/extras/httpx.nim
  src/helpers/arrays.nim
  src/helpers/helper.nim
  src/helpers/sets.nim
  src/helpers/unisort.nim
  src/library/Sets.nim
  src/vm/lib.nim
  src/vm/profiler.nim
  tests/unittests/lib.crypto.res
  version/build
Labels: bug, documentation, vm, library, 3rd-party, unit-test, helpers, cleanup, rosetta code

#944 Fix hashing for Literal values
  examples/rosetta/power set.res
  src/extras/httpx.nim
  src/helpers/arrays.nim
  src/helpers/helper.nim
  src/helpers/sets.nim
  src/helpers/unisort.nim
  src/library/Sets.nim
  src/vm/lib.nim
  src/vm/profiler.nim
  src/vm/values/value.nim
  tests/unittests/lib.crypto.res
  version/build
Labels: bug, documentation, vm, library, 3rd-party, unit-test, helpers, critical, values, rosetta code

#943 REPL-related enhancements & fixes
  examples/rosetta/power set.res
  src/extras/httpx.nim
  src/extras/linenoise.nim
  src/extras/linenoise/linenoise-win32.c
  src/extras/linenoise/linenoise.c
  src/extras/linenoise/linenoise.h
  src/extras/linenoise/stringbuf.c
  src/extras/linenoise/stringbuf.h
  src/extras/linenoise/utf8.c
  src/extras/linenoise/utf8.h
  src/helpers/arrays.nim
  src/helpers/helper.nim
  src/helpers/repl.nim
  src/helpers/sets.nim
  src/helpers/terminal.nim
  src/helpers/unisort.nim
  src/library/Io.nim
  src/library/Sets.nim
  src/vm/lib.nim
  src/vm/profiler.nim
  src/vm/values/value.nim
  tests/unittests/lib.crypto.res
  version/build
Labels: documentation, enhancement, vm, repl, library, 3rd-party, unit-test, helpers, cleanup, values, new feature, rosetta code
