Repository arturo-lang/arturo, pull requests merged in 2022-07, with the labels that each got.

#493 Add missing .with option for iterators + further optimizations in Iterators module
  examples/rosetta/abc problem.art
  examples/rosetta/align columns.art
  examples/rosetta/apply a callback to an array.art
  examples/rosetta/damm algorithm.art
  examples/rosetta/file extension is in extensions list.art
  examples/rosetta/isbn13 check digit.art
  examples/rosetta/one-dimensional cellular automata.art
  examples/rosetta/pangram checker.art
  examples/rosetta/product of divisors.art
  examples/rosetta/search a list of records.art
  examples/rosetta/sort numbers lexicographically.art
  src/helpers/dictionaries.nim
  src/library/Iterators.nim
  tests/errors/runtime.WrongArgumentType.1.res
  tools/tester.art
  version/build
Labels: documentation, enhancement, library, helpers, cleanup

#494 Fix Iterators\fold function
  examples/rosetta/catamorphism.art
  src/library/Iterators.nim
  version/build
Labels: documentation, enhancement, library

#501 Re-visit thick-arrow-right operator
  src/vm/eval.nim
  tests/unittests/thickarrowright.art
  tests/unittests/thickarrowright.res
  version/build
Labels: bug, enhancement, vm, unit-test, evaluator, cleanup

#512 Create new Strings\alphabet built-in function
  src/helpers/charsets.nim
  src/library/Strings.nim
  version/build
  version/changelog.md
Labels: enhancement, library, helpers

#561 Add pt charset
  src/helpers/charsets.nim
Labels: helpers

#563 Make dictionary functions callable directly
  src/vm/eval.nim
  src/vm/exec.nim
  version/build
Labels: enhancement, vm, evaluator, language, execution

#568 WIP: Add support for scientific notation
  src/vm/parse.nim
  version/build
Labels: enhancement, vm, parser, language

#564 Create new `:quantity` type
  src/helpers/jsonobject.nim
  src/helpers/quantities.nim
  src/library/Arithmetic.nim
  src/library/Converters.nim
  src/library/Files.nim
  src/library/Numbers.nim
  src/library/Reflection.nim
  src/library/System.nim
  src/vm/errors.nim
  src/vm/eval.nim
  src/vm/parse.nim
  src/vm/values/comparison.nim
  src/vm/values/printable.nim
  src/vm/values/value.nim
  tests/errors/runtime.WrongArgumentType.2.res
  tests/unittests/quantities.art
  tests/unittests/quantities.res
  version/build
  version/changelog.md
Labels: enhancement, vm, error handling, library, unit-test, helpers, evaluator, parser, language

#572 Add support for big `:floating` numbers + GMP integration cleanup
  .github/workflows/freebsd.yml
  .github/workflows/linux.yml
  .github/workflows/windows.yml
  .gitignore
  src/extras/bignum.nim
  src/extras/gmp.nim
  src/extras/mpfr.nim
  src/helpers/bignums.nim
  src/helpers/maths.nim
  src/library/Converters.nim
  src/library/Numbers.nim
  src/vm/values/comparison.nim
  src/vm/values/printable.nim
  src/vm/values/value.nim
  tools/tester.art
  version/build
  version/changelog.md
Labels: enhancement, library, 3rd-party, helpers, workflows, cleanup, ci
