Repository arturo-lang/arturo, pull requests merged in 2022-10, with the labels that each got.

#736 Isolate pure values in separate modules
  src/helpers/jsonobject.nim
  src/library/Bitwise.nim
  src/library/Collections.nim
  src/library/Colors.nim
  src/library/Converters.nim
  src/library/Files.nim
  src/library/Io.nim
  src/library/Numbers.nim
  src/library/Paths.nim
  src/library/Reflection.nim
  src/library/Strings.nim
  src/library/System.nim
  src/vm/lib.nim
  src/vm/opcodes.nim
  src/vm/parse.nim
  src/vm/values/comparison.nim
  src/vm/values/printable.nim
  src/vm/values/pure/vcolor.nim
  src/vm/values/pure/vcomplex.nim
  src/vm/values/pure/vquantity.nim
  src/vm/values/pure/vrational.nim
  src/vm/values/pure/vregex.nim
  src/vm/values/types.nim
  src/vm/values/value.nim
  src/vm/vm.nim
  version/build
Labels: enhancement, vm, 3rd-party, cleanup, values

#735 Isolate value types in a distinct module
  src/helpers/jsonobject.nim
  src/library/Bitwise.nim
  src/library/Collections.nim
  src/library/Colors.nim
  src/library/Converters.nim
  src/library/Files.nim
  src/library/Io.nim
  src/library/Numbers.nim
  src/library/Paths.nim
  src/library/Reflection.nim
  src/library/Strings.nim
  src/library/System.nim
  src/vm/lib.nim
  src/vm/opcodes.nim
  src/vm/parse.nim
  src/vm/values/clean.nim
  src/vm/values/comparison.nim
  src/vm/values/custom/vcolor.nim
  src/vm/values/custom/vcomplex.nim
  src/vm/values/custom/vquantity.nim
  src/vm/values/custom/vrational.nim
  src/vm/values/custom/vregex.nim
  src/vm/values/printable.nim
  src/vm/values/types.nim
  src/vm/values/value.nim
  src/vm/vm.nim
  version/build
Labels: enhancement, vm, cleanup, values

#734 Introduce "clean" blocks
  src/helpers/jsonobject.nim
  src/library/Bitwise.nim
  src/library/Collections.nim
  src/library/Colors.nim
  src/library/Converters.nim
  src/library/Core.nim
  src/library/Files.nim
  src/library/Io.nim
  src/library/Logic.nim
  src/library/Numbers.nim
  src/library/Paths.nim
  src/library/Reflection.nim
  src/library/Statistics.nim
  src/library/Strings.nim
  src/library/System.nim
  src/vm/lib.nim
  src/vm/opcodes.nim
  src/vm/parse.nim
  src/vm/values/clean.nim
  src/vm/values/comparison.nim
  src/vm/values/custom/vcolor.nim
  src/vm/values/custom/vcomplex.nim
  src/vm/values/custom/vquantity.nim
  src/vm/values/custom/vrational.nim
  src/vm/values/custom/vregex.nim
  src/vm/values/printable.nim
  src/vm/values/types.nim
  src/vm/values/value.nim
  src/vm/vm.nim
  version/build
Labels: enhancement, cleanup, values, performance

#745 Use `sink` constructors for complex values
  build.nims
  src/library/Converters.nim
  src/vm/env.nim
  src/vm/package.nim
  src/vm/parse.nim
  src/vm/values/value.nim
  src/vm/vm.nim
  version/build
Labels: enhancement, vm, cleanup, values, performance

#746 Eagerly evaluate Path blocks
  src/library/Collections.nim
  src/library/Converters.nim
  src/vm/eval.nim
  src/vm/values/clean.nim
  version/build
Labels: enhancement, library, evaluator, values, performance

#747 Fix FreeBSD workflow and set Nim to 1.6.6
  .github/workflows/freebsd.yml
  .github/workflows/release.yml
Labels: bug, workflows, ci

#751 Merge string field for attributes
  src/helpers/jsonobject.nim
  src/library/Converters.nim
  src/vm/exec.nim
  src/vm/values/comparison.nim
  src/vm/values/printable.nim
  src/vm/values/types.nim
  src/vm/values/value.nim
  version/build
Labels: enhancement, cleanup, values

#752 Sanitize & clean up Function values
  src/library/Core.nim
  src/vm/eval.nim
  src/vm/exec.nim
  src/vm/lib.nim
  src/vm/values/comparison.nim
  src/vm/values/types.nim
  src/vm/values/value.nim
  version/build
Labels: enhancement, cleanup, values

#754 Further optimizations for Iterators
  src/library/Iterators.nim
  src/vm/values/clean.nim
  version/build
Labels: enhancement, library, cleanup, performance

#755 Collections\append: Replace `for loop` by the optimized `cleanAppend`
  .gitignore
  src/library/Collections.nim
Labels: enhancement, library

#761 add proc `cleanAppendInPlace`
  src/helpers/arrays.nim
  src/library/Collections.nim
  src/vm/values/clean.nim
Labels: enhancement, library, helpers

#763 Add `gather` documentation
  src/library/Iterators.nim
Labels: documentation, library

#765 Add internal documentation
  src/helpers/arrays.nim
  src/vm/values/clean.nim
Labels: documentation

#768 Replace all Syms access with `SetSym` & `GetSym`
  src/helpers/datasource.nim
  src/library/Converters.nim
  src/library/Core.nim
  src/library/Reflection.nim
  src/library/Ui.nim
  src/vm/eval.nim
  src/vm/exec.nim
  src/vm/globals.nim
  src/vm/lib.nim
  src/vm/package.nim
  src/vm/vm.nim
  version/build
Labels: enhancement, vm, library, cleanup

#769 Better `InPlace` & `InPlaced` + relevant performance improvements
  src/library/Arithmetic.nim
  src/library/Bitwise.nim
  src/library/Collections.nim
  src/library/Colors.nim
  src/library/Core.nim
  src/library/Crypto.nim
  src/library/Dates.nim
  src/library/Iterators.nim
  src/library/Paths.nim
  src/library/Reflection.nim
  src/library/Sets.nim
  src/library/Strings.nim
  src/vm/errors.nim
  src/vm/globals.nim
  src/vm/values/value.nim
  src/vm/vm.nim
  version/build
Labels: enhancement, values, performance

#771 Logical values as a distinct Value type (in a separate module)
  src/helpers/ffi.nim
  src/helpers/jsonobject.nim
  src/library/Logic.nim
  src/vm/env.nim
  src/vm/eval.nim
  src/vm/exec.nim
  src/vm/lib.nim
  src/vm/values/custom/vlogical.nim
  src/vm/values/printable.nim
  src/vm/values/types.nim
  src/vm/values/value.nim
  version/build
Labels: enhancement, cleanup, values

#773 Symbol values as a distinct Value type (in a separate module)
  src/library/Core.nim
  src/vm/eval.nim
  src/vm/lib.nim
  src/vm/parse.nim
  src/vm/values/custom/vsymbol.nim
  src/vm/values/printable.nim
  src/vm/values/types.nim
  src/vm/values/value.nim
  src/vm/vm.nim
  version/build
Labels: vm, cleanup, values

#774 Remove duplicate `$` overload for Values
  src/arturo.nim
  src/library/Files.nim
  src/library/System.nim
  src/vm/bytecode.nim
  src/vm/stack.nim
  src/vm/values/printable.nim
  src/vm/values/value.nim
  src/vm/vm.nim
  version/build
Labels: enhancement, cleanup, values

#780 Binary values as a distinct Value type (in a separate module)
  src/helpers/io.nim
  src/library/Collections.nim
  src/library/Converters.nim
  src/vm/bytecode.nim
  src/vm/eval.nim
  src/vm/exec.nim
  src/vm/values/custom/vbinary.nim
  src/vm/values/printable.nim
  src/vm/values/types.nim
  src/vm/values/value.nim
  src/vm/vm.nim
  version/build
Labels: cleanup, values

#784 Better Value type verification & identification
  .github/workflows/labeler.yml
  src/arturo.nim
  src/library/Core.nim
  src/vm/bytecode.nim
  src/vm/eval.nim
  src/vm/values/comparison.nim
  src/vm/values/printable.nim
  src/vm/values/value.nim
  version/build
Labels: enhancement, cleanup, values, performance

#785 Convert error context descriptors to `enum`s
  src/vm/errors.nim
  src/vm/vm.nim
  version/build
Labels: enhancement, vm, error handling, cleanup

#782 Cleaner and more efficient scoping rules + various optimizations
  .github/workflows/labeler.yml
  .gitignore
  docs/website/pages/documentation/language.art
  examples/rosetta/brazilian numbers.art
  examples/rosetta/include a file.art
  examples/rosetta/mad libs.art
  examples/rosetta/modulinos - main.art
  examples/rosetta/stack.art
  src/arturo.nim
  src/library/Collections.nim
  src/library/Converters.nim
  src/library/Core.nim
  src/library/Io.nim
  src/library/Iterators.nim
  src/library/Logic.nim
  src/library/Paths.nim
  src/library/Reflection.nim
  src/library/Strings.nim
  src/library/Ui.nim
  src/scripts/console.art
  src/vm/bytecode.nim
  src/vm/errors.nim
  src/vm/eval.nim
  src/vm/exec.nim
  src/vm/globals.nim
  src/vm/opcodes.nim
  src/vm/parse.nim
  src/vm/values/comparison.nim
  src/vm/values/printable.nim
  src/vm/values/types.nim
  src/vm/values/value.nim
  src/vm/vm.nim
  tests/unittests/dictionaries.art
  tests/unittests/dictionaries.res
  tests/unittests/scopes.art
  tests/unittests/scopes.res
  version/build
  version/changelog.md
Labels: enhancement, vm, cleanup, performance
