Repository arturo-lang/arturo, pull requests merged in 2022-09, with the labels that each got.

#701 Add option for compressed bytecode & revise Arturo's compression capabilities
  src/arturo.nim
  src/extras/zippy.nim
  src/extras/zippy/adler32.nim
  src/extras/zippy/adler32_simd.nim
  src/extras/zippy/bitstreams.nim
  src/extras/zippy/common.nim
  src/extras/zippy/crc.nim
  src/extras/zippy/crc32_simd.nim
  src/extras/zippy/deflate.nim
  src/extras/zippy/gzip.nim
  src/extras/zippy/inflate.nim
  src/extras/zippy/internal.nim
  src/extras/zippy/lz77.nim
  src/extras/zippy/snappy.nim
  src/extras/zippy/tarballs.nim
  src/extras/zippy/tarballs_v1.nim
  src/extras/zippy/ziparchives.nim
  src/extras/zippy/ziparchives_v1.nim
  src/vm/bytecode.nim
  src/vm/exec.nim
  version/build
Labels: enhancement, vm, library, bytecode

#708 Remove Zippy + add missing functionality to Miniz
  build.nims
  src/extras/miniz.nim
  src/extras/zippy.nim
  src/extras/zippy/adler32.nim
  src/extras/zippy/adler32_simd.nim
  src/extras/zippy/bitstreams.nim
  src/extras/zippy/common.nim
  src/extras/zippy/crc.nim
  src/extras/zippy/crc32_simd.nim
  src/extras/zippy/deflate.nim
  src/extras/zippy/gzip.nim
  src/extras/zippy/inflate.nim
  src/extras/zippy/internal.nim
  src/extras/zippy/lz77.nim
  src/extras/zippy/snappy.nim
  src/extras/zippy/tarballs.nim
  src/extras/zippy/tarballs_v1.nim
  src/extras/zippy/ziparchives.nim
  src/extras/zippy/ziparchives_v1.nim
  src/library/Files.nim
  src/vm/bytecode.nim
  version/build
Labels: enhancement, 3rd-party, cleanup, performance, bytecode

#709 Fix path handling + misc. path/file-related enhancements
  build.nims
  src/library/Files.nim
  src/library/Paths.nim
  src/library/System.nim
  src/vm/env.nim
  src/vm/errors.nim
  src/vm/stack.nim
  version/build
  version/changelog.md
Labels: bug, vm, library, language, cleanup

#715 Add basic profiler
  build.nims
  src/helpers/debug.nim
  src/library/Collections.nim
  src/vm/exec.nim
  src/vm/globals.nim
  src/vm/lib.nim
  src/vm/profiler.nim
  src/vm/stack.nim
  src/vm/vm.nim
  version/build
Labels: vm, benchmark, performance

#718 WIP: Use mimalloc
  build.nims
  config.nims
  src/extras/mimalloc.nim
  src/extras/mimalloc/LICENSE
  src/extras/mimalloc/include/mimalloc-atomic.h
  src/extras/mimalloc/include/mimalloc-internal.h
  src/extras/mimalloc/include/mimalloc-new-delete.h
  src/extras/mimalloc/include/mimalloc-override.h
  src/extras/mimalloc/include/mimalloc-types.h
  src/extras/mimalloc/include/mimalloc.h
  src/extras/mimalloc/src/alloc-aligned.c
  src/extras/mimalloc/src/alloc-override-osx.c
  src/extras/mimalloc/src/alloc-override.c
  src/extras/mimalloc/src/alloc-posix.c
  src/extras/mimalloc/src/alloc.c
  src/extras/mimalloc/src/arena.c
  src/extras/mimalloc/src/bitmap.c
  src/extras/mimalloc/src/bitmap.h
  src/extras/mimalloc/src/heap.c
  src/extras/mimalloc/src/init.c
  src/extras/mimalloc/src/options.c
  src/extras/mimalloc/src/os.c
  src/extras/mimalloc/src/page-queue.c
  src/extras/mimalloc/src/page.c
  src/extras/mimalloc/src/random.c
  src/extras/mimalloc/src/region.c
  src/extras/mimalloc/src/segment-cache.c
  src/extras/mimalloc/src/segment.c
  src/extras/mimalloc/src/static.c
  src/extras/mimalloc/src/stats.c
  src/library/System.nim
  version/build
Labels: enhancement, cleanup, benchmark, performance

#719 Sanitize required parameters handling
  src/vm/errors.nim
  src/vm/exec.nim
  src/vm/lib.nim
Labels: enhancement, error handling

#717 Sanitize attribute stack and handling & misc. improvements
  build.nims
  config.nims
  src/extras/mimalloc.nim
  src/extras/mimalloc/LICENSE
  src/extras/mimalloc/include/mimalloc-atomic.h
  src/extras/mimalloc/include/mimalloc-internal.h
  src/extras/mimalloc/include/mimalloc-new-delete.h
  src/extras/mimalloc/include/mimalloc-override.h
  src/extras/mimalloc/include/mimalloc-types.h
  src/extras/mimalloc/include/mimalloc.h
  src/extras/mimalloc/src/alloc-aligned.c
  src/extras/mimalloc/src/alloc-override-osx.c
  src/extras/mimalloc/src/alloc-override.c
  src/extras/mimalloc/src/alloc-posix.c
  src/extras/mimalloc/src/alloc.c
  src/extras/mimalloc/src/arena.c
  src/extras/mimalloc/src/bitmap.c
  src/extras/mimalloc/src/bitmap.h
  src/extras/mimalloc/src/heap.c
  src/extras/mimalloc/src/init.c
  src/extras/mimalloc/src/options.c
  src/extras/mimalloc/src/os.c
  src/extras/mimalloc/src/page-queue.c
  src/extras/mimalloc/src/page.c
  src/extras/mimalloc/src/random.c
  src/extras/mimalloc/src/region.c
  src/extras/mimalloc/src/segment-cache.c
  src/extras/mimalloc/src/segment.c
  src/extras/mimalloc/src/static.c
  src/extras/mimalloc/src/stats.c
  src/library/Binary.nim
  src/library/Collections.nim
  src/library/Colors.nim
  src/library/Converters.nim
  src/library/Core.nim
  src/library/Crypto.nim
  src/library/Databases.nim
  src/library/Dates.nim
  src/library/Files.nim
  src/library/Io.nim
  src/library/Iterators.nim
  src/library/Net.nim
  src/library/Numbers.nim
  src/library/Paths.nim
  src/library/Reflection.nim
  src/library/Sets.nim
  src/library/Statistics.nim
  src/library/Strings.nim
  src/library/System.nim
  src/library/Ui.nim
  src/vm/errors.nim
  src/vm/exec.nim
  src/vm/lib.nim
  src/vm/stack.nim
  src/vm/values/comparison.nim
  version/build
Labels: enhancement, vm, cleanup, values

#721 improve `cleanBlock`
  src/library/Collections.nim
  src/library/Converters.nim
  src/library/Core.nim
  src/library/Databases.nim
  src/library/Files.nim
  src/library/Iterators.nim
  src/library/Logic.nim
  src/library/Numbers.nim
  src/library/Reflection.nim
  src/library/Sets.nim
  src/library/Statistics.nim
  src/library/Strings.nim
  src/vm/values/comparison.nim
  src/vm/values/printable.nim
  src/vm/values/value.nim
  version/build
Labels: enhancement, vm, error handling, cleanup, values, benchmark

#726 Convert `Translation` tuples to objects
  src/arturo.nim
  src/library/Collections.nim
  src/library/Converters.nim
  src/library/Files.nim
  src/library/Strings.nim
  src/vm/bytecode.nim
  src/vm/eval.nim
  src/vm/exec.nim
  src/vm/values/value.nim
  version/build
Labels: enhancement, vm, evaluator, execution, values

#725 Clean up `execBlock` + misc. enhancements
  .gitignore
  build.nims
  src/arturo.nim
  src/library/Collections.nim
  src/library/Converters.nim
  src/library/Core.nim
  src/library/Files.nim
  src/library/Iterators.nim
  src/library/Net.nim
  src/library/Reflection.nim
  src/library/Strings.nim
  src/library/Ui.nim
  src/vm/bytecode.nim
  src/vm/eval.nim
  src/vm/exec.nim
  src/vm/stack.nim
  src/vm/values/value.nim
  src/vm/vm.nim
  version/build
Labels: enhancement, vm, execution, performance

#730 Add WindowsMsys2 artifacts for releases
  .github/workflows/release.yml
Labels: enhancement, windows, workflows, ci

#731 Further improvements for VM/exec
  src/library/Io.nim
  src/vm/exec.nim
  version/build
Labels: vm, execution, benchmark, performance

#733 WIP: Faster append for arrays
  src/helpers/arrays.nim
  src/library/Collections.nim
  version/build
Labels: enhancement, library, helpers, values, performance

#732 Better performance for Iterators
  .github/workflows/greetings.yml
  src/helpers/arrays.nim
  src/library/Collections.nim
  src/library/Iterators.nim
  src/vm/stack.nim
  src/vm/values/value.nim
  version/build
Labels: enhancement, library, cleanup, performance
