Repository arturo-lang/arturo, pull requests merged in 2023-05, with the labels that each got.

#1179 Add better comparison support for `:complex`
  src/vm/values/comparison.nim
  tests/unittests/lib.comparison.art
  tests/unittests/lib.comparison.res
Labels: unit-test, values

#1184 [`Numbers\{ceil,floor,round}`]: add support to `:rational` values
  src/library/Numbers.nim
  src/vm/values/value.nim
  tests/unittests/lib.numbers.art
  tests/unittests/lib.numbers.res
Labels: library, unit-test, values

#1186 [Numbers\clamp]: add support for more types
  src/library/Numbers.nim
  tests/unittests/lib.numbers.art
  tests/unittests/lib.numbers.res
Labels: library, unit-test

#1189 Fix compilation on arm64 macOS
  src/extras/linenoise.nim
  src/helpers/repl.nim
Labels: repl, 3rd-party, helpers

#1188 Fill documentation usage
  src/library/Collections.nim
  src/library/Converters.nim
  src/library/Core.nim
  src/library/Numbers.nim
Labels: library

#1191 [Collections\drop & take] fix SIGSEGV errors
  src/library/Collections.nim
  tests/unittests/lib.collections.art
  tests/unittests/lib.collections.res
Labels: library, unit-test

#1182 [scripts\update.art] - rewrite
  src/scripts/update.art
Labels: installer
