Repository arturo-lang/arturo, pull requests merged in 2023-06, with the labels that each got.

#1199 [Numbers\tau] create constant
  examples/rosetta/tau number.art
  src/library/Numbers.nim
Labels: documentation, library, rosetta code

#1197 [Core\call] update documentation usage
  src/library/Core.nim
Labels: library

#1200 [Comparison\between?] add support for order insensitive limits
  src/library/Comparison.nim
  tests/unittests/lib.comparison.art
  tests/unittests/lib.comparison.res
Labels: library, unit-test

#1198 [Numbers] add rational supports to its functions
  src/library/Numbers.nim
Labels: library

#1211 [Comparisons]: Add support for Unit values
  src/vm/values/comparison.nim
  tests/unittests/lib.comparison.art
  tests/unittests/lib.comparison.res
Labels: unit-test, values

#1214 [System] Convert all inappropriately-considered constants to methods
  examples/rosetta/call a function.art
  examples/rosetta/variadic function.art
  src/library/Sets.nim
  src/library/System.nim
  src/vm/env.nim
  src/vm/exec.nim
  version/build
  version/changelog.md
Labels: documentation, enhancement, vm, library, cleanup, execution, rosetta code

#1215 Update PR template
  .github/pull_request_template.md
Labels: cleanup

#1220 [Comparisons\between?] fix behavior
  src/library/Comparison.nim
  tests/unittests/lib.comparison.art
  tests/unittests/lib.comparison.res
Labels: library, unit-test

#1221 Clean up debugging leftovers
  src/helpers/bignums.nim
  src/helpers/database.nim
  src/helpers/webviews.nim
  src/helpers/xml.nim
  src/library/Converters.nim
  src/library/Net.nim
  src/vm/values/custom/vquantity.nim
  src/vm/values/printable.nim
  src/vm/values/value.nim
  version/build
Labels: library, helpers, ui, cleanup, values

#1227 Fix `inspect` for Quantity values
  src/vm/values/printable.nim
  version/build
Labels: bug, cleanup, values

#1228 [VQuantity] Clean up `convertTemperature`
  src/vm/values/custom/vquantity.nim
  version/build
Labels: cleanup

#1231 [VQuantity] Fix precision loss for prefixed units
  .github/labeler.yml
  src/vm/values/custom/vquantity.nim
  src/vm/values/custom/vrational.nim
  version/build
Labels: bug

#1234 [Concerters\array] properly raise error when file not found
  src/library/Converters.nim
  tests/errors/runtime.FileNotFound.1.art
  tests/errors/runtime.FileNotFound.1.res
Labels: library

#1236 [VQuantity] properly raise error when trying to convert different dimensions from `:quantity`
  src/vm/errors.nim
  src/vm/values/custom/vquantity.nim
  tests/errors/runtime.CannotConvertDifferentDimensions.art
  tests/errors/runtime.CannotConvertDifferentDimensions.res
Labels: vm, error handling, values

#1233 [helpers\webview] Properly raise error for browser related things
  src/helpers/webviews.nim
  src/vm/errors.nim
Labels: vm, error handling, helpers, ui
