Repository arturo-lang/arturo, pull requests merged in 2023-01, with the labels that each got.

#948 Fix `codify` for Function values
  src/vm/values/printable.nim
  version/build
Labels: bug, cleanup, values

#949 Add conversion support from String to Quantity with formatting
  src/library/Converters.nim
  version/build
Labels: enhancement, library

#950 Add missing library documentation for built-in functions
  src/library/Converters.nim
  src/library/Sockets.nim
  version/build
Labels: library

#953 Add "no config" error messages & helpers
  src/library/Net.nim
  src/vm/errors.nim
  src/vm/globals.nim
  version/build
Labels: enhancement, vm, error handling, library

#910 Lib collections unittest improvements
  .gitignore
  src/helpers/arrays.nim
  tests/unittests/lib.collections.art
  tests/unittests/lib.collections.res
  version/build
Labels: unit-test, helpers

#961 [Collections/sort] Fix for Dictionary values & add missing options
  src/helpers/unisort.nim
  src/library/Collections.nim
  tests/unittests/lib.collections.art
  tests/unittests/lib.collections.res
  version/build
Labels: bug, enhancement, library, unit-test, helpers, cleanup

#966 [Dates] Misc additions
  src/library/Dates.nim
  version/build
Labels: library, new feature

#971 Attach opcode to builtin functions
  src/library/Arithmetic.nim
  src/library/Bitwise.nim
  src/library/Collections.nim
  src/library/Colors.nim
  src/library/Comparison.nim
  src/library/Converters.nim
  src/library/Core.nim
  src/library/Crypto.nim
  src/library/Databases.nim
  src/library/Dates.nim
  src/library/Files.nim
  src/library/Io.nim
  src/library/Iterators.nim
  src/library/Logic.nim
  src/library/Net.nim
  src/library/Numbers.nim
  src/library/Paths.nim
  src/library/Reflection.nim
  src/library/Sets.nim
  src/library/Sockets.nim
  src/library/Statistics.nim
  src/library/Strings.nim
  src/library/System.nim
  src/library/Ui.nim
  src/vm/ast.nim
  src/vm/exec.nim
  src/vm/lib.nim
  src/vm/opcodes.nim
  src/vm/values/types.nim
  src/vm/values/value.nim
  version/build
Labels: vm, library, ui, execution, values, bytecode

#972 Eliminate Newline values and fix error reporting
  src/helpers/arrays.nim
  src/helpers/jsonobject.nim
  src/library/Collections.nim
  src/library/Converters.nim
  src/library/Core.nim
  src/library/Databases.nim
  src/library/Files.nim
  src/library/Iterators.nim
  src/library/Logic.nim
  src/library/Numbers.nim
  src/library/Reflection.nim
  src/library/Sets.nim
  src/library/Statistics.nim
  src/library/Strings.nim
  src/vm/ast.nim
  src/vm/eval.nim
  src/vm/lib.nim
  src/vm/parse.nim
  src/vm/values/clean.nim
  src/vm/values/comparison.nim
  src/vm/values/flags.nim
  src/vm/values/printable.nim
  src/vm/values/types.nim
  src/vm/values/value.nim
  version/build
Labels: vm, library, helpers, evaluator, parser, values, experimental

#970 [VM/eval] Complete, clean re-write from scratch
  examples/rosetta/detect division by zero.art
  src/helpers/arrays.nim
  src/helpers/jsonobject.nim
  src/library/Arithmetic.nim
  src/library/Bitwise.nim
  src/library/Collections.nim
  src/library/Colors.nim
  src/library/Comparison.nim
  src/library/Converters.nim
  src/library/Core.nim
  src/library/Crypto.nim
  src/library/Databases.nim
  src/library/Dates.nim
  src/library/Files.nim
  src/library/Io.nim
  src/library/Iterators.nim
  src/library/Logic.nim
  src/library/Net.nim
  src/library/Numbers.nim
  src/library/Paths.nim
  src/library/Reflection.nim
  src/library/Sets.nim
  src/library/Sockets.nim
  src/library/Statistics.nim
  src/library/Strings.nim
  src/library/System.nim
  src/library/Ui.nim
  src/vm/ast.nim
  src/vm/eval.nim
  src/vm/exec.nim
  src/vm/lib.nim
  src/vm/oldeval.nim
  src/vm/opcodes.nim
  src/vm/parse.nim
  src/vm/values/clean.nim
  src/vm/values/comparison.nim
  src/vm/values/flags.nim
  src/vm/values/printable.nim
  src/vm/values/types.nim
  src/vm/values/value.nim
  version/build
Labels: documentation, vm, library, helpers, evaluator, parser, ui, cleanup, execution, values, bytecode, rosetta code

#969 Implement AST as intermediate representation
  examples/rosetta/detect division by zero.art
  src/helpers/arrays.nim
  src/helpers/jsonobject.nim
  src/library/Arithmetic.nim
  src/library/Bitwise.nim
  src/library/Collections.nim
  src/library/Colors.nim
  src/library/Comparison.nim
  src/library/Converters.nim
  src/library/Core.nim
  src/library/Crypto.nim
  src/library/Databases.nim
  src/library/Dates.nim
  src/library/Files.nim
  src/library/Io.nim
  src/library/Iterators.nim
  src/library/Logic.nim
  src/library/Net.nim
  src/library/Numbers.nim
  src/library/Paths.nim
  src/library/Reflection.nim
  src/library/Sets.nim
  src/library/Sockets.nim
  src/library/Statistics.nim
  src/library/Strings.nim
  src/library/System.nim
  src/library/Ui.nim
  src/vm/ast.nim
  src/vm/eval.nim
  src/vm/exec.nim
  src/vm/lib.nim
  src/vm/opcodes.nim
  src/vm/parse.nim
  src/vm/values/clean.nim
  src/vm/values/comparison.nim
  src/vm/values/flags.nim
  src/vm/values/printable.nim
  src/vm/values/types.nim
  src/vm/values/value.nim
  tests/errors/runtime.WrongArgumentType.1.res
  version/build
Labels: documentation, enhancement, vm, library, helpers, evaluator, parser, ui, execution, values, experimental, bytecode, new feature, rosetta code

#974 Re-optimize common blocks (if/else/switch/while/etc)
  .github/labeler.yml
  src/vm/ast.nim
  src/vm/eval.nim
  src/vm/exec.nim
  src/vm/opcodes.nim
  src/vm/profiler.nim
  src/vm/values/custom/vbinary.nim
  src/vm/values/printable.nim
  tests/unittests/lib.collections.res
  tools/tester.art
  version/build
Labels: enhancement, vm, unit-test, evaluator, execution, values, performance, bytecode, ast
