Repository arturo-lang/arturo, pull requests merged in 2023-12, with the labels that each got.

#1320 Fix issues with type inheritance
  src/helpers/objects.nim
  src/library/Types.nim
  src/vm/values/value.nim
  version/build
Labels: bug, library, helpers, values, oop

#1319 Fix pending OOP-related CI tests
  examples/rosetta/classes.art
  examples/rosetta/find the intersection of two lines.art
  examples/rosetta/history variables.art
  examples/rosetta/kronecker product.art
  examples/rosetta/polymorphism.art
  examples/rosetta/priority queue.art
  examples/rosetta/queue - definition.art
  examples/rosetta/queue - usage.art
  examples/rosetta/vector.art
  src/helpers/objects.nim
  src/library/Types.nim
  src/vm/values/value.nim
  tests/unittests/customtypes.art
  tests/unittests/lib.collections.art
  tests/unittests/lib.comparison.art
  version/build
Labels: bug, documentation, library, unit-test, helpers, cleanup, values, rosetta code, oop

#1304 Experimental ~:exception~ `:error` type implementation
  examples/_drafts/parser.art
  examples/rosetta/15 puzzle game.art
  examples/rosetta/call a function in a shared library.art
  examples/rosetta/detect division by zero.art
  examples/rosetta/factorions.art
  examples/rosetta/guess the number - with feedback.art
  examples/rosetta/jump anywhere.wiki
  examples/rosetta/loops - wrong ranges.art
  examples/rosetta/soloway's recurring rainfall.art
  examples/rosetta/sphenic numbers.art
  src/helpers/helper.nim
  src/helpers/jsonobject.nim
  src/library/Collections.nim
  src/library/Converters.nim
  src/library/Core.nim
  src/library/Exceptions.nim
  src/library/Reflection.nim
  src/library/internal/Net/serve.art
  src/scripts/console.art
  src/vm/values/comparison.nim
  src/vm/values/custom/verror.nim
  src/vm/values/printable.nim
  src/vm/values/types.nim
  src/vm/values/value.nim
  src/vm/vm.nim
  tests/unittests/errors.art
  tests/unittests/errors.res
  tests/unittests/lib.arithmetic.art
  tests/unittests/lib.collections.art
  tests/unittests/lib.exceptions.art
  tests/unittests/lib.exceptions.res
  tests/unittests/lib.files.art
  tools/getfuncsinscript.art
  tools/usedfuncs.art
  version/build
Labels: documentation, vm, repl, library, unit-test, helpers, values, rosetta code

#1334 Fix REPL output
  src/scripts/console.art
  version/build
Labels: bug, repl, critical

#1337 VM/values/value: properly copy nested Block values
  src/vm/values/value.nim
Labels: bug, critical, values

#1332 Fix some builder bugs
  .config/utils/ui.nims
  .github/workflows/macos.yml
  build.nims
Labels: installer, workflows, ci

#1330 Debug Package Manager on Windows
  .github/workflows/release.yml
  .github/workflows/windows.yml
  src/arturo.nim
  src/helpers/packager.nim
  src/library/Core.nim
  src/scripts/console.art
  version/build
Labels: bug, repl, library, helpers, windows, workflows, mergeable, benchmark, ci, command line

#1329 Fix inheritance-related errors
  src/helpers/conversion.nim
  src/helpers/objects.nim
  src/library/Types.nim
  src/vm/errors.nim
  src/vm/exec.nim
  src/vm/values/comparison.nim
  src/vm/values/printable.nim
  src/vm/values/types.nim
  src/vm/values/value.nim
  version/build
Labels: vm, error handling, library, helpers, execution, values, oop

#1342 build: Better user interface for the builder script
  .config/utils/cli.nims
  .config/utils/ui.nims
  build.nims
Labels: installer

#1347 Better deep-copying for Dictionary values
  src/vm/values/value.nim
  tests/unittests/deepcopies.art
  tests/unittests/deepcopies.res
  version/build
Labels: bug, unit-test, values

#1350 Add more "magic" type methods
  src/helpers/conversion.nim
  src/helpers/objects.nim
  src/library/Arithmetic.nim
  src/library/Collections.nim
  src/library/Core.nim
  src/library/Types.nim
  src/vm/globals.nim
  src/vm/values/comparison.nim
  src/vm/values/operators.nim
  src/vm/values/printable.nim
  src/vm/values/types.nim
  version/build
Labels: enhancement, vm, library, helpers, values, new feature, oop

#1344 Add new `:method` type
  src/helpers/conversion.nim
  src/helpers/jsonobject.nim
  src/helpers/objects.nim
  src/library/Arithmetic.nim
  src/library/Collections.nim
  src/library/Core.nim
  src/library/Types.nim
  src/vm/ast.nim
  src/vm/errors.nim
  src/vm/eval.nim
  src/vm/exec.nim
  src/vm/globals.nim
  src/vm/opcodes.nim
  src/vm/values/comparison.nim
  src/vm/values/operators.nim
  src/vm/values/printable.nim
  src/vm/values/types.nim
  src/vm/values/value.nim
  version/build
Labels: enhancement, vm, error handling, library, helpers, evaluator, execution, values, bytecode, ast, oop

#1353 [VM\value\comparison]: Clear comparisons with `getValuePair`
  bench
  bench-log
  src/vm/values/comparison.nim
Labels: values

#1425 [Collections\methods] add documentation
  src/library/Collections.nim
Labels: library

#1427 [Types\constructor] add documentation
  src/library/Types.nim
Labels: library

#1431 [Types\method?] add documentation
  src/library/Types.nim
Labels: library

#1430 [Types\defined?] add documentation
  src/library/Types.nim
Labels: library

#1428 [Types\sortable] add documentation
  src/library/Types.nim
Labels: library

#1426 [Core\method] add documentation
  src/library/Core.nim
Labels: library

#1429 [Types\is] add documentation
  src/library/Types.nim
Labels: library

#1438 [Core\var]: add support for `:word`
  src/library/Core.nim
Labels: library

#1437 [Core\let]: add support for `:word`
  src/library/Core.nim
Labels: library

#1436 [Collections\dictionary]: add documentation example for `.raw`
  src/library/Collections.nim
Labels: library

#1435 [System\config] Add support for local config
  src/library/System.nim
  src/vm/vm.nim
Labels: vm, library

#1442 [Collections\first]: clip upper range when n > size of the collection
  src/library/Collections.nim
  tests/unittests/lib.collections.art
Labels: library, unit-test

#1443 [System\script]: add documentation
  src/library/System.nim
Labels: library
