Repository arturo-lang/arturo, pull requests merged in 2023-02, with the labels that each got.

#991 Auto-mute colors on non-compatible Windows terminals
  src/arturo.nim
  src/helpers/terminal.nim
  version/build
Labels: helpers, windows, command line

#996 Add errors for stray closing block delimiters
  examples/rosetta/factorions.art
  examples/rosetta/roman numerals - encode.art
  src/vm/errors.nim
  src/vm/parse.nim
  tests/errors/syntax.MissingClosingBracket.res
  version/build
  version/changelog.md
Labels: documentation, enhancement, vm, error handling, parser, rosetta code

#995 Add flags for Regex values
  docs/website/pages/documentation/language.art
  examples/rosetta/factorions.art
  examples/rosetta/roman numerals - encode.art
  src/vm/errors.nim
  src/vm/parse.nim
  src/vm/values/custom/vregex.nim
  src/vm/values/value.nim
  tests/errors/syntax.MissingClosingBracket.res
  version/build
  version/changelog.md
Labels: documentation, enhancement, vm, error handling, parser, values, rosetta code

#994 Fix `median` function
  src/helpers/statistics.nim
  src/library/Statistics.nim
  tests/unittests/lib.statistics.art
  tests/unittests/lib.statistics.res
Labels: bug, library, unit-test, helpers

#999 Solve LLP64-related GMP issues on Windows
  examples/rosetta/hamming numbers.res
  examples/rosetta/magic constant.res
  examples/rosetta/pell's equation.res
  examples/rosetta/square root by hand.res
  examples/rosetta/sylvester's sequence.res
  src/helpers/bignums.nim
  version/build
Labels: bug, documentation, helpers, windows, rosetta code
