Repository arturo-lang/arturo, pull requests merged in 2023-04, with the labels that each got.

#1130 [Tests\Arithmetic] revising unit-tests
  tests/unittests/lib.arithmetic.art
  tests/unittests/lib.arithmetic.res
Labels: unit-test

#1116 [VM/ast] Make "hanging" attributes work with pipes (`|`)
  .github/workflows/linux.yml
  .github/workflows/macos.yml
  .github/workflows/web.yml
  README.md
  src/vm/ast.nim
  src/vm/values/comparison.nim
  src/vm/values/custom/vregex.nim
  tests/unittests/pipes.art
  tests/unittests/pipes.res
  version/build
Labels: vm, unit-test, workflows, values, ci, ast

#1135 Fix IncompatibleQuantityOperation errors
  src/vm/values/operators.nim
  version/build
Labels: bug, cleanup, values

#1138 Add distinct REPL options for autocompletion and hints
  src/scripts/console.art
  version/build
Labels: enhancement, repl

#1139 Add unit-test for Comparison Library
  tests/unittests/lib.comparison.art
  tests/unittests/lib.comparison.res
  tools/tester.art
Labels: unit-test

#1172 Add bignum support for rationals
  src/helpers/bignums.nim
Labels: enhancement, helpers, experimental

#1175 WIP: Experiment with different syntax for literal quantities
  examples/rosetta/bacon cipher.art
  examples/rosetta/base 16 numbers needing a to f.art
  examples/rosetta/bioinformatics - subsequence.art
  examples/rosetta/caesar cipher.art
  examples/rosetta/camel case and snake case.art
  examples/rosetta/cantor set.art
  examples/rosetta/character codes.art
  examples/rosetta/cusip.art
  examples/rosetta/distribution of 0 digits in factorial series.art
  examples/rosetta/evolutionary algorithm.art
  examples/rosetta/fasta format.art
  examples/rosetta/find words with alternating vowels and consonants.art
  examples/rosetta/happy numbers.art
  examples/rosetta/idiomatically determine all the lowercase and uppercase letters.art
  examples/rosetta/mayan numerals.art
  examples/rosetta/move-to-front algorithm.art
  examples/rosetta/n-queens problem.art
  examples/rosetta/password generator.art
  examples/rosetta/permutations with repetitions.art
  examples/rosetta/playing cards.art
  examples/rosetta/rhonda numbers.art
  examples/rosetta/rot-13.art
  examples/rosetta/search a list of records.art
  examples/rosetta/sedols.art
  examples/rosetta/selectively replace multiple instances of a character within a string.art
  examples/rosetta/set right-adjacent bits.art
  examples/rosetta/soundex.art
  examples/rosetta/totient function.art
  examples/rosetta/unicode strings.art
  examples/rosetta/unprimeable numbers.art
  examples/rosetta/vigenere cipher.art
  examples/rosetta/zeckendorf number representation.art
  src/vm/parse.nim
  src/vm/values/printable.nim
  tests/errors/syntax.EmptyLiteral_res
  tests/unittests/evaluator.art
  tests/unittests/evaluator.res
  tests/unittests/lib.collections.art
  tests/unittests/lib.comparison.art
  tests/unittests/lib.files.art
  version/build
Labels: documentation, vm, unit-test, parser, values, experimental, rosetta code

#1174 WIP: Add literal syntax for Rational values
  examples/rosetta/bacon cipher.art
  examples/rosetta/base 16 numbers needing a to f.art
  examples/rosetta/bioinformatics - subsequence.art
  examples/rosetta/caesar cipher.art
  examples/rosetta/camel case and snake case.art
  examples/rosetta/cantor set.art
  examples/rosetta/character codes.art
  examples/rosetta/cusip.art
  examples/rosetta/distribution of 0 digits in factorial series.art
  examples/rosetta/evolutionary algorithm.art
  examples/rosetta/fasta format.art
  examples/rosetta/find words with alternating vowels and consonants.art
  examples/rosetta/happy numbers.art
  examples/rosetta/idiomatically determine all the lowercase and uppercase letters.art
  examples/rosetta/mayan numerals.art
  examples/rosetta/move-to-front algorithm.art
  examples/rosetta/n-queens problem.art
  examples/rosetta/password generator.art
  examples/rosetta/permutations with repetitions.art
  examples/rosetta/playing cards.art
  examples/rosetta/rhonda numbers.art
  examples/rosetta/rot-13.art
  examples/rosetta/search a list of records.art
  examples/rosetta/sedols.art
  examples/rosetta/selectively replace multiple instances of a character within a string.art
  examples/rosetta/set right-adjacent bits.art
  examples/rosetta/soundex.art
  examples/rosetta/totient function.art
  examples/rosetta/unicode strings.art
  examples/rosetta/unprimeable numbers.art
  examples/rosetta/vigenere cipher.art
  examples/rosetta/zeckendorf number representation.art
  src/vm/parse.nim
  src/vm/values/printable.nim
  tests/errors/syntax.EmptyLiteral_res
  tests/unittests/evaluator.art
  tests/unittests/evaluator.res
  tests/unittests/lib.collections.art
  tests/unittests/lib.comparison.art
  tests/unittests/lib.files.art
  version/build
Labels: documentation, vm, unit-test, parser, values, experimental, rosetta code

#1171 WIP: Use rationals as internal values for quantities
  examples/rosetta/arithmetic - rational.art
  examples/rosetta/arithmetic - rational.res
  examples/rosetta/bacon cipher.art
  examples/rosetta/base 16 numbers needing a to f.art
  examples/rosetta/bioinformatics - subsequence.art
  examples/rosetta/caesar cipher.art
  examples/rosetta/camel case and snake case.art
  examples/rosetta/cantor set.art
  examples/rosetta/character codes.art
  examples/rosetta/cusip.art
  examples/rosetta/distribution of 0 digits in factorial series.art
  examples/rosetta/evolutionary algorithm.art
  examples/rosetta/fasta format.art
  examples/rosetta/find words with alternating vowels and consonants.art
  examples/rosetta/happy numbers.art
  examples/rosetta/idiomatically determine all the lowercase and uppercase letters.art
  examples/rosetta/mayan numerals.art
  examples/rosetta/move-to-front algorithm.art
  examples/rosetta/n-queens problem.art
  examples/rosetta/password generator.art
  examples/rosetta/permutations with repetitions.art
  examples/rosetta/playing cards.art
  examples/rosetta/rhonda numbers.art
  examples/rosetta/rot-13.art
  examples/rosetta/search a list of records.art
  examples/rosetta/sedols.art
  examples/rosetta/selectively replace multiple instances of a character within a string.art
  examples/rosetta/set right-adjacent bits.art
  examples/rosetta/soundex.art
  examples/rosetta/totient function.art
  examples/rosetta/unicode strings.art
  examples/rosetta/unprimeable numbers.art
  examples/rosetta/vigenere cipher.art
  examples/rosetta/zeckendorf number representation.art
  src/helpers/bignums.nim
  src/library/Converters.nim
  src/library/Numbers.nim
  src/library/Paths.nim
  src/library/Reflection.nim
  src/library/System.nim
  src/vm/ast.nim
  src/vm/parse.nim
  src/vm/values/custom/vquantity/preprocessor.nim
  src/vm/values/custom/vquantity_new.nim
  src/vm/values/custom/vrational.nim
  src/vm/values/operators.nim
  src/vm/values/printable.nim
  src/vm/values/value.nim
  tests/errors/syntax.EmptyLiteral_res
  tests/unittests/evaluator.art
  tests/unittests/evaluator.res
  tests/unittests/lib.arithmetic.art
  tests/unittests/lib.arithmetic.res
  tests/unittests/lib.collections.art
  tests/unittests/lib.comparison.art
  tests/unittests/lib.files.art
  version/build
Labels: documentation, vm, library, unit-test, helpers, parser, values, experimental, rosetta code, ast

#1177 [Converters\range] add documentation example
  src/library/Converters.nim
Labels: library

#1176 Cleanup VRational implementation
  src/vm/values/custom/vrational.nim
  src/vm/values/value.nim
  version/build
Labels: cleanup, values
