Repository arturo-lang/arturo, pull requests merged in 2023-03, with the labels that each got.

#1013 Fix AST for functions with variable blocks
  .github/workflows/linux.yml
  src/vm/ast.nim
  version/build
Labels: bug, vm, workflows, ci, ast

#1008 Add unit-tests for Files Library
  tests/unittests/lib.files.art
  tests/unittests/lib.files.res
  tools/tester.art
Labels: unit-test

#1021 [Files/read] add support for different delimiters when in `.csv` mode
  src/helpers/csv.nim
  src/library/Files.nim
  tests/unittests/lib.files.art
  tests/unittests/lib.files.res
Labels: library, unit-test, helpers

#1045 Update tests for collections
  tests/unittests/lib.collections.art
  tests/unittests/lib.collections.res
  tools/tester.art
Labels: enhancement, unit-test

#1053 [Collections] add `.deep` attribute for `contains?` & `in?`
  src/helpers/arrays.nim
  src/helpers/dictionaries.nim
  src/library/Collections.nim
  tests/unittests/lib.collections.art
  tests/unittests/lib.collections.res
Labels: library, unit-test, helpers

#1058 [System/sys] add info about endianess
  src/library/System.nim
  src/vm/env.nim
  tests/unittests/lib.system.art
  tests/unittests/lib.system.res
Labels: vm, library, unit-test

#1057 [VM/values/comparison] add `>` & `<` support for Date values
  src/vm/values/comparison.nim
  tests/unittests/lib.comparison.art
  tests/unittests/lib.comparison.res
Labels: unit-test, values

#1067 [Strings/match] add support for Char values
  src/library/Strings.nim
  version/build
Labels: enhancement, library

#1068 [System\sys] Add `hostname` info
  examples/rosetta/hostname.art
  src/library/Sockets.nim
  src/library/System.nim
  src/vm/env.nim
  version/build
Labels: documentation, vm, library, new feature, rosetta code

#1070 Sanitize arch names in binaries & releases + workflows cleanup
  .github/workflows/freebsd.yml
  .github/workflows/linux.yml
  .github/workflows/macos.yml
  .github/workflows/netbsd.yml
  .github/workflows/openbsd.yml
  .github/workflows/release.yml
  .github/workflows/windows.yml
  build.nims
  docs/website/theme/index.html
  src/vm/env.nim
Labels: vm, installer, workflows, cleanup, ci

#1079 [Converters\to] update usage examples for `:complex` and `:rational`
  src/library/Converters.nim
Labels: library

#1071 [Core/ensure] add option for custom message
  src/library/Core.nim
  src/vm/errors.nim
  tests/errors/assertion.ensureWithCustomMessage.art
  tests/errors/assertion.ensureWithCustomMessage.res
Labels: vm, error handling, library

#1078 [Arithmetic\add & sub] doesn't work for `:color` literals
  src/vm/values/value.nim
Labels: values

#1080 [Converters\as] update formatting to support negative fields for `:rational` and `:complex` types
  src/vm/values/printable.nim
Labels: values

#1085 Minor REPL-related fixes
  src/scripts/console.art
  version/build
Labels: bug, enhancement, repl, new feature

#1081 Update for Nim 1.6.12
  .github/workflows/release.yml
  .github/workflows/windows.yml
  build.nims
  src/helpers/ffi.nim
  src/library/Converters.nim
  src/library/Core.nim
  src/library/Files.nim
  src/library/Net.nim
  src/vm/ast.nim
  src/vm/env.nim
  src/vm/errors.nim
  src/vm/exec.nim
  src/vm/globals.nim
  src/vm/opcodes.nim
  src/vm/values/custom/vcolor.nim
  src/vm/vm.nim
  version/build
Labels: vm, error handling, library, installer, helpers, workflows, cleanup, execution, ci, bytecode, ast

#1095 Value operations cleanup / experiment 1
  build.nims
  src/helpers/combinatorics.nim
  src/helpers/helper.nim
  src/helpers/intrinsics.nim
  src/library/Arithmetic.nim
  src/vm/ast.nim
  src/vm/errors.nim
  src/vm/lib.nim
  src/vm/values/comparison.nim
  src/vm/values/operators.nim
  src/vm/values/printable.nim
  src/vm/values/value.nim
  version/build
Labels: vm, error handling, library, installer, helpers, values, ast

#1100 [Collections\last] improve function's performance for range types
  src/helpers/ranges.nim
  src/library/Collections.nim
  tests/unittests/lib.collections.art
  tests/unittests/lib.collections.res
Labels: library, unit-test, helpers

#1106 [Core\pop] rename `pop` to `unstack` and fix `SIGSEGV` error
  src/library/Core.nim
  src/scripts/console.art
  src/vm/errors.nim
  tests/errors/lib.core.unstack.StackUnderflow.art
  tests/errors/lib.core.unstack.StackUnderflow.res
Labels: vm, repl, error handling, library

#1105 [Collections\pop] creating a new `pop` function
  src/library/Collections.nim
  src/library/Core.nim
  tests/unittests/lib.collections.art
  tests/unittests/lib.collections.res
Labels: library, unit-test

#1108 Clean up Collection's unit-test
  tests/unittests/lib.collections.art
Labels: unit-test

#1104 Revisit Arithmetic module unit-tests
  src/vm/values/custom/vcomplex.nim
  src/vm/values/custom/vquantity.nim
  src/vm/values/operators.nim
  tests/unittests/lib.arithmetic.art
  tests/unittests/lib.arithmetic.res
  version/build
Labels: unit-test, cleanup, values

#1111 [Core] added new `throws?` method
  src/library/Core.nim
  version/build
Labels: library, new feature

#1077 Clean up & rewrite Value operations
  .github/workflows/freebsd.yml
  build.nims
  examples/rosetta/arithmetic - rational.res
  src/helpers/bignums.nim
  src/helpers/combinatorics.nim
  src/helpers/helper.nim
  src/helpers/intrinsics.nim
  src/helpers/maths.nim
  src/library/Arithmetic.nim
  src/library/Bitwise.nim
  src/library/Collections.nim
  src/library/Colors.nim
  src/library/Converters.nim
  src/library/Core.nim
  src/library/Crypto.nim
  src/library/Databases.nim
  src/library/Dates.nim
  src/library/Files.nim
  src/library/Io.nim
  src/library/Iterators.nim
  src/library/Logic.nim
  src/library/Net.nim
  src/library/Numbers.nim
  src/library/Paths.nim
  src/library/Reflection.nim
  src/library/Sets.nim
  src/library/Statistics.nim
  src/library/Strings.nim
  src/library/System.nim
  src/vm/ast.nim
  src/vm/errors.nim
  src/vm/lib.nim
  src/vm/values/comparison.nim
  src/vm/values/custom/vcolor.nim
  src/vm/values/custom/vcomplex.nim
  src/vm/values/custom/vquantity.nim
  src/vm/values/operators.nim
  src/vm/values/printable.nim
  src/vm/values/types.nim
  src/vm/values/value.nim
  tests/errors/runtime.DivisionByZero.art
  tests/errors/runtime.DivisionByZero.res
  tests/errors/runtime.NumberOutOfPermittedRange.res
  tests/errors/runtime.UncaughtError.1.res
  tests/unittests/lib.arithmetic.art
  tests/unittests/lib.arithmetic.res
  version/build
  version/changelog.md
Labels: bug, documentation, enhancement, vm, error handling, library, installer, unit-test, helpers, workflows, cleanup, values, ci, performance, rosetta code, ast

#1117 [Converters\to] fix behavior when converting erroneous Block -> Complex/Rational
  src/library/Converters.nim
  tests/unittests/lib.converters.art
Labels: library, unit-test

#1119 [Collections\split] fix `split.at` for literal values
  src/library/Collections.nim
  tests/unittests/lib.collections.art
  tests/unittests/lib.collections.res
Labels: library, unit-test

#1114 [Converters] add more X -> String conversions support
  src/library/Converters.nim
  version/build
Labels: bug, enhancement, library, critical, mergeable

#1113 [VM/parse] Allow underscores (`_`) in identifiers
  docs/website/pages/documentation/language.art
  src/vm/parse.nim
  src/vm/values/custom/vsymbol.nim
Labels: enhancement, vm, parser, cleanup, mergeable

#1123 [Converters\range] `.step` can't be 0
  src/library/Converters.nim
  src/vm/errors.nim
  tests/errors/runtime.RangeWIthZeroStep.art
  tests/errors/runtime.RangeWIthZeroStep.res
Labels: vm, error handling, library
