Repository arturo-lang/arturo, pull requests merged in 2023-08, with the labels that each got.

#1209 Add Quantities' unit-tests
  src/vm/values/custom/quantities/definitions.nim
  tests/unittests/quantities.art
  tests/unittests/quantities.res
Labels: unit-test, values

#1238 Upgrade to Nim 1.6.14
  .github/workflows/linux.yml
  .github/workflows/macos.yml
  .github/workflows/release.yml
  .github/workflows/web.yml
  .github/workflows/windows.yml
  build.nims
  src/vm/values/comparison.nim
  src/vm/values/custom/quantities/preprocessor.nim
  src/vm/values/types.nim
  version/build
Labels: installer, workflows, cleanup, values, ci

#1255 Fix bug with `move`
  src/library/Core.nim
  src/library/Io.nim
  src/library/Iterators.nim
  src/library/Logic.nim
  src/library/Strings.nim
  src/library/Ui.nim
  src/vm/eval.nim
  src/vm/exec.nim
  src/vm/lib.nim
  src/vm/stack.nim
  version/build
Labels: bug, vm, library, evaluator, ui, execution

#1254 Upgrade to Nim 2.0.0
  .github/workflows/linux.yml
  .github/workflows/macos.yml
  .github/workflows/release.yml
  .github/workflows/web.yml
  .github/workflows/windows.yml
  build.nims
  config.nims
  src/extras/checksums/bcrypt.nim
  src/extras/checksums/docutils.nim
  src/extras/checksums/md5.nim
  src/extras/checksums/private/sha_utils.nim
  src/extras/checksums/sha1.nim
  src/extras/checksums/sha2.nim
  src/extras/checksums/sha3.nim
  src/extras/db_connector/db_common.nim
  src/extras/db_connector/db_mysql.nim
  src/extras/db_connector/db_odbc.nim
  src/extras/db_connector/db_postgres.nim
  src/extras/db_connector/db_sqlite.nim
  src/extras/db_connector/mysql.nim
  src/extras/db_connector/odbcsql.nim
  src/extras/db_connector/postgres.nim
  src/extras/db_connector/private/dbutils.nim
  src/extras/db_connector/sqlite3.nim
  src/extras/httpx.nim
  src/extras/smtp.nim
  src/helpers/bignums.nim
  src/helpers/database.nim
  src/helpers/helper.nim
  src/helpers/stores.nim
  src/library/Core.nim
  src/library/Crypto.nim
  src/library/Io.nim
  src/library/Iterators.nim
  src/library/Logic.nim
  src/library/Net.nim
  src/library/Numbers.nim
  src/library/Strings.nim
  src/library/Ui.nim
  src/vm/env.nim
  src/vm/exec.nim
  src/vm/lib.nim
  src/vm/stack.nim
  src/vm/values/comparison.nim
  src/vm/values/operators.nim
  src/vm/values/printable.nim
  src/vm/values/types.nim
  src/vm/values/value.nim
  version/build
Labels: enhancement, vm, library, installer, 3rd-party, helpers, ui, workflows, execution, values, ci

#1264 Update `httpx` external dependency
  src/extras/httpx.nim
  src/extras/httpx/parser.nim
  src/helpers/servers.nim
  version/build
Labels: enhancement, 3rd-party, helpers, cleanup

#1267 [Collections] Sanitize `chop` & `drop`
  examples/rosetta/forward difference.art
  examples/rosetta/iccanobif primes.art
  examples/rosetta/largest difference between adjacent primes.art
  examples/rosetta/quaternion type.art
  examples/rosetta/substring - top and tail.art
  examples/rosetta/the name game.art
  examples/rosetta/wagstaff primes.art
  src/library/Collections.nim
  tests/unittests/lib.collections.art
  version/build
Labels: documentation, enhancement, library, unit-test, cleanup, rosetta code
