Repository arturo-lang/arturo, pull requests merged in 2024-09, with the labels that each got.

#1673 Improve 10001th prime example
  examples/rosetta/10001th prime.art
Labels: documentation, rosetta code

#1676 library/Numbers: Convert digits to number
  src/library/Numbers.nim
Labels: library

#1680 Improve roseta examples
  examples/rosetta/almost prime.art
  examples/rosetta/find words with alternating vowels and consonants.art
Labels: documentation, rosetta code

#1679 Collections: Fix .by: in permutate and combine for values <= 0 and bigger than length.
  src/helpers/combinatorics.nim
  src/library/Collections.nim
  tests/unitt/lib/collections/combine.test.art
  tests/unittests/lib.collections.art
  tests/unittests/lib.collections.res
Labels: library, unit-test, helpers

#1674 Solve some Project Euler problems
  examples/projecteuler/euler10.art
  examples/projecteuler/euler12.art
  examples/projecteuler/euler13.art
  examples/projecteuler/euler14.art
  examples/projecteuler/euler16.art
  examples/projecteuler/euler17.art
  examples/projecteuler/euler19.art
  examples/projecteuler/euler2.art
  examples/projecteuler/euler20.art
  examples/projecteuler/euler21.art
  examples/projecteuler/euler3.art
  examples/projecteuler/euler30.art
  examples/projecteuler/euler31.art
  examples/projecteuler/euler35.art
  examples/projecteuler/euler36.art
  examples/projecteuler/euler4.art
  examples/projecteuler/euler41.art
  examples/projecteuler/euler5.art
  examples/projecteuler/euler50.art
  examples/projecteuler/euler63.art
  examples/projecteuler/euler8.art
  examples/projecteuler/euler9.art
  examples/projecteuler/euler92.art
  examples/projecteuler/euler99.art
  examples/projecteuler/euler99.txt
Labels: documentation

#1695 Fix TODO action
  .github/arturo_todo.json
  .github/workflows/todos.yml
  version/build
Labels: workflows

#1711 [Logic\all?] Make it work with empty sets
  src/library/Logic.nim
  version/build
Labels: bug, library, cleanup, :block, → Logic

#1712 [Iterators\every?] make it work correctly with empty blocks/ranges
  examples/rosetta/calmo numbers.art
  examples/rosetta/giuga numbers.art
  src/library/Iterators.nim
  version/build
Labels: bug, documentation, library, rosetta code, :block, → Iterators

#1713 [Numbers\product] Fix for empty blocks
  src/library/Numbers.nim
  version/build
Labels: bug, library, :block, → Numbers

#1714 [Strings\join] add support for Char values to `.with:`
  src/library/Strings.nim
  version/build
Labels: library, new feature, :string, :char, → Strings

#1715 Re-update webview component
  src/extras/webview.nim
  src/extras/webview/README.md
  src/extras/webview/webview-unix.cc
  src/extras/webview/webview-windows.h
  src/extras/webview/webview.h
  src/helpers/webviews.nim
  version/build
Labels: enhancement, 3rd-party, helpers, ui

#1726 Add Windows support for executable package aliases
  src/vm/packager.nim
Labels: vm, package manager

#1727 Add support for executable package aliases in Windows (fixed)
  src/vm/packager.nim
Labels: vm, package manager

#1728 Remove executable package alias when uninstalling in Windows
  src/vm/packager.nim
Labels: vm, package manager

#1739 Add alias ∈ for in?
  src/library/Collections.nim
Labels: library, → Collections

#1725 Restore artifacts in normal CI builds
  .github/workflows/ci.yml
Labels: workflows

#1744 input ø to read a single char
  src/library/Io.nim
Labels: library, → Io

#1732 [System\terminate] Make it actually kill the given process
  src/library/System.nim
Labels: bug, library, → System

#1747 Change superset alias to ⊇
  src/library/Sets.nim
Labels: library, → Sets

#1746 Fix in? magic method
  src/library/Collections.nim
Labels: library, → Collections

#1750 [Net\serve] Better support for mimetypes
  src/library/internal/Net/serve.art
  version/build
Labels: enhancement
