Repository arturo-lang/arturo, pull requests merged in 2024-06, with the labels that each got.

#1647 [Reflection\attr?] update the docs to cover behavior
  src/library/Reflection.nim
Labels: library

#1643 Debug `pkg-config`-related issues on Windows builds
  config.nims
Labels: windows

#1649 Sanitize Arturo versioning
  src/library/System.nim
  src/scripts/console.art
  src/vm/env.nim
  src/vm/version.nim
  src/vm/vm.nim
  tests/unittests/lib.system.art
  version/build
  version/metadata
  version/version
Labels: enhancement, vm, repl, library, unit-test

#1650 Add better support for SemVer spec
  src/vm/values/custom/vversion.nim
  src/vm/values/printable.nim
  src/vm/values/types.nim
  src/vm/values/value.nim
  tests/unitt/lib/comparison/between.test.art
  tests/unittests/lib.comparison.art
  tests/unittests/values.version.art
  tests/unittests/values.version.res
  version/build
Labels: enhancement, unit-test, values, :version

#1651 Use Arturo action in CI workflows
  .github/workflows/ci.yml
  .github/workflows/linux.yml
  version/build
Labels: workflows, ci
