Repository arturo-lang/arturo, pull requests merged in 2024-04, with the labels that each got.

#1598 Sanitize relative path handling
  src/library/Core.nim
  src/library/Io.nim
  src/library/Paths.nim
  src/library/Reflection.nim
  src/vm/env.nim
  src/vm/errors.nim
  src/vm/exec.nim
  src/vm/globals.nim
  src/vm/runtime.nim
  src/vm/values/types.nim
  src/vm/values/value.nim
  src/vm/vm.nim
  version/build
Labels: vm, error handling, library, execution, values

#1600 Minor Package Manager-related additions
  src/helpers/packager.nim
  src/vm/errors.nim
  version/build
Labels: vm, error handling, helpers

#1575 Introduce `unitt`
  .github/workflows/linux.yml
  .github/workflows/macos.yml
  .github/workflows/windows.yml
  src/library/Collections.nim
  src/library/Comparison.nim
  tests/unitt/commons/functions.art
  tests/unitt/lib/collections/append.test.art
  tests/unitt/lib/collections/chop.test.art
  tests/unitt/lib/collections/combine.test.art
  tests/unitt/lib/comparison/between.test.art
  tests/unittests/lib.collections.art
  tests/unittests/lib.collections.res
  tests/unittests/lib.comparison.art
  tests/unittests/lib.comparison.res
  tools/unitt-tester.art
Labels: library, unit-test, workflows, ci

#1608 Update README.md
  README.md
Labels: documentation

#1609 FIX: Error reporter crashing when not in REPL mode
  src/vm/errors.nim
  src/vm/eval.nim
  version/build
Labels: bug, vm, error handling, evaluator

#1612 Update to support Nim 2.0.4
  .github/workflows/linux.yml
  .github/workflows/macos.yml
  .github/workflows/web.yml
  .github/workflows/windows.yml
  src/extras/parsetoml.nim
  src/vm/vm.nim
  version/build
Labels: vm, 3rd-party, workflows, ci

#1611 Core: add new `unset` function
  .github/workflows/linux.yml
  .github/workflows/macos.yml
  .github/workflows/release.yml
  .github/workflows/web.yml
  .github/workflows/windows.yml
  src/extras/parsetoml.nim
  src/library/Core.nim
  src/library/Types.nim
  src/vm/globals.nim
  src/vm/vm.nim
  version/build
Labels: vm, library, 3rd-party, workflows, ci, new feature

#1613 Introduce `.public` methods
  src/library/Core.nim
  src/vm/values/comparison.nim
  src/vm/values/types.nim
  src/vm/values/value.nim
  version/build
Labels: library, values, new feature, :method

#1614 Re-introduce BSD workflows & builds
  .github/labeler.yml
  .github/workflows/freebsd.yml
  .github/workflows/netbsd.yml
  .github/workflows/openbsd.yml
  examples/rosetta/logistic curve fitting in epidemiology_res
  src/helpers/repl.nim
  src/vm/values/custom/vquantity.nim
  version/build
Labels: documentation, repl, helpers, workflows, values, ci, rosetta code, freebsd

#1617 Make `import.lean` work correctly with modules
  src/library/Core.nim
  src/vm/exec.nim
  version/build
Labels: vm, library, execution

#1618 Make `export` work with dictionary values too
  src/library/Core.nim
  version/build
Labels: library, :dictionary

#1619 Introduce Path "segments"
  src/vm/parse.nim
  version/build
Labels: vm, parser, :path, :pathLabel, syntactic sugar

#1620 Core\with: Add support for Dictionary values
  src/library/Core.nim
  version/build
Labels: library, :block, :dictionary

#1616 Introduce new `:module` type
  src/helpers/conversion.nim
  src/helpers/jsonobject.nim
  src/library/Collections.nim
  src/library/Core.nim
  src/library/Reflection.nim
  src/library/Types.nim
  src/vm/exec.nim
  src/vm/parse.nim
  src/vm/values/comparison.nim
  src/vm/values/printable.nim
  src/vm/values/types.nim
  src/vm/values/value.nim
  version/build
Labels: enhancement, vm, library, helpers, parser, cleanup, execution, values, new feature, :module

#1624 [Exceptions] migrate tests to `unitt`
  tests/unitt/lib/exceptions/functions.test.art
  tests/unitt/lib/exceptions/howto.art
  tests/unitt/lib/exceptions/types.test.art
  tests/unittests/errors.art
  tests/unittests/errors.res
Labels: unit-test

#1601 [Core\Let] assign multiple values into one variable feature
  src/library/Core.nim
  tests/unitt/lib/core/let.test.art
Labels: library
