Repository arturo-lang/arturo, pull requests merged in 2024-12, with the labels that each got.

#1821 Add safe `get`/`set` overrides for custom types
  src/library/Collections.nim
  version/build
Labels: enhancement, library, oop, → Collections

#1822 Raname `.safe` to `.field`
  src/library/Collections.nim
Labels: enhancement, library, → Collections

#1823 Add more lower-lever Window capabilities
  src/extras/window.nim
  src/extras/window/window.cc
  src/extras/window/window.h
  src/helpers/windows.nim
  version/build
Labels: enhancement, 3rd-party, helpers, linux, macos, windows, ui, cleanup, new feature

#1827 Even better UI window support
  src/extras/window.nim
  src/extras/window/window.cc
  src/extras/window/window.h
  src/helpers/windows.nim
  src/library/Ui.nim
  src/library/internal/Ui/window.art
  version/build
Labels: library, 3rd-party, helpers, ui, → Ui

#1830 [Sockets\listen] remove `.blocking` option
  src/library/Sockets.nim
Labels: enhancement, library, → Sockets

#1829 Add module overview/introduction sections
  .github/labeler.yml
  .gitignore
  docs/website/config.art
  docs/website/pages/documentation/library/arithmetic/_index.art
  docs/website/pages/documentation/library/bitwise/_index.art
  docs/website/pages/documentation/library/collections/_index.art
  docs/website/pages/documentation/library/colors/_index.art
  docs/website/pages/documentation/library/comparison/_index.art
  docs/website/pages/documentation/library/converters/_index.art
  docs/website/pages/documentation/library/core/_index.art
  docs/website/pages/documentation/library/crypto/_index.art
  docs/website/pages/documentation/library/databases/_index.art
  docs/website/pages/documentation/library/dates/_index.art
  docs/website/pages/documentation/library/exceptions/_index.art
  docs/website/pages/documentation/library/files/_index.art
  docs/website/pages/documentation/library/io/_index.art
  docs/website/pages/documentation/library/iterators/_index.art
  docs/website/pages/documentation/library/logic/_index.art
  docs/website/pages/documentation/library/net/_index.art
  docs/website/pages/documentation/library/numbers/_index.art
  docs/website/pages/documentation/library/paths/_index.art
  docs/website/pages/documentation/library/quantities/_index.art
  docs/website/pages/documentation/library/reflection/_index.art
  docs/website/pages/documentation/library/sets/_index.art
  docs/website/pages/documentation/library/sockets/_index.art
  docs/website/pages/documentation/library/statistics/_index.art
  docs/website/pages/documentation/library/strings/_index.art
  docs/website/pages/documentation/library/system/_index.art
  docs/website/pages/documentation/library/types/_index.art
  docs/website/pages/documentation/library/ui/_index.art
  docs/website/theme/module_index.html
  docs/website/theme/resources/styles/main.scss
  docs/website/theme/settings.art
  tools/dellall.art
  version/build
Labels: website

#1834 Update alias example for modern Arturo
  src/library/Core.nim
Labels: library, → Core

#1805 Add some more Rosetta Code solutions
  examples/_drafts/undulating numbers.art
  examples/_drafts/vampire number - b.art
  examples/rosetta/abstract type.art
  examples/rosetta/abstract type.res
  examples/rosetta/bitmap - bresenham's line algorithm.art
  examples/rosetta/bitmap - bresenham's line algorithm.res
  examples/rosetta/fermat pseudoprimes.art
  examples/rosetta/fermat pseudoprimes.res
  examples/rosetta/inheritance - single.art
  examples/rosetta/number names.art
  examples/rosetta/number names.res
  examples/rosetta/radical of an integer.art
  examples/rosetta/radical of an integer.res
  examples/rosetta/reflection - list methods.art
  examples/rosetta/reflection - list methods.res
  examples/rosetta/rosetta code - find unimplemented tasks.art
  examples/rosetta/spelling of ordinal numbers.art
  examples/rosetta/spelling of ordinal numbers.res
  examples/rosetta/super-poulet numbers.art
  examples/rosetta/super-poulet numbers.res
  examples/rosetta/taxicab numbers.art
  examples/rosetta/taxicab numbers.res
  examples/rosetta/weird numbers.art
  examples/rosetta/weird numbers.res
  examples/rosetta/zsigmondy numbers.art
  examples/rosetta/zumkeller numbers.art
  examples/rosetta/zumkeller numbers.res
  tools/findrosettatosolve.art
  tools/tester.art
  version/build
Labels: documentation, rosetta code

#1833 Website fixes & tweaks
  docs/website/pages/documentation/in a nutshell.art
  docs/website/pages/documentation/language.art
  docs/website/pages/documentation/library/arithmetic/_index.art
  docs/website/pages/documentation/library/bitwise/_index.art
  docs/website/pages/documentation/library/collections/_index.art
  docs/website/pages/documentation/library/colors/_index.art
  docs/website/pages/documentation/library/comparison/_index.art
  docs/website/pages/documentation/library/core/_index.art
  docs/website/pages/documentation/library/crypto/_index.art
  docs/website/pages/documentation/library/databases/_index.art
  docs/website/pages/documentation/library/dates/_index.art
  docs/website/pages/documentation/library/exceptions/_index.art
  docs/website/pages/documentation/library/files/_index.art
  docs/website/pages/documentation/library/io/_index.art
  docs/website/pages/documentation/library/iterators/_index.art
  docs/website/pages/documentation/library/logic/_index.art
  docs/website/pages/documentation/library/net/_index.art
  docs/website/pages/documentation/library/numbers/_index.art
  docs/website/pages/documentation/library/paths/_index.art
  docs/website/pages/documentation/library/quantities/_index.art
  docs/website/pages/documentation/library/reflection/_index.art
  docs/website/pages/documentation/library/sets/_index.art
  docs/website/pages/documentation/library/sockets/_index.art
  docs/website/pages/documentation/library/statistics/_index.art
  docs/website/pages/documentation/library/strings/_index.art
  docs/website/pages/documentation/library/system/_index.art
  docs/website/pages/documentation/library/types/_index.art
  docs/website/pages/documentation/library/ui/_index.art
  docs/website/theme/components/head.html
  docs/website/theme/resources/styles/main.scss
  tools/genaiguide.art
Labels: documentation, enhancement, website

#1753 [Net\serve] Add support for request handler
  src/library/Net.nim
  src/library/internal/Net/serve.art
  version/build
Labels: enhancement, library, cleanup, new feature, → Net

#1828 Add (better) support for window menus
  src/extras/menus.nim
  src/extras/menus/menus.cc
  src/extras/menus/menus.h
  src/extras/window/window.cc
  src/helpers/webviews.nim
  src/helpers/windows.nim
  version/build
Labels: enhancement, 3rd-party, helpers, ui, cleanup, new feature

#1842 [Core] add new `using` stdlib function
  src/library/Core.nim
  src/vm/parse.nim
  version/build
Labels: vm, library, parser, new feature, → Core
