Repository arturo-lang/arturo, pull requests merged in 2024-11, with the labels that each got.

#1777 [UI\webview] fix documentation example
  src/library/Ui.nim
Labels: library, ui, → Ui

#1736 Re-enable `--profiler` mode
  src/vm/parse.nim
  src/vm/profiler.nim
  version/build
Labels: vm, parser

#1788 Add new `discard` stdlib function
  src/library/Core.nim
  version/build
Labels: library, new feature, → Core

#1808 Verify `.timeout:` is working for `request`
  src/extras/httpx.nim
  src/library/Net.nim
  version/build
Labels: bug, library, 3rd-party, → Net

#1806 [Net\request] add String support for *body*
  src/extras/httpx.nim
  src/library/Net.nim
  version/build
Labels: enhancement, library, 3rd-party, → Net

#1811 Various documentation additions
  docs/website/pages/documentation/command line.art
  docs/website/pages/documentation/in a nutshell.art
  docs/website/pages/documentation/language.art
  src/library/Core.nim
Labels: library, website, → Core

#1812 Swap write arguments
  examples/rosetta/create a file on magnetic tape.art
  examples/rosetta/create a file.art
  examples/rosetta/file input-output.art
  examples/rosetta/fractal tree.art
  examples/rosetta/goldbach's comet.art
  examples/rosetta/hello world - line printer.art
  examples/rosetta/json.art
  examples/rosetta/make directory path.art
  examples/rosetta/remove lines from a file.art
  examples/rosetta/take notes on the command line.art
  examples/rosetta/write entire file.art
  src/library/Files.nim
  tests/unittests/lib.files.art
  tools/genaiguide.art
  tools/gendep.art
  tools/rc.art
  tools/sitegen.art
Labels: documentation, library, unit-test, rosetta code, → Files
