Repository arturo-lang/arturo, pull requests merged in 2024-01, with the labels that each got.

#1446 Clear some TODOS
  src/library/Collections.nim
  src/library/Converters.nim
  src/library/Core.nim
  src/vm/checks.nim
Labels: vm, library

#1447 [Iterators]: check block value for `fetchParamsBlock`
  src/library/Iterators.nim
Labels: library

#1449 Fix & update webview component
  .github/workflows/linux.yml
  build.nims
  src/extras/webview.nim
  src/extras/webview/deps/build-new.bat
  src/extras/webview/deps/dlls/x64/webview-old.dll
  src/extras/webview/deps/dlls/x64/webview.dll
  src/extras/webview/webview-unix.cc
  src/extras/webview/webview-windows.h
  src/extras/webview/webview.h
  src/helpers/webviews.nim
  src/library/Ui.nim
  version/build
Labels: enhancement, library, installer, 3rd-party, helpers, ui, workflows, cleanup, ci

#1444 PathLiteral-related additions & misc. Library enhancements
  src/library/Arithmetic.nim
  src/library/Bitwise.nim
  src/library/Collections.nim
  src/library/Colors.nim
  src/library/Core.nim
  src/library/Crypto.nim
  src/library/Dates.nim
  src/library/Paths.nim
  src/library/Reflection.nim
  src/library/Sets.nim
  src/library/Strings.nim
  src/library/Ui.nim
  src/vm/errors.nim
  src/vm/globals.nim
  src/vm/values/operators.nim
  version/build
Labels: enhancement, vm, error handling, library, ui, cleanup, values

#1506 Add `SetInPlace` equivalent for PathLiteral values
  src/library/Colors.nim
  src/vm/globals.nim
  version/build
Labels: enhancement, vm, library

#1505 Fix AST issues with method calls
  src/vm/ast.nim
  src/vm/eval.nim
  src/vm/exec.nim
  src/vm/globals.nim
  src/vm/opcodes.nim
  tests/unittests/evaluator.res
  tests/unittests/lib.collections.art
  version/build
Labels: bug, vm, unit-test, evaluator, critical, cleanup, execution, bytecode, ast, oop

#1507 Add exclamation mark (`!`) syntactic sugar
  src/vm/ast.nim
  src/vm/exec.nim
  src/vm/opcodes.nim
  tests/unittests/evaluator.res
  version/build
Labels: enhancement, vm, unit-test, execution, bytecode, ast

#1510 Fix `new` for big integers
  src/vm/values/value.nim
  version/build
Labels: bug, critical, values

#1516 Safe in-place overflows in arithmetic operations
  src/helpers/intrinsics.nim
  src/vm/values/custom/vrational.nim
  src/vm/values/operators.nim
  version/build
Labels: bug, helpers, critical, values, :quantity, :integer, :rational

#1504 Fix pending Quantity-related issues
  src/extras/mpfr.nim
  src/helpers/bignums.nim
  src/helpers/intrinsics.nim
  src/vm/values/custom/quantities/definitions.nim
  src/vm/values/custom/quantities/preprocessor.nim
  src/vm/values/custom/vquantity.nim
  src/vm/values/custom/vrational.nim
  src/vm/values/operators.nim
  src/vm/values/value.nim
  tests/unittests/quantities.art
  tests/unittests/quantities.res
  version/build
Labels: bug, 3rd-party, unit-test, helpers, critical, cleanup, mergeable, values, :quantity

#1530 Add basic unit-test support for Web builds
  .github/workflows/web.yml
  tests/web/hello.art
  tests/web/hello.res
  tools/tester.web.art
  version/build
Labels: unit-test, workflows, mergeable, web, ci

#1532 Fix (seemingly random) VM crashes for Web builds
  src/vm/ast.nim
  src/vm/values/custom/vquantity.nim
  src/vm/values/types.nim
  version/build
Labels: bug, vm, critical, values, web, ast

#1533 Clean up hints & warnings
  .config/buildmode.nims
  src/helpers/maths.nim
  src/library/Core.nim
  src/vm/env.nim
  src/vm/values/comparison.nim
  src/vm/values/custom/quantities/preprocessor.nim
  src/vm/values/custom/vrational.nim
  src/vm/values/printable.nim
  src/vm/values/types.nim
  src/vm/values/value.nim
  version/build
Labels: vm, library, helpers, cleanup, values

#1534 Misc. fixes for Web builds
  src/helpers/datasource.nim
  src/helpers/intrinsics.nim
  src/vm/values/operators.nim
  src/vm/values/printable.nim
  src/vm/values/value.nim
  version/build
Labels: bug, helpers, cleanup, values, web

#1556 Differentiate between incomplete Floating values and Attributes
  version/build
Labels: vm, parser, mergeable

#1557 VM/parse: fix parsing for "incomplete" floating-point numbers
  src/vm/parse.nim
Labels: vm, parser

#1563 Add `:pathLiteral` support to Libraries
  src/library/Bitwise.nim
  src/library/Collections.nim
  src/library/Crypto.nim
  src/library/Dates.nim
  src/library/Paths.nim
  src/library/Sets.nim
  src/library/Strings.nim
  tests/unittests/lib.collections.art
  tests/unittests/lib.collections.res
  tests/unittests/lib.crypto.art
  tests/unittests/lib.crypto.res
  tests/unittests/lib.dates.art
  tests/unittests/lib.dates.res
  tests/unittests/lib.paths.art
  tests/unittests/lib.paths.res
  tests/unittests/lib.sets.art
  tests/unittests/lib.sets.res
  tests/unittests/lib.strings.art
  tests/unittests/lib.strings.res
Labels: library, unit-test
