Repository arturo-lang/arturo, pull requests merged in 2024-10, with the labels that each got.

#1757 Upgrade Nim to 2.2.0
  .github/workflows/ci.yml
  README.md
  src/extras/checksums/md5.nim
  src/extras/htmlparser.nim
  src/extras/htmlparser/htmlparser.nim
  src/extras/markdownpkg/entities.nim
  src/helpers/html.nim
  src/helpers/io.nim
  src/helpers/objects.nim
  src/vm/values/types.nim
  tests/unittests/lib.crypto.res
  tests/unittests/lib.files.art
  version/build
Labels: enhancement, 3rd-party, unit-test, helpers, workflows, values, Nim

#1758 Fix custom types example
  docs/website/pages/documentation/in a nutshell.art
Labels: documentation, website

#1765 Fix iterators enumerate for empty blocks
  src/library/Iterators.nim
  version/build
Labels: bug, library, → Iterators

#1767 Add Repl\verbose? + update syntax in console.art
  src/scripts/console.art
Labels: repl

#1768 Unify options in console.art
  src/scripts/console.art
Labels: repl

#1773 Sanitize `?`s in words/labels
  src/vm/parse.nim
  tests/unittests/parser.art
  tests/unittests/parser.res
  version/build
Labels: enhancement, vm, unit-test, parser
