Repository arturo-lang/arturo, pull requests merged in 2024-05, with the labels that each got.

#1625 Fix AST handling of method calls
  src/vm/ast.nim
  src/vm/eval.nim
  src/vm/exec.nim
Labels: bug, vm, evaluator, critical, execution, ast, oop, :function, :method, :module

#1628 System\sys: add information about CPU cores
  src/vm/env.nim
Labels: vm, new feature

#1632 Sanitize cmdline argument parsing
  src/arturo.nim
  version/build
Labels: command line

#1634 Fix argument passing for package executables
  src/helpers/packager.nim
Labels: bug, helpers

#1635 Fix issue #1630
  config.nims
  version/build
Labels: bug, windows, critical

#1629 Fix minor error in 'var' example
  src/library/Core.nim
Labels: documentation, library, mergeable

#1631 Enable bundling Arturo code as executable
  .config/buildmode.nims
  .github/labeler.yml
  build.nims
  src/arturo.nim
  src/library/Core.nim
  src/library/Files.nim
  src/library/Paths.nim
  src/scripts/module.art
  src/vm/bundle/generator.nim
  src/vm/bundle/resources.nim
  src/vm/checks.nim
  src/vm/errors.nim
  src/vm/lib.nim
  src/vm/package.nim
  src/vm/packager.nim
  src/vm/values/types.nim
  src/vm/vm.nim
  version/build
Labels: vm, error handling, library, installer, package manager, mergeable, values, command line, bundler

#1641 [error] fix underline formatation for windows terminal
  src/vm/errors.nim
Labels: vm, error handling

#1636 Fix bundler issues on Windows
  .github/workflows/windows.yml
  src/vm/bundle/generator.nim
Labels: windows, workflows, ci, bundler

#1642 fixes `LinenoiseCompletions` types incompatible with gcc 14
  config.nims
  src/extras/linenoise.nim
  src/extras/md4c.nim
  src/helpers/markdown.nim
  src/helpers/repl.nim
Labels: repl, 3rd-party, helpers

#1638 adding/migrating some tests using `unitt`
  tests/unitt/lib/collections/contains-.test.art
  tests/unitt/lib/core/new.test.art
  tests/unittests/deepcopies.art
  tests/unittests/deepcopies.res
  tests/unittests/lib.collections.art
  tests/unittests/lib.collections.res
Labels: unit-test
