Repository arturo-lang/arturo, pull requests merged in 2025-01, with the labels that each got.

#1845 [Core\when] Fix minor typo in documentation example
  src/library/Core.nim
Labels: library, → Core

#1847 Remove duplicate example from Files module doc page
  docs/website/pages/documentation/library/files/_index.art
Labels: documentation, cleanup, website

#1852 [Collections\couple] Migrate tests to `unitt`
  tests/unitt/lib/collections/couple.test.art
  tests/unittests/lib.collections.art
  tests/unittests/lib.collections.res
Labels: unit-test

#1862 Fix typo in `or?` example
  src/library/Logic.nim
Labels: library, → Logic

#1865 Remove formatting issues in docs related to HTML tags
  src/library/Collections.nim
  src/library/Core.nim
Labels: library, → Collections, → Core

#1816 Fix webkit dependencies on Ubuntu 24+
  .github/workflows/ci.yml
  config.nims
  src/extras/webview.nim
  src/extras/window.nim
Labels: 3rd-party, ui, workflows

#1872 Minot edit: Remove debugging output step
  .github/workflows/ci.yml
Labels: workflows, cleanup
