Repository arturo-lang/arturo, pull requests merged in 2025-05, with the labels that each got.

#1948 Auto-generate AI tutorial on CI builds
  .github/workflows/docgen.yml
Labels: workflows

#1964 Fix #1875 symbol literal not parsed correctly
  src/vm/parse.nim
Labels: vm, parser

#1965 Make our "AI tutorial" abide by `llms.txt`
  .github/workflows/docgen.yml
Labels: workflows

#1963 Fix #1873: fold.seed should return the seed for empty lists
  src/library/Iterators.nim
  tests/unitt2/lib/iterators/fold.test.art
  tools/unitt2-tester.art
Labels: library, → Iterators

#1967 Remove stale bot
  .github/stale.yml
Labels: cleanup

#1966 Upload @master binaries to website
  .github/workflows/docgen.yml
Labels: workflows, website

#1975 Show correct download links in website @ master
  .github/workflows/update.yml
  docs/website/theme/index.html
Labels: documentation, enhancement, workflows, website

#1976 Fix Update workflow
  .github/workflows/update.yml
Labels: workflows
