Repository arturo-lang/arturo, pull requests merged in 2025-02, with the labels that each got.

#1867 Update documentation
  src/library/Arithmetic.nim
  src/library/Collections.nim
  src/library/Colors.nim
  src/library/Converters.nim
  src/library/Core.nim
  src/library/Net.nim
  src/library/Strings.nim
  src/library/System.nim
  src/library/Types.nim
Labels: library, → Arithmetic, → Collections, → Colors, → Converters, → Core, → Net, → Strings, → System, → Types

#1853 [Collections\decouple] Migrate tests to `unitt`
  tests/unitt/lib/collections/decouple.test.art
  tests/unittests/lib.collections.art
  tests/unittests/lib.collections.res
Labels: unit-test

#1876 [Collections/split] implement split.by support for `:char`
  src/library/Collections.nim
  tests/unittests/lib.collections.art
  tests/unittests/lib.collections.res
Labels: library, unit-test, → Collections

#1878 Upgrade to Nim 2.2.2
  examples/rosetta/arithmetic - complex.res
  examples/rosetta/averages - root mean square.res
  examples/rosetta/benford's law.res
  examples/rosetta/calculating the value of e.res
  examples/rosetta/circles of given radius through two points.res
  examples/rosetta/continued fraction.res
  examples/rosetta/entropy.res
  examples/rosetta/fivenum.res
  examples/rosetta/haversine formula.res
  examples/rosetta/kahan summation.res
  examples/rosetta/nth root.res
  examples/rosetta/perlin noise.res
  examples/rosetta/problem of apollonius.res
  examples/rosetta/real constants and functions.res
  examples/rosetta/sum of a series.res
  examples/rosetta/temperature conversion.res
  src/extras/gmp.nim
  src/extras/mpfr.nim
  src/helpers/bignums.nim
  tests/unittests/lib.arithmetic.art
  tests/unittests/lib.arithmetic.res
  tests/unittests/quantities.art
  version/build
Labels: documentation, 3rd-party, unit-test, helpers, critical, rosetta code, Nim

#1889 [Strings] Add Char support for `prefix?`
  src/library/Strings.nim
  version/build
Labels: library, :char, → Strings

#1890 [Strings] Add Char support for `suffix?`
  src/library/Strings.nim
Labels: library, :char, → Strings

#1892 [Strings] Add Char support for `whitespace?` + minor fixes
  src/helpers/strings.nim
  src/library/Strings.nim
Labels: library, helpers, :char, → Strings

#1904 FIX: Functions/predicates from Quantities appearing to come from Macros module
  src/library/Arithmetic.nim
  src/library/Bitwise.nim
  src/library/Collections.nim
  src/library/Colors.nim
  src/library/Comparison.nim
  src/library/Converters.nim
  src/library/Core.nim
  src/library/Crypto.nim
  src/library/Databases.nim
  src/library/Dates.nim
  src/library/Exceptions.nim
  src/library/Files.nim
  src/library/Io.nim
  src/library/Iterators.nim
  src/library/Logic.nim
  src/library/Net.nim
  src/library/Numbers.nim
  src/library/Paths.nim
  src/library/Quantities.nim
  src/library/Reflection.nim
  src/library/Sets.nim
  src/library/Sockets.nim
  src/library/Statistics.nim
  src/library/Strings.nim
  src/library/System.nim
  src/library/Types.nim
  src/library/Ui.nim
  src/vm/globals.nim
  src/vm/lib.nim
  src/vm/values/types.nim
  src/vm/vm.nim
Labels: vm, library, ui, cleanup, values, → Arithmetic, → Bitwise, → Collections, → Colors, → Comparison, → Converters, → Core, → Crypto, → Databases, → Dates, → Exceptions, → Files, → Io, → Iterators, → Logic, → Net, → Numbers, → Paths, → Quantities, → Reflection, → Sets, → Sockets, → Statistics, → Strings, → System, → Types, → Ui

#1903 Automate documentation generation
  .config/buildmode.nims
  .github/workflows/build-update.yml
  .github/workflows/docgen.yml
  .gitignore
  build.nims
  docs/website/_examples/_index.art
  docs/website/_examples/rosetta code/_index.art
  docs/website/_examples/rosetta code/basics/_index.art
  docs/website/_examples/rosetta code/basics/hello world.art
  docs/website/data/libraryFunctions.art
  docs/website/data/libraryModules.art
  docs/website/data/librarySymbols.art
  docs/website/data/rosetta.art
  docs/website/theme/components/foot.html
  docs/website/tools/exec.php
  docs/website/tools/installer.sh
  src/library/Arithmetic.nim
  src/library/Bitwise.nim
  src/library/Collections.nim
  src/library/Colors.nim
  src/library/Comparison.nim
  src/library/Converters.nim
  src/library/Core.nim
  src/library/Crypto.nim
  src/library/Databases.nim
  src/library/Dates.nim
  src/library/Exceptions.nim
  src/library/Files.nim
  src/library/Io.nim
  src/library/Iterators.nim
  src/library/Logic.nim
  src/library/Net.nim
  src/library/Numbers.nim
  src/library/Paths.nim
  src/library/Quantities.nim
  src/library/Reflection.nim
  src/library/Sets.nim
  src/library/Sockets.nim
  src/library/Statistics.nim
  src/library/Strings.nim
  src/library/System.nim
  src/library/Types.nim
  src/library/Ui.nim
  src/vm/globals.nim
  src/vm/lib.nim
  src/vm/values/types.nim
  src/vm/vm.nim
  tools/miniwebize/LICENSE
  tools/miniwebize/README.md
  tools/miniwebize/gfm.rb
  tools/miniwebize/icons/alert.svg
  tools/miniwebize/icons/info.svg
  tools/miniwebize/icons/lightbulb.svg
  tools/miniwebize/icons/report.svg
  tools/miniwebize/icons/stop.svg
  tools/miniwebize/logo.png
  tools/miniwebize/webize.art
  tools/sitegen.art
Labels: documentation, vm, library, installer, ui, workflows, values, website, → Arithmetic, → Bitwise, → Collections, → Colors, → Comparison, → Converters, → Core, → Crypto, → Databases, → Dates, → Exceptions, → Files, → Io, → Iterators, → Logic, → Net, → Numbers, → Paths, → Quantities, → Reflection, → Sets, → Sockets, → Statistics, → Strings, → System, → Types, → Ui

#1906 Add branch info to website navbar
  .github/workflows/docgen.yml
  docs/website/theme/components/navbar.html
Labels: documentation, workflows, website

#1909 Fix module documentation pages
  tools/miniwebize/webize.art
Labels: bug, website

#1910 Fix module documentation pages (Iteration 2)
  .github/workflows/docgen.yml
Labels: workflows

#1915 Change copyright year of current documentation
  docs/website/tools/updatecopyrights.sh
Labels: documentation, website

#1877 [Core\unstack] Deprecate `unstack.discard`
  src/library/Core.nim
  src/scripts/console.art
Labels: repl, library, → Core
