Repository arturo-lang/arturo, pull requests merged in 2025-03, with the labels that each got.

#1917 [Types\to] add unit-tests
  src/helpers/conversion.nim
  tests/unitt/lib/types/to.helper.art
  tests/unitt/lib/types/to.test.art
Labels: helpers

#1925 Introduce new `parse` stdlib function
  README.md
  src/library/Converters.nim
  src/library/Core.nim
Labels: enhancement, library, cleanup, new feature, → Converters, → Core

#1924 [Converters\as] Replace & remove `.code` and equivalent options
  examples/rosetta/cartesian product of two or more lists.art
  examples/rosetta/duffinian numbers.art
  examples/rosetta/honaker primes.art
  examples/rosetta/metaprogramming - 4.art
  examples/rosetta/quine.art
  examples/rosetta/quine.res
  examples/rosetta/s-expressions.art
  examples/rosetta/sphenic numbers.art
  src/library/Converters.nim
  src/library/Core.nim
  tests/unittests/evaluator.art
  tests/unittests/lib.arithmetic.art
  tests/unittests/quantities.art
Labels: documentation, enhancement, library, unit-test, cleanup, new feature, rosetta code, → Converters, → Core

#1929 Add parsing support for `:integer` literals in different bases
  README.md
  src/helpers/strings.nim
  src/vm/parse.nim
Labels: enhancement, vm, helpers, parser, new feature, :integer

#1927 Remove binary/octal/hex functionality from `as` & `from` + adjust `to`
  examples/rosetta/base 16 numbers needing a to f.art
  examples/rosetta/binary digits.art
  examples/rosetta/count in octal.art
  examples/rosetta/find first and last set bit of a long integer.art
  examples/rosetta/four bit adder.art
  examples/rosetta/gray code.art
  examples/rosetta/hex words.art
  examples/rosetta/index finite lists of positive integers.art
  examples/rosetta/largest number divisible by its digits.art
  examples/rosetta/non-decimal radices - convert.art
  examples/rosetta/non-decimal radices - input.art
  examples/rosetta/non-decimal radices - output.art
  examples/rosetta/palindromic primes in base 16.art
  examples/rosetta/pernicious numbers.art
  examples/rosetta/population count.art
  examples/rosetta/sum digits of an integer.art
  examples/rosetta/two identical strings.art
  src/library/Converters.nim
  tests/unittests/lib.collections.art
Labels: documentation, enhancement, library, unit-test, cleanup, rosetta code, → Converters

#1848 [Strings\numeric?] make it work consistently
  examples/rosetta/determine if a string is numeric.art
  examples/rosetta/determine if a string is numeric.res
  src/library/Strings.nim
Labels: bug, documentation, enhancement, library, rosetta code, → Strings

#1933 Add RC solution for "Numbers k whose divisor sum is equal to the di…
  examples/rosetta/numbers k whose divisor is equal to the divisor sum of k + 1.art
  examples/rosetta/numbers k whose divisor is equal to the divisor sum of k + 1.res
Labels: documentation, rosetta code
